<div id="shopify-block-6610233760104865948" class="shopify-block shopify-app-block">
<script>
  window.pushowlSubdomain = "mls-uae.myshopify.com".split(".")[0]
  window.isPushowlThemeAppExtentionEnabled = true
  window.pushowlGUID = "a98c485b-9b63-407a-a22b-ec9b200a1efb"
  window.pushowlEnvironment = "production"
</script>
</div>

<div id="shopify-block-ATnVLSmgveDAvcW5nU__74204263759510710" class="shopify-block shopify-app-block">
<style>
  .sc_install-initialization {
    position: fixed;
    background-color: #fff;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100000000000;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>

<script type="lazyload_int">
    var scLoadingOverlayHtml = '<div class="sc_install-initialization"><div style="width: 80px;"><svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class ="lds-rolling" ><circle cx="50" cy="50" fill="none" stroke-width="7" r="25" stroke-dasharray="117.80972450961724 41.269908169872416" transform="rotate(47.1629 50 50)" style="stroke: #5C6AC4" ><animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;360 50 50" keyTimes="0;1" dur="1s" begin="0s" repeatCount="indefinite" /></circle></svg></div> Please wait. Theme installer is being initialized.</div>';
    var scDesignData = {"style":"simple","position":"right","width":"100%","codeButtonColor":"#ffffff","codeButtonBackgroundColor":"#a70a10","codeButtonBorderColor":"#a70a10","submitButtonBorderColor":"#5aaa34","loadingBg":"#a70a10","spinnerColor":"#ffffff","inputColor":"#535353","inputBg":"#ffffff","inputBorder":"#aeaeae","discountInfoColor":"#535353","discountInfoBg":"#fafafa","discountInfoBorder":"#e1e1e1"} || {};
    window.scIsCartPage = false;
    window.scCartData = {"note":"","attributes":{},"original_total_price":4000,"total_price":4000,"total_discount":0,"total_weight":1000.0,"item_count":1,"items":[{"id":47998983143740,"properties":{},"quantity":1,"variant_id":47998983143740,"key":"47998983143740:14a0cc7ea32c429be19587452e9033ff","title":"AUS Grass-Fed Bone-in Lamb Cubes Offer 1kg","price":4000,"original_price":4000,"discounted_price":4000,"line_price":4000,"original_line_price":4000,"total_discount":0,"discounts":[],"sku":"4108174","grams":1000,"vendor":"MLS UAE","taxable":true,"product_id":8941007798588,"product_has_only_default_variant":true,"gift_card":false,"final_price":4000,"final_line_price":4000,"url":"\/products\/aus-bone-in-lamb-cubes-offer-1kg?variant=47998983143740","featured_image":{"aspect_ratio":1.0,"alt":"Muscat Livestock Australian Lamb AUS Bone-in Lamb Cubes 500gm","height":800,"url":"\/\/mlsuae.ae\/cdn\/shop\/products\/australian-lamb-aus-bone-in-lamb-cubes-500gm-australian-bone-in-lamb-cubes-online-at-best-price-30200665112685.jpg?v=1700003920","width":800},"image":"\/\/mlsuae.ae\/cdn\/shop\/products\/australian-lamb-aus-bone-in-lamb-cubes-500gm-australian-bone-in-lamb-cubes-online-at-best-price-30200665112685.jpg?v=1700003920","handle":"aus-bone-in-lamb-cubes-offer-1kg","requires_shipping":true,"product_type":"Australian Lamb","product_title":"AUS Grass-Fed Bone-in Lamb Cubes Offer 1kg","product_description":"\n1 kg packet of fresh bone-in lamb cubes from Australian lamb.\n All our products are 100% Halal.\nNote: Please expect a weight variation of +\/- 15gm in your packet.","variant_title":null,"variant_options":["Default Title"],"options_with_values":[{"name":"Title","value":"Default Title"}],"line_level_discount_allocations":[],"line_level_total_discount":0}],"requires_shipping":true,"currency":"AED","items_subtotal_price":4000,"cart_level_discount_applications":[],"checkout_charge_amount":4000};
    if (!window.scMoneyFormat) window.scMoneyFormat = 'AED {{amount}}';
    window.scDesignConfig = {
        style: scDesignData.style || 'simple',
        position: scDesignData.position || 'right',
        containerWidth: {
            width: scDesignData.width || '350px'
        },
        codeButton: {
            color: scDesignData.codeButtonColor || '#fff',
            backgroundColor: scDesignData.codeButtonBackgroundColor || '#5aaa34',
            border: '1px solid ' + (scDesignData.codeButtonBorderColor || '#5aaa34')
        },
        submitButton: {
            borderColor: scDesignData.submitButtonBorderColor
        },
        loadingBg: {
            background: scDesignData.loadingBg || '#339933'
        },
        spinner: {
            stroke: scDesignData.spinnerColor || '#ffffff'
        },
        codeInput: {
            borderColor: scDesignData.inputBorder || '#aeaeae',
            color: scDesignData.inputColor || '#339933',
            backgroundColor: scDesignData.inputBg || '#ffffff'
        },
        discountInfo: {
            background: scDesignData.discountInfoBg || '#fafafa',
            border: '1px solid ' + (scDesignData.discountInfoBorder || '#e1e1e1'),
            color: scDesignData.discountInfoColor || '#535353'
        },
        allowScale: scDesignData.allowScale,
    };

    if (!window.scTranslationConfig) {
      window.scTranslationConfig = {"placeholder":"Discount code or gift card","submitBtn":"Apply","codeLabel":"Code:","discountLabel":"Discount:","giftCardLabel":"Gift card:","total":"Total:","errorAutomaticDiscount":"A discount has been applied to this order. You can’t add another discount","errorCode":"Unable to find a valid discount matching the code entered","errorItemInvalid":"\u003cstrong\u003e{{ code }}\u003c\/strong\u003e We are very sorry, the code won’t work on already discounted products.","tooManyAttempts":"Too many attempts please try again in a few minutes","errorNetwork":"Network error occured. You may enter your discount code during the checkout","authorized":"Discounts are available only for authorized users","messages":{"shopify.checkout.order_summary.cart_does_not_meet_discount_requirements_notice":"\u003cstrong\u003e{{ code }}\u003c\/strong\u003e discount code isn’t valid for the items in your cart","shopify.checkout.order_summary.discount_requires_customer_notice":"Enter your shipping information to apply the \u003cstrong\u003e{{ code }}\u003c\/strong\u003e discount code","shopify.checkout.order_summary.customer_does_not_meet_discount_requirements_notice":"\u003cstrong\u003e{{ code }}\u003c\/strong\u003e discount code isn’t available to you right now","shopify.checkout.order_summary.shipping_information_does_not_meet_discount_requirements_notice":"\u003cstrong\u003e{{ code }}\u003c\/strong\u003e discount code isn’t available for your shipping address","shopify.checkout.order_summary.customer_already_used_once_per_customer_discount_notice":"The {{ code }} discount code has already been used","shopify.checkout.field_errors.reduction_code_code_not_found":"Enter a valid discount code or gift card","shopify.checkout.field_errors.reduction_code_discount_not_found":"Enter a valid discount code","shopify.errors.discount_not_found":"Unable to find a valid discount matching the code entered","shopify.checkout.order_summary.discount_already_applied":"A discount has been applied to this order. You can’t add another discount","shopify.errors.discount_disabled":"This discount has been disabled","shopify.errors.discount_expired":"This discount is not valid anymore","shopify.errors.discount_limit_reached":"This discount has reached its usage limit","shopify.checkout.field_errors.reduction_code_gift_card_code_invalid":"Enter a valid gift card","shopify.checkout.field_errors.reduction_code_gift_card_unusable_with_subscriptions":"You can’t use a gift card to buy a subscription","shopify.checkout.field_errors.reduction_code_gift_card_unusable":"You can’t use a gift card to buy another gift card","shopify.checkout.field_errors.gift_card_already_applied":"This gift card has already been applied to your order","shopify.checkout.field_errors.gift_card_disabled":"This gift card is no longer available","shopify.checkout.field_errors.gift_card_expired":"This gift card has expired","shopify.checkout.field_errors.gift_card_depleted":"This gift card has no funds left","shopify.checkout.field_errors.gift_card_currency_mismatch":"Only gift cards in {{ checkout_currency }} can be used with this order","shopify.checkout.field_errors.physical_gift_card_invalid_quantity":"Physical gift card line items must have a quantity that matches the number of gift card codes","shopify.checkout.field_errors.physical_gift_card_duplicate_code":"Physical gift card line item contains duplicate code","shopify.checkout.field_errors.physical_gift_card_invalid_code":"Physical gift card code is invalid","shopify.checkout.thank_you.gift_card_confirmation_by_text":"Gift cards are sent by text. If you haven’t received yours, try sending them again or contact us","shopify.checkout.thank_you.gift_card_confirmation_by_email":"Gift cards are sent by email. If you haven’t received yours, try sending them again or contact us","shopify.errors.gift_card_already_applied":"Code has already been applied to your checkout","shopify.errors.gift_card_code_invalid":"Code is invalid","shopify.errors.gift_card_currency_mismatch":"{{ gift_card_currency }} gift cards can’t be applied on {{ checkout_currency }} orders","shopify.errors.gift_card_depleted":"There are no funds left on this gift card","shopify.errors.gift_card_disabled":"Gift card is disabled","shopify.errors.gift_card_expired":"Gift card is expired","unexpected":"Unknown error occured. You may enter your discount code during the checkout"},"freeShippingLabel":"Free Shipping"} || {"placeholder":"Discount code or gift card","submitBtn":"Apply","codeLabel":"Code:","discountLabel":"Discount:","giftCardLabel":"Gift card:","total":"Total:","errorAutomaticDiscount":"A discount has been applied to this order. You can’t add another discount","errorCode":"Unable to find a valid discount matching the code entered","errorItemInvalid":"\u003cstrong\u003e{{ code }}\u003c\/strong\u003e We are very sorry, the code won’t work on already discounted products.","tooManyAttempts":"Too many attempts please try again in a few minutes","errorNetwork":"Network error occured. You may enter your discount code during the checkout","authorized":"Discounts are available only for authorized users","messages":{"shopify.checkout.order_summary.cart_does_not_meet_discount_requirements_notice":"\u003cstrong\u003e{{ code }}\u003c\/strong\u003e discount code isn’t valid for the items in your cart","shopify.checkout.order_summary.discount_requires_customer_notice":"Enter your shipping information to apply the \u003cstrong\u003e{{ code }}\u003c\/strong\u003e discount code","shopify.checkout.order_summary.customer_does_not_meet_discount_requirements_notice":"\u003cstrong\u003e{{ code }}\u003c\/strong\u003e discount code isn’t available to you right now","shopify.checkout.order_summary.shipping_information_does_not_meet_discount_requirements_notice":"\u003cstrong\u003e{{ code }}\u003c\/strong\u003e discount code isn’t available for your shipping address","shopify.checkout.order_summary.customer_already_used_once_per_customer_discount_notice":"The {{ code }} discount code has already been used","shopify.checkout.field_errors.reduction_code_code_not_found":"Enter a valid discount code or gift card","shopify.checkout.field_errors.reduction_code_discount_not_found":"Enter a valid discount code","shopify.errors.discount_not_found":"Unable to find a valid discount matching the code entered","shopify.checkout.order_summary.discount_already_applied":"A discount has been applied to this order. You can’t add another discount","shopify.errors.discount_disabled":"This discount has been disabled","shopify.errors.discount_expired":"This discount is not valid anymore","shopify.errors.discount_limit_reached":"This discount has reached its usage limit","shopify.checkout.field_errors.reduction_code_gift_card_code_invalid":"Enter a valid gift card","shopify.checkout.field_errors.reduction_code_gift_card_unusable_with_subscriptions":"You can’t use a gift card to buy a subscription","shopify.checkout.field_errors.reduction_code_gift_card_unusable":"You can’t use a gift card to buy another gift card","shopify.checkout.field_errors.gift_card_already_applied":"This gift card has already been applied to your order","shopify.checkout.field_errors.gift_card_disabled":"This gift card is no longer available","shopify.checkout.field_errors.gift_card_expired":"This gift card has expired","shopify.checkout.field_errors.gift_card_depleted":"This gift card has no funds left","shopify.checkout.field_errors.gift_card_currency_mismatch":"Only gift cards in {{ checkout_currency }} can be used with this order","shopify.checkout.field_errors.physical_gift_card_invalid_quantity":"Physical gift card line items must have a quantity that matches the number of gift card codes","shopify.checkout.field_errors.physical_gift_card_duplicate_code":"Physical gift card line item contains duplicate code","shopify.checkout.field_errors.physical_gift_card_invalid_code":"Physical gift card code is invalid","shopify.checkout.thank_you.gift_card_confirmation_by_text":"Gift cards are sent by text. If you haven’t received yours, try sending them again or contact us","shopify.checkout.thank_you.gift_card_confirmation_by_email":"Gift cards are sent by email. If you haven’t received yours, try sending them again or contact us","shopify.errors.gift_card_already_applied":"Code has already been applied to your checkout","shopify.errors.gift_card_code_invalid":"Code is invalid","shopify.errors.gift_card_currency_mismatch":"{{ gift_card_currency }} gift cards can’t be applied on {{ checkout_currency }} orders","shopify.errors.gift_card_depleted":"There are no funds left on this gift card","shopify.errors.gift_card_disabled":"Gift card is disabled","shopify.errors.gift_card_expired":"Gift card is expired","unexpected":"Unknown error occured. You may enter your discount code during the checkout"},"freeShippingLabel":"Free Shipping"};
      <!-- BEGIN app snippet: messages -->
      <!-- END app snippet -->
    }
    window.scPrimaryLocale = 'en';
    window.ScInit = {"c":1710883270043} || {};
    var scProduct = 51508173373756;
    var scProductUrl = '/products/10-steaks-offer-aus-grass-fed-beef-ribeye';
    var cartTotal = 4000;
    var __assign = (this && this.__assign) || function () {
        __assign = Object.assign || function(t) {
            for (var s, i = 1, n = arguments.length; i < n; i++) {
                s = arguments[i];
                for (var p in s) if (Object.prototype.hasOwnProperty.call(s, p))
                    t[p] = s[p];
            }
            return t;
        };
        return __assign.apply(this, arguments);
    };
    var setValue = function (name, value) {
        var _a;
        var data = JSON.parse(sessionStorage.getItem('scInstallInfo'));
        sessionStorage.setItem('scInstallInfo', JSON.stringify(__assign(__assign({}, data), (_a = {}, _a[name] = value, _a))));
    };
    var parseQueryString = function () {
        var qs = window.location.search.replace('?', '');
        var items = qs.split('&');
        return items.reduce(function (data, item) {
            var _a = item.split('='), key = _a[0], value = _a[1];
            if (data[key] !== undefined) {
                if (!Array.isArray(data[key])) {
                    data[key] = [data[key]];
                }
                data[key].push(value);
            }
            else {
                data[key] = value;
            }
            return data;
        }, {});
    };

    var query = parseQueryString();
    if (query.install) {
        setValue('theme', query.install);
    }

    var scLoadingOverlay;

    var getValue = function(name) {
      var data = JSON.parse(sessionStorage.getItem('scInstallInfo'));
      return data && data[name] !== undefined ? data[name] : null;
    };

    var isInstall = function() {
      var themeId = getValue('theme');
      var theme = window.Shopify ? window.Shopify.theme : null;
      var id = theme ? theme.id : '';
      return themeId === id.toString();
    };

    var scAppendLoadOverlay = function() {
      scLoadingOverlay = document.createElement('div');
      scLoadingOverlay.innerHTML = scLoadingOverlayHtml;
      document.body.appendChild(scLoadingOverlay);
    };

    var scLoadInstaller = function() {
      scAppendLoadOverlay();
      const script = document.createElement('script');
      script.src = 'https://cdn.shopify.com/extensions/25f835c1-e1b5-47e0-a9ce-f898e8aeebbf/dcart-discount-in-cart-224/assets/installer.min.js';
      script.onload = function() {
        scLoadingOverlay.remove();
      }
      document.body.appendChild(script);
    };

    if (window.scProduct && isInstall()) {
      
        const style = document.createElement('link');
        style.rel = 'stylesheet';
        style.href = 'https://cdn.shopify.com/extensions/25f835c1-e1b5-47e0-a9ce-f898e8aeebbf/dcart-discount-in-cart-224/assets/installer.module.min.css';
        document.head.appendChild(style);
        var interval = setInterval(function() {
          if (window.DCART && window.DCART.discountbox) {
            clearInterval(interval);
            scLoadInstaller();
          }
        }, 100);
      
    }
    var scPrimaryCurrency = 'AED';
    var scCustomerEmail = null;
</script>
{% liquid
  assign discount_data = shop.metafields.syncube_discount
  assign discount_design_config = discount_data.design
  assign current_locale = shop.locale | slice: 0, 2
  for locale in shop.published_locales
    if locale.primary
      assign primary_locale = locale.iso_code | strip | slice: 0, 2
    endif
  endfor
  if discount_data.force_locale.primary
    assign primary_locale = discount_data.force_locale.primary
  endif

  if collections.all.products.count > 0
    for product in collections.all.products
      if product.available
        if product.requires_selling_plan
        else
          assign app_product = product
          break
        endif
      endif
    endfor
  endif
%}
<script type="lazyload_int">
  (function() {
    window.DCART = {
      cart: {{ cart | json }},
      isCartPage: {%if template contains 'cart' %}true{% else %}false{% endif %},
      moneyFormat: "{{ shop.money_format | replace: '"', "'" }}",
      email: {{ customer.email | json }},
      token: {{ discount_data.storefront_token | json }},
      optimized: {{ discount_data.version.optimized | json }},
      locale: {{ current_locale | json }},
      localePrimary: {{ primary_locale | json }},
      currencyPrimary: {{ shop.currency | json }},
      {% if app_product %}
      product: {{ app_product | json }},
      {% endif %}
      discountbox: {
        init: {{ discount_data.config | json }},
        scale: {{ discount_design_config.allowScale | json }},
        style: {{ discount_design_config.style | json }},
        position: {{ discount_design_config.position | json }},
        {% if discount_data.theme %}
        placement: {{ discount_data.theme | json }},
        {% else %}
        placement: {
          cartDiscountSelector: {},
          ajaxDicountSelector: {},
          ajaxTotalSelector: {},
          cartTotalSelector: {},
        },
        {% endif %}
        translations: {{ discount_data.translation[current_locale] | json }} || {{ discount_data.translation.en | json }},
        {% if current_locale != primary_locale %}
        translationsPrimary: {{ discount_data.translation[primary_locale] | json }},
        {% endif %}
      },
      fsb: {{ discount_data.shipping | json }},
    };
    window.dispatchEvent(new CustomEvent('DCART:config.initialized'));
  })();
</script>

<style>
  :root {
        --discountbox-style: simple;

        --discountbox-position: right;

        --discountbox-width: 100%;

        --discountbox-codeButtonColor: #ffffff;

        --discountbox-codeButtonBackgroundColor: #a70a10;

        --discountbox-codeButtonBorderColor: #a70a10;

        --discountbox-submitButtonBorderColor: #5aaa34;

        --discountbox-loadingBg: #a70a10;

        --discountbox-spinnerColor: #ffffff;

        --discountbox-inputColor: #535353;

        --discountbox-inputBg: #ffffff;

        --discountbox-inputBorder: #aeaeae;

        --discountbox-discountInfoColor: currentColor;

        --discountbox-discountInfoBg: #fafafa;

        --discountbox-discountInfoBorder: #e1e1e1;
  }
</style>
<link rel="stylesheet" data-href="https://cdn.shopify.com/extensions/4bafffff-3ad7-4315-bfc8-2d1c71e86ff8/dcart-discount-in-cart-246/assets/storefront.module.min.css">
<script type="lazyload_int" data-src="https://cdn.shopify.com/extensions/4bafffff-3ad7-4315-bfc8-2d1c71e86ff8/dcart-discount-in-cart-246//assets/compat.module.min.js"></script>
<script type="lazyload_int" data-src="https://cdn.shopify.com/extensions/4bafffff-3ad7-4315-bfc8-2d1c71e86ff8/dcart-discount-in-cart-246/assets/storefront.min.js"></script>
</div>