
            {% assign beae_root_url = routes.root_url %}
            {% if beae_root_url != '/'%}
                {% assign beae_root_url = routes.root_url | append: '/' %}
            {% endif %}
        {%capture section_id %}beae-preview-template-page{% endcapture%}{% if section_id == section.id %}{% if shop.metafields.beae.global_css %}
            <!--BEAE-EMBED-->
            <link href="data:text/css;base64,{{-shop.metafields.beae.global_css-}}" rel="stylesheet" id="beae-global-css"/>
            <!--/BEAE-EMBED-->
        {% endif %}

{% render 'beae_header', BEAE_THEME: true %}{% endif %}<link rel="stylesheet" id="beae-exported-page-css" media="all" href="{{"beae-preview-template-page.css" | asset_url}}"><link rel="dns-prefetch" href="https://cdn.shopify.com">
                    <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
                    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
                    <link rel="preload" type="text/css" href="https://cdn.shopify.com/s/files/1/0285/3732/3629/files/Helvetica-Bold.ttf?v=1680468689" as="font" type="font/truetype" crossorigin="anonymous">
                    <style>
                    @font-face {font-family: 'Helvetica-Bold';font-weight: 700;src: url('https://cdn.shopify.com/s/files/1/0285/3732/3629/files/Helvetica-Bold.ttf?v=1680468689') format('truetype');font-display: swap;}
                    </style><div class="beae-builder-v2 beae-builder"><div class="beae-sections beae-content-wrapper"><script type="text/javascript">if (!window.BEAEARGS) {window.BEAEARGS = {};}</script>
<!----><!----><!----><section id="" data-sectionid="beae-425kssz5" data-width="1920" data-margin="30px" data-margin-mobile="15px" data-type="flexContainer" class="beae-typo-p1 beae-425kssz5 section-beae-425kssz5 beae-section beae-core"><!----><!----><div class="beae-flexbox beae-typo-p1" style="padding: 0px;"><div class="beae__section--container beae-flexbox-container beae__section--full"><!----><div class="beae-flexbox-core beae-x-flex-section grid-container-width"><!----><div class="beae-9fbn65j3 beae-block beae-core beae-animation beae-unique-ubjz1odu beae-flex-wrapper" data-id="beae-9fbn65j3" data-uniqueid="ubjz1odu"><!----><!----><!----><div class="beae-qwrhp3ru beae-block beae-core beae-animation beae-unique-gx8pq10t" data-id="beae-qwrhp3ru" data-uniqueid="gx8pq10t""><!---->{% assign beae_image_pr = images['download.png'].alt %}
        
        {% assign beae_image_mb_pr = images['82fe3e974aafc75d5ebdac06b0708e89e04830aa.png'].alt %}
        <!----><a class="beae-block beae-x-image beae-container-image beae-image-content-position beae-image-picture beae-image-picture-link" hover-mode="false" type="target" handle="" href="#ramadan-sale"><!----><!----><picture image-mode="" class="beae-fpdnp beae-image-primary"><source width="480" height="662" src="https://cdn.shopify.com/s/files/1/0285/3732/3629/files/82fe3e974aafc75d5ebdac06b0708e89e04830aa.png?v=1772635790" srcset="https://cdn.shopify.com/s/files/1/0285/3732/3629/files/82fe3e974aafc75d5ebdac06b0708e89e04830aa.png?v=1772635790" alt="{{ beae_image_mb_pr }}" media="(max-width: 768px)"><img src="https://cdn.shopify.com/s/files/1/0285/3732/3629/files/download.png?v=1772635744" alt="{{ beae_image_pr }}" width="1920" height="1080" fetchpriority="high" loading="lazy"></picture><!----></a><script type="text/javascript">window.BEAEARGS['beae-qwrhp3rublock-image'] = {
    "id": "beae-qwrhp3ru",
    "mode": {"value": "live"},
    "autoHover":false
  };</script><!----></div><!----><!----><!----></div><!----><!----></div></div></div><!----><!----><!----><!----><!----><!----></section><!----><script type="text/javascript">window.BEAEARGS['beae-425kssz5section-js'] = {
    "id": "beae-425kssz5",
    "mode": {"value": "live"},
    "optionsVideo":{},"optionsVideoMobile":false
  };</script><!----><!----><!----><section id="" data-sectionid="beae-655ucumz" data-width="1718" data-margin="30px" data-margin-mobile="15px" data-type="flexContainer" class="beae-typo-p1 beae-655ucumz section-beae-655ucumz beae-section beae-core"><!----><!----><div class="beae-flexbox beae-typo-p1" style="padding: 0px;"><div class="beae__section--container beae-flexbox-container" style="max-width: var(--beae-page-width, 1470px);"><!----><div class="beae-flexbox-core beae-x-flex-section grid-container-width"><!----><div class="beae-1pzzyzuy beae-block beae-core beae-animation beae-unique-izoi3008 beae-flex-wrapper" data-id="beae-1pzzyzuy" data-uniqueid="izoi3008"><!----><!----><!----><div class="beae-peirnwij beae-block beae-core beae-animation beae-unique-5ifugnmr beae-scroll-text-container" data-id="beae-peirnwij" data-uniqueid="5ifugnmr"><!----><div class="beae-marquee-container beae-typo-p1"><div class="beae-marquee-content" data-direction="row"><div data-loop-index="0" class="beae-marquee-item beae-list-item beae-w9dcb8e2"><!----><!----><!----><!----><div class="beae-g14sbdv4 beae-block beae-core beae-animation beae-unique-6a8rixot beae-marquee-text-prefix" data-id="beae-g14sbdv4" data-loop-index="0" data-uniqueid="6a8rixot"><!----><div class="beae-block beae-x-text beae-typo-h5" data-autolayout="beae-g14sbdv4">{{ 'sections.beae-preview-template-page.be112332300045_html' | t }}</div><!----><!----></div><!----><!----></div><div data-loop-index="1" class="beae-marquee-item beae-list-item beae-8hpjrlni"><!----><!----><!----><!----><div class="beae-g14sbdv4 beae-block beae-core beae-animation beae-unique-0jvd2cg6 beae-marquee-text-prefix" data-id="beae-g14sbdv4" data-loop-index="1" data-uniqueid="0jvd2cg6"><!----><div class="beae-block beae-x-text beae-typo-h5" data-autolayout="beae-g14sbdv4">{{ 'sections.beae-preview-template-page.be111491936954_html' | t }}</div><!----><!----></div><!----><!----></div><div data-loop-index="2" class="beae-marquee-item beae-list-item beae-jp5xnxz4"><!----><!----><!----><!----><div class="beae-g14sbdv4 beae-block beae-core beae-animation beae-unique-h9tbxctl beae-marquee-text-prefix" data-id="beae-g14sbdv4" data-loop-index="2" data-uniqueid="h9tbxctl"><!----><div class="beae-block beae-x-text beae-typo-h5" data-autolayout="beae-g14sbdv4">{{ 'sections.beae-preview-template-page.be147664180146_html' | t }}</div><!----><!----></div><!----><!----></div></div></div><script type="text/javascript">window.BEAEARGS['beae-peirnwij'] = {
    "id": "beae-peirnwij",
    "mode": {"value": "live"},
    "direction":"left-center","prefixTypo":"beae-typo-h6","speed":15,"disabled":false
  };</script><!----></div><!----><!----><!----></div><!----><!----><!----><!----></div></div></div><!----><!----><!----><!----><!----><!----></section><!----><script type="text/javascript">window.BEAEARGS['beae-655ucumzsection-js'] = {
    "id": "beae-655ucumz",
    "mode": {"value": "live"},
    "optionsVideo":{"src":"https://www.youtube.com/watch?v=aq7Is03HuXw","loadingVideoType":"none"},"optionsVideoMobile":{}
  };</script><!----><!----><!----><section id="" data-sectionid="beae-6xnpz851" data-width="1920" data-margin="30px" data-margin-mobile="15px" data-type="slideShow" class="beae-typo-p1 beae-6xnpz851 section-beae-6xnpz851 beae-section beae-core"><!----><!----><div class="beae-flexbox beae-typo-p1" style="padding: 0px;"><div class="beae-x-slideshow beae__section--full" style="margin: 0px auto; max-width: 100%;"><!----><style type="text/css"></style><div class="beae-slider-wrapper beae-slider slider-beae-6xnpz851 items-per-1" data-draggable="true" data-desktop-layout="slider" data-mobile-layout="slider" data-effect="slide" data-pagination="true" data-navigation="false" style="--items-per: 1; --items-per-mobile: 1; --items-gap: 0px; --items-gap-mobile: 0px; --autoplay-delay: 5s;"><div class="beae-slider-content beae-slider-items"><div class="beae-slider-item active slide-beae-6gmijs36" data-index="0"><!----><div class="beae-slide-wrap"><div class="beae-6gmijs36 beae-slide-content"><!----><!----><div class="beae-0sz257qw beae-block beae-core beae-unique-ceutt1ad beae-x-video beae-prevent-system" data-id="beae-0sz257qw" data-uniqueid="ceutt1ad" source="youtube"><!----><div class="beae-x-video--wrapper"><!----><div class="beae-block_video-player beae-prevent-system"><iframe id="beae-0sz257qw" target="do not remove" class="beae_iframe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" src="https://www.youtube.com/embed/null?version=3&amp;controls=1&amp;mute=1&amp;showinfo=0&amp;iv_load_policy=3&amp;playlist=null"></iframe></div><button class="beae-close-video" is="close-button" aria-label="Close"><svg role="presentation" stroke-width="2" focusable="false" width="24" height="24" viewBox="0 0 24 24"><path d="M17.658 6.343 6.344 17.657M17.658 17.657 6.344 6.343" stroke="currentColor"></path></svg></button><script type="text/javascript">window.BEAEARGS['beae-0sz257qwblock-video'] = {
    "id": "beae-0sz257qw",
    "mode": {"value": "live"},
    "id":"beae-0sz257qw","uniqueId":"","source":"youtube","mute":true,"loop":true,"autoplay":true,"srcYoutube":"https://www.youtube.com/shorts/kQf_ij2OVBg","lightbox":false,"player_controls":true,"extendOptions":"{}"
  };</script></div><!----></div><!----><!----><!----></div><!----></div></div><div class="beae-slider-item slide-beae-3o5lpxyu" data-index="1"><!----><div class="beae-slide-wrap"><div class="beae-3o5lpxyu beae-slide-content"><!----><!----><div class="beae-6zy4ga3d beae-block beae-core beae-unique-i869lib1 beae-x-video beae-prevent-system" data-id="beae-6zy4ga3d" data-uniqueid="i869lib1" source="youtube"><!----><div class="beae-x-video--wrapper"><!----><div class="beae-block_video-player beae-prevent-system"><iframe id="beae-6zy4ga3d" target="do not remove" class="beae_iframe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" src="https://www.youtube.com/embed/null?version=3&amp;controls=1&amp;mute=1&amp;showinfo=0&amp;iv_load_policy=3&amp;playlist=null"></iframe></div><button class="beae-close-video" is="close-button" aria-label="Close"><svg role="presentation" stroke-width="2" focusable="false" width="24" height="24" viewBox="0 0 24 24"><path d="M17.658 6.343 6.344 17.657M17.658 17.657 6.344 6.343" stroke="currentColor"></path></svg></button><script type="text/javascript">window.BEAEARGS['beae-6zy4ga3dblock-video'] = {
    "id": "beae-6zy4ga3d",
    "mode": {"value": "live"},
    "id":"beae-6zy4ga3d","uniqueId":"","source":"youtube","mute":true,"loop":true,"autoplay":true,"srcYoutube":"https://youtube.com/shorts/kQf_ij2OVBg?feature=share","lightbox":false,"player_controls":true,"extendOptions":"{}"
  };</script></div><!----></div><!----><!----><!----></div><!----></div></div></div><div class="beae-slider-controls"><div class="beae-slider-controls-wrp"><!----><!----><div class="beae-slider-pagination-wrp"></div><!----></div></div></div><script type="text/javascript">window.BEAEARGS['beae-6xnpz851section-slide-show'] = {
    "id": "beae-6xnpz851",
    "mode": {"value": "live"},
    "layout":"slider","layoutMobile":"slider","effect":"slide","isLoop":true,"autoPlay":true,"autoPlayDelay":5,"itemsPerSlide":1,"itemsPerSlideMobile":1,"itemsGap":0,"itemsGapMobile":0,"paginationImage":false,"paginationImageMobile":false,"typeScroll":"default","numItemsScroll":1,"showNavigation":false,"showPagination":true,"showProgress":false,"hookSliderInit":"","hookBeforeSlideChange":"","hookAfterSlideChange":"\n  let device = window.innerWidth >= 768 ? 'desktop' : 'mobile';\n  let bgVideo = data.nextSlide ? data.nextSlide.querySelector('.beae-section-background-video[data-device=\"' + device + '\"] video') : null;\n  let bgIframe = data.nextSlide ? data.nextSlide.querySelector('.beae-section-background-video[data-device=\"' + device + '\"] iframe') : null;\n    if (bgVideo) {\n      const setupVideo = () => {\n        bgVideo.currentTime = 0;\n        bgVideo.play();\n        if (data.data.autoPlay) {\n          data.slider.setAttribute('data-video-duration', bgVideo.duration);\n          data.slider.setAttribute('data-video-background', 'true');\n          data.slider.setAttribute('data-stop-autoplay', 'true');\n          bgVideo.onended = () => {\n            data.nextSlider();\n          };\n        }\n      };\n\n      if (bgVideo.readyState >= 1) {\n        setupVideo();\n      } else {\n        bgVideo.onloadedmetadata = setupVideo;\n      }\n    } else if (bgIframe) {\n      const setupIframe = () => {\n        if (data.data.autoPlay) {\n          data.slider.setAttribute('data-video-background', 'true');\n          data.slider.setAttribute('data-stop-autoplay', 'true');\n          \n          let src = bgIframe.src;\n          if (!src.includes('autoplay=1')) {\n            bgIframe.src = src.includes('?') ? (src + '&autoplay=1') : (src + '?autoplay=1');\n          }else {\n            bgIframe.src = src;\n          }\n        }\n      };\n      setupIframe();\n    } else if (data.data.autoPlay) {\n      data.slider.removeAttribute('data-video-duration');\n      data.slider.removeAttribute('data-video-background');\n      data.slider.removeAttribute('data-stop-autoplay');\n    }\n  ","noRunJs":false,"itemGap":0,"itemGapMobile":0
  };</script></div></div><!----><!----><!----><!----><!----><!----></section><!----><script type="text/javascript">window.BEAEARGS['beae-6xnpz851section-js'] = {
    "id": "beae-6xnpz851",
    "mode": {"value": "live"},
    "optionsVideo":{},"optionsVideoMobile":false
  };</script><!----><!----><!----><section id="" data-sectionid="beae-5g8dl578" data-width="1467" data-margin="30px" data-margin-mobile="15px" data-type="flexContainer" class="beae-typo-p1 beae-5g8dl578 section-beae-5g8dl578 beae-section beae-core"><!----><!----><div class="beae-flexbox beae-typo-p1" style="padding: 0px;"><div class="beae__section--container beae-flexbox-container" style="max-width: var(--beae-page-width, 1470px);"><!----><div class="beae-flexbox-core beae-x-flex-section grid-container-width"><!----><div class="beae-vjkb7vhn beae-block beae-core beae-animation beae-unique-0rd4oib8 beae-flex-wrapper" data-id="beae-vjkb7vhn" data-uniqueid="0rd4oib8"><!----><!----><!----><div class="beae-6y98wwxz beae-block beae-core beae-animation beae-unique-jn1d15w1 beae-x-video beae-prevent-system" data-id="beae-6y98wwxz" data-uniqueid="jn1d15w1" source="youtube"><!----><div class="beae-x-video--wrapper"><!----><div class="beae-block_video-player beae-prevent-system"><iframe id="beae-6y98wwxz" target="do not remove" class="beae_iframe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" src="https://www.youtube.com/embed/null?version=3&amp;controls=1&amp;mute=1&amp;showinfo=0&amp;iv_load_policy=3&amp;playlist=null"></iframe></div><button class="beae-close-video" is="close-button" aria-label="Close"><svg role="presentation" stroke-width="2" focusable="false" width="24" height="24" viewBox="0 0 24 24"><path d="M17.658 6.343 6.344 17.657M17.658 17.657 6.344 6.343" stroke="currentColor"></path></svg></button><script type="text/javascript">window.BEAEARGS['beae-6y98wwxzblock-video'] = {
    "id": "beae-6y98wwxz",
    "mode": {"value": "live"},
    "id":"beae-6y98wwxz","uniqueId":"","source":"youtube","mute":true,"loop":true,"autoplay":true,"srcYoutube":"https://www.youtube.com/shorts/xLo9isMLgUU","lightbox":false,"player_controls":true,"extendOptions":"{}"
  };</script></div><!----></div><!----><!----><!----></div><!----><!----><!----><!----><!----><div class="beae-ii3czogr beae-block beae-core beae-animation beae-unique-0qlrzzad beae-flex-wrapper" data-id="beae-ii3czogr" data-uniqueid="0qlrzzad"><!----><!----><!----><div class="beae-xjqcnc33 beae-block beae-core beae-animation beae-unique-dodedb7t beae-x-video beae-prevent-system" data-id="beae-xjqcnc33" data-uniqueid="dodedb7t" source="youtube"><!----><div class="beae-x-video--wrapper"><!----><div class="beae-block_video-player beae-prevent-system"><iframe id="beae-xjqcnc33" target="do not remove" class="beae_iframe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" src="https://www.youtube.com/embed/null?version=3&amp;controls=1&amp;mute=1&amp;showinfo=0&amp;iv_load_policy=3&amp;playlist=null"></iframe></div><button class="beae-close-video" is="close-button" aria-label="Close"><svg role="presentation" stroke-width="2" focusable="false" width="24" height="24" viewBox="0 0 24 24"><path d="M17.658 6.343 6.344 17.657M17.658 17.657 6.344 6.343" stroke="currentColor"></path></svg></button><script type="text/javascript">window.BEAEARGS['beae-xjqcnc33block-video'] = {
    "id": "beae-xjqcnc33",
    "mode": {"value": "live"},
    "id":"beae-xjqcnc33","uniqueId":"","source":"youtube","mute":true,"loop":true,"autoplay":true,"srcYoutube":"https://www.youtube.com/shorts/kQf_ij2OVBg","lightbox":false,"player_controls":true,"extendOptions":"{}"
  };</script></div><!----></div><!----><!----><!----></div><!----><!----></div></div></div><!----><!----><!----><!----><!----><!----></section><!----><script type="text/javascript">window.BEAEARGS['beae-5g8dl578section-js'] = {
    "id": "beae-5g8dl578",
    "mode": {"value": "live"},
    "optionsVideo":{},"optionsVideoMobile":false
  };</script><!----><section id="" data-sectionid="beae-vdsexon9" data-width="1692" data-margin="30px" data-margin-mobile="15px" data-type="flexContainer" class="beae-typo-p1 beae-vdsexon9 section-beae-vdsexon9 beae-section beae-core"><!----><!----><div class="beae-flexbox beae-typo-p1" style="padding: 0px;"><div class="beae__section--container beae-flexbox-container" style="max-width: var(--beae-page-width, 1470px);"><!----><div class="beae-flexbox-core beae-x-flex-section grid-container-width"><!----><div class="beae-zwlqb67s beae-block beae-core beae-animation beae-unique-qu3hg7wf beae-flex-wrapper" data-id="beae-zwlqb67s" data-uniqueid="qu3hg7wf"><!----><!----><!----><!----><!----><div class="beae-s3oc18cw beae-block beae-core beae-animation beae-unique-srje3zmq beae-flexbox-core beae-x-button" data-id="beae-s3oc18cw" data-uniqueid="srje3zmq"><!----><a href="#ramadan-sale" title="https://mls.om/pages/eid-sale-2026" class="beae-btn-pr beae-button-js"><span class="beae-btn-txt">{{ 'sections.beae-preview-template-page.be431872540_html' | t }} <!----></span></a><!----><script type="text/javascript">window.BEAEARGS['beae-s3oc18cwbutton-js'] = {
    "id": "beae-s3oc18cw",
    "mode": {"value": "live"},
    "id":"beae-s3oc18cw","pageContent":"","extendOptions":"{}","type":"custom","url":"#ramadan-sale","handle":"","title":"https://mls.om/pages/eid-sale-2026"
  };</script><!----></div><!----><!----><!----></div><!----><!----></div></div></div><!----><!----><!----><!----><!----><!----></section><!----><script type="text/javascript">window.BEAEARGS['beae-vdsexon9section-js'] = {
    "id": "beae-vdsexon9",
    "mode": {"value": "live"},
    "optionsVideo":false,"optionsVideoMobile":false
  };</script><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><section id="" data-sectionid="beae-mzrlokgo" data-width="1920" data-margin="30px" data-margin-mobile="15px" data-type="flexContainer" class="beae-typo-p1 beae-mzrlokgo section-beae-mzrlokgo beae-section beae-core"><!----><!----><div class="beae-flexbox beae-typo-p1" style="padding: 0px;"><div class="beae__section--container beae-flexbox-container beae__section--full"><!----><div class="beae-flexbox-core beae-x-flex-section grid-container-width"><!----><div class="beae-dd7rh9ld beae-block beae-core beae-animation beae-unique-mlancco1" data-id="beae-dd7rh9ld" data-uniqueid="mlancco1"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-dd7rh9ld">{{ 'sections.beae-preview-template-page.be18852344_html' | t }}</div><!----><!----></div><!----><!----><!----><div class="beae-f55j21mr beae-block beae-core beae-animation beae-unique-tm9u6pow" data-id="beae-f55j21mr" data-uniqueid="tm9u6pow"><!----><div class="beae-block beae-x-text beae-typo-h3" data-autolayout="beae-f55j21mr">{{ 'sections.beae-preview-template-page.be80768938141_html' | t }}</div><!----><!----></div><!----><!----><!----><div class="beae-c7kihhbz beae-block beae-core beae-animation beae-unique-w04ylihe" data-id="beae-c7kihhbz" data-uniqueid="w04ylihe""><!----><style type="text/css"></style><div class="beae-slider-wrapper beae-slider slider-beae-c7kihhbz items-per-1" data-draggable="true" data-desktop-layout="slider" data-mobile-layout="slider" data-effect="slide" data-pagination="true" data-navigation="false" style="--items-per: 1; --items-per-mobile: 1; --items-gap: 20px; --items-gap-mobile: 20px; --autoplay-delay: 5s;"><div class="beae-slider-content beae-slider-items"><div data-loop-index="0" class="beae-list-item beae-aifmfurj"><!----><!----><div class="beae-bvl8kamj beae-block beae-core beae-unique-r4l7q8w9" data-id="beae-bvl8kamj" data-loop-index="0" data-uniqueid="r4l7q8w9"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-bvl8kamj">{{ 'sections.beae-preview-template-page.be18852344_html' | t }}</div><!----><!----></div><!----><!----><!----><!----><!----><div class="beae-v7h4u5en beae-block beae-core beae-unique-9dlwfuiw beae-flex-wrapper" data-id="beae-v7h4u5en" data-loop-index="0" data-uniqueid="9dlwfuiw"><!----><!----><!----><div class="beae-l4lm8ncz beae-block beae-core beae-unique-1iovtycw beae-x-icon" data-id="beae-l4lm8ncz" data-loop-index="0" data-uniqueid="1iovtycw"><!----><div class="beae-elm__ic"><svg width="45" height="48" viewBox="0 0 45 48" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path d="M21.9655 0.86084C22.1048 0.379692 22.787 0.379687 22.9264 0.86084L27.4821 16.6021C27.6677 17.2435 28.2547 17.685 28.9225 17.6851H43.8903C44.3603 17.6854 44.57 18.2756 44.2057 18.5728L31.9059 28.6069C31.4399 28.987 31.2456 29.6084 31.4127 30.186L36.0631 46.2544C36.1994 46.7254 35.6472 47.0905 35.2672 46.7808L23.3942 37.0962C22.8422 36.646 22.0496 36.646 21.4977 37.0962L9.62463 46.7808C9.24465 47.0905 8.69243 46.7254 8.82874 46.2544L13.4791 30.186C13.6463 29.6084 13.4519 28.987 12.986 28.6069L0.686157 18.5728C0.321853 18.2756 0.531575 17.6854 1.00159 17.6851H15.9694C16.6371 17.685 17.2242 17.2435 17.4098 16.6021L21.9655 0.86084Z" fill="white" stroke="#FEFCFC"></path>
</svg></div><!----></div><!----><!----><!----><div class="beae-g7x6nq5i beae-block beae-core beae-unique-7dbsgksv beae-x-icon" data-id="beae-g7x6nq5i" data-loop-index="0" data-uniqueid="7dbsgksv"><!----><div class="beae-elm__ic"><svg width="45" height="48" viewBox="0 0 45 48" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path d="M21.9655 0.86084C22.1048 0.379692 22.787 0.379687 22.9264 0.86084L27.4821 16.6021C27.6677 17.2435 28.2547 17.685 28.9225 17.6851H43.8903C44.3603 17.6854 44.57 18.2756 44.2057 18.5728L31.9059 28.6069C31.4399 28.987 31.2456 29.6084 31.4127 30.186L36.0631 46.2544C36.1994 46.7254 35.6472 47.0905 35.2672 46.7808L23.3942 37.0962C22.8422 36.646 22.0496 36.646 21.4977 37.0962L9.62463 46.7808C9.24465 47.0905 8.69243 46.7254 8.82874 46.2544L13.4791 30.186C13.6463 29.6084 13.4519 28.987 12.986 28.6069L0.686157 18.5728C0.321853 18.2756 0.531575 17.6854 1.00159 17.6851H15.9694C16.6371 17.685 17.2242 17.2435 17.4098 16.6021L21.9655 0.86084Z" fill="white" stroke="#FEFCFC"></path>
</svg></div><!----></div><!----><!----><!----><div class="beae-6up94l6q beae-block beae-core beae-unique-5trhl7nu beae-x-icon" data-id="beae-6up94l6q" data-loop-index="0" data-uniqueid="5trhl7nu"><!----><div class="beae-elm__ic"><svg width="45" height="48" viewBox="0 0 45 48" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path d="M21.9655 0.86084C22.1048 0.379692 22.787 0.379687 22.9264 0.86084L27.4821 16.6021C27.6677 17.2435 28.2547 17.685 28.9225 17.6851H43.8903C44.3603 17.6854 44.57 18.2756 44.2057 18.5728L31.9059 28.6069C31.4399 28.987 31.2456 29.6084 31.4127 30.186L36.0631 46.2544C36.1994 46.7254 35.6472 47.0905 35.2672 46.7808L23.3942 37.0962C22.8422 36.646 22.0496 36.646 21.4977 37.0962L9.62463 46.7808C9.24465 47.0905 8.69243 46.7254 8.82874 46.2544L13.4791 30.186C13.6463 29.6084 13.4519 28.987 12.986 28.6069L0.686157 18.5728C0.321853 18.2756 0.531575 17.6854 1.00159 17.6851H15.9694C16.6371 17.685 17.2242 17.2435 17.4098 16.6021L21.9655 0.86084Z" fill="white" stroke="#FEFCFC"></path>
</svg></div><!----></div><!----><!----><!----><div class="beae-zxv0iphp beae-block beae-core beae-unique-f17w1wu2 beae-x-icon" data-id="beae-zxv0iphp" data-loop-index="0" data-uniqueid="f17w1wu2"><!----><div class="beae-elm__ic"><svg width="45" height="48" viewBox="0 0 45 48" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path d="M21.9655 0.86084C22.1048 0.379692 22.787 0.379687 22.9264 0.86084L27.4821 16.6021C27.6677 17.2435 28.2547 17.685 28.9225 17.6851H43.8903C44.3603 17.6854 44.57 18.2756 44.2057 18.5728L31.9059 28.6069C31.4399 28.987 31.2456 29.6084 31.4127 30.186L36.0631 46.2544C36.1994 46.7254 35.6472 47.0905 35.2672 46.7808L23.3942 37.0962C22.8422 36.646 22.0496 36.646 21.4977 37.0962L9.62463 46.7808C9.24465 47.0905 8.69243 46.7254 8.82874 46.2544L13.4791 30.186C13.6463 29.6084 13.4519 28.987 12.986 28.6069L0.686157 18.5728C0.321853 18.2756 0.531575 17.6854 1.00159 17.6851H15.9694C16.6371 17.685 17.2242 17.2435 17.4098 16.6021L21.9655 0.86084Z" fill="white" stroke="#FEFCFC"></path>
</svg></div><!----></div><!----><!----><!----><div class="beae-0ejomf78 beae-block beae-core beae-unique-tdo39486 beae-x-icon" data-id="beae-0ejomf78" data-loop-index="0" data-uniqueid="tdo39486"><!----><div class="beae-elm__ic"><svg width="45" height="48" viewBox="0 0 45 48" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path d="M21.9655 0.86084C22.1048 0.379692 22.787 0.379687 22.9264 0.86084L27.4821 16.6021C27.6677 17.2435 28.2547 17.685 28.9225 17.6851H43.8903C44.3603 17.6854 44.57 18.2756 44.2057 18.5728L31.9059 28.6069C31.4399 28.987 31.2456 29.6084 31.4127 30.186L36.0631 46.2544C36.1994 46.7254 35.6472 47.0905 35.2672 46.7808L23.3942 37.0962C22.8422 36.646 22.0496 36.646 21.4977 37.0962L9.62463 46.7808C9.24465 47.0905 8.69243 46.7254 8.82874 46.2544L13.4791 30.186C13.6463 29.6084 13.4519 28.987 12.986 28.6069L0.686157 18.5728C0.321853 18.2756 0.531575 17.6854 1.00159 17.6851H15.9694C16.6371 17.685 17.2242 17.2435 17.4098 16.6021L21.9655 0.86084Z" fill="white" stroke="#FEFCFC"></path>
</svg></div><!----></div><!----><!----><!----></div><!----><!----><!----><div class="beae-392go38i beae-block beae-core beae-unique-3h7wigwi" data-id="beae-392go38i" data-loop-index="0" data-uniqueid="3h7wigwi"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-392go38i">{{ 'sections.beae-preview-template-page.be18852344_html' | t }}</div><!----><!----></div><!----><!----><!----><div class="beae-juys6dd9 beae-block beae-core beae-unique-epga1unp" data-id="beae-juys6dd9" data-loop-index="0" data-uniqueid="epga1unp"><!----><div class="beae-block beae-x-text beae-typo-h6" data-autolayout="beae-juys6dd9">{{ 'sections.beae-preview-template-page.be1426578244_html' | t }}</div><!----><!----></div><!----><!----><!----><!----><!----><div class="beae-bsyh3r9s beae-block beae-core beae-unique-n7bgumuk" data-id="beae-bsyh3r9s" data-loop-index="0" data-uniqueid="n7bgumuk"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-bsyh3r9s">{{ 'sections.beae-preview-template-page.be910471707_html' | t }}</div><!----><!----></div><!----><!----><!----><!----><!----><div class="beae-jueu826c beae-block beae-core beae-unique-9p99cya5" data-id="beae-jueu826c" data-loop-index="0" data-uniqueid="9p99cya5"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-jueu826c">{{ 'sections.beae-preview-template-page.be1869745298_html' | t }}</div><!----><!----></div><!----><!----><!----><div class="beae-8jwdzbp6 beae-block beae-core beae-unique-95xk4lcq" data-id="beae-8jwdzbp6" data-loop-index="0" data-uniqueid="95xk4lcq"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-8jwdzbp6">{{ 'sections.beae-preview-template-page.be536099242_html' | t }}</div><!----><!----></div><!----><!----></div><div data-loop-index="1" class="beae-list-item beae-3y9trx8i"><!----><!----><div class="beae-bvl8kamj beae-block beae-core beae-unique-rter1dmj" data-id="beae-bvl8kamj" data-loop-index="1" data-uniqueid="rter1dmj"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-bvl8kamj">{{ 'sections.beae-preview-template-page.be18852344_html' | t }}</div><!----><!----></div><!----><!----><!----><!----><!----><div class="beae-v7h4u5en beae-block beae-core beae-unique-fczmszu3 beae-flex-wrapper" data-id="beae-v7h4u5en" data-loop-index="1" data-uniqueid="fczmszu3"><!----><!----><!----><div class="beae-l4lm8ncz beae-block beae-core beae-unique-gdka9mc9 beae-x-icon" data-id="beae-l4lm8ncz" data-loop-index="1" data-uniqueid="gdka9mc9"><!----><div class="beae-elm__ic"><svg width="45" height="48" viewBox="0 0 45 48" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path d="M21.9655 0.86084C22.1048 0.379692 22.787 0.379687 22.9264 0.86084L27.4821 16.6021C27.6677 17.2435 28.2547 17.685 28.9225 17.6851H43.8903C44.3603 17.6854 44.57 18.2756 44.2057 18.5728L31.9059 28.6069C31.4399 28.987 31.2456 29.6084 31.4127 30.186L36.0631 46.2544C36.1994 46.7254 35.6472 47.0905 35.2672 46.7808L23.3942 37.0962C22.8422 36.646 22.0496 36.646 21.4977 37.0962L9.62463 46.7808C9.24465 47.0905 8.69243 46.7254 8.82874 46.2544L13.4791 30.186C13.6463 29.6084 13.4519 28.987 12.986 28.6069L0.686157 18.5728C0.321853 18.2756 0.531575 17.6854 1.00159 17.6851H15.9694C16.6371 17.685 17.2242 17.2435 17.4098 16.6021L21.9655 0.86084Z" fill="white" stroke="#FEFCFC"></path>
</svg></div><!----></div><!----><!----><!----><div class="beae-g7x6nq5i beae-block beae-core beae-unique-v6vc0fc7 beae-x-icon" data-id="beae-g7x6nq5i" data-loop-index="1" data-uniqueid="v6vc0fc7"><!----><div class="beae-elm__ic"><svg width="45" height="48" viewBox="0 0 45 48" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path d="M21.9655 0.86084C22.1048 0.379692 22.787 0.379687 22.9264 0.86084L27.4821 16.6021C27.6677 17.2435 28.2547 17.685 28.9225 17.6851H43.8903C44.3603 17.6854 44.57 18.2756 44.2057 18.5728L31.9059 28.6069C31.4399 28.987 31.2456 29.6084 31.4127 30.186L36.0631 46.2544C36.1994 46.7254 35.6472 47.0905 35.2672 46.7808L23.3942 37.0962C22.8422 36.646 22.0496 36.646 21.4977 37.0962L9.62463 46.7808C9.24465 47.0905 8.69243 46.7254 8.82874 46.2544L13.4791 30.186C13.6463 29.6084 13.4519 28.987 12.986 28.6069L0.686157 18.5728C0.321853 18.2756 0.531575 17.6854 1.00159 17.6851H15.9694C16.6371 17.685 17.2242 17.2435 17.4098 16.6021L21.9655 0.86084Z" fill="white" stroke="#FEFCFC"></path>
</svg></div><!----></div><!----><!----><!----><div class="beae-6up94l6q beae-block beae-core beae-unique-1c505quu beae-x-icon" data-id="beae-6up94l6q" data-loop-index="1" data-uniqueid="1c505quu"><!----><div class="beae-elm__ic"><svg width="45" height="48" viewBox="0 0 45 48" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path d="M21.9655 0.86084C22.1048 0.379692 22.787 0.379687 22.9264 0.86084L27.4821 16.6021C27.6677 17.2435 28.2547 17.685 28.9225 17.6851H43.8903C44.3603 17.6854 44.57 18.2756 44.2057 18.5728L31.9059 28.6069C31.4399 28.987 31.2456 29.6084 31.4127 30.186L36.0631 46.2544C36.1994 46.7254 35.6472 47.0905 35.2672 46.7808L23.3942 37.0962C22.8422 36.646 22.0496 36.646 21.4977 37.0962L9.62463 46.7808C9.24465 47.0905 8.69243 46.7254 8.82874 46.2544L13.4791 30.186C13.6463 29.6084 13.4519 28.987 12.986 28.6069L0.686157 18.5728C0.321853 18.2756 0.531575 17.6854 1.00159 17.6851H15.9694C16.6371 17.685 17.2242 17.2435 17.4098 16.6021L21.9655 0.86084Z" fill="white" stroke="#FEFCFC"></path>
</svg></div><!----></div><!----><!----><!----><div class="beae-zxv0iphp beae-block beae-core beae-unique-t31gqjim beae-x-icon" data-id="beae-zxv0iphp" data-loop-index="1" data-uniqueid="t31gqjim"><!----><div class="beae-elm__ic"><svg width="45" height="48" viewBox="0 0 45 48" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path d="M21.9655 0.86084C22.1048 0.379692 22.787 0.379687 22.9264 0.86084L27.4821 16.6021C27.6677 17.2435 28.2547 17.685 28.9225 17.6851H43.8903C44.3603 17.6854 44.57 18.2756 44.2057 18.5728L31.9059 28.6069C31.4399 28.987 31.2456 29.6084 31.4127 30.186L36.0631 46.2544C36.1994 46.7254 35.6472 47.0905 35.2672 46.7808L23.3942 37.0962C22.8422 36.646 22.0496 36.646 21.4977 37.0962L9.62463 46.7808C9.24465 47.0905 8.69243 46.7254 8.82874 46.2544L13.4791 30.186C13.6463 29.6084 13.4519 28.987 12.986 28.6069L0.686157 18.5728C0.321853 18.2756 0.531575 17.6854 1.00159 17.6851H15.9694C16.6371 17.685 17.2242 17.2435 17.4098 16.6021L21.9655 0.86084Z" fill="white" stroke="#FEFCFC"></path>
</svg></div><!----></div><!----><!----><!----><div class="beae-0ejomf78 beae-block beae-core beae-unique-ew02y99s beae-x-icon" data-id="beae-0ejomf78" data-loop-index="1" data-uniqueid="ew02y99s"><!----><div class="beae-elm__ic"><svg width="45" height="48" viewBox="0 0 45 48" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path d="M21.9655 0.86084C22.1048 0.379692 22.787 0.379687 22.9264 0.86084L27.4821 16.6021C27.6677 17.2435 28.2547 17.685 28.9225 17.6851H43.8903C44.3603 17.6854 44.57 18.2756 44.2057 18.5728L31.9059 28.6069C31.4399 28.987 31.2456 29.6084 31.4127 30.186L36.0631 46.2544C36.1994 46.7254 35.6472 47.0905 35.2672 46.7808L23.3942 37.0962C22.8422 36.646 22.0496 36.646 21.4977 37.0962L9.62463 46.7808C9.24465 47.0905 8.69243 46.7254 8.82874 46.2544L13.4791 30.186C13.6463 29.6084 13.4519 28.987 12.986 28.6069L0.686157 18.5728C0.321853 18.2756 0.531575 17.6854 1.00159 17.6851H15.9694C16.6371 17.685 17.2242 17.2435 17.4098 16.6021L21.9655 0.86084Z" fill="white" stroke="#FEFCFC"></path>
</svg></div><!----></div><!----><!----><!----></div><!----><!----><!----><div class="beae-392go38i beae-block beae-core beae-unique-oau8k35j" data-id="beae-392go38i" data-loop-index="1" data-uniqueid="oau8k35j"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-392go38i">{{ 'sections.beae-preview-template-page.be18852344_html' | t }}</div><!----><!----></div><!----><!----><!----><div class="beae-juys6dd9 beae-block beae-core beae-unique-7avtdksn" data-id="beae-juys6dd9" data-loop-index="1" data-uniqueid="7avtdksn"><!----><div class="beae-block beae-x-text beae-typo-h6" data-autolayout="beae-juys6dd9">{{ 'sections.beae-preview-template-page.be130754121225_html' | t }}</div><!----><!----></div><!----><!----><!----><!----><!----><div class="beae-bsyh3r9s beae-block beae-core beae-unique-bs8wg79g" data-id="beae-bsyh3r9s" data-loop-index="1" data-uniqueid="bs8wg79g"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-bsyh3r9s">{{ 'sections.beae-preview-template-page.be1779191006217_html' | t }}</div><!----><!----></div><!----><!----><!----><!----><!----><div class="beae-jueu826c beae-block beae-core beae-unique-b7hkrsc5" data-id="beae-jueu826c" data-loop-index="1" data-uniqueid="b7hkrsc5"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-jueu826c">{{ 'sections.beae-preview-template-page.be751826453_html' | t }}</div><!----><!----></div><!----><!----><!----><div class="beae-8jwdzbp6 beae-block beae-core beae-unique-m9a1vhbc" data-id="beae-8jwdzbp6" data-loop-index="1" data-uniqueid="m9a1vhbc"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-8jwdzbp6">{{ 'sections.beae-preview-template-page.be536099242_html' | t }}</div><!----><!----></div><!----><!----></div><div data-loop-index="2" class="beae-list-item beae-7v6fb11f"><!----><!----><div class="beae-bvl8kamj beae-block beae-core beae-unique-kg91hq6g" data-id="beae-bvl8kamj" data-loop-index="2" data-uniqueid="kg91hq6g"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-bvl8kamj">{{ 'sections.beae-preview-template-page.be18852344_html' | t }}</div><!----><!----></div><!----><!----><!----><!----><!----><div class="beae-v7h4u5en beae-block beae-core beae-unique-gpyytuza beae-flex-wrapper" data-id="beae-v7h4u5en" data-loop-index="2" data-uniqueid="gpyytuza"><!----><!----><!----><div class="beae-l4lm8ncz beae-block beae-core beae-unique-ttn21h95 beae-x-icon" data-id="beae-l4lm8ncz" data-loop-index="2" data-uniqueid="ttn21h95"><!----><div class="beae-elm__ic"><svg width="45" height="48" viewBox="0 0 45 48" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path d="M21.9655 0.86084C22.1048 0.379692 22.787 0.379687 22.9264 0.86084L27.4821 16.6021C27.6677 17.2435 28.2547 17.685 28.9225 17.6851H43.8903C44.3603 17.6854 44.57 18.2756 44.2057 18.5728L31.9059 28.6069C31.4399 28.987 31.2456 29.6084 31.4127 30.186L36.0631 46.2544C36.1994 46.7254 35.6472 47.0905 35.2672 46.7808L23.3942 37.0962C22.8422 36.646 22.0496 36.646 21.4977 37.0962L9.62463 46.7808C9.24465 47.0905 8.69243 46.7254 8.82874 46.2544L13.4791 30.186C13.6463 29.6084 13.4519 28.987 12.986 28.6069L0.686157 18.5728C0.321853 18.2756 0.531575 17.6854 1.00159 17.6851H15.9694C16.6371 17.685 17.2242 17.2435 17.4098 16.6021L21.9655 0.86084Z" fill="white" stroke="#FEFCFC"></path>
</svg></div><!----></div><!----><!----><!----><div class="beae-g7x6nq5i beae-block beae-core beae-unique-inf5nije beae-x-icon" data-id="beae-g7x6nq5i" data-loop-index="2" data-uniqueid="inf5nije"><!----><div class="beae-elm__ic"><svg width="45" height="48" viewBox="0 0 45 48" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path d="M21.9655 0.86084C22.1048 0.379692 22.787 0.379687 22.9264 0.86084L27.4821 16.6021C27.6677 17.2435 28.2547 17.685 28.9225 17.6851H43.8903C44.3603 17.6854 44.57 18.2756 44.2057 18.5728L31.9059 28.6069C31.4399 28.987 31.2456 29.6084 31.4127 30.186L36.0631 46.2544C36.1994 46.7254 35.6472 47.0905 35.2672 46.7808L23.3942 37.0962C22.8422 36.646 22.0496 36.646 21.4977 37.0962L9.62463 46.7808C9.24465 47.0905 8.69243 46.7254 8.82874 46.2544L13.4791 30.186C13.6463 29.6084 13.4519 28.987 12.986 28.6069L0.686157 18.5728C0.321853 18.2756 0.531575 17.6854 1.00159 17.6851H15.9694C16.6371 17.685 17.2242 17.2435 17.4098 16.6021L21.9655 0.86084Z" fill="white" stroke="#FEFCFC"></path>
</svg></div><!----></div><!----><!----><!----><div class="beae-6up94l6q beae-block beae-core beae-unique-8jk4b89m beae-x-icon" data-id="beae-6up94l6q" data-loop-index="2" data-uniqueid="8jk4b89m"><!----><div class="beae-elm__ic"><svg width="45" height="48" viewBox="0 0 45 48" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path d="M21.9655 0.86084C22.1048 0.379692 22.787 0.379687 22.9264 0.86084L27.4821 16.6021C27.6677 17.2435 28.2547 17.685 28.9225 17.6851H43.8903C44.3603 17.6854 44.57 18.2756 44.2057 18.5728L31.9059 28.6069C31.4399 28.987 31.2456 29.6084 31.4127 30.186L36.0631 46.2544C36.1994 46.7254 35.6472 47.0905 35.2672 46.7808L23.3942 37.0962C22.8422 36.646 22.0496 36.646 21.4977 37.0962L9.62463 46.7808C9.24465 47.0905 8.69243 46.7254 8.82874 46.2544L13.4791 30.186C13.6463 29.6084 13.4519 28.987 12.986 28.6069L0.686157 18.5728C0.321853 18.2756 0.531575 17.6854 1.00159 17.6851H15.9694C16.6371 17.685 17.2242 17.2435 17.4098 16.6021L21.9655 0.86084Z" fill="white" stroke="#FEFCFC"></path>
</svg></div><!----></div><!----><!----><!----><div class="beae-zxv0iphp beae-block beae-core beae-unique-jbqdjye9 beae-x-icon" data-id="beae-zxv0iphp" data-loop-index="2" data-uniqueid="jbqdjye9"><!----><div class="beae-elm__ic"><svg width="45" height="48" viewBox="0 0 45 48" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path d="M21.9655 0.86084C22.1048 0.379692 22.787 0.379687 22.9264 0.86084L27.4821 16.6021C27.6677 17.2435 28.2547 17.685 28.9225 17.6851H43.8903C44.3603 17.6854 44.57 18.2756 44.2057 18.5728L31.9059 28.6069C31.4399 28.987 31.2456 29.6084 31.4127 30.186L36.0631 46.2544C36.1994 46.7254 35.6472 47.0905 35.2672 46.7808L23.3942 37.0962C22.8422 36.646 22.0496 36.646 21.4977 37.0962L9.62463 46.7808C9.24465 47.0905 8.69243 46.7254 8.82874 46.2544L13.4791 30.186C13.6463 29.6084 13.4519 28.987 12.986 28.6069L0.686157 18.5728C0.321853 18.2756 0.531575 17.6854 1.00159 17.6851H15.9694C16.6371 17.685 17.2242 17.2435 17.4098 16.6021L21.9655 0.86084Z" fill="white" stroke="#FEFCFC"></path>
</svg></div><!----></div><!----><!----><!----><div class="beae-0ejomf78 beae-block beae-core beae-unique-jg5tg4ll beae-x-icon" data-id="beae-0ejomf78" data-loop-index="2" data-uniqueid="jg5tg4ll"><!----><div class="beae-elm__ic"><svg width="45" height="48" viewBox="0 0 45 48" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path d="M21.9655 0.86084C22.1048 0.379692 22.787 0.379687 22.9264 0.86084L27.4821 16.6021C27.6677 17.2435 28.2547 17.685 28.9225 17.6851H43.8903C44.3603 17.6854 44.57 18.2756 44.2057 18.5728L31.9059 28.6069C31.4399 28.987 31.2456 29.6084 31.4127 30.186L36.0631 46.2544C36.1994 46.7254 35.6472 47.0905 35.2672 46.7808L23.3942 37.0962C22.8422 36.646 22.0496 36.646 21.4977 37.0962L9.62463 46.7808C9.24465 47.0905 8.69243 46.7254 8.82874 46.2544L13.4791 30.186C13.6463 29.6084 13.4519 28.987 12.986 28.6069L0.686157 18.5728C0.321853 18.2756 0.531575 17.6854 1.00159 17.6851H15.9694C16.6371 17.685 17.2242 17.2435 17.4098 16.6021L21.9655 0.86084Z" fill="white" stroke="#FEFCFC"></path>
</svg></div><!----></div><!----><!----><!----></div><!----><!----><!----><div class="beae-392go38i beae-block beae-core beae-unique-01nwb5bs" data-id="beae-392go38i" data-loop-index="2" data-uniqueid="01nwb5bs"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-392go38i">{{ 'sections.beae-preview-template-page.be18852344_html' | t }}</div><!----><!----></div><!----><!----><!----><div class="beae-juys6dd9 beae-block beae-core beae-unique-qep47k9v" data-id="beae-juys6dd9" data-loop-index="2" data-uniqueid="qep47k9v"><!----><div class="beae-block beae-x-text beae-typo-h6" data-autolayout="beae-juys6dd9">{{ 'sections.beae-preview-template-page.be152215215930_html' | t }}</div><!----><!----></div><!----><!----><!----><!----><!----><div class="beae-bsyh3r9s beae-block beae-core beae-unique-ifvxlhqf" data-id="beae-bsyh3r9s" data-loop-index="2" data-uniqueid="ifvxlhqf"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-bsyh3r9s">{{ 'sections.beae-preview-template-page.be831942864_html' | t }}</div><!----><!----></div><!----><!----><!----><!----><!----><div class="beae-jueu826c beae-block beae-core beae-unique-2oimrazx" data-id="beae-jueu826c" data-loop-index="2" data-uniqueid="2oimrazx"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-jueu826c">{{ 'sections.beae-preview-template-page.be308072359_html' | t }}</div><!----><!----></div><!----><!----><!----><div class="beae-8jwdzbp6 beae-block beae-core beae-unique-xvhsswky" data-id="beae-8jwdzbp6" data-loop-index="2" data-uniqueid="xvhsswky"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-8jwdzbp6">{{ 'sections.beae-preview-template-page.be536099242_html' | t }}</div><!----><!----></div><!----><!----></div></div><div class="beae-slider-controls"><div class="beae-slider-controls-wrp"><!----><!----><div class="beae-slider-pagination-wrp"></div><!----></div></div></div><script type="text/javascript">window.BEAEARGS['beae-c7kihhbzsection-slide-show'] = {
    "id": "beae-c7kihhbz",
    "mode": {"value": "live"},
    "layout":"slider","layoutMobile":"slider","effect":"slide","isLoop":true,"autoPlay":true,"autoPlayDelay":5,"itemsPerSlide":1,"itemsPerSlideMobile":1,"itemsGap":"20px","itemsGapMobile":"20px","paginationImage":false,"paginationImageMobile":false,"typeScroll":"specific","numItemsScroll":3,"showNavigation":false,"showPagination":true,"showProgress":false,"hookSliderInit":"","hookBeforeSlideChange":"","hookAfterSlideChange":"","noRunJs":false,"itemGap":0,"itemGapMobile":0
  };</script><!----></div><!----><!----></div></div></div><!----><picture image-mode="" class="beae-x0d beae-background-image"><!----><img src="https://cdn.shopify.com/s/files/1/0285/3732/3629/files/Mask_group.png?v=1770039705" alt="Mask_group" width="1728" height="805" fetchpriority="high" loading=""></picture><!----><!----><!----><!----><!----></section><!----><script type="text/javascript">window.BEAEARGS['beae-mzrlokgosection-js'] = {
    "id": "beae-mzrlokgo",
    "mode": {"value": "live"},
    "optionsVideo":{},"optionsVideoMobile":false
  };</script><!----><section id="" data-sectionid="beae-oqx5eb9j" data-width="1467" data-margin="30px" data-margin-mobile="15px" data-type="flexContainer" class="beae-typo-p1 beae-oqx5eb9j section-beae-oqx5eb9j beae-section beae-core"><!----><!----><div class="beae-flexbox beae-typo-p1" style="padding: 0px;"><div class="beae__section--container beae-flexbox-container" style="max-width: var(--beae-page-width, 1470px);"><!----><div class="beae-flexbox-core beae-x-flex-section grid-container-width"><!----><div class="beae-w9pt065g beae-block beae-core beae-animation beae-unique-yxcntn0w" data-id="beae-w9pt065g" data-uniqueid="yxcntn0w"><!----><div class="beae-block beae-x-text beae-typo-h3" data-autolayout="beae-w9pt065g">{{ 'sections.beae-preview-template-page.be356680843_html' | t }}</div><!----><!----></div><!----><!----><!----><div class="beae-5bhir4ib beae-block beae-core beae-animation beae-unique-29k4j2r3" data-id="beae-5bhir4ib" data-uniqueid="29k4j2r3""><!----><!----><div class="beae-flexbox-core beae-x-collection-list"><style type="text/css"></style><div class="beae-slider-wrapper beae-slider slider-beae-5bhir4ib items-per-3" data-draggable="true" data-desktop-layout="grid" data-mobile-layout="grid" data-effect="slide" data-pagination="true" data-navigation="true" style="--items-per: 3; --items-per-mobile: 1; --items-gap: 25px; --items-gap-mobile: 20px; --autoplay-delay: 5s;"><div class="beae-slider-content beae-slider-items">
        {% liquid
          assign tmp_collection = collection
          assign selected_collections = "eid-steaks-collection,eid-burgers-mishkak-and-chops-collection,eid-chicken-collection" | split: ","
          assign image_src = "https://cdn.shopify.com/s/files/1/0285/3732/3629/files/346705272ce3e76ea937e79098cc70277061d859.png?v=1772638783|https://cdn.shopify.com/s/files/1/0285/3732/3629/files/e9979c1135d2bbc77e11266a5485eef89659b448.png?v=1772639445|https://cdn.shopify.com/s/files/1/0285/3732/3629/files/eaa41ec3a7df24737476a041005c85ba5202d37e.png?v=1772639427" | split: "|"
          assign image_width = "963,963,963" | split: ","
          assign image_height = "963,963,963" | split: ","
          assign index_loop = 0
        %}

        {% for collection_handle in selected_collections %}
          
          {% liquid 
            assign collection = collections[collection_handle] 
          %}
       <div class="beae-slide-item"><div class="beae-collection-card beae-aw6uuwqx"><!----><!----><div class="beae-omy8s3bx beae-block beae-core beae-unique-5m5nxo72" data-id="beae-omy8s3bx" data-loop-index="0" data-uniqueid="5m5nxo72""><!---->
        
        
        <!----><a class="beae-block beae-x-image beae-container-image beae-image-content-position beae-image-picture beae-image-product" hover-mode="false" href="{{ collection.url }}"><!----><!----><picture image-mode="" class="beae-u9ea3 beae-image-primary">
  {% if image_src[index_loop] != blank %}
    <img
        src="{{ image_src[index_loop] }}"
        alt="{{ collection.title | escape | default: 'Collection Image'}}" 
        width="{{ image_width[index_loop] | default: 915 }}"
        height="{{ image_height[index_loop] | default: 915 }}"
        loading="lazy"
      />
  {% else %}
    {% if collection.featured_image %}
    <img
      src="{{ collection.featured_image | img_url: 'master' }}"
      alt="{{ collection.featured_image.alt | escape | default: 'Collection Image'}}"
      width="{{ collection.featured_image.width | default: 915 }}"
      height="{{ collection.featured_image.height | default: 915 }}"
      loading="lazy"
    />
    
    {% else %}
    <img
    src="undefined"
    alt="{{ collection.title | escape | default: 'Collection Image'}}" 
    width="undefined"
    height="undefined"
    loading="lazy"
  />
    {% endif %}
  {% endif %}
  </picture><!----></a><script type="text/javascript">window.BEAEARGS['beae-omy8s3bxblock-image'] = {
    "id": "beae-omy8s3bx",
    "mode": {"value": "live"},
    "autoHover":false
  };</script><!----></div><!----><!----><!----><div class="beae-6lu7gzlq beae-block beae-core beae-unique-81edh4ko beae-flex-wrapper" data-id="beae-6lu7gzlq" data-loop-index="0" data-uniqueid="81edh4ko"><!----><!----><!----><div class="beae-m48en4tz beae-block beae-core beae-unique-ljtosg1m" data-id="beae-m48en4tz" data-loop-index="0" data-uniqueid="ljtosg1m"><!----><div class="beae-block beae-x-text beae-typo-h5" data-autolayout="beae-m48en4tz"><a class="beae-collection--title" href="{{ collection.url }}">{{ collection.title }}</a></div><!----><!----></div><!----><!----><!----><div class="beae-ynmnuyl7 beae-block beae-core beae-unique-jh0qcnkn beae-flex-wrapper" data-id="beae-ynmnuyl7" data-loop-index="0" data-uniqueid="jh0qcnkn"><!----><!----><!----><div class="beae-u9nl5ulw beae-block beae-core beae-unique-5q76r41x beae-flex-wrapper" data-id="beae-u9nl5ulw" data-loop-index="0" data-uniqueid="5q76r41x"><!----><!----><!----><!----><!----><div class="beae-o2zbzoqm beae-block beae-core beae-unique-dsa5pgdz beae-btn-wrp" data-id="beae-o2zbzoqm" data-loop-index="0" data-uniqueid="dsa5pgdz"><!----><a class="beae-btn-pr beae-flex-view-detail" href="{{ collection.url }}" name="button"><span>{{ 'sections.beae-preview-template-page.be747681529_html' | t }}</span><!----></a><!----></div><!----><!----><!----></div><!----><!----><!----></div><!----><!----><!----><div class="beae-7ml78jhp beae-block beae-core beae-unique-23extsbd beae-flex-wrapper" data-id="beae-7ml78jhp" data-loop-index="0" data-uniqueid="23extsbd"><!----><!----><!----><div class="beae-hbbw0mui beae-block beae-core beae-unique-6jh84tnf" data-id="beae-hbbw0mui" data-loop-index="0" data-uniqueid="6jh84tnf"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-hbbw0mui">{{ 'sections.beae-preview-template-page.be18852344_html' | t }}</div><!----><!----></div><!----><!----><!----></div><!----><!----><!----></div><!----><!----><!----><!----><!----><!----></div></div> 
          {% liquid 
            assign index_loop = index_loop | plus: 1
            assign image_collection = ''
          %}
          
        {% endfor %}
        {%- assign collection = tmp_collection -%}   
      </div><div class="beae-slider-controls"><div class="beae-slider-controls-wrp"><div class="beae-slider-indicator"><div class="beae-slider-progress"></div></div><div class="beae-slider-nav-left"><button aria-label="button" type="button"><svg xmlns="http: //www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><polyline points="15 18 9 12 15 6"></polyline></svg></button></div><div class="beae-slider-pagination-wrp"></div><div class="beae-slider-nav-right"><button aria-label="button" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><polyline points="9 18 15 12 9 6"></polyline></svg></button></div></div></div></div><script type="text/javascript">window.BEAEARGS['beae-5bhir4ibsection-slide-show'] = {
    "id": "beae-5bhir4ib",
    "mode": {"value": "live"},
    "layout":"grid","layoutMobile":"grid","effect":"slide","isLoop":true,"autoPlay":false,"autoPlayDelay":5,"itemsPerSlide":3,"itemsPerSlideMobile":1.2,"itemsGap":"25px","itemsGapMobile":"20px","paginationImage":false,"paginationImageMobile":false,"typeScroll":"default","numItemsScroll":1,"showNavigation":true,"showPagination":true,"showProgress":true,"hookSliderInit":"","hookBeforeSlideChange":"","hookAfterSlideChange":"","noRunJs":false
  };</script><!----></div><script type="text/javascript">window.BEAEARGS['beae-5bhir4ibsection-featured-collection'] = {
    "id": "beae-5bhir4ib",
    "mode": {"value": "live"},
    "mobileMode":false
  };</script><!----></div><!----><!----><!----><div class="beae-l40x5umr beae-block beae-core beae-animation beae-unique-ijwomsgh" data-id="beae-l40x5umr" data-uniqueid="ijwomsgh"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-l40x5umr">{{ 'sections.beae-preview-template-page.be18852344_html' | t }}</div><!----><!----></div><!----><!----><!----><div class="beae-yuuzt5cz beae-block beae-core beae-animation beae-unique-qa0cw1av" data-id="beae-yuuzt5cz" data-uniqueid="qa0cw1av""><!----><!----><div class="beae-flexbox-core beae-x-collection-list"><style type="text/css"></style><div class="beae-slider-wrapper beae-slider slider-beae-yuuzt5cz items-per-3" data-draggable="true" data-desktop-layout="grid" data-mobile-layout="grid" data-effect="slide" data-pagination="true" data-navigation="true" style="--items-per: 3; --items-per-mobile: 1; --items-gap: 25px; --items-gap-mobile: 20px; --autoplay-delay: 5s;"><div class="beae-slider-content beae-slider-items">
        {% liquid
          assign tmp_collection = collection
          assign selected_collections = "eid-box-collection,eid-shuwa-collection,eid-whole-lamb-goat-collection" | split: ","
          assign image_src = "https://cdn.shopify.com/s/files/1/0285/3732/3629/files/89bdbd58b26d52fb11bd436ddfbe5d8341349b7b.png?v=1772639462|https://cdn.shopify.com/s/files/1/0285/3732/3629/files/d2ce3f72a1500c75f1962ce871061acd3d82e503.png?v=1772638314|https://cdn.shopify.com/s/files/1/0285/3732/3629/files/346705272ce3e76ea937e79098cc70277061d859.png?v=1772638783" | split: "|"
          assign image_width = "963,963,963" | split: ","
          assign image_height = "963,963,963" | split: ","
          assign index_loop = 0
        %}

        {% for collection_handle in selected_collections %}
          
          {% liquid 
            assign collection = collections[collection_handle] 
          %}
       <div class="beae-slide-item"><div class="beae-collection-card beae-faz0a8p1"><!----><!----><div class="beae-82i1ha2m beae-block beae-core beae-unique-b6hwv0tv" data-id="beae-82i1ha2m" data-loop-index="0" data-uniqueid="b6hwv0tv""><!---->
        
        
        <!----><a class="beae-block beae-x-image beae-container-image beae-image-content-position beae-image-picture beae-image-product" hover-mode="false" href="{{ collection.url }}"><!----><!----><picture image-mode="" class="beae-n9lll beae-image-primary">
  {% if image_src[index_loop] != blank %}
    <img
        src="{{ image_src[index_loop] }}"
        alt="{{ collection.title | escape | default: 'Collection Image'}}" 
        width="{{ image_width[index_loop] | default: 915 }}"
        height="{{ image_height[index_loop] | default: 915 }}"
        loading="lazy"
      />
  {% else %}
    {% if collection.featured_image %}
    <img
      src="{{ collection.featured_image | img_url: 'master' }}"
      alt="{{ collection.featured_image.alt | escape | default: 'Collection Image'}}"
      width="{{ collection.featured_image.width | default: 915 }}"
      height="{{ collection.featured_image.height | default: 915 }}"
      loading="lazy"
    />
    
    {% else %}
    <img
    src="undefined"
    alt="{{ collection.title | escape | default: 'Collection Image'}}" 
    width="undefined"
    height="undefined"
    loading="lazy"
  />
    {% endif %}
  {% endif %}
  </picture><!----></a><script type="text/javascript">window.BEAEARGS['beae-82i1ha2mblock-image'] = {
    "id": "beae-82i1ha2m",
    "mode": {"value": "live"},
    "autoHover":false
  };</script><!----></div><!----><!----><!----><div class="beae-9ue8sev6 beae-block beae-core beae-unique-wtukcjuu beae-flex-wrapper" data-id="beae-9ue8sev6" data-loop-index="0" data-uniqueid="wtukcjuu"><!----><!----><!----><div class="beae-oeh1aq8u beae-block beae-core beae-unique-uypfz4a8" data-id="beae-oeh1aq8u" data-loop-index="0" data-uniqueid="uypfz4a8"><!----><div class="beae-block beae-x-text beae-typo-h5" data-autolayout="beae-oeh1aq8u"><a class="beae-collection--title" href="{{ collection.url }}">{{ collection.title }}</a></div><!----><!----></div><!----><!----><!----><div class="beae-pu5wxz9a beae-block beae-core beae-unique-r2sll0cj beae-flex-wrapper" data-id="beae-pu5wxz9a" data-loop-index="0" data-uniqueid="r2sll0cj"><!----><!----><!----><div class="beae-vuuslahu beae-block beae-core beae-unique-3ma1zn3m beae-flex-wrapper" data-id="beae-vuuslahu" data-loop-index="0" data-uniqueid="3ma1zn3m"><!----><!----><!----><!----><!----><div class="beae-nf5ss8q9 beae-block beae-core beae-unique-i4l6c62s beae-btn-wrp" data-id="beae-nf5ss8q9" data-loop-index="0" data-uniqueid="i4l6c62s"><!----><a class="beae-btn-pr beae-flex-view-detail" href="{{ collection.url }}" name="button"><span>{{ 'sections.beae-preview-template-page.be747681529_html' | t }}</span><!----></a><!----></div><!----><!----><!----></div><!----><!----><!----></div><!----><!----><!----><div class="beae-1u7x0zue beae-block beae-core beae-unique-rwy1n7t3 beae-flex-wrapper" data-id="beae-1u7x0zue" data-loop-index="0" data-uniqueid="rwy1n7t3"><!----><!----><!----><div class="beae-khaguwc1 beae-block beae-core beae-unique-andr75cu" data-id="beae-khaguwc1" data-loop-index="0" data-uniqueid="andr75cu"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-khaguwc1">{{ 'sections.beae-preview-template-page.be18852344_html' | t }}</div><!----><!----></div><!----><!----><!----></div><!----><!----><!----></div><!----><!----><!----><!----><!----><!----></div></div> 
          {% liquid 
            assign index_loop = index_loop | plus: 1
            assign image_collection = ''
          %}
          
        {% endfor %}
        {%- assign collection = tmp_collection -%}   
      </div><div class="beae-slider-controls"><div class="beae-slider-controls-wrp"><div class="beae-slider-indicator"><div class="beae-slider-progress"></div></div><div class="beae-slider-nav-left"><button aria-label="button" type="button"><svg xmlns="http: //www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><polyline points="15 18 9 12 15 6"></polyline></svg></button></div><div class="beae-slider-pagination-wrp"></div><div class="beae-slider-nav-right"><button aria-label="button" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><polyline points="9 18 15 12 9 6"></polyline></svg></button></div></div></div></div><script type="text/javascript">window.BEAEARGS['beae-yuuzt5czsection-slide-show'] = {
    "id": "beae-yuuzt5cz",
    "mode": {"value": "live"},
    "layout":"grid","layoutMobile":"grid","effect":"slide","isLoop":true,"autoPlay":false,"autoPlayDelay":5,"itemsPerSlide":3,"itemsPerSlideMobile":1.2,"itemsGap":"25px","itemsGapMobile":"20px","paginationImage":false,"paginationImageMobile":false,"typeScroll":"default","numItemsScroll":1,"showNavigation":true,"showPagination":true,"showProgress":true,"hookSliderInit":"","hookBeforeSlideChange":"","hookAfterSlideChange":"","noRunJs":false
  };</script><!----></div><script type="text/javascript">window.BEAEARGS['beae-yuuzt5czsection-featured-collection'] = {
    "id": "beae-yuuzt5cz",
    "mode": {"value": "live"},
    "mobileMode":false
  };</script><!----></div><!----><!----><!----><div class="beae-a31w0iad beae-block beae-core beae-animation beae-unique-znzoijda beae-flex-wrapper" data-id="beae-a31w0iad" data-uniqueid="znzoijda"><!----><!----><!----><div class="beae-55s7vffy beae-block beae-core beae-animation beae-unique-z6clu4z9" data-id="beae-55s7vffy" data-uniqueid="z6clu4z9""><!----><div class="beae-block beae-x-line"><div class="beae-element"><div class="beae-line beae-line-style" style="display: block;"></div><!----></div></div><!----></div><!----><!----><!----></div><!----><!----></div></div></div><!----><!----><!----><!----><!----><!----></section><!----><script type="text/javascript">window.BEAEARGS['beae-oqx5eb9jsection-js'] = {
    "id": "beae-oqx5eb9j",
    "mode": {"value": "live"},
    "optionsVideo":false,"optionsVideoMobile":false
  };</script><!----><section id="" data-sectionid="beae-sgk7aubh" data-width="1467" data-margin="30px" data-margin-mobile="15px" data-type="flexContainer" class="beae-typo-p1 beae-sgk7aubh section-beae-sgk7aubh beae-section beae-core"><!----><!----><div class="beae-flexbox beae-typo-p1" style="padding: 0px;"><div class="beae__section--container beae-flexbox-container" style="max-width: var(--beae-page-width, 1470px);"><!----><div class="beae-flexbox-core beae-x-flex-section grid-container-width"><!----><div id="ramadan-sale" class="beae-7cch9eg4 beae-block beae-core beae-animation beae-unique-h9lzeq5j" data-id="beae-7cch9eg4" data-uniqueid="h9lzeq5j"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-7cch9eg4">{{ 'sections.beae-preview-template-page.be1024840853_html' | t }}</div><!----><!----></div><!----><!----><!----><div class="beae-xeywl9sp beae-block beae-core beae-animation beae-unique-363fyxdo" data-id="beae-xeywl9sp" data-uniqueid="363fyxdo""><!----><div class="beae-featured-collection-header beae-animation"><!----><!----></div><div class="beae-money-format" style="display: none;">{% if settings.currency_code_enabled %}{{ shop.money_with_currency_format | escape }}{% else %}{{ shop.money_format | escape }}{% endif %}</div><div class="beae-flexbox-core beae-x-featured_collection grid-container-width"><div class="beae-featured_collection-wrp">
        {% liquid
          assign tmp_collection = collection
          assign tmp_product = product
          assign beae_maximum_items = 10
          assign beae_swatch_type = "color"
          assign beae_swatches_max_items = 4
          assign beae_price_badged = 'sale'
          assign beae_badged = 'percent'
          assign beae_tags_limit = '5'
          assign beae_show_when_hover = false
          assign beae_custom_badged_source = 'tags'
          assign beae_custom_badged_tag = 'AED|New|Sale|'
          assign beae_cart_variant_type = ''
          assign beae_quick_add_variant_selector = ''
          assign beae_quick_add_variant_type = ''
          assign beae_cart_variant_name = ''
          assign beae_cart_exclude = ''
          assign beae_variant_name_option = ''
          assign beae_variant_name_type = 'name'
          assign beae_option_values_swatch = ''
          assign beae_source_types_swatch = ''
          assign beae_option_values_quick_add = ''
          assign beae_source_types_quick_add = ''
        %}

        {%- capture beae_add_to_cart_text -%}{{ 'sections.beae-preview-template-page.be649020154_html' | t }}{%- endcapture -%}
        {%- capture beae_sold_out_text -%}{{ 'sections.beae-preview-template-page.be1538394658_html' | t }}{%- endcapture -%}
        {%- capture beae_swatches_name -%}{%- endcapture -%}
        {%- capture beae_choose_options_text -%}{{ 'sections.beae-preview-template-page.be719299147_html' | t }}{%- endcapture -%}
      
          {% assign selected_collections = "best-sellers-from-eid-sale" | split: "," %}
          {% for selected_collection in selected_collections %}
            <div class="beae-feature-collection-tab-content beae-featuted-collection-content{% if forloop.index == 1 %} content-active{% endif %}" {% if forloop.index == 1 %}data-active="true"{% endif %} data-handle="{{selected_collection}}">
            {% liquid assign collection = collections[selected_collection] %}
           <style type="text/css"></style><div class="beae-slider-wrapper beae-slider slider-beae-xeywl9sp items-per-4" data-draggable="true" data-desktop-layout="slider" data-mobile-layout="slider" data-effect="slide" data-pagination="false" data-navigation="false" style="--items-per: 4; --items-per-mobile: 2; --items-gap: 25px; --items-gap-mobile: 5px; --autoplay-delay: 5s;"><div class="beae-slider-content beae-slider-items">
          
              {%- if collection != blank -%}
                {%- for product in collection.products limit: beae_maximum_items -%}
                
          
      {% capture beae_custom_badged_metafield %}{{  }}{%- endcapture -%}
        {%- form 'product', product,class: "beae-product-form-next beae-product-form--single", data-product_id: product.id, data-handle: product.handle, data-variant-id: product.selected_or_first_available_variant.id, data-available: product.available -%}
       <div class="beae-product-card beae-96lgne7i"><!----><!----><div class="beae-9rsu0cg7 beae-block beae-core beae-unique-tjjukjxh" data-id="beae-9rsu0cg7" data-loop-index="0" data-uniqueid="tjjukjxh""><!---->
        
        
        <!----><a class="beae-block beae-x-image beae-container-image beae-image-content-position beae-image-picture beae-image-product" hover-mode="false" href="{{ product.url }}"><!----><!----><picture image-mode="" class="beae-ase1c beae-image-primary">
    {% assign beae_show_image = true %}
    {% if beae_check_product_video == true %} 
      {%- for media in product.media -%}
        {% if media.media_type == 'video' %}
          {% assign beae_show_image = false %}
          <div class="beae-video-product">
            <img
              preview
              style="display: none !important;"
              src="{{ media.preview_image | img_url: 'master' }}"
              alt="{{ media.preview_image.alt | escape | default: 'Product Image' }}"
              width="{{ media.preview_image.width | default: 915 }}"
              height="{{ media.preview_image.height | default: 915 }}"
              loading="lazy"
            />  
              {{ media | video_tag: image_size:'master', class: 'media-video', muted: true, autoPlay: true, loop: true }}
          </div>
          {% break %}
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if beae_show_image == true %}
      <img
        src="{{ product.featured_media | img_url: 'master' }}"
        alt="{{ product.featured_media.alt | escape | default: 'Product Image' }}"
        width="{{ product.featured_media.width | default: 915 }}"
        height="{{ product.featured_media.height | default: 915 }}"
        loading="lazy"
      />
    {% endif %}
  </picture><!----><picture image-mode="" class="beae-653 beae-image-secondary">
    {% if product.media.size > 1 %}
      <img
        src="{{ product.media[1] | img_url: 'master' }}"
        alt="{{ product.media[1].alt | escape | default: 'Product Image' }}"
        width="{{ product.media[1].width | default: 915 }}"
        height="{{ product.media[1].height | default: 915 }}"
        loading="lazy"
      />
    {% endif %}
  </picture></a><script type="text/javascript">window.BEAEARGS['beae-9rsu0cg7block-image'] = {
    "id": "beae-9rsu0cg7",
    "mode": {"value": "live"},
    "autoHover":false
  };</script><!----></div><!----><!----><!----><div class="beae-qmirz5a2 beae-block beae-core beae-unique-r9kiuowu beae-product-title" data-id="beae-qmirz5a2" data-loop-index="0" data-uniqueid="r9kiuowu"><!----><div class="beae-block beae-x-text beae-typo-h6" data-product-title="true" data-autolayout="beae-qmirz5a2"><a href="{{ product.url }}">{{ product.title }}</a></div><!----><!----></div><script type="text/javascript">window.BEAEARGS['beae-qmirz5a2block-developer'] = {
    "id": "beae-qmirz5a2",
    "mode": {"value": "live"},
    "title":"{{ product.title }}"
  };</script><!----><!----><div class="beae-4nojyx5x beae-block beae-core beae-unique-ydyc6lzb beae-flex-wrapper" data-id="beae-4nojyx5x" data-loop-index="0" data-uniqueid="ydyc6lzb"><!----><!----><!----><div class="beae-2xrshdfz beae-block beae-core beae-unique-l4k23s07 beae-x-icon" data-id="beae-2xrshdfz" data-loop-index="0" data-uniqueid="l4k23s07"><!----><div class="beae-elm__ic"><svg fill="currentColor" xmlns="http: //www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg></div><!----></div><!----><!----><!----><div class="beae-ovrn8t5i beae-block beae-core beae-unique-kz93cyk2 beae-x-icon" data-id="beae-ovrn8t5i" data-loop-index="0" data-uniqueid="kz93cyk2"><!----><div class="beae-elm__ic"><svg fill="currentColor" xmlns="http: //www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg></div><!----></div><!----><!----><!----><div class="beae-x24dn9l2 beae-block beae-core beae-unique-35boe27y beae-x-icon" data-id="beae-x24dn9l2" data-loop-index="0" data-uniqueid="35boe27y"><!----><div class="beae-elm__ic"><svg fill="currentColor" xmlns="http: //www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg></div><!----></div><!----><!----><!----><div class="beae-0ywjfls7 beae-block beae-core beae-unique-dbp9umsw beae-x-icon" data-id="beae-0ywjfls7" data-loop-index="0" data-uniqueid="dbp9umsw"><!----><div class="beae-elm__ic"><svg fill="currentColor" xmlns="http: //www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg></div><!----></div><!----><!----><!----><div class="beae-icyif7tq beae-block beae-core beae-unique-qu0cldpe beae-x-icon" data-id="beae-icyif7tq" data-loop-index="0" data-uniqueid="qu0cldpe"><!----><div class="beae-elm__ic"><svg fill="currentColor" xmlns="http: //www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg></div><!----></div><!----><!----><!----></div><!----><!----><!----><div class="beae-hayn6hlj beae-block beae-core beae-unique-5d15wvis" data-id="beae-hayn6hlj" data-loop-index="0" data-uniqueid="5d15wvis""><!----><!----><div class="beae-x-price" data-badged="none"><div class="beae-prd-single-price-wrapper"><span class="beae-product-single__price">
    
      {% if product.price_varies and product.compare_at_price %}
        {% assign cheapest_variant = product.variants | sort: 'price' | first %}
        {% capture price_normal %}
          {% if settings.currency_code_enabled %}
            {{ product.selected_or_first_available_variant.price | money_with_currency }}
          {% else %}
            {{ product.selected_or_first_available_variant.price | money }}
          {% endif %}
        {% endcapture %}
        {% capture price_min %}
          {% if settings.currency_code_enabled %}
            {{ cheapest_variant.price | money_with_currency }}
          {% else %}
            {{ cheapest_variant.price | money }}
          {% endif %}
        {% endcapture %}
        {% if cheapest_variant.price < cheapest_variant.compare_at_price %}
          <span class="beae-price-on-sale">
            <span class="beae-price-from">{{ 'sections.beae-preview-template-page.be978022322_html' | t: price_min:price_min }}</span>
            <span class="beae-price-normal">{{ 'sections.beae-preview-template-page.be1950827197_html' | t: price_normal:price_normal }}</span>
          </span>
        {% else %}
          <span class="beae-price-from">{{ 'sections.beae-preview-template-page.be978022322_html' | t: price_min:price_min }}</span>
          <span class="beae-price-normal">{{ 'sections.beae-preview-template-page.be1950827197_html' | t: price_normal:price_normal }}</span>
        {% endif %}
      {% elsif product.price < product.compare_at_price %}
        <span class="beae-price-on-sale">{% if settings.currency_code_enabled %}
          {{ product.price | money_with_currency }}
        {% else %}
          {{ product.price | money }}
        {% endif %}</span>
      {% elsif product.price_varies %}
        {% capture price_min %}
          {% if settings.currency_code_enabled %}
            {{ product.price_min | money_with_currency }}
          {% else %}
            {{ product.price_min | money }}
          {% endif %}
        {% endcapture %}
        {% capture price_max %}
          {% if settings.currency_code_enabled %}
            {{ product.price_max | money_with_currency }}
          {% else %}
            {{ product.price_max | money }}
          {% endif %}
        {% endcapture %}
        <span class="beae-price-from">{{ 'sections.beae-preview-template-page.be978022322_html' | t: price_min:price_min }}</span>
        <span class="beae-price-normal">{{ 'sections.beae-preview-template-page.be1950827197_html' | t: price_normal:price_normal }}</span>
      {% else %}
        {% if settings.currency_code_enabled %}
          {{ product.price | money_with_currency }}
        {% else %}
          {{ product.price | money }}
        {% endif %}
      {% endif %}
      
  </span><span class="beae-product-single__price--regular">{% liquid
    assign print_compare = ''
    if selected_variant != blank   
      if selected_variant.price < selected_variant.compare_at_price
        if settings.currency_code_enabled
          assign print_compare = selected_variant.compare_at_price | money_with_currency
        else
          assign print_compare = selected_variant.compare_at_price | money
        endif
      endif
    else                                                            
      if product.price_varies and product.compare_at_price
        assign cheapest_variant = product.variants | sort: 'price' | first
        if cheapest_variant.price < cheapest_variant.compare_at_price
          if settings.currency_code_enabled
            assign print_compare = cheapest_variant.compare_at_price | money_with_currency
          else
            assign print_compare = cheapest_variant.compare_at_price | money
          endif
        endif
      elsif product.price < product.compare_at_price
        if settings.currency_code_enabled
          assign print_compare = product.compare_at_price | money_with_currency
        else
          assign print_compare = product.compare_at_price | money
        endif
      endif
    endif
  %}{{ print_compare }}</span><span type="none" class="beae-typo-p3 {% liquid
    assign badge_class = ''
    if product.available
      assign checkHidden = true
      if selected_variant != blank
        if selected_variant.price < selected_variant.compare_at_price
          assign checkHidden = false
        endif
      else
        if product.price_varies and product.compare_at_price
          assign cheapest_variant = product.variants | sort: 'price' | first
          if cheapest_variant.price < cheapest_variant.compare_at_price
            assign checkHidden = false
          endif
        elsif product.price < product.compare_at_price
          assign checkHidden = false
        endif
      endif
      if checkHidden
        assign badge_class = 'beae-sale-hidden'
      else
        assign badge_class = 'beae-product-single__price--sale'
      endif
    else
      assign badge_class = 'beae-sale-sold-out'
    endif
  %}{{ badge_class }} beae-product-single__price--badged" data-sale="" data-sold-out="{{ 'sections.beae-preview-template-page.be1538363906_html' | t }}"></span></div><div class="beae-product-single__tax-shipping"></div></div><!----></div><!----><!----><!----><div class="beae-7mobjjng beae-block beae-core beae-unique-jgt1jwp1" data-id="beae-7mobjjng" data-loop-index="0" data-uniqueid="jgt1jwp1""><!----><button type="submit" class="beae-add-to-cart--submit beae-btn-cart beae-btn-pr" data-action="theme" data-add-to-cart-text="{{ 'sections.beae-preview-template-page.be649020154_html' | t }}" data-text-outstock="{{ 'sections.beae-preview-template-page.be28375103_html' | t }}" data-text-added-cart="{{ 'sections.beae-preview-template-page.be649020154_html' | t }}" data-sold-out-text="{{ 'sections.beae-preview-template-page.be1538394658_html' | t }}" data-add-success="{{ 'sections.beae-preview-template-page.be1427617666_html' | t }}" data-link="" data-choose-options-text="{{ 'sections.beae-preview-template-page.be649020154_html' | t }}" data-type="text" data-show-icon-mobile="false"><!----><span class="beae-add-to-cart-text-content">{{ 'sections.beae-preview-template-page.be649020154_html' | t }}</span><!----><div class="beae-add-to-cart-loader-wrp"><span class="beae-add-to-cart-loader"></span></div></button><script type="text/javascript">window.BEAEARGS['beae-7mobjjngblock-add-to-cart'] = {
    "id": "beae-7mobjjng",
    "mode": {"value": "live"},
    "loopIndex":0
  };</script><!----></div><!----><!----><!----><!----><script data-id="Product-json-{{ product.id }}" type="application/json" style="display: none;">
    {
      "id":  {{ product.id | json }},
      "title":  {{ product.title | json }},
      "handle":  {{ product.handle | json }},
      "price":  {{ product.price| json }},
      "price_min":  {{ product.price_min| json }},
      "price_max":  {{ product.price_max| json }},
      "price_normal":  {{ product.selected_or_first_available_variant.price| json }},
      "available":  {{ product.available | json }},
      "price_varies":  {{ product.price_varies| json }},
      "compare_at_price":  {{ product.compare_at_price| json }},
      "compare_at_price_min":  {{ product.compare_at_price_min| json }},
      "compare_at_price_max":  {{ product.compare_at_price_max| json }},
      "compare_at_price_varies":  {{ product.compare_at_price_varies| json }},
      "has_only_default_variant":  {{ product.has_only_default_variant | json }},
      "selected_or_first_available_variant":  {{ product.selected_or_first_available_variant | json }},
      "options":  {{ product.options_with_values | json }},
      "variants": [
        {%- for variant in product.variants -%}
          {
            "id":  {{ variant.id | json }},
            "title": " {{ variant.option1 | handleize }}{%- if product.options.size == 2 -%} / {%- endif -%} {{ variant.option2 | handleize }}{%- if product.options.size == 3 -%} / {%- endif -%} {{ variant.option3 | handleize }}",
            "option1":  {{ variant.option1  | json }},
            "option2": {%- if product.options.size == 1 -%}null{%-else-%} {{ variant.option2  | json }}{%-endif-%},
            "option3": {%- if product.options.size == 1 or product.options.size == 2 -%}null{%-else-%} {{ variant.option3  | json }}{%-endif-%},
            "sku":  {{ variant.sku | json }},
            "requires_shipping":  {{ variant.requires_shipping }},
            "taxable":  {{ variant.taxable | json }},
            "selling_plan_allocations":{{variant.selling_plan_allocations | json }},
            "featured_image": {%- if variant.image.id != blank -%}{
              "id":  {{ variant.image.id | json }},
              "product_id":  {{ product.id | json }},
              "width":  {{ variant.image.width | json }},
              "height":  {{ variant.image.height | json }},
              "src":  {{ variant.image.src | json }},
              "position": {{ variant.image.position }}
            }{%- else-%}null{%-endif-%},
            "featured_media": {{ variant.featured_media | json }},
            "available":  {{ variant.available }},
            "public_title": " {{ variant.option1 | handleize }}{%- if product.options.size == 2 -%} / {%- endif -%} {{ variant.option2 | handleize }}{%- if product.options.size == 3 -%} / {%- endif -%} {{ variant.option3 | handleize }}",
            "options":   {{ variant.options | json }},
            "price":  {{ variant.price | json }},
            "weight":  {{ variant.weight | json }},
            "compare_at_price":  {{ variant.compare_at_price | json }},
            "inventory_quantity":  {{ variant.inventory_quantity | json }},
            "inventory_management":  {{ variant.inventory_management | json }},
            "inventory_policy":  {{ variant.inventory_policy | json }},
            "next_incoming_date": {% if variant.next_incoming_date %}{{variant.next_incoming_date | date: "%Y-%m-%d %H:%M" | time_tag | json }}{% else%}null{% endif %},
            "barcode":  {{ variant.barcode | json }},
            "store_availabilities": [
              {%- for variantStore in variant.store_availabilities -%}
                {
                  "location": {
                    "name": {{ variantStore.location.name | json }},
                    "address": {{ variantStore.location.address | json }},
                    "id": {{ variantStore.location.id | json }}
                  },
                  "available": {{ variantStore.available | json }},
                  "pick_up_enabled": {{ variantStore.pick_up_enabled | json }},
                  "pick_up_time": {{ variantStore.pick_up_time | json }}
                }{%- if forloop.last == false -%},{%- endif -%}
              {%- endfor -%}
            ],
            "unit_price":  {{ variant.unit_price | json }},
            "unit_price_measurement":  {
              "measured_type": {{ variant.unit_price_measurement.measured_type | json }},
              "quantity_value": {{ variant.unit_price_measurement.quantity_value | json }},
              "quantity_unit": {{ variant.unit_price_measurement.quantity_unit | json }},
              "reference_value": {{ variant.unit_price_measurement.reference_value | json }},
              "reference_unit": {{ variant.unit_price_measurement.reference_unit | json }}
            }
          }{%- if forloop.last == false -%},{%- endif -%}
        {%- endfor -%}
      ],
      "featured_image":  {{ product.featured_image | json }},
      "size_available":[
        {%- for value in product.options_with_values[0].values -%}
        {%- assign available_ops = product.variants | where: "available" | where: "option1",value -%}
          {{available_ops.size}}{%- unless forloop.last %},{% endunless -%}
        {%- endfor -%}
      ],
      "shopColors": {{ shop.metafields.beae.colors }}
    }
  </script></div> 
                  <input type="hidden" name="sections" value="cart-notification-product,cart-notification-button,cart-icon-bubble">
                  <input type="hidden" name="section_url" value="{{product.handle}}">
            {%- endform -%}
                
      
              
              {%- endfor -%}
            {%- endif -%}
          
          </div><div class="beae-slider-controls"><div class="beae-slider-controls-wrp"><!----><!----><!----><!----></div></div></div><script type="text/javascript">window.BEAEARGS['beae-xeywl9spsection-slide-show'] = {
    "id": "beae-xeywl9sp",
    "mode": {"value": "live"},
    "layout":"slider","layoutMobile":"slider","effect":"slide","isLoop":false,"autoPlay":false,"autoPlayDelay":5,"itemsPerSlide":4,"itemsPerSlideMobile":2,"itemsGap":"25px","itemsGapMobile":"5px","paginationImage":false,"paginationImageMobile":false,"typeScroll":"default","numItemsScroll":1,"showNavigation":false,"showPagination":false,"showProgress":false,"hookSliderInit":"","hookBeforeSlideChange":"","hookAfterSlideChange":"","noRunJs":false
  };</script><!----> 
          </div>
          {%- endfor -%}
        {%- assign collection = tmp_collection -%}    
        {%- assign product = tmp_product -%}    
      <!----></div></div><script type="text/javascript">window.BEAEARGS['beae-xeywl9spsection-featured-collection'] = {
    "id": "beae-xeywl9sp",
    "mode": {"value": "live"},
    "mobileMode":false,"maximumItems":10,"promotionPosition":false
  };</script><!----></div><!----><!----></div></div></div><!----><!----><!----><!----><!----><!----></section><!----><script type="text/javascript">window.BEAEARGS['beae-sgk7aubhsection-js'] = {
    "id": "beae-sgk7aubh",
    "mode": {"value": "live"},
    "optionsVideo":false,"optionsVideoMobile":false
  };</script><!----><section id="" data-sectionid="beae-df7x9vte" data-width="1467" data-margin="30px" data-margin-mobile="15px" data-type="flexContainer" class="beae-typo-p1 beae-df7x9vte section-beae-df7x9vte beae-section beae-core"><!----><!----><div class="beae-flexbox beae-typo-p1" style="padding: 0px;"><div class="beae__section--container beae-flexbox-container" style="max-width: var(--beae-page-width, 1470px);"><!----><div class="beae-flexbox-core beae-x-flex-section grid-container-width"></div></div></div><!----><!----><!----><!----><!----><!----></section><!----><script type="text/javascript">window.BEAEARGS['beae-df7x9vtesection-js'] = {
    "id": "beae-df7x9vte",
    "mode": {"value": "live"},
    "optionsVideo":false,"optionsVideoMobile":false
  };</script>
<script type="text/javascript">
  (() => {
    let testText = document.createElement('div');
    testText.innerHTML = 'test';
    testText.style.fontSize = '100px';
    document.body.appendChild(testText);
    let realFontSize = parseFloat(window.getComputedStyle(testText).getPropertyValue('font-size').replace('px', ''));
    testText.style.zoom = '50%';
    let detectDesktopRequestMode = window.getComputedStyle(testText).getPropertyValue('font-size') !== '100px';
    document.body.removeChild(testText);
    
    document.body.style.setProperty('--font-size-ratio', (realFontSize / 100).toString());

    function getTextNodesIn(elem) {
      let textNodes = [];
      if (elem) {
        for (var nodes = elem.childNodes, i = nodes.length; i--;) {
          let node = nodes[i], nodeType = node.nodeType;
          if (nodeType == 1 || nodeType == 9 || nodeType == 11) {
            textNodes = textNodes.concat(getTextNodesIn(node));
          }
        }
      }
      return textNodes;
    }

    let scaleFitGridBlock = () => {

      document.querySelectorAll('.beae-section.beae-core').forEach((sec) => {
        let container = sec.querySelector(".beae__section--container");
        if (!container) { return; };
        let winWidth = document.documentElement.offsetWidth;
        if (winWidth >= 768) {
          sec.querySelectorAll('.beae__section--container').forEach(container => {
            container.parentNode.style.setProperty("--container-width", container.closest('.grid-container-width') ? container.closest('.grid-container-width').parentNode.offsetWidth+'px' : container.offsetWidth+'px');
          });
        }
      });

      document.querySelectorAll('.beae-grid-block').forEach(block => {
       let child = block.querySelector('.beae-block.beae-core > *'),
           zoom = 0,
           count = 0;
        child.style.zoom = '';
        child.style.lineHeight = '';
        while(child.offsetHeight > block.offsetHeight && count < 14 && (zoom === 0 || block.offsetHeight < (child.offsetHeight*zoom))) {
            zoom = (block.offsetHeight+block.offsetWidth)/(child.offsetHeight+child.offsetWidth);
            child.style.zoom = zoom < 1 ? Math.floor(zoom*100)+'%' : '';
            child.style.lineHeight = '2.4rem';
            count++;
        }
      });
    };

    scaleFitGridBlock();
    let timmer = 0;
    window.addEventListener('resize', () => {
      clearTimeout(timmer);
      timmer = setTimeout(scaleFitGridBlock, 150);
    });
    window.addEventListener('load', scaleFitGridBlock);
    
    if (document.getElementById('beae-exported-page-css')) {
      document.getElementById('beae-exported-page-css').addEventListener('load', scaleFitGridBlock);
    }

  })();
</script>
</div></div>{% if section_id == section.id %}{% endif%}
<script id="beae-exported-page-js" src="{{'beae-preview-template-page.js'  | asset_url }}" defer></script>

{% schema %}
{
    "name": "BEAE BUILDER APP",
    "locales": {
        "en": {
            "be76480_html": "N\/A",
            "be427520332_html": "Save { sale }",
            "be1538363906_html": "Sold Out",
            "be1066872809_html": "Save {{ sale }}%",
            "be2569319_html": "Sale",
            "be112332300045_html": "<ul><li>LOVED BY 50,000 MEAT LOVERS<\/li><\/ul>",
            "be111491936954_html": "<ul><li>OMAN\u2019S MOST TRUSTED MEAT BRAND&nbsp;<\/li><\/ul>",
            "be147664180146_html": "<ul><li>100% HALAL &amp; FRESH&nbsp;<\/li><\/ul>",
            "be431872540_html": "VIEW EID SALE COLLECTION",
            "be18852344_html": "<br>",
            "be80768938141_html": "MLS IS LOVED BY\r<div>50K+ CUSTOMERS<\/div>",
            "be1426578244_html": "Good quality",
            "be910471707_html": "\"Great selection of quality meats\"",
            "be1869745298_html": "Marwa AlZadjali&nbsp;",
            "be536099242_html": "verified Customer",
            "be130754121225_html": "<div>Almost Perfect<\/div>",
            "be1779191006217_html": "<div>\"This time was almost perfect starting with dealing with the order&nbsp;<\/div><div>to dilivery.. Thank you and keep it this way and&nbsp;<\/div><div>better. u made Eid even better\"<\/div><div><br><\/div><div>\n<\/div>",
            "be751826453_html": "Warda Al-Jabry",
            "be152215215930_html": "<div>Perfect as usual \ud83d\udc4c<\/div>",
            "be831942864_html": "\"Fresh Tender Well packed\"",
            "be308072359_html": "Walid BENBRAHIM&nbsp;",
            "be356680843_html": "MLS EID SALE COLLECTION",
            "be747681529_html": "View Collection",
            "be1024840853_html": "Best Sellers from Eid Sale",
            "be649020154_html": "Add to cart",
            "be1538394658_html": "Sold out",
            "be719299147_html": "Choose options",
            "be978022322_html": "From {{ price_min }}",
            "be1950827197_html": "{{ price_normal }}",
            "be28375103_html": "Out of stock",
            "be1427617666_html": "Added to cart successfully"
        }
    },
    "settings": [
        {
            "type": "header",
            "content": "The section was generated by BEAE BUILDER",
            "info": "\n                        Beae is a flexible page builder app on Shopify AppStore.\n                        It provides 100+ Shopify Elements and pre-built templates library, \n                        so you can build unlimited pages that you can imagine with it.\n                    "
        },
        {
            "type": "header",
            "content": "[EDIT WITH BEAE APP \u2192](https:\/\/muscat-livestock.myshopify.com\/admin\/apps\/beae-flexible-page-builder\/next\/editor-v2\/page\/preview-template-page)",
            "info": "(*You must install the app to start editing this section [Learn more](https:\/\/docs.beae.com\/en\/article\/quick-start-guide-dkoesy\/))"
        }
    ],
    "blocks": [
        {
            "type": "@app"
        }
    ]
}
{% endschema %}