
            {% assign beae_root_url = routes.root_url %}
            {% if beae_root_url != '/'%}
                {% assign beae_root_url = routes.root_url | append: '/' %}
            {% endif %}
        {%capture section_id %}beae-mls-year-end-sale-25{% endcapture%}{% if section_id == section.id %}{% if shop.metafields.beae.global_css %}
            <!--BEAE-EMBED-->
            <link href="data:text/css;base64,{{-shop.metafields.beae.global_css-}}" rel="stylesheet" id="beae-global-css"/>
            <!--/BEAE-EMBED-->
        {% endif %}

{% render 'beae_header', BEAE_THEME: true %}{% endif %}<link rel="stylesheet" id="beae-exported-page-css" media="all" href="{{"beae-692ee94dc9b141632a09fc12.css" | asset_url}}"><link rel="dns-prefetch" href="https://cdn.shopify.com">
                    <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
                    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
                    <link rel="preload" type="text/css" href="https://cdn.shopify.com/s/files/1/0821/0202/6556/files/Helvetica.ttf?v=1701516928" as="font" type="font/truetype" crossorigin="anonymous">
                    <style>
                    @import url("https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900&display=swap");@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900&display=swap");@font-face {font-family: 'Helvetica';font-weight: 400;src: url('https://cdn.shopify.com/s/files/1/0821/0202/6556/files/Helvetica.ttf?v=1701516928') format('truetype');font-display: swap;}
                    </style><div class="beae-builder-v2 beae-builder"><div class="beae-sections beae-content-wrapper"><script type="text/javascript">if (!window.BEAEARGS) {window.BEAEARGS = {};}</script>
<!----><!----><!----><section id="" data-sectionid="beae-xeckjmjf" data-width="1920" data-margin="30px" data-margin-mobile="15px" data-type="flexContainer" class="beae-typo-p1 beae-xeckjmjf section-beae-xeckjmjf beae-section beae-core" style="--scale-ratio: 0.7755208333333333;"><!----><!----><div class="beae-flexbox beae-typo-p1" style="padding: 0px;"><div class="beae__section--container beae-flexbox-container beae__section--full"><!----><div class="beae-flexbox-core beae-x-flex-section grid-container-width"><!----><div class="beae-t04ybng9 beae-block beae-core beae-animation beae-unique-b1njuqfq beae-flex-wrapper" data-id="beae-t04ybng9" data-uniqueid="b1njuqfq"><!----><!----><!----><div class="beae-91k6ga4s beae-block beae-core beae-animation beae-unique-w88tzyfx" data-id="beae-91k6ga4s" data-uniqueid="w88tzyfx""><!---->{% assign beae_image_pr = images['Year-End-Sale-1.png'].alt %}
        
        {% assign beae_image_mb_pr = images['Year-End-Sale.png'].alt %}
        <!----><a class="beae-block beae-x-image beae-container-image beae-image-content-position beae-image-picture beae-image-picture-link" hover-mode="false" type="target" handle="22" href="#beae-2zbchevo"><!----><!----><picture image-mode="" class="beae-vvdg beae-image-primary"><source width="580" height="780" src="https://cdn.shopify.com/s/files/1/0285/3732/3629/files/Year-End-Sale.png?v=1764709108" srcset="https://cdn.shopify.com/s/files/1/0285/3732/3629/files/Year-End-Sale.png?v=1764709108" alt="Year-End-Sale" media="(max-width: 768px)"><img src="https://cdn.shopify.com/s/files/1/0285/3732/3629/files/Year-End-Sale-1.png?v=1764683113" alt="Year-End-Sale-1" width="1920" height="1080" fetchpriority="high" loading="lazy"></picture><!----></a><script type="text/javascript">window.BEAEARGS['beae-91k6ga4sblock-image'] = {
    "id": "beae-91k6ga4s",
    "mode": {"value": "live"},
    "autoHover":false
  };</script><!----></div><!----><!----><!----></div><!----><!----></div></div></div><!----><!----><!----><!----><!----><!----></section><!----><script type="text/javascript">window.BEAEARGS['beae-xeckjmjfsection-js'] = {
    "id": "beae-xeckjmjf",
    "mode": {"value": "live"},
    "optionsVideo":{},"optionsVideoMobile":false
  };</script><!----><!----><!----><section id="" data-sectionid="beae-f3nkn2jc" data-width="1718" data-margin="30px" data-margin-mobile="15px" data-type="flexContainer" class="beae-typo-p1 beae-f3nkn2jc section-beae-f3nkn2jc beae-section beae-core" style="--scale-ratio: 0.8573923166472642;"><!----><!----><div class="beae-flexbox beae-typo-p1" style="padding: 0px;"><div class="beae__section--container beae-flexbox-container" style="max-width: var(--beae-page-width, 1470px);"><!----><div class="beae-flexbox-core beae-x-flex-section grid-container-width"><!----><div class="beae-c23jtlx1 beae-block beae-core beae-animation beae-unique-pt10u5hs beae-flex-wrapper" data-id="beae-c23jtlx1" data-uniqueid="pt10u5hs"><!----><!----><!----><div class="beae-85c91es3 beae-block beae-core beae-animation beae-unique-xs5bkn6f beae-scroll-text-container" data-id="beae-85c91es3" data-uniqueid="xs5bkn6f"><!----><div class="beae-marquee-container beae-typo-p1"><div class="beae-marquee-content" data-direction="row"><div data-loop-index="0" class="beae-marquee-item beae-list-item beae-961s8dns"><!----><!----><!----><!----><div class="beae-40nyb8f4 beae-block beae-core beae-animation beae-unique-asgglpb1 beae-marquee-text-prefix" data-id="beae-40nyb8f4" data-loop-index="0" data-uniqueid="asgglpb1"><!----><div class="beae-block beae-x-text beae-typo-h5" data-autolayout="beae-40nyb8f4">{{ 'sections.beae-mls-year-end-sale-25.be112332300045_html' | t }}</div><!----><!----></div><!----><!----></div><div data-loop-index="1" class="beae-marquee-item beae-list-item beae-247wfw07"><!----><!----><!----><!----><div class="beae-40nyb8f4 beae-block beae-core beae-animation beae-unique-x7vd1kqj beae-marquee-text-prefix" data-id="beae-40nyb8f4" data-loop-index="1" data-uniqueid="x7vd1kqj"><!----><div class="beae-block beae-x-text beae-typo-h5" data-autolayout="beae-40nyb8f4">{{ 'sections.beae-mls-year-end-sale-25.be111491936954_html' | t }}</div><!----><!----></div><!----><!----></div><div data-loop-index="2" class="beae-marquee-item beae-list-item beae-8y3hpge9"><!----><!----><!----><!----><div class="beae-40nyb8f4 beae-block beae-core beae-animation beae-unique-cvpnn1qz beae-marquee-text-prefix" data-id="beae-40nyb8f4" data-loop-index="2" data-uniqueid="cvpnn1qz"><!----><div class="beae-block beae-x-text beae-typo-h5" data-autolayout="beae-40nyb8f4">{{ 'sections.beae-mls-year-end-sale-25.be147664180146_html' | t }}</div><!----><!----></div><!----><!----></div></div></div><script type="text/javascript">window.BEAEARGS['beae-85c91es3'] = {
    "id": "beae-85c91es3",
    "mode": {"value": "live"},
    "direction":"left-center","prefixTypo":"beae-typo-h6","speed":15,"disabled":false
  };</script><!----></div><!----><!----><!----></div><!----><!----><!----><!----></div></div></div><!----><!----><!----><!----><!----><!----></section><!----><script type="text/javascript">window.BEAEARGS['beae-f3nkn2jcsection-js'] = {
    "id": "beae-f3nkn2jc",
    "mode": {"value": "live"},
    "optionsVideo":{"src":"https://www.youtube.com/watch?v=aq7Is03HuXw","loadingVideoType":"none"},"optionsVideoMobile":{}
  };</script><!----><!----><!----><section id="" data-sectionid="beae-8qkihw0n" data-width="1920" data-margin="30px" data-margin-mobile="15px" data-type="slideShow" class="beae-typo-p1 beae-8qkihw0n section-beae-8qkihw0n beae-section beae-core"><!----><!----><div class="beae-flexbox beae-typo-p1" style="padding: 0px;"><div class="beae-x-slideshow beae__section--full" style="margin: 0px auto; max-width: 100%;"><!----><style type="text/css"></style><div class="beae-slider-wrapper beae-slider slider-beae-8qkihw0n items-per-1" data-draggable="true" data-desktop-layout="slider" data-mobile-layout="slider" data-effect="slide" data-pagination="true" data-navigation="false" style="--items-per: 1; --items-per-mobile: 1; --items-gap: 0px; --items-gap-mobile: 0px; --autoplay-delay: 5s;"><div class="beae-slider-content beae-slider-items"><div class="beae-slider-item active slide-beae-1a13np0u" data-index="0"><!----><div class="beae-slide-wrap"><div class="beae-1a13np0u beae-slide-content"><!----><!----><div class="beae-mvaxyox0 beae-block beae-core beae-unique-z4lydwbc beae-x-video beae-prevent-system" data-id="beae-mvaxyox0" data-uniqueid="z4lydwbc" source="youtube"><!----><div class="beae-x-video--wrapper"><!----><div class="beae-block_video-player beae-prevent-system"><iframe id="beae-mvaxyox0" target="do not remove" class="beae_iframe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" src="https://www.youtube.com/embed/jRs3nT5O8x0?version=3&amp;controls=0&amp;mute=1&amp;showinfo=0&amp;iv_load_policy=3&amp;playlist=jRs3nT5O8x0"></iframe></div><button class="beae-close-video" is="close-button" aria-label="Close"><svg role="presentation" stroke-width="2" focusable="false" width="24" height="24" viewBox="0 0 24 24"><path d="M17.658 6.343 6.344 17.657M17.658 17.657 6.344 6.343" stroke="currentColor"></path></svg></button><script type="text/javascript">window.BEAEARGS['beae-mvaxyox0block-video'] = {
    "id": "beae-mvaxyox0",
    "mode": {"value": "live"},
    "id":"beae-mvaxyox0","uniqueId":"","source":"youtube","mute":true,"loop":true,"autoplay":true,"srcYoutube":"https://www.youtube.com/embed/jRs3nT5O8x0?si=10qnTH4PKiM7iKK9","lightbox":false,"player_controls":false,"extendOptions":"{}"
  };</script></div><!----></div><!----><!----><!----></div><!----></div></div><div class="beae-slider-item slide-beae-bwmnc6wq" data-index="1"><!----><div class="beae-slide-wrap"><div class="beae-bwmnc6wq beae-slide-content"><!----><!----><div class="beae-wp3ltooo beae-block beae-core beae-unique-zsx74hdd beae-x-video beae-prevent-system" data-id="beae-wp3ltooo" data-uniqueid="zsx74hdd" source="youtube"><!----><div class="beae-x-video--wrapper"><!----><div class="beae-block_video-player beae-prevent-system"><iframe id="beae-wp3ltooo" target="do not remove" class="beae_iframe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" src="https://www.youtube.com/embed/6rjnX1mXktg?version=3&amp;controls=0&amp;mute=1&amp;showinfo=0&amp;iv_load_policy=3&amp;playlist=6rjnX1mXktg"></iframe></div><button class="beae-close-video" is="close-button" aria-label="Close"><svg role="presentation" stroke-width="2" focusable="false" width="24" height="24" viewBox="0 0 24 24"><path d="M17.658 6.343 6.344 17.657M17.658 17.657 6.344 6.343" stroke="currentColor"></path></svg></button><script type="text/javascript">window.BEAEARGS['beae-wp3ltoooblock-video'] = {
    "id": "beae-wp3ltooo",
    "mode": {"value": "live"},
    "id":"beae-wp3ltooo","uniqueId":"","source":"youtube","mute":true,"loop":true,"autoplay":true,"srcYoutube":"https://youtube.com/embed/6rjnX1mXktg?si=saSgsPhn87omg9Mu","lightbox":false,"player_controls":false,"extendOptions":"{}"
  };</script></div><!----></div><!----><!----><!----></div><!----></div></div></div><div class="beae-slider-controls"><div class="beae-slider-controls-wrp"><!----><!----><div class="beae-slider-pagination-wrp"></div><!----></div></div></div><script type="text/javascript">window.BEAEARGS['beae-8qkihw0nsection-slide-show'] = {
    "id": "beae-8qkihw0n",
    "mode": {"value": "live"},
    "layout":"slider","layoutMobile":"slider","effect":"slide","isLoop":true,"autoPlay":true,"autoPlayDelay":5,"itemsPerSlide":1,"itemsPerSlideMobile":1,"itemsGap":0,"itemsGapMobile":0,"paginationImage":false,"paginationImageMobile":false,"typeScroll":"default","numItemsScroll":1,"showNavigation":false,"showPagination":true,"showProgress":false,"hookSliderInit":"","hookBeforeSlideChange":"","hookAfterSlideChange":"\n  let device = window.innerWidth >= 768 ? 'desktop' : 'mobile';\n  let bgVideo = data.nextSlide ? data.nextSlide.querySelector('.beae-section-background-video[data-device=\"' + device + '\"] video') : null;\n  let bgIframe = data.nextSlide ? data.nextSlide.querySelector('.beae-section-background-video[data-device=\"' + device + '\"] iframe') : null;\n    if (bgVideo) {\n      const setupVideo = () => {\n        bgVideo.currentTime = 0;\n        bgVideo.play();\n        if (data.data.autoPlay) {\n          data.slider.setAttribute('data-video-duration', bgVideo.duration);\n          data.slider.setAttribute('data-video-background', 'true');\n          data.slider.setAttribute('data-stop-autoplay', 'true');\n          bgVideo.onended = () => {\n            data.nextSlider();\n          };\n        }\n      };\n\n      if (bgVideo.readyState >= 1) {\n        setupVideo();\n      } else {\n        bgVideo.onloadedmetadata = setupVideo;\n      }\n    } else if (bgIframe) {\n      const setupIframe = () => {\n        if (data.data.autoPlay) {\n          data.slider.setAttribute('data-video-background', 'true');\n          data.slider.setAttribute('data-stop-autoplay', 'true');\n          \n          let src = bgIframe.src;\n          if (!src.includes('autoplay=1')) {\n            bgIframe.src = src.includes('?') ? (src + '&autoplay=1') : (src + '?autoplay=1');\n          }else {\n            bgIframe.src = src;\n          }\n        }\n      };\n      setupIframe();\n    } else if (data.data.autoPlay) {\n      data.slider.removeAttribute('data-video-duration');\n      data.slider.removeAttribute('data-video-background');\n      data.slider.removeAttribute('data-stop-autoplay');\n    }\n  ","noRunJs":false,"itemGap":0,"itemGapMobile":0
  };</script></div></div><!----><!----><!----><!----><!----><!----></section><!----><script type="text/javascript">window.BEAEARGS['beae-8qkihw0nsection-js'] = {
    "id": "beae-8qkihw0n",
    "mode": {"value": "live"},
    "optionsVideo":{},"optionsVideoMobile":false
  };</script><!----><!----><!----><section id="" data-sectionid="beae-wbqlv7yh" data-width="1467" data-margin="30px" data-margin-mobile="15px" data-type="flexContainer" class="beae-typo-p1 beae-wbqlv7yh section-beae-wbqlv7yh beae-section beae-core" style="--scale-ratio: 1;"><!----><!----><div class="beae-flexbox beae-typo-p1" style="padding: 0px;"><div class="beae__section--container beae-flexbox-container" style="max-width: var(--beae-page-width, 1470px);"><!----><div class="beae-flexbox-core beae-x-flex-section grid-container-width"><!----><div class="beae-yuss4h1w beae-block beae-core beae-animation beae-unique-sc9ujz6u beae-flex-wrapper" data-id="beae-yuss4h1w" data-uniqueid="sc9ujz6u"><!----><!----><!----><div class="beae-nmdb5gn3 beae-block beae-core beae-animation beae-unique-pmd10whu beae-x-video beae-prevent-system" data-id="beae-nmdb5gn3" data-uniqueid="pmd10whu" source="youtube"><!----><div class="beae-x-video--wrapper"><!----><div class="beae-block_video-player beae-prevent-system"><iframe id="beae-nmdb5gn3" target="do not remove" class="beae_iframe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" src="https://www.youtube.com/embed/jRs3nT5O8x0?version=3&amp;controls=1&amp;mute=1&amp;showinfo=0&amp;iv_load_policy=3&amp;playlist=jRs3nT5O8x0"></iframe></div><button class="beae-close-video" is="close-button" aria-label="Close"><svg role="presentation" stroke-width="2" focusable="false" width="24" height="24" viewBox="0 0 24 24"><path d="M17.658 6.343 6.344 17.657M17.658 17.657 6.344 6.343" stroke="currentColor"></path></svg></button><script type="text/javascript">window.BEAEARGS['beae-nmdb5gn3block-video'] = {
    "id": "beae-nmdb5gn3",
    "mode": {"value": "live"},
    "id":"beae-nmdb5gn3","uniqueId":"","source":"youtube","mute":true,"loop":true,"autoplay":false,"srcYoutube":"https://youtube.com/embed/jRs3nT5O8x0?si=10qnTH4PKiM7iKK9","lightbox":false,"player_controls":true,"extendOptions":"{}"
  };</script></div><!----></div><!----><!----><!----></div><!----><!----><!----><div class="beae-ubq948ba beae-block beae-core beae-animation beae-unique-fenlunid beae-flex-wrapper" data-id="beae-ubq948ba" data-uniqueid="fenlunid"><!----><!----><!----><div class="beae-6w3ahre2 beae-block beae-core beae-animation beae-unique-06862z5p beae-x-video beae-prevent-system" data-id="beae-6w3ahre2" data-uniqueid="06862z5p" source="youtube"><!----><div class="beae-x-video--wrapper"><!----><div class="beae-block_video-player beae-prevent-system"><iframe id="beae-6w3ahre2" target="do not remove" class="beae_iframe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" src="https://www.youtube.com/embed/6rjnX1mXktg?version=3&amp;controls=1&amp;showinfo=0&amp;iv_load_policy=3&amp;playlist=6rjnX1mXktg"></iframe></div><button class="beae-close-video" is="close-button" aria-label="Close"><svg role="presentation" stroke-width="2" focusable="false" width="24" height="24" viewBox="0 0 24 24"><path d="M17.658 6.343 6.344 17.657M17.658 17.657 6.344 6.343" stroke="currentColor"></path></svg></button><script type="text/javascript">window.BEAEARGS['beae-6w3ahre2block-video'] = {
    "id": "beae-6w3ahre2",
    "mode": {"value": "live"},
    "id":"beae-6w3ahre2","uniqueId":"","source":"youtube","mute":false,"autoplay":true,"srcYoutube":"https://youtube.com/embed/6rjnX1mXktg?si=saSgsPhn87omg9Mu","lightbox":false,"player_controls":true,"extendOptions":"{}"
  };</script></div><!----></div><!----><!----><!----></div><!----><!----><!----><!----></div></div></div><!----><!----><!----><!----><!----><!----></section><!----><script type="text/javascript">window.BEAEARGS['beae-wbqlv7yhsection-js'] = {
    "id": "beae-wbqlv7yh",
    "mode": {"value": "live"},
    "optionsVideo":{},"optionsVideoMobile":false
  };</script><!----><section id="" data-sectionid="beae-rt4dk98x" data-width="1692" data-margin="30px" data-margin-mobile="15px" data-type="flexContainer" class="beae-typo-p1 beae-rt4dk98x section-beae-rt4dk98x beae-section beae-core" style="--scale-ratio: 0.8800236406619385;"><!----><!----><div class="beae-flexbox beae-typo-p1" style="padding: 0px;"><div class="beae__section--container beae-flexbox-container" style="max-width: var(--beae-page-width, 1470px);"><!----><div class="beae-flexbox-core beae-x-flex-section grid-container-width"><!----><div class="beae-duu7v4pi beae-block beae-core beae-animation beae-unique-f8j1rwax beae-flex-wrapper" data-id="beae-duu7v4pi" data-uniqueid="f8j1rwax"><!----><!----><!----><!----><!----><div class="beae-pwr302ln beae-block beae-core beae-animation beae-unique-n7b49kv2 beae-flexbox-core beae-x-button" data-id="beae-pwr302ln" data-uniqueid="n7b49kv2"><!----><a href="#beae-2zbchevo" class="beae-btn-pr beae-button-js"><span class="beae-btn-txt">{{ 'sections.beae-mls-year-end-sale-25.be1647640125_html' | t }} <!----></span></a><!----><script type="text/javascript">window.BEAEARGS['beae-pwr302lnbutton-js'] = {
    "id": "beae-pwr302ln",
    "mode": {"value": "live"},
    "id":"beae-pwr302ln","pageContent":"","extendOptions":"{}","type":"target","url":"#beae-f7yp6l3g","handle":"22"
  };</script><!----></div><!----><!----><!----></div><!----><!----></div></div></div><!----><!----><!----><!----><!----><!----></section><!----><script type="text/javascript">window.BEAEARGS['beae-rt4dk98xsection-js'] = {
    "id": "beae-rt4dk98x",
    "mode": {"value": "live"},
    "optionsVideo":false,"optionsVideoMobile":false
  };</script><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><section id="" data-sectionid="beae-9cv9rmpz" data-width="1467" data-margin="30px" data-margin-mobile="15px" data-type="flexContainer" class="beae-typo-p1 beae-9cv9rmpz section-beae-9cv9rmpz beae-section beae-core" style="--scale-ratio: 1;"><!----><!----><div class="beae-flexbox beae-typo-p1" style="padding: 0px;"><div class="beae__section--container beae-flexbox-container" style="max-width: var(--beae-page-width, 1470px);"><!----><div class="beae-flexbox-core beae-x-flex-section grid-container-width"><!----><div class="beae-zxbtzoop beae-block beae-core beae-animation beae-unique-hu93hqob" data-id="beae-zxbtzoop" data-uniqueid="hu93hqob"><!----><div class="beae-block beae-x-text beae-typo-h3" data-autolayout="beae-zxbtzoop">{{ 'sections.beae-mls-year-end-sale-25.be398802549_html' | t }}</div><!----><!----></div><!----><!----><!----><div class="beae-vuv2upkb beae-block beae-core beae-animation beae-unique-v35htqbw" data-id="beae-vuv2upkb" data-uniqueid="v35htqbw""><!----><style type="text/css"></style><div class="beae-slider-wrapper beae-slider slider-beae-vuv2upkb items-per-3" data-draggable="true" data-desktop-layout="slider" data-mobile-layout="slider" data-effect="slide" data-pagination="true" data-navigation="true" style="--items-per: 3; --items-per-mobile: 1; --items-gap: 20px; --items-gap-mobile: 20px; --autoplay-delay: 5s;"><div class="beae-slider-content beae-slider-items"><div data-loop-index="0" class="beae-list-item beae-sby1htyc"><!----><!----><div class="beae-zvnp3t2y beae-block beae-core beae-unique-u4sdhs09" data-id="beae-zvnp3t2y" data-loop-index="0" data-uniqueid="u4sdhs09"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-zvnp3t2y">{{ 'sections.beae-mls-year-end-sale-25.be18852344_html' | t }}</div><!----><!----></div><!----><!----><!----><div class="beae-e34gkbqf beae-block beae-core beae-unique-8qejw65n beae-flex-wrapper" data-id="beae-e34gkbqf" data-loop-index="0" data-uniqueid="8qejw65n"><!----><!----><!----><div class="beae-kvzy4tkj beae-block beae-core beae-unique-2m377n87 beae-x-icon" data-id="beae-kvzy4tkj" data-loop-index="0" data-uniqueid="2m377n87"><!----><div class="beae-elm__ic"><svg fill="currentColor" xmlns="http: //www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg></div><!----></div><!----><!----><!----><div class="beae-foqfhom3 beae-block beae-core beae-unique-sip383vw beae-x-icon" data-id="beae-foqfhom3" data-loop-index="0" data-uniqueid="sip383vw"><!----><div class="beae-elm__ic"><svg fill="currentColor" xmlns="http: //www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg></div><!----></div><!----><!----><!----><div class="beae-ubx4ix85 beae-block beae-core beae-unique-6y3sndzb beae-x-icon" data-id="beae-ubx4ix85" data-loop-index="0" data-uniqueid="6y3sndzb"><!----><div class="beae-elm__ic"><svg fill="currentColor" xmlns="http: //www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg></div><!----></div><!----><!----><!----><div class="beae-bh32781v beae-block beae-core beae-unique-ya8ezfy5 beae-x-icon" data-id="beae-bh32781v" data-loop-index="0" data-uniqueid="ya8ezfy5"><!----><div class="beae-elm__ic"><svg fill="currentColor" xmlns="http: //www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg></div><!----></div><!----><!----><!----><div class="beae-co3kny9w beae-block beae-core beae-unique-vyqd5dcp beae-x-icon" data-id="beae-co3kny9w" data-loop-index="0" data-uniqueid="vyqd5dcp"><!----><div class="beae-elm__ic"><svg fill="currentColor" xmlns="http: //www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg></div><!----></div><!----><!----><!----></div><!----><!----><!----><div class="beae-bm18qk7n beae-block beae-core beae-unique-ftj8gui0" data-id="beae-bm18qk7n" data-loop-index="0" data-uniqueid="ftj8gui0"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-bm18qk7n">{{ 'sections.beae-mls-year-end-sale-25.be18852344_html' | t }}</div><!----><!----></div><!----><!----><!----><div class="beae-tw5itjmm beae-block beae-core beae-unique-99j6ja9y" data-id="beae-tw5itjmm" data-loop-index="0" data-uniqueid="99j6ja9y"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-tw5itjmm">{{ 'sections.beae-mls-year-end-sale-25.be1788652834_html' | t }}</div><!----><!----></div><!----><!----><!----><div class="beae-jakevosb beae-block beae-core beae-unique-qn9b37ln" data-id="beae-jakevosb" data-loop-index="0" data-uniqueid="qn9b37ln"><!----><div class="beae-block beae-x-text beae-typo-h6" data-autolayout="beae-jakevosb">{{ 'sections.beae-mls-year-end-sale-25.be1263934748_html' | t }}</div><!----><!----></div><!----><!----><!----><!----><!----><div class="beae-342jrrrz beae-block beae-core beae-unique-7jkqjdfx" data-id="beae-342jrrrz" data-loop-index="0" data-uniqueid="7jkqjdfx"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-342jrrrz">{{ 'sections.beae-mls-year-end-sale-25.be1582768462_html' | t }}</div><!----><!----></div><!----><!----><!----><div class="beae-taykzky8 beae-block beae-core beae-unique-aem6tdn7" data-id="beae-taykzky8" data-loop-index="0" data-uniqueid="aem6tdn7"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-taykzky8">{{ 'sections.beae-mls-year-end-sale-25.be18852344_html' | t }}</div><!----><!----></div><!----><!----></div><div data-loop-index="1" class="beae-list-item beae-bqtipfc9"><!----><!----><div class="beae-zvnp3t2y beae-block beae-core beae-unique-lwvf987y" data-id="beae-zvnp3t2y" data-loop-index="1" data-uniqueid="lwvf987y"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-zvnp3t2y">{{ 'sections.beae-mls-year-end-sale-25.be18852344_html' | t }}</div><!----><!----></div><!----><!----><!----><div class="beae-e34gkbqf beae-block beae-core beae-unique-tmp1278f beae-flex-wrapper" data-id="beae-e34gkbqf" data-loop-index="1" data-uniqueid="tmp1278f"><!----><!----><!----><div class="beae-kvzy4tkj beae-block beae-core beae-unique-70kslbaj beae-x-icon" data-id="beae-kvzy4tkj" data-loop-index="1" data-uniqueid="70kslbaj"><!----><div class="beae-elm__ic"><svg fill="currentColor" xmlns="http: //www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg></div><!----></div><!----><!----><!----><div class="beae-foqfhom3 beae-block beae-core beae-unique-y851trr7 beae-x-icon" data-id="beae-foqfhom3" data-loop-index="1" data-uniqueid="y851trr7"><!----><div class="beae-elm__ic"><svg fill="currentColor" xmlns="http: //www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg></div><!----></div><!----><!----><!----><div class="beae-ubx4ix85 beae-block beae-core beae-unique-ix9kytxl beae-x-icon" data-id="beae-ubx4ix85" data-loop-index="1" data-uniqueid="ix9kytxl"><!----><div class="beae-elm__ic"><svg fill="currentColor" xmlns="http: //www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg></div><!----></div><!----><!----><!----><div class="beae-bh32781v beae-block beae-core beae-unique-2e4ct7rj beae-x-icon" data-id="beae-bh32781v" data-loop-index="1" data-uniqueid="2e4ct7rj"><!----><div class="beae-elm__ic"><svg fill="currentColor" xmlns="http: //www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg></div><!----></div><!----><!----><!----><div class="beae-co3kny9w beae-block beae-core beae-unique-gi9qzkjx beae-x-icon" data-id="beae-co3kny9w" data-loop-index="1" data-uniqueid="gi9qzkjx"><!----><div class="beae-elm__ic"><svg fill="currentColor" xmlns="http: //www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg></div><!----></div><!----><!----><!----></div><!----><!----><!----><div class="beae-bm18qk7n beae-block beae-core beae-unique-u86fh47d" data-id="beae-bm18qk7n" data-loop-index="1" data-uniqueid="u86fh47d"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-bm18qk7n">{{ 'sections.beae-mls-year-end-sale-25.be18852344_html' | t }}</div><!----><!----></div><!----><!----><!----><div class="beae-tw5itjmm beae-block beae-core beae-unique-1cdfjc2q" data-id="beae-tw5itjmm" data-loop-index="1" data-uniqueid="1cdfjc2q"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-tw5itjmm">{{ 'sections.beae-mls-year-end-sale-25.be622157809_html' | t }}</div><!----><!----></div><!----><!----><!----><div class="beae-jakevosb beae-block beae-core beae-unique-jrqkkl12" data-id="beae-jakevosb" data-loop-index="1" data-uniqueid="jrqkkl12"><!----><div class="beae-block beae-x-text beae-typo-h6" data-autolayout="beae-jakevosb">{{ 'sections.beae-mls-year-end-sale-25.be1770699366_html' | t }}</div><!----><!----></div><!----><!----><!----><!----><!----><div class="beae-342jrrrz beae-block beae-core beae-unique-qn3kl23h" data-id="beae-342jrrrz" data-loop-index="1" data-uniqueid="qn3kl23h"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-342jrrrz">{{ 'sections.beae-mls-year-end-sale-25.be170433177140_html' | t }}</div><!----><!----></div><!----><!----><!----><div class="beae-taykzky8 beae-block beae-core beae-unique-z2ckb17i" data-id="beae-taykzky8" data-loop-index="1" data-uniqueid="z2ckb17i"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-taykzky8">{{ 'sections.beae-mls-year-end-sale-25.be18852344_html' | t }}</div><!----><!----></div><!----><!----></div><div data-loop-index="2" class="beae-list-item beae-xyaec6h6"><!----><!----><div class="beae-zvnp3t2y beae-block beae-core beae-unique-1oksu0mf" data-id="beae-zvnp3t2y" data-loop-index="2" data-uniqueid="1oksu0mf"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-zvnp3t2y">{{ 'sections.beae-mls-year-end-sale-25.be18852344_html' | t }}</div><!----><!----></div><!----><!----><!----><div class="beae-e34gkbqf beae-block beae-core beae-unique-xoj9eyj8 beae-flex-wrapper" data-id="beae-e34gkbqf" data-loop-index="2" data-uniqueid="xoj9eyj8"><!----><!----><!----><div class="beae-kvzy4tkj beae-block beae-core beae-unique-texoi96t beae-x-icon" data-id="beae-kvzy4tkj" data-loop-index="2" data-uniqueid="texoi96t"><!----><div class="beae-elm__ic"><svg fill="currentColor" xmlns="http: //www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg></div><!----></div><!----><!----><!----><div class="beae-foqfhom3 beae-block beae-core beae-unique-16gky1n8 beae-x-icon" data-id="beae-foqfhom3" data-loop-index="2" data-uniqueid="16gky1n8"><!----><div class="beae-elm__ic"><svg fill="currentColor" xmlns="http: //www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg></div><!----></div><!----><!----><!----><div class="beae-ubx4ix85 beae-block beae-core beae-unique-c4pquxlv beae-x-icon" data-id="beae-ubx4ix85" data-loop-index="2" data-uniqueid="c4pquxlv"><!----><div class="beae-elm__ic"><svg fill="currentColor" xmlns="http: //www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg></div><!----></div><!----><!----><!----><div class="beae-bh32781v beae-block beae-core beae-unique-vafgq335 beae-x-icon" data-id="beae-bh32781v" data-loop-index="2" data-uniqueid="vafgq335"><!----><div class="beae-elm__ic"><svg fill="currentColor" xmlns="http: //www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg></div><!----></div><!----><!----><!----><div class="beae-co3kny9w beae-block beae-core beae-unique-dqq16vmb beae-x-icon" data-id="beae-co3kny9w" data-loop-index="2" data-uniqueid="dqq16vmb"><!----><div class="beae-elm__ic"><svg fill="currentColor" xmlns="http: //www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg></div><!----></div><!----><!----><!----></div><!----><!----><!----><div class="beae-bm18qk7n beae-block beae-core beae-unique-9dor4pfp" data-id="beae-bm18qk7n" data-loop-index="2" data-uniqueid="9dor4pfp"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-bm18qk7n">{{ 'sections.beae-mls-year-end-sale-25.be18852344_html' | t }}</div><!----><!----></div><!----><!----><!----><div class="beae-tw5itjmm beae-block beae-core beae-unique-3kxcvus7" data-id="beae-tw5itjmm" data-loop-index="2" data-uniqueid="3kxcvus7"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-tw5itjmm">{{ 'sections.beae-mls-year-end-sale-25.be767536982_html' | t }}</div><!----><!----></div><!----><!----><!----><div class="beae-jakevosb beae-block beae-core beae-unique-8n659pfe" data-id="beae-jakevosb" data-loop-index="2" data-uniqueid="8n659pfe"><!----><div class="beae-block beae-x-text beae-typo-h6" data-autolayout="beae-jakevosb">{{ 'sections.beae-mls-year-end-sale-25.be497994584_html' | t }}</div><!----><!----></div><!----><!----><!----><!----><!----><div class="beae-342jrrrz beae-block beae-core beae-unique-cs7qe1g5" data-id="beae-342jrrrz" data-loop-index="2" data-uniqueid="cs7qe1g5"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-342jrrrz">{{ 'sections.beae-mls-year-end-sale-25.be497994584_html' | t }}</div><!----><!----></div><!----><!----><!----><div class="beae-taykzky8 beae-block beae-core beae-unique-dxnw9uqt" data-id="beae-taykzky8" data-loop-index="2" data-uniqueid="dxnw9uqt"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-taykzky8">{{ 'sections.beae-mls-year-end-sale-25.be18852344_html' | t }}</div><!----><!----></div><!----><!----></div></div><div class="beae-slider-controls"><div class="beae-slider-controls-wrp"><div class="beae-slider-indicator"><div class="beae-slider-progress"></div></div><div class="beae-slider-nav-left"><button aria-label="button" type="button"><svg xmlns="http: //www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><polyline points="15 18 9 12 15 6"></polyline></svg></button></div><div class="beae-slider-pagination-wrp"></div><div class="beae-slider-nav-right"><button aria-label="button" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><polyline points="9 18 15 12 9 6"></polyline></svg></button></div></div></div></div><script type="text/javascript">window.BEAEARGS['beae-vuv2upkbsection-slide-show'] = {
    "id": "beae-vuv2upkb",
    "mode": {"value": "live"},
    "layout":"slider","layoutMobile":"slider","effect":"slide","isLoop":true,"autoPlay":true,"autoPlayDelay":5,"itemsPerSlide":3,"itemsPerSlideMobile":1,"itemsGap":"20px","itemsGapMobile":"20px","paginationImage":false,"paginationImageMobile":false,"typeScroll":"specific","numItemsScroll":1,"showNavigation":true,"showPagination":true,"showProgress":true,"hookSliderInit":"","hookBeforeSlideChange":"","hookAfterSlideChange":"","noRunJs":false
  };</script><!----></div><!----><!----></div></div></div><!----><!----><!----><!----><!----><!----></section><!----><script type="text/javascript">window.BEAEARGS['beae-9cv9rmpzsection-js'] = {
    "id": "beae-9cv9rmpz",
    "mode": {"value": "live"},
    "optionsVideo":{},"optionsVideoMobile":false
  };</script><!----><section id="" data-sectionid="beae-av8fyama" data-width="1467" data-margin="30px" data-margin-mobile="15px" data-type="flexContainer" class="beae-typo-p1 beae-av8fyama section-beae-av8fyama beae-section beae-core" style="--scale-ratio: 1;"><!----><!----><div class="beae-flexbox beae-typo-p1" style="padding: 0px;"><div class="beae__section--container beae-flexbox-container" style="max-width: var(--beae-page-width, 1470px);"><!----><div class="beae-flexbox-core beae-x-flex-section grid-container-width"><!----><div class="beae-kqm8sstr beae-block beae-core beae-animation beae-unique-u25luyly" data-id="beae-kqm8sstr" data-uniqueid="u25luyly"><!----><div class="beae-block beae-x-text beae-typo-h3" data-autolayout="beae-kqm8sstr">{{ 'sections.beae-mls-year-end-sale-25.be1325289128_html' | t }}</div><!----><!----></div><!----><!----><!----><div class="beae-k4c4zk1o beae-block beae-core beae-animation beae-unique-qxvm5ezn" data-id="beae-k4c4zk1o" data-uniqueid="qxvm5ezn""><!----><!----><div class="beae-flexbox-core beae-x-collection-list"><style type="text/css"></style><div class="beae-slider-wrapper beae-slider slider-beae-k4c4zk1o items-per-3" data-draggable="true" data-desktop-layout="grid" data-mobile-layout="grid" data-effect="slide" data-pagination="true" data-navigation="true" style="--items-per: 3; --items-per-mobile: 1; --items-gap: 20px; --items-gap-mobile: 20px; --autoplay-delay: 5s;"><div class="beae-slider-content beae-slider-items">
        {% liquid
          assign tmp_collection = collection
          assign selected_collections = "year-end-sale-steaks,year-end-lamb-and-mutton,year-end-chicken,year-end-mixed,year-end-value-boxes,year-end-whole-carcass" | split: ","
          assign image_src = "|||||" | split: "|"
          assign image_width = ",,,,," | split: ","
          assign image_height = ",,,,," | split: ","
          assign index_loop = 0
        %}

        {% for collection_handle in selected_collections %}
          
          {% liquid 
            assign collection = collections[collection_handle] 
          %}
       <div class="beae-slide-item"><div class="beae-collection-card beae-ypvmdrhf"><!----><!----><div class="beae-ryro8pfm beae-block beae-core beae-unique-2303o2c6" data-id="beae-ryro8pfm" data-loop-index="0" data-uniqueid="2303o2c6""><!---->
        
        
        <!----><a class="beae-block beae-x-image beae-container-image beae-image-content-position beae-image-picture beae-image-product" hover-mode="false" href="{{ collection.url }}"><!----><!----><picture image-mode="" class="beae-hjxjn beae-image-primary">
  {% if image_src[index_loop] != blank %}
    <img
        src="{{ image_src[index_loop] }}"
        alt="{{ collection.title | escape | default: 'Collection Image'}}" 
        width="{{ image_width[index_loop] | default: 915 }}"
        height="{{ image_height[index_loop] | default: 915 }}"
        loading="lazy"
      />
  {% else %}
    {% if collection.featured_image %}
    <img
      src="{{ collection.featured_image | img_url: 'master' }}"
      alt="{{ collection.featured_image.alt | escape | default: 'Collection Image'}}"
      width="{{ collection.featured_image.width | default: 915 }}"
      height="{{ collection.featured_image.height | default: 915 }}"
      loading="lazy"
    />
    
    {% else %}
    <img
    src="undefined"
    alt="{{ collection.title | escape | default: 'Collection Image'}}" 
    width="undefined"
    height="undefined"
    loading="lazy"
  />
    {% endif %}
  {% endif %}
  </picture><!----></a><script type="text/javascript">window.BEAEARGS['beae-ryro8pfmblock-image'] = {
    "id": "beae-ryro8pfm",
    "mode": {"value": "live"},
    "autoHover":false
  };</script><!----></div><!----><!----><!----><div class="beae-ubwucr0l beae-block beae-core beae-unique-u7zdcmr2 beae-flex-wrapper" data-id="beae-ubwucr0l" data-loop-index="0" data-uniqueid="u7zdcmr2"><!----><!----><!----><div class="beae-ozswg1ef beae-block beae-core beae-unique-s74ewggd" data-id="beae-ozswg1ef" data-loop-index="0" data-uniqueid="s74ewggd"><!----><div class="beae-block beae-x-text beae-typo-h5" data-autolayout="beae-ozswg1ef"><a class="beae-collection--title" href="{{ collection.url }}">{{ collection.title }}</a></div><!----><!----></div><!----><!----><!----><div class="beae-qoxhtq3n beae-block beae-core beae-unique-xje8416u beae-flex-wrapper" data-id="beae-qoxhtq3n" data-loop-index="0" data-uniqueid="xje8416u"><!----><!----><!----><div class="beae-l9uezo0c beae-block beae-core beae-unique-auaw4q6o beae-flex-wrapper" data-id="beae-l9uezo0c" data-loop-index="0" data-uniqueid="auaw4q6o"><!----><!----><!----><!----><!----><div class="beae-4vcdjxak beae-block beae-core beae-unique-2qrdl2yz beae-btn-wrp" data-id="beae-4vcdjxak" data-loop-index="0" data-uniqueid="2qrdl2yz"><!----><a class="beae-btn-pr beae-flex-view-detail" href="{{ collection.url }}" name="button"><span>{{ 'sections.beae-mls-year-end-sale-25.be747681529_html' | t }}</span><!----></a><!----></div><!----><!----><!----></div><!----><!----><!----></div><!----><!----><!----><div class="beae-7j5vzpag beae-block beae-core beae-unique-zszzj30e beae-flex-wrapper" data-id="beae-7j5vzpag" data-loop-index="0" data-uniqueid="zszzj30e"><!----><!----><div class="beae-flexbox-empty"><!----></div><!----></div><!----><!----><!----></div><!----><!----><!----><!----><!----><!----></div></div> 
          {% liquid 
            assign index_loop = index_loop | plus: 1
            assign image_collection = ''
          %}
          
        {% endfor %}
        {%- assign collection = tmp_collection -%}   
      </div><div class="beae-slider-controls"><div class="beae-slider-controls-wrp"><div class="beae-slider-indicator"><div class="beae-slider-progress"></div></div><div class="beae-slider-nav-left"><button aria-label="button" type="button"><svg xmlns="http: //www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><polyline points="15 18 9 12 15 6"></polyline></svg></button></div><div class="beae-slider-pagination-wrp"></div><div class="beae-slider-nav-right"><button aria-label="button" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><polyline points="9 18 15 12 9 6"></polyline></svg></button></div></div></div></div><script type="text/javascript">window.BEAEARGS['beae-k4c4zk1osection-slide-show'] = {
    "id": "beae-k4c4zk1o",
    "mode": {"value": "live"},
    "layout":"grid","layoutMobile":"grid","effect":"slide","isLoop":true,"autoPlay":false,"autoPlayDelay":5,"itemsPerSlide":3,"itemsPerSlideMobile":1.2,"itemsGap":"20px","itemsGapMobile":"20px","paginationImage":false,"paginationImageMobile":false,"typeScroll":"default","numItemsScroll":1,"showNavigation":true,"showPagination":true,"showProgress":true,"hookSliderInit":"","hookBeforeSlideChange":"","hookAfterSlideChange":"","noRunJs":false
  };</script><!----></div><script type="text/javascript">window.BEAEARGS['beae-k4c4zk1osection-featured-collection'] = {
    "id": "beae-k4c4zk1o",
    "mode": {"value": "live"},
    "mobileMode":false
  };</script><!----></div><!----><!----></div></div></div><!----><!----><!----><!----><!----><!----></section><!----><script type="text/javascript">window.BEAEARGS['beae-av8fyamasection-js'] = {
    "id": "beae-av8fyama",
    "mode": {"value": "live"},
    "optionsVideo":false,"optionsVideoMobile":false
  };</script><!----><!----><!----><section id="" data-sectionid="beae-2zbchevo" data-width="1467" data-margin="30px" data-margin-mobile="15px" data-type="flexContainer" class="beae-typo-p1 beae-2zbchevo section-beae-2zbchevo beae-section beae-core" style="--scale-ratio: 1;"><!----><!----><div class="beae-flexbox beae-typo-p1" style="padding: 0px;"><div class="beae__section--container beae-flexbox-container" style="max-width: var(--beae-page-width, 1470px);"><!----><div class="beae-flexbox-core beae-x-flex-section grid-container-width"><!----><div class="beae-2trwxlt8 beae-block beae-core beae-animation beae-unique-qq4ql3q5" data-id="beae-2trwxlt8" data-uniqueid="qq4ql3q5"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-2trwxlt8">{{ 'sections.beae-mls-year-end-sale-25.be1285521613_html' | t }}</div><!----><!----></div><!----><!----><!----><div class="beae-v88v5m0o beae-block beae-core beae-animation beae-unique-dh852p17" data-id="beae-v88v5m0o" data-uniqueid="dh852p17""><!----><div class="beae-featured-collection-header beae-animation"><!----><!----></div><div class="beae-money-format" style="display: none;">{% if settings.currency_code_enabled %}{{ shop.money_with_currency_format | escape }}{% else %}{{ shop.money_format | escape }}{% endif %}</div><div class="beae-flexbox-core beae-x-featured_collection grid-container-width"><div class="beae-featured_collection-wrp">
        {% liquid
          assign tmp_collection = collection
          assign tmp_product = product
          assign beae_maximum_items = 10
          assign beae_swatch_type = "color"
          assign beae_swatches_max_items = 4
          assign beae_price_badged = 'sale'
          assign beae_badged = 'percent'
          assign beae_tags_limit = '5'
          assign beae_show_when_hover = false
          assign beae_custom_badged_source = 'tags'
          assign beae_custom_badged_tag = 'AED|New|Sale|'
          assign beae_cart_variant_type = ''
          assign beae_quick_add_variant_selector = ''
          assign beae_quick_add_variant_type = ''
          assign beae_cart_variant_name = ''
          assign beae_cart_exclude = ''
          assign beae_variant_name_option = ''
          assign beae_variant_name_type = 'name'
          assign beae_option_values_swatch = ''
          assign beae_source_types_swatch = ''
          assign beae_option_values_quick_add = ''
          assign beae_source_types_quick_add = ''
        %}

        {%- capture beae_add_to_cart_text -%}{{ 'sections.beae-mls-year-end-sale-25.be649020154_html' | t }}{%- endcapture -%}
        {%- capture beae_sold_out_text -%}{{ 'sections.beae-mls-year-end-sale-25.be1538394658_html' | t }}{%- endcapture -%}
        {%- capture beae_swatches_name -%}{%- endcapture -%}
        {%- capture beae_choose_options_text -%}{{ 'sections.beae-mls-year-end-sale-25.be719299147_html' | t }}{%- endcapture -%}
      
          {% assign selected_collections = "year-end-sale-best-sellers" | split: "," %}
          {% for selected_collection in selected_collections %}
            <div class="beae-feature-collection-tab-content beae-featuted-collection-content{% if forloop.index == 1 %} content-active{% endif %}" {% if forloop.index == 1 %}data-active="true"{% endif %} data-handle="{{selected_collection}}">
            {% liquid assign collection = collections[selected_collection] %}
           <style type="text/css"></style><div class="beae-slider-wrapper beae-slider slider-beae-v88v5m0o items-per-4" data-draggable="true" data-desktop-layout="slider" data-mobile-layout="slider" data-effect="slide" data-pagination="false" data-navigation="false" style="--items-per: 4; --items-per-mobile: 2; --items-gap: 25px; --items-gap-mobile: 5px; --autoplay-delay: 5s;"><div class="beae-slider-content beae-slider-items">
          
              {%- if collection != blank -%}
                {%- for product in collection.products limit: beae_maximum_items -%}
                
          
      {% capture beae_custom_badged_metafield %}{{  }}{%- endcapture -%}
        {%- form 'product', product,class: "beae-product-form-next beae-product-form--single", data-product_id: product.id, data-handle: product.handle, data-variant-id: product.selected_or_first_available_variant.id, data-available: product.available -%}
       <div class="beae-product-card beae-qsdzz6x8"><!----><!----><div class="beae-3x95wa5u beae-block beae-core beae-unique-3ijpz2sn" data-id="beae-3x95wa5u" data-loop-index="0" data-uniqueid="3ijpz2sn""><!---->
        
        
        <!----><a class="beae-block beae-x-image beae-container-image beae-image-content-position beae-image-picture beae-image-product" hover-mode="false" href="{{ product.url }}"><!----><!----><picture image-mode="" class="beae-qin3b beae-image-primary">
    {% assign beae_show_image = true %}
    {% if beae_check_product_video == true %} 
      {%- for media in product.media -%}
        {% if media.media_type == 'video' %}
          {% assign beae_show_image = false %}
          <div class="beae-video-product">
            <img
              preview
              style="display: none !important;"
              src="{{ media.preview_image | img_url: 'master' }}"
              alt="{{ media.preview_image.alt | escape | default: 'Product Image' }}"
              width="{{ media.preview_image.width | default: 915 }}"
              height="{{ media.preview_image.height | default: 915 }}"
              loading="lazy"
            />  
              {{ media | video_tag: image_size:'master', class: 'media-video', muted: true, autoPlay: true, loop: true }}
          </div>
          {% break %}
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if beae_show_image == true %}
      <img
        src="{{ product.featured_media | img_url: 'master' }}"
        alt="{{ product.featured_media.alt | escape | default: 'Product Image' }}"
        width="{{ product.featured_media.width | default: 915 }}"
        height="{{ product.featured_media.height | default: 915 }}"
        loading="lazy"
      />
    {% endif %}
  </picture><!----><picture image-mode="" class="beae-qaliw beae-image-secondary">
    {% if product.media.size > 1 %}
      <img
        src="{{ product.media[1] | img_url: 'master' }}"
        alt="{{ product.media[1].alt | escape | default: 'Product Image' }}"
        width="{{ product.media[1].width | default: 915 }}"
        height="{{ product.media[1].height | default: 915 }}"
        loading="lazy"
      />
    {% endif %}
  </picture></a><script type="text/javascript">window.BEAEARGS['beae-3x95wa5ublock-image'] = {
    "id": "beae-3x95wa5u",
    "mode": {"value": "live"},
    "autoHover":false
  };</script><!----></div><!----><!----><!----><div class="beae-9w7b4nyw beae-block beae-core beae-unique-oslqn7pc beae-product-title" data-id="beae-9w7b4nyw" data-loop-index="0" data-uniqueid="oslqn7pc"><!----><div class="beae-block beae-x-text beae-typo-h6" data-product-title="true" data-autolayout="beae-9w7b4nyw"><a href="{{ product.url }}">{{ product.title }}</a></div><!----><!----></div><script type="text/javascript">window.BEAEARGS['beae-9w7b4nywblock-developer'] = {
    "id": "beae-9w7b4nyw",
    "mode": {"value": "live"},
    "title":"{{ product.title }}"
  };</script><!----><!----><div class="beae-9vkz30ci beae-block beae-core beae-unique-4anfem53 beae-flex-wrapper" data-id="beae-9vkz30ci" data-loop-index="0" data-uniqueid="4anfem53"><!----><!----><!----><div class="beae-s5u7vi0x beae-block beae-core beae-unique-hsh18pam beae-x-icon" data-id="beae-s5u7vi0x" data-loop-index="0" data-uniqueid="hsh18pam"><!----><div class="beae-elm__ic"><svg fill="currentColor" xmlns="http: //www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg></div><!----></div><!----><!----><!----><div class="beae-227pdq6i beae-block beae-core beae-unique-ybntzxxf beae-x-icon" data-id="beae-227pdq6i" data-loop-index="0" data-uniqueid="ybntzxxf"><!----><div class="beae-elm__ic"><svg fill="currentColor" xmlns="http: //www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg></div><!----></div><!----><!----><!----><div class="beae-1rqjiw4s beae-block beae-core beae-unique-8hj35xsu beae-x-icon" data-id="beae-1rqjiw4s" data-loop-index="0" data-uniqueid="8hj35xsu"><!----><div class="beae-elm__ic"><svg fill="currentColor" xmlns="http: //www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg></div><!----></div><!----><!----><!----><div class="beae-p5ppg27d beae-block beae-core beae-unique-w8okv3al beae-x-icon" data-id="beae-p5ppg27d" data-loop-index="0" data-uniqueid="w8okv3al"><!----><div class="beae-elm__ic"><svg fill="currentColor" xmlns="http: //www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg></div><!----></div><!----><!----><!----><div class="beae-dyubzpqh beae-block beae-core beae-unique-ho7xs4ty beae-x-icon" data-id="beae-dyubzpqh" data-loop-index="0" data-uniqueid="ho7xs4ty"><!----><div class="beae-elm__ic"><svg fill="currentColor" xmlns="http: //www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg></div><!----></div><!----><!----><!----></div><!----><!----><!----><div class="beae-wr9wc92f beae-block beae-core beae-unique-wzos6odq" data-id="beae-wr9wc92f" data-loop-index="0" data-uniqueid="wzos6odq""><!----><!----><div class="beae-x-price" data-badged="none"><div class="beae-prd-single-price-wrapper"><span class="beae-product-single__price">
    
      {% if product.price_varies and product.compare_at_price %}
        {% assign cheapest_variant = product.variants | sort: 'price' | first %}
        {% capture price_normal %}
          {% if settings.currency_code_enabled %}
            {{ product.selected_or_first_available_variant.price | money_with_currency }}
          {% else %}
            {{ product.selected_or_first_available_variant.price | money }}
          {% endif %}
        {% endcapture %}
        {% capture price_min %}
          {% if settings.currency_code_enabled %}
            {{ cheapest_variant.price | money_with_currency }}
          {% else %}
            {{ cheapest_variant.price | money }}
          {% endif %}
        {% endcapture %}
        {% if cheapest_variant.price < cheapest_variant.compare_at_price %}
          <span class="beae-price-on-sale">
            <span class="beae-price-from">{{ 'sections.beae-mls-year-end-sale-25.be978022322_html' | t: price_min:price_min }}</span>
            <span class="beae-price-normal">{{ 'sections.beae-mls-year-end-sale-25.be1950827197_html' | t: price_normal:price_normal }}</span>
          </span>
        {% else %}
          <span class="beae-price-from">{{ 'sections.beae-mls-year-end-sale-25.be978022322_html' | t: price_min:price_min }}</span>
          <span class="beae-price-normal">{{ 'sections.beae-mls-year-end-sale-25.be1950827197_html' | t: price_normal:price_normal }}</span>
        {% endif %}
      {% elsif product.price < product.compare_at_price %}
        <span class="beae-price-on-sale">{% if settings.currency_code_enabled %}
          {{ product.price | money_with_currency }}
        {% else %}
          {{ product.price | money }}
        {% endif %}</span>
      {% elsif product.price_varies %}
        {% capture price_min %}
          {% if settings.currency_code_enabled %}
            {{ product.price_min | money_with_currency }}
          {% else %}
            {{ product.price_min | money }}
          {% endif %}
        {% endcapture %}
        {% capture price_max %}
          {% if settings.currency_code_enabled %}
            {{ product.price_max | money_with_currency }}
          {% else %}
            {{ product.price_max | money }}
          {% endif %}
        {% endcapture %}
        <span class="beae-price-from">{{ 'sections.beae-mls-year-end-sale-25.be978022322_html' | t: price_min:price_min }}</span>
        <span class="beae-price-normal">{{ 'sections.beae-mls-year-end-sale-25.be1950827197_html' | t: price_normal:price_normal }}</span>
      {% else %}
        {% if settings.currency_code_enabled %}
          {{ product.price | money_with_currency }}
        {% else %}
          {{ product.price | money }}
        {% endif %}
      {% endif %}
      
  </span><span class="beae-product-single__price--regular">{% liquid
    assign print_compare = ''
    if selected_variant != blank   
      if selected_variant.price < selected_variant.compare_at_price
        if settings.currency_code_enabled
          assign print_compare = selected_variant.compare_at_price | money_with_currency
        else
          assign print_compare = selected_variant.compare_at_price | money
        endif
      endif
    else                                                            
      if product.price_varies and product.compare_at_price
        assign cheapest_variant = product.variants | sort: 'price' | first
        if cheapest_variant.price < cheapest_variant.compare_at_price
          if settings.currency_code_enabled
            assign print_compare = cheapest_variant.compare_at_price | money_with_currency
          else
            assign print_compare = cheapest_variant.compare_at_price | money
          endif
        endif
      elsif product.price < product.compare_at_price
        if settings.currency_code_enabled
          assign print_compare = product.compare_at_price | money_with_currency
        else
          assign print_compare = product.compare_at_price | money
        endif
      endif
    endif
  %}{{ print_compare }}</span><span type="none" class="beae-typo-p3 {% liquid
    assign badge_class = ''
    if product.available
      assign checkHidden = true
      if selected_variant != blank
        if selected_variant.price < selected_variant.compare_at_price
          assign checkHidden = false
        endif
      else
        if product.price_varies and product.compare_at_price
          assign cheapest_variant = product.variants | sort: 'price' | first
          if cheapest_variant.price < cheapest_variant.compare_at_price
            assign checkHidden = false
          endif
        elsif product.price < product.compare_at_price
          assign checkHidden = false
        endif
      endif
      if checkHidden
        assign badge_class = 'beae-sale-hidden'
      else
        assign badge_class = 'beae-product-single__price--sale'
      endif
    else
      assign badge_class = 'beae-sale-sold-out'
    endif
  %}{{ badge_class }} beae-product-single__price--badged" data-sale="" data-sold-out="{{ 'sections.beae-mls-year-end-sale-25.be1538363906_html' | t }}"></span></div><div class="beae-product-single__tax-shipping"></div></div><!----></div><!----><!----><!----><!----><!----><div class="beae-fttn3dbo beae-block beae-core beae-unique-jpuh9akd" data-id="beae-fttn3dbo" data-loop-index="0" data-uniqueid="jpuh9akd""><!----><div class="beae-block beae-x-quick-view"><div class="beae-quick-view-wrapper"><button aria-label="button" type="button" class="beae-quick-view-btn beae-btn-pr" data-template="quickview-default"><!----><span class="beae-quick-view-btn-text">{{ 'sections.beae-mls-year-end-sale-25.be649020154_html' | t }}</span></button></div></div><!----></div><!----><!----><script data-id="Product-json-{{ product.id }}" type="application/json" style="display: none;">
    {
      "id":  {{ product.id | json }},
      "title":  {{ product.title | json }},
      "handle":  {{ product.handle | json }},
      "price":  {{ product.price| json }},
      "price_min":  {{ product.price_min| json }},
      "price_max":  {{ product.price_max| json }},
      "price_normal":  {{ product.selected_or_first_available_variant.price| json }},
      "available":  {{ product.available | json }},
      "price_varies":  {{ product.price_varies| json }},
      "compare_at_price":  {{ product.compare_at_price| json }},
      "compare_at_price_min":  {{ product.compare_at_price_min| json }},
      "compare_at_price_max":  {{ product.compare_at_price_max| json }},
      "compare_at_price_varies":  {{ product.compare_at_price_varies| json }},
      "has_only_default_variant":  {{ product.has_only_default_variant | json }},
      "selected_or_first_available_variant":  {{ product.selected_or_first_available_variant | json }},
      "options":  {{ product.options_with_values | json }},
      "variants": [
        {%- for variant in product.variants -%}
          {
            "id":  {{ variant.id | json }},
            "title": " {{ variant.option1 | handleize }}{%- if product.options.size == 2 -%} / {%- endif -%} {{ variant.option2 | handleize }}{%- if product.options.size == 3 -%} / {%- endif -%} {{ variant.option3 | handleize }}",
            "option1":  {{ variant.option1  | json }},
            "option2": {%- if product.options.size == 1 -%}null{%-else-%} {{ variant.option2  | json }}{%-endif-%},
            "option3": {%- if product.options.size == 1 or product.options.size == 2 -%}null{%-else-%} {{ variant.option3  | json }}{%-endif-%},
            "sku":  {{ variant.sku | json }},
            "requires_shipping":  {{ variant.requires_shipping }},
            "taxable":  {{ variant.taxable | json }},
            "selling_plan_allocations":{{variant.selling_plan_allocations | json }},
            "featured_image": {%- if variant.image.id != blank -%}{
              "id":  {{ variant.image.id | json }},
              "product_id":  {{ product.id | json }},
              "width":  {{ variant.image.width | json }},
              "height":  {{ variant.image.height | json }},
              "src":  {{ variant.image.src | json }},
              "position": {{ variant.image.position }}
            }{%- else-%}null{%-endif-%},
            "featured_media": {{ variant.featured_media | json }},
            "available":  {{ variant.available }},
            "public_title": " {{ variant.option1 | handleize }}{%- if product.options.size == 2 -%} / {%- endif -%} {{ variant.option2 | handleize }}{%- if product.options.size == 3 -%} / {%- endif -%} {{ variant.option3 | handleize }}",
            "options":   {{ variant.options | json }},
            "price":  {{ variant.price | json }},
            "weight":  {{ variant.weight | json }},
            "compare_at_price":  {{ variant.compare_at_price | json }},
            "inventory_quantity":  {{ variant.inventory_quantity | json }},
            "inventory_management":  {{ variant.inventory_management | json }},
            "inventory_policy":  {{ variant.inventory_policy | json }},
            "next_incoming_date": {% if variant.next_incoming_date %}{{variant.next_incoming_date | date: "%Y-%m-%d %H:%M" | time_tag | json }}{% else%}null{% endif %},
            "barcode":  {{ variant.barcode | json }},
            "store_availabilities": [
              {%- for variantStore in variant.store_availabilities -%}
                {
                  "location": {
                    "name": {{ variantStore.location.name | json }},
                    "address": {{ variantStore.location.address | json }},
                    "id": {{ variantStore.location.id | json }}
                  },
                  "available": {{ variantStore.available | json }},
                  "pick_up_enabled": {{ variantStore.pick_up_enabled | json }},
                  "pick_up_time": {{ variantStore.pick_up_time | json }}
                }{%- if forloop.last == false -%},{%- endif -%}
              {%- endfor -%}
            ],
            "unit_price":  {{ variant.unit_price | json }},
            "unit_price_measurement":  {
              "measured_type": {{ variant.unit_price_measurement.measured_type | json }},
              "quantity_value": {{ variant.unit_price_measurement.quantity_value | json }},
              "quantity_unit": {{ variant.unit_price_measurement.quantity_unit | json }},
              "reference_value": {{ variant.unit_price_measurement.reference_value | json }},
              "reference_unit": {{ variant.unit_price_measurement.reference_unit | json }}
            }
          }{%- if forloop.last == false -%},{%- endif -%}
        {%- endfor -%}
      ],
      "featured_image":  {{ product.featured_image | json }},
      "size_available":[
        {%- for value in product.options_with_values[0].values -%}
        {%- assign available_ops = product.variants | where: "available" | where: "option1",value -%}
          {{available_ops.size}}{%- unless forloop.last %},{% endunless -%}
        {%- endfor -%}
      ],
      "shopColors": {{ shop.metafields.beae.colors }}
    }
  </script></div> 
                  <input type="hidden" name="sections" value="cart-notification-product,cart-notification-button,cart-icon-bubble">
                  <input type="hidden" name="section_url" value="{{product.handle}}">
            {%- endform -%}
                
      
              
              {%- endfor -%}
            {%- endif -%}
          
          </div><div class="beae-slider-controls"><div class="beae-slider-controls-wrp"><!----><!----><!----><!----></div></div></div><script type="text/javascript">window.BEAEARGS['beae-v88v5m0osection-slide-show'] = {
    "id": "beae-v88v5m0o",
    "mode": {"value": "live"},
    "layout":"slider","layoutMobile":"slider","effect":"slide","isLoop":false,"autoPlay":false,"autoPlayDelay":5,"itemsPerSlide":4,"itemsPerSlideMobile":2,"itemsGap":"25px","itemsGapMobile":"5px","paginationImage":false,"paginationImageMobile":false,"typeScroll":"default","numItemsScroll":1,"showNavigation":false,"showPagination":false,"showProgress":false,"hookSliderInit":"","hookBeforeSlideChange":"","hookAfterSlideChange":"","noRunJs":false
  };</script><!----> 
          </div>
          {%- endfor -%}
        {%- assign collection = tmp_collection -%}    
        {%- assign product = tmp_product -%}    
      <!----></div></div><script type="text/javascript">window.BEAEARGS['beae-v88v5m0osection-featured-collection'] = {
    "id": "beae-v88v5m0o",
    "mode": {"value": "live"},
    "mobileMode":false,"maximumItems":10,"promotionPosition":false
  };</script><!----></div><!----><!----></div></div></div><!----><!----><!----><!----><!----><!----></section><!----><script type="text/javascript">window.BEAEARGS['beae-2zbchevosection-js'] = {
    "id": "beae-2zbchevo",
    "mode": {"value": "live"},
    "optionsVideo":false,"optionsVideoMobile":false
  };</script><!----><!---->
<script type="text/javascript">
  (() => {
    let testText = document.createElement('div');
    testText.innerHTML = 'test';
    testText.style.fontSize = '100px';
    document.body.appendChild(testText);
    let realFontSize = parseFloat(window.getComputedStyle(testText).getPropertyValue('font-size').replace('px', ''));
    testText.style.zoom = '50%';
    let detectDesktopRequestMode = window.getComputedStyle(testText).getPropertyValue('font-size') !== '100px';
    document.body.removeChild(testText);
    
    document.body.style.setProperty('--font-size-ratio', (realFontSize / 100).toString());

    function getTextNodesIn(elem) {
      let textNodes = [];
      if (elem) {
        for (var nodes = elem.childNodes, i = nodes.length; i--;) {
          let node = nodes[i], nodeType = node.nodeType;
          if (nodeType == 1 || nodeType == 9 || nodeType == 11) {
            textNodes = textNodes.concat(getTextNodesIn(node));
          }
        }
      }
      return textNodes;
    }

    let scaleFitGridBlock = () => {

      document.querySelectorAll('.beae-section.beae-core').forEach((sec) => {
        let container = sec.querySelector(".beae__section--container");
        if (!container) { return; };
        let winWidth = document.documentElement.offsetWidth;
        if (winWidth >= 768) {
          sec.querySelectorAll('.beae__section--container').forEach(container => {
            container.parentNode.style.setProperty("--container-width", container.closest('.grid-container-width') ? container.closest('.grid-container-width').parentNode.offsetWidth+'px' : container.offsetWidth+'px');
          });
        }
      });

      document.querySelectorAll('.beae-grid-block').forEach(block => {
       let child = block.querySelector('.beae-block.beae-core > *'),
           zoom = 0,
           count = 0;
        child.style.zoom = '';
        child.style.lineHeight = '';
        while(child.offsetHeight > block.offsetHeight && count < 14 && (zoom === 0 || block.offsetHeight < (child.offsetHeight*zoom))) {
            zoom = (block.offsetHeight+block.offsetWidth)/(child.offsetHeight+child.offsetWidth);
            child.style.zoom = zoom < 1 ? Math.floor(zoom*100)+'%' : '';
            child.style.lineHeight = '2.4rem';
            count++;
        }
      });
    };

    scaleFitGridBlock();
    let timmer = 0;
    window.addEventListener('resize', () => {
      clearTimeout(timmer);
      timmer = setTimeout(scaleFitGridBlock, 150);
    });
    window.addEventListener('load', scaleFitGridBlock);
    
    if (document.getElementById('beae-exported-page-css')) {
      document.getElementById('beae-exported-page-css').addEventListener('load', scaleFitGridBlock);
    }

  })();
</script>
</div></div>{% if section_id == section.id %}{% endif%}
<script id="beae-exported-page-js" src="{{'beae-692ee94dc9b141632a09fc12.js'  | asset_url }}" defer></script>

{% schema %}
{
    "name": "BEAE BUILDER APP",
    "locales": {
        "en": {
            "be76480_html": "N\/A",
            "be427520332_html": "Save { sale }",
            "be1538363906_html": "Sold Out",
            "be1066872809_html": "Save {{ sale }}%",
            "be2569319_html": "Sale",
            "be112332300045_html": "<ul><li>LOVED BY 50,000 MEAT LOVERS<\/li><\/ul>",
            "be111491936954_html": "<ul><li>OMAN\u2019S MOST TRUSTED MEAT BRAND&nbsp;<\/li><\/ul>",
            "be147664180146_html": "<ul><li>100% HALAL &amp; FRESH&nbsp;<\/li><\/ul>",
            "be1647640125_html": "VIEW  COLLECTION",
            "be398802549_html": "MLS is loved by over&nbsp; 50,000 customers",
            "be18852344_html": "<br>",
            "be1788652834_html": "Paul Barua (verified Customer)",
            "be1263934748_html": "Birthday steak reward",
            "be1582768462_html": "Thank you mls for this great gift. Appreciate team mls \ud83d\ude47",
            "be622157809_html": "Aleena Bhatti&nbsp; (verified Customer)",
            "be1770699366_html": "In love with quality and taste",
            "be170433177140_html": "In love with quality and taste.\r<div>\r<\/div><div>Finishing the first batch and will be ordering more. Burgers are very tasty and fresh<\/div>",
            "be767536982_html": "Jackson Mbingo (verified Customer)",
            "be497994584_html": "Nice &amp; tender love the texture too",
            "be1325289128_html": "MLS YEAR END SALE COLLECTIONS",
            "be747681529_html": "View Collection",
            "be1285521613_html": "OUR BEST SELLERS FROM YEAR END SALE",
            "be649020154_html": "Add to cart",
            "be1538394658_html": "Sold out",
            "be719299147_html": "Choose options",
            "be978022322_html": "From {{ price_min }}",
            "be1950827197_html": "{{ price_normal }}"
        }
    },
    "settings": [
        {
            "type": "header",
            "content": "The section was generated by BEAE BUILDER",
            "info": "\n                        Beae is a flexible page builder app on Shopify AppStore.\n                        It provides 100+ Shopify Elements and pre-built templates library, \n                        so you can build unlimited pages that you can imagine with it.\n                    "
        },
        {
            "type": "header",
            "content": "[EDIT WITH BEAE APP \u2192](https:\/\/muscat-livestock.myshopify.com\/admin\/apps\/beae-flexible-page-builder\/next\/editor-v3\/page\/692ee94dc9b141632a09fc12)",
            "info": "(*You must install the app to start editing this section [Learn more](https:\/\/docs.beae.com\/en\/article\/quick-start-guide-dkoesy\/))"
        }
    ],
    "blocks": [
        {
            "type": "@app"
        }
    ]
}
{% endschema %}