
                {% assign beae_root_url = routes.root_url %}
                {% if beae_root_url != '/'%}
                    {% assign beae_root_url = routes.root_url | append: '/' %}
                {% endif %}
            {%capture section_id %}beae-national-day-waiting-list{% endcapture%}{% if section_id == section.id %}{% if shop.metafields.beae.global_css %}
                <!--BEAE-EMBED-->
                <link href="data:text/css;base64,{{-shop.metafields.beae.global_css-}}" rel="stylesheet" id="beae-global-css"/>
                <!--/BEAE-EMBED-->
            {% endif %}
{{ content_for_header }}
{% render 'beae_header', BEAE_THEME: true %}{% endif %}<link rel="stylesheet" media="all" href="{{"beae-68d528aeee620527880f8822.css" | asset_url}}"><div class="beae-builder"><div class="beae-sections"><script type="text/javascript">if (!window.BEAEARGS) {window.BEAEARGS = {};}</script>
<!----><!----><!----><section id="" data-sectionid="beae-3e4g7l3a" data-width="1920" data-margin="30px" data-margin-mobile="15px" data-type="flexContainer" class="beae-typo-p1 beae-3e4g7l3a section-beae-3e4g7l3a beae-section beae-core" data-template="Hero 3"><!----><!----><div class="beae-flexbox beae-typo-p1" style="padding: 0px;"><div class="beae__section--container beae-flexbox-container beae__section--full"><!----><div class="beae-flexbox-core beae-x-flex-section grid-container-width"><!----><div class="beae-lanafw1z beae-block beae-core beae-animation beae-unique-rzadqmlg beae-flex-wrapper" data-id="beae-lanafw1z" data-uniqueid="rzadqmlg"><!----><!----><!----><!----><!----><!----><!----><div class="beae-didgxja2 beae-block beae-core beae-animation beae-unique-oqylgqlb" data-id="beae-didgxja2" data-uniqueid="oqylgqlb"><!----><div class="beae-block beae-x-text beae-typo-h2" data-autolayout="beae-didgxja2">{{ 'sections.beae-national-day-waiting-list.be912973119_html' | t }}</div><!----><!----></div><!----><!----><!----><div class="beae-g7id8y5z beae-block beae-core beae-animation beae-unique-n3cvlocg" data-id="beae-g7id8y5z" data-uniqueid="n3cvlocg""><!----><style type="text/css"></style><div class="beae-slider-wrapper beae-slider slider-beae-g7id8y5z items-per-1" data-draggable="true" data-desktop-layout="grid" data-mobile-layout="grid" data-effect="slide" data-pagination="true" data-navigation="true" style="--items-per: 1; --items-per-mobile: 1; --items-gap: 0.5vmax; --items-gap-mobile: 0.5vmax; --autoplay-delay: 5s;"><div class="beae-slider-content beae-slider-items"><div data-loop-index="0" class="beae-list-item beae-finwbbzr"><!----><!----><div class="beae-k07d8mib beae-block beae-core beae-unique-64hnxqaa" data-id="beae-k07d8mib" data-loop-index="0" data-uniqueid="64hnxqaa"><!----><div class="beae-block beae-x-text beae-typo-p2" data-autolayout="beae-k07d8mib">{{ 'sections.beae-national-day-waiting-list.be146900124129_html' | t }}</div><!----><!----></div><!----><!----></div></div><div class="beae-slider-controls"><div class="beae-slider-controls-wrp"><div class="beae-slider-indicator"><div class="beae-slider-progress"></div></div><div class="beae-slider-nav-left"><button aria-label="button" type="button"><svg xmlns="http: //www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><polyline points="15 18 9 12 15 6"></polyline></svg></button></div><div class="beae-slider-pagination-wrp"></div><div class="beae-slider-nav-right"><button aria-label="button" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><polyline points="9 18 15 12 9 6"></polyline></svg></button></div></div></div></div><script type="text/javascript">window.BEAEARGS['beae-g7id8y5zsection-slide-show'] = {
    "id": "beae-g7id8y5z",
    "mode": {"value": "live"},
    "layout":"grid","layoutMobile":"grid","effect":"slide","isLoop":true,"autoPlay":false,"autoPlayDelay":5,"itemsPerSlide":1,"itemsPerSlideMobile":1,"itemsGap":"0.5vmax","itemsGapMobile":"0.5vmax","paginationImage":false,"paginationImageMobile":false,"typeScroll":"default","numItemsScroll":1,"showNavigation":true,"showPagination":true,"showProgress":true,"hookSliderInit":"","hookBeforeSlideChange":"","hookAfterSlideChange":"","noRunJs":false,"itemGap":0,"itemGapMobile":0
  };</script><!----></div><!----><!----><!----><!----><!----><div class="beae-b6hchn3v beae-block beae-core beae-animation beae-unique-49gngr1i beae-flex-wrapper" data-id="beae-b6hchn3v" data-uniqueid="49gngr1i"><!----><!----><!----><div class="beae-udcokb5f beae-block beae-core beae-animation beae-unique-sxu10q28" data-id="beae-udcokb5f" data-uniqueid="sxu10q28""><div class="beae-block beae-x-code""><div class="klaviyo-form-UGMdFh"></div></div><!----></div><!----><!----><!----></div><!----><!----><!----></div><!----><!----><!----><div class="beae-2t8x8lcw beae-block beae-core beae-animation beae-unique-2poqqwqs beae-flex-wrapper" data-id="beae-2t8x8lcw" data-uniqueid="2poqqwqs"><!----><!----><!----><div class="beae-owikjmxj beae-block beae-core beae-animation beae-unique-xw5g933y" data-id="beae-owikjmxj" data-uniqueid="xw5g933y""><div class="beae-block beae-x-code""><div class="klaviyo-form-UGMdFh"></div></div><!----></div><!----><!----><!----></div><!----><!----></div></div></div><!----><picture image-mode="" class="beae-4hv5a beae-background-image"><source width="580" height="800" src="https://cdn.shopify.com/s/files/1/0821/0202/6556/files/2b470357df301b276690fe48a7c890df8305c9c8.png?v=1758798185" srcset="https://cdn.shopify.com/s/files/1/0821/0202/6556/files/2b470357df301b276690fe48a7c890df8305c9c8.png?v=1758798185" alt="2b470357df301b276690fe48a7c890df8305c9c8" media="(max-width: 768px)"><img src="https://cdn.shopify.com/s/files/1/0821/0202/6556/files/7fea7353f6971889e64f63dedb93a5ffa7bd541e.jpg?v=1758798158" alt="7fea7353f6971889e64f63dedb93a5ffa7bd541e" width="1950" height="1095" fetchpriority="high" loading="lazy"></picture><!----><!----><!----><!----><!----></section><!----><script type="text/javascript">window.BEAEARGS['beae-3e4g7l3asection-js'] = {
    "id": "beae-3e4g7l3a",
    "mode": {"value": "live"},
    "optionsVideo":{},"optionsVideoMobile":{}
  };</script><!----><section id="" data-sectionid="beae-cx01wf3e" data-width="1718" data-margin="30px" data-margin-mobile="15px" data-type="flexContainer" class="beae-typo-p1 beae-cx01wf3e section-beae-cx01wf3e beae-section beae-core"><!----><!----><div class="beae-flexbox beae-typo-p1" style="padding: 0px;"><div class="beae__section--container beae-flexbox-container" style="max-width: var(--beae-page-width, 1470px);"><!----><div class="beae-flexbox-core beae-x-flex-section grid-container-width"><!----><div class="beae-717dxxd2 beae-block beae-core beae-animation beae-unique-m5xroefj beae-flex-wrapper" data-id="beae-717dxxd2" data-uniqueid="m5xroefj"><!----><!----><!----><div class="beae-9o2rrnq0 beae-block beae-core beae-animation beae-unique-6rid2pe8 beae-scroll-text-container" data-id="beae-9o2rrnq0" data-uniqueid="6rid2pe8"><!----><div class="beae-marquee-container beae-typo-p1"><div class="beae-marquee-content" data-direction="row"><div data-loop-index="0" class="beae-marquee-item beae-list-item beae-p26hjcyk"><!----><!----><!----><!----><div class="beae-c8dksz3n beae-block beae-core beae-animation beae-unique-lftbdsfi beae-marquee-text-prefix" data-id="beae-c8dksz3n" data-loop-index="0" data-uniqueid="lftbdsfi"><!----><div class="beae-block beae-x-text beae-typo-h5" data-autolayout="beae-c8dksz3n">{{ 'sections.beae-national-day-waiting-list.be112332300045_html' | t }}</div><!----><!----></div><!----><!----></div><div data-loop-index="1" class="beae-marquee-item beae-list-item beae-pwrfwq3c"><!----><!----><!----><!----><div class="beae-c8dksz3n beae-block beae-core beae-animation beae-unique-1dtw21yy beae-marquee-text-prefix" data-id="beae-c8dksz3n" data-loop-index="1" data-uniqueid="1dtw21yy"><!----><div class="beae-block beae-x-text beae-typo-h5" data-autolayout="beae-c8dksz3n">{{ 'sections.beae-national-day-waiting-list.be111491936954_html' | t }}</div><!----><!----></div><!----><!----></div><div data-loop-index="2" class="beae-marquee-item beae-list-item beae-xamxnu6m"><!----><!----><!----><!----><div class="beae-c8dksz3n beae-block beae-core beae-animation beae-unique-lbbmzlki beae-marquee-text-prefix" data-id="beae-c8dksz3n" data-loop-index="2" data-uniqueid="lbbmzlki"><!----><div class="beae-block beae-x-text beae-typo-h5" data-autolayout="beae-c8dksz3n">{{ 'sections.beae-national-day-waiting-list.be147664180146_html' | t }}</div><!----><!----></div><!----><!----></div></div></div><script type="text/javascript">window.BEAEARGS['beae-9o2rrnq0'] = {
    "id": "beae-9o2rrnq0",
    "mode": {"value": "live"},
    "direction":"left-center","prefixTypo":"beae-typo-h6","speed":15,"disabled":false
  };</script><!----></div><!----><!----><!----></div><!----><!----><!----><!----></div></div></div><!----><!----><!----><!----><!----><!----></section><!----><script type="text/javascript">window.BEAEARGS['beae-cx01wf3esection-js'] = {
    "id": "beae-cx01wf3e",
    "mode": {"value": "live"},
    "optionsVideo":{},"optionsVideoMobile":false
  };</script><!----><!----><!----><section id="" data-sectionid="beae-3psiwtp7" data-width="1467" data-margin="30px" data-margin-mobile="15px" data-type="flexContainer" class="beae-typo-p1 beae-3psiwtp7 section-beae-3psiwtp7 beae-section beae-core" data-template="Text with icon 1"><!----><!----><div class="beae-flexbox beae-typo-p1" style="padding: 0px;"><div class="beae__section--container beae-flexbox-container" style="max-width: var(--beae-page-width, 1470px);"><!----><div class="beae-flexbox-core beae-x-flex-section grid-container-width"><!----><div class="beae-pcl4mrm7 beae-block beae-core beae-animation beae-unique-ebzdtqc8" data-id="beae-pcl4mrm7" data-uniqueid="ebzdtqc8"><!----><div class="beae-block beae-x-text beae-typo-h4" data-autolayout="beae-pcl4mrm7">{{ 'sections.beae-national-day-waiting-list.be454374382_html' | t }}</div><!----><!----></div><!----><!----><!----><div class="beae-wckbj75r beae-block beae-core beae-animation beae-unique-6flgy6lp" data-id="beae-wckbj75r" data-uniqueid="6flgy6lp"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-wckbj75r">{{ 'sections.beae-national-day-waiting-list.be1241159362_html' | t }}</div><!----><!----></div><!----><!----><!----><div class="beae-6y9ow924 beae-block beae-core beae-animation beae-unique-y199duym" data-id="beae-6y9ow924" data-uniqueid="y199duym""><!----><style type="text/css"></style><div class="beae-slider-wrapper beae-slider slider-beae-6y9ow924 items-per-3" data-draggable="true" data-desktop-layout="grid" data-mobile-layout="slider" data-effect="slide" data-pagination="false" data-navigation="false" style="--items-per: 3; --items-per-mobile: 1.6; --items-gap: 20px; --items-gap-mobile: 1vmax; --autoplay-delay: 5s;"><div class="beae-slider-content beae-slider-items"><div data-loop-index="0" class="beae-list-item beae-g89d62oi"><!----><!----><div class="beae-xcetfb1l beae-block beae-core beae-unique-25zymg2x beae-x-icon" data-id="beae-xcetfb1l" data-loop-index="0" data-uniqueid="25zymg2x"><!----><div class="beae-elm__ic"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor"><!-- Font Awesome Free 5.15.3 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) --><path d="M464 256H48a48 48 0 0 0 0 96h416a48 48 0 0 0 0-96zm16 128H32a16 16 0 0 0-16 16v16a64 64 0 0 0 64 64h352a64 64 0 0 0 64-64v-16a16 16 0 0 0-16-16zM58.64 224h394.72c34.57 0 54.62-43.9 34.82-75.88C448 83.2 359.55 32.1 256 32c-103.54.1-192 51.2-232.18 116.11C4 180.09 24.07 224 58.64 224zM384 112a16 16 0 1 1-16 16 16 16 0 0 1 16-16zM256 80a16 16 0 1 1-16 16 16 16 0 0 1 16-16zm-128 32a16 16 0 1 1-16 16 16 16 0 0 1 16-16z"></path></svg></div><!----></div><!----><!----><!----><div class="beae-97s91cl1 beae-block beae-core beae-unique-ffzqjwlt" data-id="beae-97s91cl1" data-loop-index="0" data-uniqueid="ffzqjwlt"><!----><div class="beae-block beae-x-text beae-typo-p3" data-autolayout="beae-97s91cl1">{{ 'sections.beae-national-day-waiting-list.be1241320214_html' | t }}</div><!----><!----></div><!----><!----><!----><div class="beae-i4fyq9x4 beae-block beae-core beae-unique-9kjle93v" data-id="beae-i4fyq9x4" data-loop-index="0" data-uniqueid="9kjle93v"><!----><div class="beae-block beae-x-text beae-typo-p3" data-autolayout="beae-i4fyq9x4">{{ 'sections.beae-national-day-waiting-list.be977862211_html' | t }}</div><!----><!----></div><!----><!----></div><div data-loop-index="1" class="beae-list-item beae-lwfd5auz"><!----><!----><div class="beae-xcetfb1l beae-block beae-core beae-unique-83gz4igg beae-x-icon" data-id="beae-xcetfb1l" data-loop-index="1" data-uniqueid="83gz4igg"><!----><div class="beae-elm__ic"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor"><!-- Font Awesome Free 5.15.3 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) --><path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm61.8-104.4l-84.9-61.7c-3.1-2.3-4.9-5.9-4.9-9.7V116c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v141.7l66.8 48.6c5.4 3.9 6.5 11.4 2.6 16.8L334.6 349c-3.9 5.3-11.4 6.5-16.8 2.6z"></path></svg></div><!----></div><!----><!----><!----><div class="beae-97s91cl1 beae-block beae-core beae-unique-l56k94lp" data-id="beae-97s91cl1" data-loop-index="1" data-uniqueid="l56k94lp"><!----><div class="beae-block beae-x-text beae-typo-p3" data-autolayout="beae-97s91cl1">{{ 'sections.beae-national-day-waiting-list.be35733247_html' | t }}</div><!----><!----></div><!----><!----><!----><div class="beae-i4fyq9x4 beae-block beae-core beae-unique-l78jjdf2" data-id="beae-i4fyq9x4" data-loop-index="1" data-uniqueid="l78jjdf2"><!----><div class="beae-block beae-x-text beae-typo-p3" data-autolayout="beae-i4fyq9x4">{{ 'sections.beae-national-day-waiting-list.be1467034740_html' | t }}</div><!----><!----></div><!----><!----></div><div data-loop-index="2" class="beae-list-item beae-yscc0cbt"><!----><!----><div class="beae-xcetfb1l beae-block beae-core beae-unique-2q7ipad8 beae-x-icon" data-id="beae-xcetfb1l" data-loop-index="2" data-uniqueid="2q7ipad8"><!----><div class="beae-elm__ic"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" fill="currentColor"><!-- Font Awesome Free 5.15.3 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) --><path d="M109.25 173.25c24.99-24.99 24.99-65.52 0-90.51-24.99-24.99-65.52-24.99-90.51 0-24.99 24.99-24.99 65.52 0 90.51 25 25 65.52 25 90.51 0zm256 165.49c-24.99-24.99-65.52-24.99-90.51 0-24.99 24.99-24.99 65.52 0 90.51 24.99 24.99 65.52 24.99 90.51 0 25-24.99 25-65.51 0-90.51zm-1.94-231.43l-22.62-22.62c-12.5-12.5-32.76-12.5-45.25 0L20.69 359.44c-12.5 12.5-12.5 32.76 0 45.25l22.62 22.62c12.5 12.5 32.76 12.5 45.25 0l274.75-274.75c12.5-12.49 12.5-32.75 0-45.25z"></path></svg></div><!----></div><!----><!----><!----><div class="beae-97s91cl1 beae-block beae-core beae-unique-yifrrkkn" data-id="beae-97s91cl1" data-loop-index="2" data-uniqueid="yifrrkkn"><!----><div class="beae-block beae-x-text beae-typo-p3" data-autolayout="beae-97s91cl1">{{ 'sections.beae-national-day-waiting-list.be116916839_html' | t }}</div><!----><!----></div><!----><!----><!----><div class="beae-i4fyq9x4 beae-block beae-core beae-unique-7dsu7qxu" data-id="beae-i4fyq9x4" data-loop-index="2" data-uniqueid="7dsu7qxu"><!----><div class="beae-block beae-x-text beae-typo-p3" data-autolayout="beae-i4fyq9x4">{{ 'sections.beae-national-day-waiting-list.be1056360867_html' | t }}</div><!----><!----></div><!----><!----></div></div><div class="beae-slider-controls"><div class="beae-slider-controls-wrp"><!----><!----><!----><!----></div></div></div><script type="text/javascript">window.BEAEARGS['beae-6y9ow924section-slide-show'] = {
    "id": "beae-6y9ow924",
    "mode": {"value": "live"},
    "layout":"grid","layoutMobile":"slider","effect":"slide","isLoop":true,"autoPlay":false,"autoPlayDelay":5,"itemsPerSlide":3,"itemsPerSlideMobile":1.6,"itemsGap":"20px","itemsGapMobile":"1vmax","paginationImage":false,"paginationImageMobile":false,"typeScroll":"default","numItemsScroll":1,"showNavigation":false,"showPagination":false,"showProgress":false,"hookSliderInit":"","hookBeforeSlideChange":"","hookAfterSlideChange":"","noRunJs":false
  };</script><!----></div><!----><!----></div></div></div><!----><!----><!----><!----><!----><!----></section><!----><script type="text/javascript">window.BEAEARGS['beae-3psiwtp7section-js'] = {
    "id": "beae-3psiwtp7",
    "mode": {"value": "live"},
    "optionsVideo":{},"optionsVideoMobile":false
  };</script><!----><!----><!----><section id="" data-sectionid="beae-0xwzg0rw" data-width="1467" data-margin="30px" data-margin-mobile="15px" data-type="flexContainer" class="beae-typo-p1 beae-0xwzg0rw section-beae-0xwzg0rw beae-section beae-core"><!----><!----><div class="beae-flexbox beae-typo-p1" style="padding: 0px;"><div class="beae__section--container beae-flexbox-container" style="max-width: var(--beae-page-width, 1470px);"><!----><div class="beae-flexbox-core beae-x-flex-section grid-container-width"><!----><!----><!----><div class="beae-vh064fxn beae-block beae-core beae-animation beae-unique-1473swvl" data-id="beae-vh064fxn" data-uniqueid="1473swvl"><!----><div class="beae-block beae-x-text beae-typo-h4" data-autolayout="beae-vh064fxn">{{ 'sections.beae-national-day-waiting-list.be46233784_html' | t }}</div><!----><!----></div><!----><!----></div></div></div><!----><!----><!----><!----><!----><!----></section><!----><script type="text/javascript">window.BEAEARGS['beae-0xwzg0rwsection-js'] = {
    "id": "beae-0xwzg0rw",
    "mode": {"value": "live"},
    "optionsVideo":{},"optionsVideoMobile":false
  };</script><!----><section id="" data-sectionid="beae-cpsbi5jt" data-width="1920" data-margin="30px" data-margin-mobile="15px" data-type="slideShow" class="beae-typo-p1 beae-cpsbi5jt section-beae-cpsbi5jt beae-section beae-core"><!----><!----><div class="beae-flexbox beae-typo-p1" style="padding: 0px;"><div class="beae-x-slideshow beae__section--full" style="margin: 0px auto; max-width: 100%;"><!----><style type="text/css"></style><div class="beae-slider-wrapper beae-slider slider-beae-cpsbi5jt items-per-1" data-draggable="true" data-desktop-layout="slider" data-mobile-layout="slider" data-effect="slide" data-pagination="true" data-navigation="false" style="--items-per: 1; --items-per-mobile: 1; --items-gap: 0px; --items-gap-mobile: 0px; --autoplay-delay: 5s;"><div class="beae-slider-content beae-slider-items"><div class="beae-slider-item active slide-beae-26024itq" data-index="0"><!----><div class="beae-slide-wrap"><div class="beae-26024itq beae-slide-content"><!----><!----><div class="beae-i1g8orf3 beae-block beae-core beae-unique-4b604uma beae-x-video beae-prevent-system" data-id="beae-i1g8orf3" data-uniqueid="4b604uma" source="youtube"><!----><div class="beae-x-video--wrapper"><!----><div class="beae-block_video-player beae-prevent-system"><iframe id="beae-i1g8orf3" target="do not remove" class="beae_iframe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" src="https://www.youtube.com/embed/qNlS5ZgoA30?version=3&amp;controls=0&amp;mute=1&amp;showinfo=0&amp;iv_load_policy=3&amp;playlist=qNlS5ZgoA30"></iframe></div><button class="beae-close-video" is="close-button" aria-label="Close"><svg role="presentation" stroke-width="2" focusable="false" width="24" height="24" viewBox="0 0 24 24"><path d="M17.658 6.343 6.344 17.657M17.658 17.657 6.344 6.343" stroke="currentColor"></path></svg></button><script type="text/javascript">window.BEAEARGS['beae-i1g8orf3block-video'] = {
    "id": "beae-i1g8orf3",
    "mode": {"value": "live"},
    "id":"beae-i1g8orf3","uniqueId":"","source":"youtube","mute":true,"loop":true,"autoplay":true,"srcYoutube":"https://www.youtube.com/embed/qNlS5ZgoA30?feature=share","lightbox":false,"player_controls":false,"extendOptions":"{}"
  };</script></div><!----></div><!----><!----><!----></div><!----></div></div><div class="beae-slider-item slide-beae-yuwumvrh" data-index="1"><!----><div class="beae-slide-wrap"><div class="beae-yuwumvrh beae-slide-content"><!----><!----><div class="beae-pbjre157 beae-block beae-core beae-unique-0u0co5mx beae-x-video beae-prevent-system" data-id="beae-pbjre157" data-uniqueid="0u0co5mx" source="youtube"><!----><div class="beae-x-video--wrapper"><!----><div class="beae-block_video-player beae-prevent-system"><iframe id="beae-pbjre157" target="do not remove" class="beae_iframe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" src="https://www.youtube.com/embed/6Ydnlp9BH6c?version=3&amp;controls=0&amp;mute=1&amp;showinfo=0&amp;iv_load_policy=3&amp;playlist=6Ydnlp9BH6c"></iframe></div><button class="beae-close-video" is="close-button" aria-label="Close"><svg role="presentation" stroke-width="2" focusable="false" width="24" height="24" viewBox="0 0 24 24"><path d="M17.658 6.343 6.344 17.657M17.658 17.657 6.344 6.343" stroke="currentColor"></path></svg></button><script type="text/javascript">window.BEAEARGS['beae-pbjre157block-video'] = {
    "id": "beae-pbjre157",
    "mode": {"value": "live"},
    "id":"beae-pbjre157","uniqueId":"","source":"youtube","mute":true,"loop":true,"autoplay":true,"srcYoutube":"https://www.youtube.com/embed/6Ydnlp9BH6c?feature=share","lightbox":false,"player_controls":false,"extendOptions":"{}"
  };</script></div><!----></div><!----><!----><!----></div><!----></div></div></div><div class="beae-slider-controls"><div class="beae-slider-controls-wrp"><!----><!----><div class="beae-slider-pagination-wrp"></div><!----></div></div></div><script type="text/javascript">window.BEAEARGS['beae-cpsbi5jtsection-slide-show'] = {
    "id": "beae-cpsbi5jt",
    "mode": {"value": "live"},
    "layout":"slider","layoutMobile":"slider","effect":"slide","isLoop":true,"autoPlay":true,"autoPlayDelay":5,"itemsPerSlide":1,"itemsPerSlideMobile":1,"itemsGap":0,"itemsGapMobile":0,"paginationImage":false,"paginationImageMobile":false,"typeScroll":"default","numItemsScroll":1,"showNavigation":false,"showPagination":true,"showProgress":false,"hookSliderInit":"","hookBeforeSlideChange":"","hookAfterSlideChange":"\n  let device = window.innerWidth >= 768 ? 'desktop' : 'mobile';\n  let bgVideo = data.nextSlide ? data.nextSlide.querySelector('.beae-section-background-video[data-device=\"' + device + '\"] video') : null;\n  let bgIframe = data.nextSlide ? data.nextSlide.querySelector('.beae-section-background-video[data-device=\"' + device + '\"] iframe') : null;\n    if (bgVideo) {\n      const setupVideo = () => {\n        bgVideo.currentTime = 0;\n        bgVideo.play();\n        if (data.data.autoPlay) {\n          data.slider.setAttribute('data-video-duration', bgVideo.duration);\n          data.slider.setAttribute('data-video-background', 'true');\n          data.slider.setAttribute('data-stop-autoplay', 'true');\n          bgVideo.onended = () => {\n            data.nextSlider();\n          };\n        }\n      };\n\n      if (bgVideo.readyState >= 1) {\n        setupVideo();\n      } else {\n        bgVideo.onloadedmetadata = setupVideo;\n      }\n    } else if (bgIframe) {\n      const setupIframe = () => {\n        if (data.data.autoPlay) {\n          data.slider.setAttribute('data-video-background', 'true');\n          data.slider.setAttribute('data-stop-autoplay', 'true');\n          \n          let src = bgIframe.src;\n          if (!src.includes('autoplay=1')) {\n            bgIframe.src = src.includes('?') ? (src + '&autoplay=1') : (src + '?autoplay=1');\n          }else {\n            bgIframe.src = src;\n          }\n        }\n      };\n      setupIframe();\n    } else if (data.data.autoPlay) {\n      data.slider.removeAttribute('data-video-duration');\n      data.slider.removeAttribute('data-video-background');\n      data.slider.removeAttribute('data-stop-autoplay');\n    }\n  ","noRunJs":false,"itemGap":0,"itemGapMobile":0
  };</script></div></div><!----><!----><!----><!----><!----><!----></section><!----><script type="text/javascript">window.BEAEARGS['beae-cpsbi5jtsection-js'] = {
    "id": "beae-cpsbi5jt",
    "mode": {"value": "live"},
    "optionsVideo":{},"optionsVideoMobile":false
  };</script><!----><section id="" data-sectionid="beae-xn7bdk5k" data-width="1467" data-margin="30px" data-margin-mobile="15px" data-type="flexContainer" class="beae-typo-p1 beae-xn7bdk5k section-beae-xn7bdk5k beae-section beae-core"><!----><!----><div class="beae-flexbox beae-typo-p1" style="padding: 0px;"><div class="beae__section--container beae-flexbox-container" style="max-width: var(--beae-page-width, 1470px);"><!----><div class="beae-flexbox-core beae-x-flex-section grid-container-width"><!----><div class="beae-75xw5o7j beae-block beae-core beae-animation beae-unique-092gsx1u beae-flex-wrapper" data-id="beae-75xw5o7j" data-uniqueid="092gsx1u"><!----><!----><!----><div class="beae-fvfa03jn beae-block beae-core beae-animation beae-unique-rilhek8e beae-x-video beae-prevent-system" data-id="beae-fvfa03jn" data-uniqueid="rilhek8e" source="youtube"><!----><div class="beae-x-video--wrapper"><!----><div class="beae-block_video-player beae-prevent-system"><iframe id="beae-fvfa03jn" target="do not remove" class="beae_iframe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" src="https://www.youtube.com/embed/qNlS5ZgoA30?version=3&amp;controls=0&amp;mute=1&amp;showinfo=0&amp;iv_load_policy=3&amp;playlist=qNlS5ZgoA30"></iframe></div><button class="beae-close-video" is="close-button" aria-label="Close"><svg role="presentation" stroke-width="2" focusable="false" width="24" height="24" viewBox="0 0 24 24"><path d="M17.658 6.343 6.344 17.657M17.658 17.657 6.344 6.343" stroke="currentColor"></path></svg></button><script type="text/javascript">window.BEAEARGS['beae-fvfa03jnblock-video'] = {
    "id": "beae-fvfa03jn",
    "mode": {"value": "live"},
    "id":"beae-fvfa03jn","uniqueId":"","source":"youtube","mute":true,"loop":true,"autoplay":false,"srcYoutube":"https://www.youtube.com/embed/qNlS5ZgoA30?feature=share","lightbox":false,"player_controls":false,"extendOptions":"{}"
  };</script></div><!----></div><!----><!----><!----></div><!----><!----><!----><div class="beae-sipco3vb beae-block beae-core beae-animation beae-unique-nwykvgq0 beae-flex-wrapper" data-id="beae-sipco3vb" data-uniqueid="nwykvgq0"><!----><!----><!----><div class="beae-lsno6jt2 beae-block beae-core beae-animation beae-unique-fpaikdj9 beae-x-video beae-prevent-system" data-id="beae-lsno6jt2" data-uniqueid="fpaikdj9" source="youtube"><!----><div class="beae-x-video--wrapper"><!----><div class="beae-block_video-player beae-prevent-system"><iframe id="beae-lsno6jt2" target="do not remove" class="beae_iframe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" src="https://www.youtube.com/embed/6Ydnlp9BH6c?version=3&amp;controls=1&amp;showinfo=0&amp;iv_load_policy=3&amp;playlist=6Ydnlp9BH6c"></iframe></div><button class="beae-close-video" is="close-button" aria-label="Close"><svg role="presentation" stroke-width="2" focusable="false" width="24" height="24" viewBox="0 0 24 24"><path d="M17.658 6.343 6.344 17.657M17.658 17.657 6.344 6.343" stroke="currentColor"></path></svg></button><script type="text/javascript">window.BEAEARGS['beae-lsno6jt2block-video'] = {
    "id": "beae-lsno6jt2",
    "mode": {"value": "live"},
    "id":"beae-lsno6jt2","uniqueId":"","source":"youtube","mute":false,"autoplay":true,"srcYoutube":"https://www.youtube.com/embed/6Ydnlp9BH6c?feature=share","lightbox":false,"player_controls":true,"extendOptions":"{}"
  };</script></div><!----></div><!----><!----><!----></div><!----><!----><!----><!----></div></div></div><!----><!----><!----><!----><!----><!----></section><!----><script type="text/javascript">window.BEAEARGS['beae-xn7bdk5ksection-js'] = {
    "id": "beae-xn7bdk5k",
    "mode": {"value": "live"},
    "optionsVideo":{},"optionsVideoMobile":false
  };</script><!----><section id="" data-sectionid="beae-2hecz6pd" data-width="1920" data-margin="30px" data-margin-mobile="15px" data-type="flexContainer" class="beae-typo-p1 beae-2hecz6pd section-beae-2hecz6pd beae-section beae-core"><!----><!----><div class="beae-flexbox beae-typo-p1" style="padding: 0px;"><div class="beae__section--container beae-flexbox-container beae__section--full"><!----><div class="beae-flexbox-core beae-x-flex-section grid-container-width"><!----><div class="beae-z40j9umg beae-block beae-core beae-animation beae-unique-umz32rkm" data-id="beae-z40j9umg" data-uniqueid="umz32rkm""><!----><div class="beae-block beae-x-line"><div class="beae-element"><div class="beae-line beae-line-style" style="display: block;"></div><!----></div></div><!----></div><!----><!----></div></div></div><!----><!----><!----><!----><!----><!----></section><!----><script type="text/javascript">window.BEAEARGS['beae-2hecz6pdsection-js'] = {
    "id": "beae-2hecz6pd",
    "mode": {"value": "live"},
    "optionsVideo":{},"optionsVideoMobile":false
  };</script><!----><!----><!----><section id="" data-sectionid="beae-fsfk1j0x" data-width="1820" data-margin="30px" data-margin-mobile="15px" data-type="flexContainer" class="beae-typo-p1 beae-fsfk1j0x section-beae-fsfk1j0x beae-section beae-core w3_bg"><!----><!----><div class="beae-flexbox beae-typo-p1" style="padding: 0px;"><div class="beae__section--container beae-flexbox-container" style="max-width: var(--beae-page-width, 1470px);"><!----><div class="beae-flexbox-core beae-x-flex-section grid-container-width"><!----><div class="beae-x5d98zm5 beae-block beae-core beae-animation beae-unique-8t7qc0gx beae-flex-wrapper w3_bg" data-id="beae-x5d98zm5" data-uniqueid="8t7qc0gx"><!----><!----><!----><div class="beae-pd5s9zvr beae-block beae-core beae-animation beae-unique-yup2hlrj" data-id="beae-pd5s9zvr" data-uniqueid="yup2hlrj"><!----><div class="beae-block beae-x-text beae-typo-h3" data-autolayout="beae-pd5s9zvr">{{ 'sections.beae-national-day-waiting-list.be1003856715_html' | t }}</div><!----><!----></div><!----><!----><!----><div class="beae-if56e3de beae-block beae-core beae-animation beae-unique-mvtr839j" data-id="beae-if56e3de" data-uniqueid="mvtr839j"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-if56e3de">{{ 'sections.beae-national-day-waiting-list.be530965647116_html' | t }}</div><!----><!----></div><!----><!----><!----><div class="beae-6zai4j90 beae-block beae-core beae-animation beae-unique-6e57nf9u" data-id="beae-6zai4j90" data-uniqueid="6e57nf9u""><div class="beae-block beae-x-code""><div class="klaviyo-form-QTArFf"></div></div><!----></div><!----><!----><!----></div><!----><!----></div></div></div><!----><!----><!----><!----><!----><!----></section><!----><script type="text/javascript">window.BEAEARGS['beae-fsfk1j0xsection-js'] = {
    "id": "beae-fsfk1j0x",
    "mode": {"value": "live"},
    "optionsVideo":{},"optionsVideoMobile":false
  };</script>
<script type="text/javascript">
  (() => {
    let testText = document.createElement('div');
    testText.innerHTML = 'test';
    testText.style.fontSize = '100px';
    document.body.appendChild(testText);
    let realFontSize = parseFloat(window.getComputedStyle(testText).getPropertyValue('font-size').replace('px', ''));
    testText.style.zoom = '50%';
    let detectDesktopRequestMode = window.getComputedStyle(testText).getPropertyValue('font-size') !== '100px';
    document.body.removeChild(testText);
    
    document.body.style.setProperty('--font-size-ratio', (realFontSize / 100).toString());

    function getTextNodesIn(elem) {
      let textNodes = [];
      if (elem) {
        for (var nodes = elem.childNodes, i = nodes.length; i--;) {
          let node = nodes[i], nodeType = node.nodeType;
          if (nodeType == 1 || nodeType == 9 || nodeType == 11) {
            textNodes = textNodes.concat(getTextNodesIn(node));
          }
        }
      }
      return textNodes;
    }

    let scaleFitGridBlock = () => {

      document.querySelectorAll('.beae-section.beae-core').forEach((sec) => {
        let container = sec.querySelector(".beae__section--container");
        if (!container) { return; };
        let winWidth = document.documentElement.offsetWidth;
        if (winWidth >= 768) {
          sec.querySelectorAll('.beae__section--container').forEach(container => {
            container.parentNode.style.setProperty("--container-width", container.closest('.grid-container-width') ? container.closest('.grid-container-width').parentNode.offsetWidth+'px' : container.offsetWidth+'px');
          });
        }
      });

      document.querySelectorAll('.beae-grid-block').forEach(block => {
       let child = block.querySelector('.beae-block.beae-core > *'),
           zoom = 0,
           count = 0;
        child.style.zoom = '';
        child.style.lineHeight = '';
        while(child.offsetHeight > block.offsetHeight && count < 14 && (zoom === 0 || block.offsetHeight < (child.offsetHeight*zoom))) {
            zoom = (block.offsetHeight+block.offsetWidth)/(child.offsetHeight+child.offsetWidth);
            child.style.zoom = zoom < 1 ? Math.floor(zoom*100)+'%' : '';
            child.style.lineHeight = '2.4rem';
            count++;
        }
      });
    };

    scaleFitGridBlock();
    let timmer = 0;
    window.addEventListener('resize', () => {
      clearTimeout(timmer);
      timmer = setTimeout(scaleFitGridBlock, 150);
    });
    window.addEventListener('load', scaleFitGridBlock);
    
    if (document.getElementById('beae-exported-page-css')) {
      document.getElementById('beae-exported-page-css').addEventListener('load', scaleFitGridBlock);
    }

  })();
</script>
</div></div>{% if section_id == section.id %}{% endif%}
<script src="{{'beae-68d528aeee620527880f8822.js'  | asset_url }}" defer></script>

{% schema %}
{
    "name": "BEAE BUILDER APP",
    "locales": {
        "en": {
            "be76480_html": "N\/A",
            "be430210269_html": "Tax included. ",
            "be72458158275_html": "<a href=\"{{shop.shipping_policy.url}}\">Shipping<\/a> calculated at checkout.",
            "be912973119_html": "JOIN THE NATIONAL DAY WAITLIST&nbsp;&nbsp;&amp; GET FREE BURGERS",
            "be146900124129_html": "Sign up now and get  <b>2 FREE AUS ANGUS BEEF BURGERS&nbsp;<\/b><b>(125 GM Each)<\/b> with your order during our National Day Sale!",
            "be112332300045_html": "<ul><li>LOVED BY 50,000 MEAT LOVERS<\/li><\/ul>",
            "be111491936954_html": "<ul><li>OMAN\u2019S MOST TRUSTED MEAT BRAND&nbsp;<\/li><\/ul>",
            "be147664180146_html": "<ul><li>100% HALAL &amp; FRESH&nbsp;<\/li><\/ul>",
            "be454374382_html": "Why Join the National Waiting List",
            "be1241159362_html": "Joining the waiting list is free, with guaranteed perks for every sign-up.",
            "be1241320214_html": "Free Burgers",
            "be977862211_html": "Sign up now and get 2x 125g AUS Angus beef burgers FREE as our National Day gift.",
            "be35733247_html": "Early Access",
            "be1467034740_html": "Be among the first to shop Oman\u2019s biggest National Day sale.",
            "be116916839_html": "Exclusive Offers",
            "be1056360867_html": "Unlock deals and bundles only available to waiting list members.",
            "be46233784_html": "Celebrate Oman\u2019s National Day with Us",
            "be1003856715_html": "Exclusive Deals &amp;&nbsp;Free Gifts Await",
            "be530965647116_html": "Sign up now and get <b>2 FREE AUS ANGUS BEEF BURGERS( 125 GM Each)<\/b> with your order during our National Day Sale!"
        }
    },
    "settings": [
        {
            "type": "header",
            "content": "The section was generated by BEAE BUILDER",
            "info": "\n                            Beae is a flexible page builder app on Shopify AppStore.\n                            It provides 100+ Shopify Elements and pre-built templates library, \n                            so you can build unlimited pages that you can imagine with it.\n                        "
        },
        {
            "type": "header",
            "content": "[EDIT WITH BEAE APP \u2192](https:\/\/muscat-livestock.myshopify.com\/admin\/apps\/beae-flexible-page-builder\/next\/editor-v3\/page\/68d528aeee620527880f8822)",
            "info": "(*You must install the app to start editing this section [Learn more](https:\/\/docs.beae.com\/en\/article\/quick-start-guide-dkoesy\/))"
        }
    ],
    "blocks": [
        {
            "type": "@app"
        }
    ]
}
{% endschema %}