
            {% assign beae_root_url = routes.root_url %}
            {% if beae_root_url != '/'%}
                {% assign beae_root_url = routes.root_url | append: '/' %}
            {% endif %}
        {%capture section_id %}beae-eid-sale-2026{% endcapture%}{% if section_id == section.id %}{% if shop.metafields.beae.global_css %}
            <!--BEAE-EMBED-->
            <link href="data:text/css;base64,{{-shop.metafields.beae.global_css-}}" rel="stylesheet" id="beae-global-css"/>
            <!--/BEAE-EMBED-->
        {% endif %}

{% render 'beae_header', BEAE_THEME: true %}{% endif %}<link rel="stylesheet" id="beae-exported-page-css" media="all" href="{{"beae-69a8463314ca27849300c0b2.css" | asset_url}}"><link rel="dns-prefetch" href="https://cdn.shopify.com">
                    <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
                    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
                    <link rel="preload" type="text/css" href="https://cdn.shopify.com/s/files/1/0285/3732/3629/files/Helvetica-Bold.ttf?v=1680468689" as="font" type="font/truetype" crossorigin="anonymous">
                    <style>
                    @font-face {font-family: 'Helvetica-Bold';font-weight: 700;src: url('https://cdn.shopify.com/s/files/1/0285/3732/3629/files/Helvetica-Bold.ttf?v=1680468689') format('truetype');font-display: swap;}
                    </style><div class="beae-builder-v2 beae-builder"><div class="beae-sections beae-content-wrapper"><script type="text/javascript">if (!window.BEAEARGS) {window.BEAEARGS = {};}</script>
<!----><!----><!----><section id="" data-sectionid="beae-7dj6fwxa" data-width="1920" data-margin="30px" data-margin-mobile="15px" data-type="flexContainer" class="beae-typo-p1 beae-7dj6fwxa section-beae-7dj6fwxa beae-section beae-core"><!----><!----><div class="beae-flexbox beae-typo-p1" style="padding: 0px;"><div class="beae__section--container beae-flexbox-container beae__section--full"><!----><div class="beae-flexbox-core beae-x-flex-section grid-container-width"><!----><div class="beae-t57av7i4 beae-block beae-core beae-animation beae-unique-z95qnze9 beae-flex-wrapper" data-id="beae-t57av7i4" data-uniqueid="z95qnze9"><!----><!----><!----><div class="beae-d7cb8thz beae-block beae-core beae-animation beae-unique-ws9a6p61" data-id="beae-d7cb8thz" data-uniqueid="ws9a6p61""><!---->{% assign beae_image_pr = images['download.png'].alt %}
        
        {% assign beae_image_mb_pr = images['82fe3e974aafc75d5ebdac06b0708e89e04830aa.png'].alt %}
        <!----><a class="beae-block beae-x-image beae-container-image beae-image-content-position beae-image-picture beae-image-picture-link" hover-mode="false" type="target" handle="" href="#ramadan-sale"><!----><!----><picture image-mode="" class="beae-spbsj beae-image-primary"><source width="480" height="662" src="https://cdn.shopify.com/s/files/1/0285/3732/3629/files/82fe3e974aafc75d5ebdac06b0708e89e04830aa.png?v=1772635790" srcset="https://cdn.shopify.com/s/files/1/0285/3732/3629/files/82fe3e974aafc75d5ebdac06b0708e89e04830aa.png?v=1772635790" alt="{{ beae_image_mb_pr }}" media="(max-width: 768px)"><img src="https://cdn.shopify.com/s/files/1/0285/3732/3629/files/download.png?v=1772635744" alt="{{ beae_image_pr }}" width="1920" height="1080" fetchpriority="high" loading="lazy"></picture><!----></a><script type="text/javascript">window.BEAEARGS['beae-d7cb8thzblock-image'] = {
    "id": "beae-d7cb8thz",
    "mode": {"value": "live"},
    "autoHover":false
  };</script><!----></div><!----><!----><!----></div><!----><!----></div></div></div><!----><!----><!----><!----><!----><!----></section><!----><script type="text/javascript">window.BEAEARGS['beae-7dj6fwxasection-js'] = {
    "id": "beae-7dj6fwxa",
    "mode": {"value": "live"},
    "optionsVideo":{},"optionsVideoMobile":false
  };</script><!----><!----><!----><section id="" data-sectionid="beae-okv2m6gx" data-width="1718" data-margin="30px" data-margin-mobile="15px" data-type="flexContainer" class="beae-typo-p1 beae-okv2m6gx section-beae-okv2m6gx beae-section beae-core"><!----><!----><div class="beae-flexbox beae-typo-p1" style="padding: 0px;"><div class="beae__section--container beae-flexbox-container" style="max-width: var(--beae-page-width, 1470px);"><!----><div class="beae-flexbox-core beae-x-flex-section grid-container-width"><!----><div class="beae-aj9gcodk beae-block beae-core beae-animation beae-unique-yftii9ge beae-flex-wrapper" data-id="beae-aj9gcodk" data-uniqueid="yftii9ge"><!----><!----><!----><div class="beae-an1uts97 beae-block beae-core beae-animation beae-unique-evr129io beae-scroll-text-container" data-id="beae-an1uts97" data-uniqueid="evr129io"><!----><div class="beae-marquee-container beae-typo-p1"><div class="beae-marquee-content" data-direction="row"><div data-loop-index="0" class="beae-marquee-item beae-list-item beae-yiwac9mi"><!----><!----><!----><!----><div class="beae-3pliknmn beae-block beae-core beae-animation beae-unique-yjug9ezk beae-marquee-text-prefix" data-id="beae-3pliknmn" data-loop-index="0" data-uniqueid="yjug9ezk"><!----><div class="beae-block beae-x-text beae-typo-h5" data-autolayout="beae-3pliknmn">{{ 'sections.beae-eid-sale-2026.be112332300045_html' | t }}</div><!----><!----></div><!----><!----></div><div data-loop-index="1" class="beae-marquee-item beae-list-item beae-ynyalsmj"><!----><!----><!----><!----><div class="beae-3pliknmn beae-block beae-core beae-animation beae-unique-gmx4dqqn beae-marquee-text-prefix" data-id="beae-3pliknmn" data-loop-index="1" data-uniqueid="gmx4dqqn"><!----><div class="beae-block beae-x-text beae-typo-h5" data-autolayout="beae-3pliknmn">{{ 'sections.beae-eid-sale-2026.be111491936954_html' | t }}</div><!----><!----></div><!----><!----></div><div data-loop-index="2" class="beae-marquee-item beae-list-item beae-e1x51pfq"><!----><!----><!----><!----><div class="beae-3pliknmn beae-block beae-core beae-animation beae-unique-8frvtqq7 beae-marquee-text-prefix" data-id="beae-3pliknmn" data-loop-index="2" data-uniqueid="8frvtqq7"><!----><div class="beae-block beae-x-text beae-typo-h5" data-autolayout="beae-3pliknmn">{{ 'sections.beae-eid-sale-2026.be147664180146_html' | t }}</div><!----><!----></div><!----><!----></div></div></div><script type="text/javascript">window.BEAEARGS['beae-an1uts97'] = {
    "id": "beae-an1uts97",
    "mode": {"value": "live"},
    "direction":"left-center","prefixTypo":"beae-typo-h6","speed":15,"disabled":false
  };</script><!----></div><!----><!----><!----></div><!----><!----><!----><!----></div></div></div><!----><!----><!----><!----><!----><!----></section><!----><script type="text/javascript">window.BEAEARGS['beae-okv2m6gxsection-js'] = {
    "id": "beae-okv2m6gx",
    "mode": {"value": "live"},
    "optionsVideo":{"src":"https://www.youtube.com/watch?v=aq7Is03HuXw","loadingVideoType":"none"},"optionsVideoMobile":{}
  };</script><!----><!----><!----><section id="" data-sectionid="beae-yp8upx9q" data-width="1920" data-margin="30px" data-margin-mobile="15px" data-type="slideShow" class="beae-typo-p1 beae-yp8upx9q section-beae-yp8upx9q beae-section beae-core"><!----><!----><div class="beae-flexbox beae-typo-p1" style="padding: 0px;"><div class="beae-x-slideshow beae__section--full" style="margin: 0px auto; max-width: 100%;"><!----><style type="text/css"></style><div class="beae-slider-wrapper beae-slider slider-beae-yp8upx9q items-per-1" data-draggable="true" data-desktop-layout="slider" data-mobile-layout="slider" data-effect="slide" data-pagination="true" data-navigation="false" style="--items-per: 1; --items-per-mobile: 1; --items-gap: 0px; --items-gap-mobile: 0px; --autoplay-delay: 5s;"><div class="beae-slider-content beae-slider-items"><div class="beae-slider-item active slide-beae-19l61uqn" data-index="0"><!----><div class="beae-slide-wrap"><div class="beae-19l61uqn beae-slide-content"><!----><!----><div class="beae-rlhzvil3 beae-block beae-core beae-unique-itx85bw0 beae-x-video beae-prevent-system" data-id="beae-rlhzvil3" data-uniqueid="itx85bw0" source="youtube"><!----><div class="beae-x-video--wrapper"><!----><div class="beae-block_video-player beae-prevent-system"><iframe id="beae-rlhzvil3" target="do not remove" class="beae_iframe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" src="https://www.youtube.com/embed/WzrcjiEY5F4?version=3&amp;controls=1&amp;mute=1&amp;showinfo=0&amp;iv_load_policy=3&amp;playlist=WzrcjiEY5F4"></iframe></div><button class="beae-close-video" is="close-button" aria-label="Close"><svg role="presentation" stroke-width="2" focusable="false" width="24" height="24" viewBox="0 0 24 24"><path d="M17.658 6.343 6.344 17.657M17.658 17.657 6.344 6.343" stroke="currentColor"></path></svg></button><script type="text/javascript">window.BEAEARGS['beae-rlhzvil3block-video'] = {
    "id": "beae-rlhzvil3",
    "mode": {"value": "live"},
    "id":"beae-rlhzvil3","uniqueId":"","source":"youtube","mute":true,"loop":true,"autoplay":true,"srcYoutube":"https://youtube.com/embed/WzrcjiEY5F4?feature=share","lightbox":false,"player_controls":true,"extendOptions":"{}"
  };</script></div><!----></div><!----><!----><!----></div><!----></div></div><div class="beae-slider-item slide-beae-8n4nhnsu" data-index="1"><!----><div class="beae-slide-wrap"><div class="beae-8n4nhnsu beae-slide-content"><!----><!----><div class="beae-cbsdfdmu beae-block beae-core beae-unique-wp8ewo5t beae-x-video beae-prevent-system" data-id="beae-cbsdfdmu" data-uniqueid="wp8ewo5t" source="youtube"><!----><div class="beae-x-video--wrapper"><!----><div class="beae-block_video-player beae-prevent-system"><iframe id="beae-cbsdfdmu" target="do not remove" class="beae_iframe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" src="https://www.youtube.com/embed/BVjID8pd5Nk?version=3&amp;controls=1&amp;mute=1&amp;showinfo=0&amp;iv_load_policy=3&amp;playlist=BVjID8pd5Nk"></iframe></div><button class="beae-close-video" is="close-button" aria-label="Close"><svg role="presentation" stroke-width="2" focusable="false" width="24" height="24" viewBox="0 0 24 24"><path d="M17.658 6.343 6.344 17.657M17.658 17.657 6.344 6.343" stroke="currentColor"></path></svg></button><script type="text/javascript">window.BEAEARGS['beae-cbsdfdmublock-video'] = {
    "id": "beae-cbsdfdmu",
    "mode": {"value": "live"},
    "id":"beae-cbsdfdmu","uniqueId":"","source":"youtube","mute":true,"loop":true,"autoplay":true,"srcYoutube":"https://youtube.com/embed/BVjID8pd5Nk","lightbox":false,"player_controls":true,"extendOptions":"{}"
  };</script></div><!----></div><!----><!----><!----></div><!----></div></div></div><div class="beae-slider-controls"><div class="beae-slider-controls-wrp"><!----><!----><div class="beae-slider-pagination-wrp"></div><!----></div></div></div><script type="text/javascript">window.BEAEARGS['beae-yp8upx9qsection-slide-show'] = {
    "id": "beae-yp8upx9q",
    "mode": {"value": "live"},
    "layout":"slider","layoutMobile":"slider","effect":"slide","isLoop":true,"autoPlay":true,"autoPlayDelay":5,"itemsPerSlide":1,"itemsPerSlideMobile":1,"itemsGap":0,"itemsGapMobile":0,"paginationImage":false,"paginationImageMobile":false,"typeScroll":"default","numItemsScroll":1,"showNavigation":false,"showPagination":true,"showProgress":false,"hookSliderInit":"","hookBeforeSlideChange":"","hookAfterSlideChange":"\n  let device = window.innerWidth >= 768 ? 'desktop' : 'mobile';\n  let bgVideo = data.nextSlide ? data.nextSlide.querySelector('.beae-section-background-video[data-device=\"' + device + '\"] video') : null;\n  let bgIframe = data.nextSlide ? data.nextSlide.querySelector('.beae-section-background-video[data-device=\"' + device + '\"] iframe') : null;\n    if (bgVideo) {\n      const setupVideo = () => {\n        bgVideo.currentTime = 0;\n        bgVideo.play();\n        if (data.data.autoPlay) {\n          data.slider.setAttribute('data-video-duration', bgVideo.duration);\n          data.slider.setAttribute('data-video-background', 'true');\n          data.slider.setAttribute('data-stop-autoplay', 'true');\n          bgVideo.onended = () => {\n            data.nextSlider();\n          };\n        }\n      };\n\n      if (bgVideo.readyState >= 1) {\n        setupVideo();\n      } else {\n        bgVideo.onloadedmetadata = setupVideo;\n      }\n    } else if (bgIframe) {\n      const setupIframe = () => {\n        if (data.data.autoPlay) {\n          data.slider.setAttribute('data-video-background', 'true');\n          data.slider.setAttribute('data-stop-autoplay', 'true');\n          \n          let src = bgIframe.src;\n          if (!src.includes('autoplay=1')) {\n            bgIframe.src = src.includes('?') ? (src + '&autoplay=1') : (src + '?autoplay=1');\n          }else {\n            bgIframe.src = src;\n          }\n        }\n      };\n      setupIframe();\n    } else if (data.data.autoPlay) {\n      data.slider.removeAttribute('data-video-duration');\n      data.slider.removeAttribute('data-video-background');\n      data.slider.removeAttribute('data-stop-autoplay');\n    }\n  ","noRunJs":false,"itemGap":0,"itemGapMobile":0
  };</script></div></div><!----><!----><!----><!----><!----><!----></section><!----><script type="text/javascript">window.BEAEARGS['beae-yp8upx9qsection-js'] = {
    "id": "beae-yp8upx9q",
    "mode": {"value": "live"},
    "optionsVideo":{},"optionsVideoMobile":false
  };</script><!----><!----><!----><section id="" data-sectionid="beae-a9meanux" data-width="1467" data-margin="30px" data-margin-mobile="15px" data-type="flexContainer" class="beae-typo-p1 beae-a9meanux section-beae-a9meanux beae-section beae-core"><!----><!----><div class="beae-flexbox beae-typo-p1" style="padding: 0px;"><div class="beae__section--container beae-flexbox-container" style="max-width: var(--beae-page-width, 1470px);"><!----><div class="beae-flexbox-core beae-x-flex-section grid-container-width"><!----><div class="beae-cyyyyimp beae-block beae-core beae-animation beae-unique-2305ijkw beae-flex-wrapper" data-id="beae-cyyyyimp" data-uniqueid="2305ijkw"><!----><!----><!----><div class="beae-ps1yowhm beae-block beae-core beae-animation beae-unique-x5ssrkf3 beae-x-video beae-prevent-system" data-id="beae-ps1yowhm" data-uniqueid="x5ssrkf3" source="youtube"><!----><div class="beae-x-video--wrapper"><!----><div class="beae-block_video-player beae-prevent-system"><iframe id="beae-ps1yowhm" target="do not remove" class="beae_iframe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" src="https://www.youtube.com/embed/WzrcjiEY5F4?version=3&amp;controls=1&amp;mute=1&amp;showinfo=0&amp;iv_load_policy=3&amp;playlist=WzrcjiEY5F4"></iframe></div><button class="beae-close-video" is="close-button" aria-label="Close"><svg role="presentation" stroke-width="2" focusable="false" width="24" height="24" viewBox="0 0 24 24"><path d="M17.658 6.343 6.344 17.657M17.658 17.657 6.344 6.343" stroke="currentColor"></path></svg></button><script type="text/javascript">window.BEAEARGS['beae-ps1yowhmblock-video'] = {
    "id": "beae-ps1yowhm",
    "mode": {"value": "live"},
    "id":"beae-ps1yowhm","uniqueId":"","source":"youtube","mute":true,"loop":true,"autoplay":true,"srcYoutube":"https://youtube.com/embed/WzrcjiEY5F4?feature=share","lightbox":false,"player_controls":true,"extendOptions":"{}"
  };</script></div><!----></div><!----><!----><!----></div><!----><!----><!----><!----><!----><div class="beae-1xm2ggsr beae-block beae-core beae-animation beae-unique-pioe54ma beae-flex-wrapper" data-id="beae-1xm2ggsr" data-uniqueid="pioe54ma"><!----><!----><!----><div class="beae-e6wpuy9l beae-block beae-core beae-animation beae-unique-lgq9kudu beae-x-video beae-prevent-system" data-id="beae-e6wpuy9l" data-uniqueid="lgq9kudu" source="youtube"><!----><div class="beae-x-video--wrapper"><!----><div class="beae-block_video-player beae-prevent-system"><iframe id="beae-e6wpuy9l" target="do not remove" class="beae_iframe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" src="https://www.youtube.com/embed/BVjID8pd5Nk?version=3&amp;controls=1&amp;mute=1&amp;showinfo=0&amp;iv_load_policy=3&amp;playlist=BVjID8pd5Nk"></iframe></div><button class="beae-close-video" is="close-button" aria-label="Close"><svg role="presentation" stroke-width="2" focusable="false" width="24" height="24" viewBox="0 0 24 24"><path d="M17.658 6.343 6.344 17.657M17.658 17.657 6.344 6.343" stroke="currentColor"></path></svg></button><script type="text/javascript">window.BEAEARGS['beae-e6wpuy9lblock-video'] = {
    "id": "beae-e6wpuy9l",
    "mode": {"value": "live"},
    "id":"beae-e6wpuy9l","uniqueId":"","source":"youtube","mute":true,"loop":true,"autoplay":true,"srcYoutube":"https://youtube.com/embed/BVjID8pd5Nk","lightbox":false,"player_controls":true,"extendOptions":"{}"
  };</script></div><!----></div><!----><!----><!----></div><!----><!----></div></div></div><!----><!----><!----><!----><!----><!----></section><!----><script type="text/javascript">window.BEAEARGS['beae-a9meanuxsection-js'] = {
    "id": "beae-a9meanux",
    "mode": {"value": "live"},
    "optionsVideo":{},"optionsVideoMobile":false
  };</script><!----><section id="" data-sectionid="beae-w4grc3fu" data-width="1692" data-margin="30px" data-margin-mobile="15px" data-type="flexContainer" class="beae-typo-p1 beae-w4grc3fu section-beae-w4grc3fu beae-section beae-core"><!----><!----><div class="beae-flexbox beae-typo-p1" style="padding: 0px;"><div class="beae__section--container beae-flexbox-container" style="max-width: var(--beae-page-width, 1470px);"><!----><div class="beae-flexbox-core beae-x-flex-section grid-container-width"><!----><div class="beae-6iup7pku beae-block beae-core beae-animation beae-unique-ia357rr7 beae-flex-wrapper" data-id="beae-6iup7pku" data-uniqueid="ia357rr7"><!----><!----><!----><!----><!----><div class="beae-y4ffp11n beae-block beae-core beae-animation beae-unique-lx1wljrm beae-flexbox-core beae-x-button" data-id="beae-y4ffp11n" data-uniqueid="lx1wljrm"><!----><a href="#beae-cv0g7o2r" title="https://mls.om/pages/eid-sale-2026" class="beae-btn-pr beae-button-js"><span class="beae-btn-txt">{{ 'sections.beae-eid-sale-2026.be431872540_html' | t }} <!----></span></a><!----><script type="text/javascript">window.BEAEARGS['beae-y4ffp11nbutton-js'] = {
    "id": "beae-y4ffp11n",
    "mode": {"value": "live"},
    "id":"beae-y4ffp11n","pageContent":"","extendOptions":"{}","type":"target","url":"#beae-cv0g7o2r","handle":"17","title":"https://mls.om/pages/eid-sale-2026"
  };</script><!----></div><!----><!----><!----></div><!----><!----></div></div></div><!----><!----><!----><!----><!----><!----></section><!----><script type="text/javascript">window.BEAEARGS['beae-w4grc3fusection-js'] = {
    "id": "beae-w4grc3fu",
    "mode": {"value": "live"},
    "optionsVideo":false,"optionsVideoMobile":false
  };</script><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><section id="" data-sectionid="beae-s02qr6iq" data-width="1920" data-margin="30px" data-margin-mobile="15px" data-type="flexContainer" class="beae-typo-p1 beae-s02qr6iq section-beae-s02qr6iq beae-section beae-core"><!----><!----><div class="beae-flexbox beae-typo-p1" style="padding: 0px;"><div class="beae__section--container beae-flexbox-container beae__section--full"><!----><div class="beae-flexbox-core beae-x-flex-section grid-container-width"><!----><div class="beae-5xac80rh beae-block beae-core beae-animation beae-unique-gnjj9qmn" data-id="beae-5xac80rh" data-uniqueid="gnjj9qmn"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-5xac80rh">{{ 'sections.beae-eid-sale-2026.be18852344_html' | t }}</div><!----><!----></div><!----><!----><!----><div class="beae-r2qf9i11 beae-block beae-core beae-animation beae-unique-x7degpkj" data-id="beae-r2qf9i11" data-uniqueid="x7degpkj"><!----><div class="beae-block beae-x-text beae-typo-h3" data-autolayout="beae-r2qf9i11">{{ 'sections.beae-eid-sale-2026.be80768938141_html' | t }}</div><!----><!----></div><!----><!----><!----><div class="beae-2w04u3ag beae-block beae-core beae-animation beae-unique-jln8o1if" data-id="beae-2w04u3ag" data-uniqueid="jln8o1if""><!----><style type="text/css"></style><div class="beae-slider-wrapper beae-slider slider-beae-2w04u3ag items-per-1" data-draggable="true" data-desktop-layout="slider" data-mobile-layout="slider" data-effect="slide" data-pagination="true" data-navigation="false" style="--items-per: 1; --items-per-mobile: 1; --items-gap: 20px; --items-gap-mobile: 20px; --autoplay-delay: 5s;"><div class="beae-slider-content beae-slider-items"><div data-loop-index="0" class="beae-list-item beae-rt7slemj"><!----><!----><div class="beae-e3l5wbnu beae-block beae-core beae-unique-mad754ax" data-id="beae-e3l5wbnu" data-loop-index="0" data-uniqueid="mad754ax"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-e3l5wbnu">{{ 'sections.beae-eid-sale-2026.be18852344_html' | t }}</div><!----><!----></div><!----><!----><!----><!----><!----><div class="beae-7imt66ii beae-block beae-core beae-unique-09j96vrh beae-flex-wrapper" data-id="beae-7imt66ii" data-loop-index="0" data-uniqueid="09j96vrh"><!----><!----><!----><div class="beae-ztiqrh91 beae-block beae-core beae-unique-b0jan7fm beae-x-icon" data-id="beae-ztiqrh91" data-loop-index="0" data-uniqueid="b0jan7fm"><!----><div class="beae-elm__ic"><svg width="45" height="48" viewBox="0 0 45 48" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path d="M21.9655 0.86084C22.1048 0.379692 22.787 0.379687 22.9264 0.86084L27.4821 16.6021C27.6677 17.2435 28.2547 17.685 28.9225 17.6851H43.8903C44.3603 17.6854 44.57 18.2756 44.2057 18.5728L31.9059 28.6069C31.4399 28.987 31.2456 29.6084 31.4127 30.186L36.0631 46.2544C36.1994 46.7254 35.6472 47.0905 35.2672 46.7808L23.3942 37.0962C22.8422 36.646 22.0496 36.646 21.4977 37.0962L9.62463 46.7808C9.24465 47.0905 8.69243 46.7254 8.82874 46.2544L13.4791 30.186C13.6463 29.6084 13.4519 28.987 12.986 28.6069L0.686157 18.5728C0.321853 18.2756 0.531575 17.6854 1.00159 17.6851H15.9694C16.6371 17.685 17.2242 17.2435 17.4098 16.6021L21.9655 0.86084Z" fill="white" stroke="#FEFCFC"></path>
</svg></div><!----></div><!----><!----><!----><div class="beae-nov21bz6 beae-block beae-core beae-unique-2gzv2s1e beae-x-icon" data-id="beae-nov21bz6" data-loop-index="0" data-uniqueid="2gzv2s1e"><!----><div class="beae-elm__ic"><svg width="45" height="48" viewBox="0 0 45 48" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path d="M21.9655 0.86084C22.1048 0.379692 22.787 0.379687 22.9264 0.86084L27.4821 16.6021C27.6677 17.2435 28.2547 17.685 28.9225 17.6851H43.8903C44.3603 17.6854 44.57 18.2756 44.2057 18.5728L31.9059 28.6069C31.4399 28.987 31.2456 29.6084 31.4127 30.186L36.0631 46.2544C36.1994 46.7254 35.6472 47.0905 35.2672 46.7808L23.3942 37.0962C22.8422 36.646 22.0496 36.646 21.4977 37.0962L9.62463 46.7808C9.24465 47.0905 8.69243 46.7254 8.82874 46.2544L13.4791 30.186C13.6463 29.6084 13.4519 28.987 12.986 28.6069L0.686157 18.5728C0.321853 18.2756 0.531575 17.6854 1.00159 17.6851H15.9694C16.6371 17.685 17.2242 17.2435 17.4098 16.6021L21.9655 0.86084Z" fill="white" stroke="#FEFCFC"></path>
</svg></div><!----></div><!----><!----><!----><div class="beae-mf3ey73w beae-block beae-core beae-unique-cn4x3d4u beae-x-icon" data-id="beae-mf3ey73w" data-loop-index="0" data-uniqueid="cn4x3d4u"><!----><div class="beae-elm__ic"><svg width="45" height="48" viewBox="0 0 45 48" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path d="M21.9655 0.86084C22.1048 0.379692 22.787 0.379687 22.9264 0.86084L27.4821 16.6021C27.6677 17.2435 28.2547 17.685 28.9225 17.6851H43.8903C44.3603 17.6854 44.57 18.2756 44.2057 18.5728L31.9059 28.6069C31.4399 28.987 31.2456 29.6084 31.4127 30.186L36.0631 46.2544C36.1994 46.7254 35.6472 47.0905 35.2672 46.7808L23.3942 37.0962C22.8422 36.646 22.0496 36.646 21.4977 37.0962L9.62463 46.7808C9.24465 47.0905 8.69243 46.7254 8.82874 46.2544L13.4791 30.186C13.6463 29.6084 13.4519 28.987 12.986 28.6069L0.686157 18.5728C0.321853 18.2756 0.531575 17.6854 1.00159 17.6851H15.9694C16.6371 17.685 17.2242 17.2435 17.4098 16.6021L21.9655 0.86084Z" fill="white" stroke="#FEFCFC"></path>
</svg></div><!----></div><!----><!----><!----><div class="beae-xgib0tqs beae-block beae-core beae-unique-g2th38ok beae-x-icon" data-id="beae-xgib0tqs" data-loop-index="0" data-uniqueid="g2th38ok"><!----><div class="beae-elm__ic"><svg width="45" height="48" viewBox="0 0 45 48" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path d="M21.9655 0.86084C22.1048 0.379692 22.787 0.379687 22.9264 0.86084L27.4821 16.6021C27.6677 17.2435 28.2547 17.685 28.9225 17.6851H43.8903C44.3603 17.6854 44.57 18.2756 44.2057 18.5728L31.9059 28.6069C31.4399 28.987 31.2456 29.6084 31.4127 30.186L36.0631 46.2544C36.1994 46.7254 35.6472 47.0905 35.2672 46.7808L23.3942 37.0962C22.8422 36.646 22.0496 36.646 21.4977 37.0962L9.62463 46.7808C9.24465 47.0905 8.69243 46.7254 8.82874 46.2544L13.4791 30.186C13.6463 29.6084 13.4519 28.987 12.986 28.6069L0.686157 18.5728C0.321853 18.2756 0.531575 17.6854 1.00159 17.6851H15.9694C16.6371 17.685 17.2242 17.2435 17.4098 16.6021L21.9655 0.86084Z" fill="white" stroke="#FEFCFC"></path>
</svg></div><!----></div><!----><!----><!----><div class="beae-209uaku3 beae-block beae-core beae-unique-3xi1m205 beae-x-icon" data-id="beae-209uaku3" data-loop-index="0" data-uniqueid="3xi1m205"><!----><div class="beae-elm__ic"><svg width="45" height="48" viewBox="0 0 45 48" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path d="M21.9655 0.86084C22.1048 0.379692 22.787 0.379687 22.9264 0.86084L27.4821 16.6021C27.6677 17.2435 28.2547 17.685 28.9225 17.6851H43.8903C44.3603 17.6854 44.57 18.2756 44.2057 18.5728L31.9059 28.6069C31.4399 28.987 31.2456 29.6084 31.4127 30.186L36.0631 46.2544C36.1994 46.7254 35.6472 47.0905 35.2672 46.7808L23.3942 37.0962C22.8422 36.646 22.0496 36.646 21.4977 37.0962L9.62463 46.7808C9.24465 47.0905 8.69243 46.7254 8.82874 46.2544L13.4791 30.186C13.6463 29.6084 13.4519 28.987 12.986 28.6069L0.686157 18.5728C0.321853 18.2756 0.531575 17.6854 1.00159 17.6851H15.9694C16.6371 17.685 17.2242 17.2435 17.4098 16.6021L21.9655 0.86084Z" fill="white" stroke="#FEFCFC"></path>
</svg></div><!----></div><!----><!----><!----></div><!----><!----><!----><div class="beae-r5766cw5 beae-block beae-core beae-unique-z7klv7oz" data-id="beae-r5766cw5" data-loop-index="0" data-uniqueid="z7klv7oz"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-r5766cw5">{{ 'sections.beae-eid-sale-2026.be18852344_html' | t }}</div><!----><!----></div><!----><!----><!----><div class="beae-shea7866 beae-block beae-core beae-unique-5fttsuar" data-id="beae-shea7866" data-loop-index="0" data-uniqueid="5fttsuar"><!----><div class="beae-block beae-x-text beae-typo-h6" data-autolayout="beae-shea7866">{{ 'sections.beae-eid-sale-2026.be1426578244_html' | t }}</div><!----><!----></div><!----><!----><!----><!----><!----><div class="beae-5rfw9och beae-block beae-core beae-unique-8dw5z9o6" data-id="beae-5rfw9och" data-loop-index="0" data-uniqueid="8dw5z9o6"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-5rfw9och">{{ 'sections.beae-eid-sale-2026.be910471707_html' | t }}</div><!----><!----></div><!----><!----><!----><!----><!----><div class="beae-x8ie1xih beae-block beae-core beae-unique-o90uj8gz" data-id="beae-x8ie1xih" data-loop-index="0" data-uniqueid="o90uj8gz"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-x8ie1xih">{{ 'sections.beae-eid-sale-2026.be1869745298_html' | t }}</div><!----><!----></div><!----><!----><!----><div class="beae-48oh8vfw beae-block beae-core beae-unique-byfom3zr" data-id="beae-48oh8vfw" data-loop-index="0" data-uniqueid="byfom3zr"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-48oh8vfw">{{ 'sections.beae-eid-sale-2026.be536099242_html' | t }}</div><!----><!----></div><!----><!----></div><div data-loop-index="1" class="beae-list-item beae-jbyaerup"><!----><!----><div class="beae-e3l5wbnu beae-block beae-core beae-unique-zq04oruc" data-id="beae-e3l5wbnu" data-loop-index="1" data-uniqueid="zq04oruc"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-e3l5wbnu">{{ 'sections.beae-eid-sale-2026.be18852344_html' | t }}</div><!----><!----></div><!----><!----><!----><!----><!----><div class="beae-7imt66ii beae-block beae-core beae-unique-6zapx21y beae-flex-wrapper" data-id="beae-7imt66ii" data-loop-index="1" data-uniqueid="6zapx21y"><!----><!----><!----><div class="beae-ztiqrh91 beae-block beae-core beae-unique-ii0rnbgf beae-x-icon" data-id="beae-ztiqrh91" data-loop-index="1" data-uniqueid="ii0rnbgf"><!----><div class="beae-elm__ic"><svg width="45" height="48" viewBox="0 0 45 48" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path d="M21.9655 0.86084C22.1048 0.379692 22.787 0.379687 22.9264 0.86084L27.4821 16.6021C27.6677 17.2435 28.2547 17.685 28.9225 17.6851H43.8903C44.3603 17.6854 44.57 18.2756 44.2057 18.5728L31.9059 28.6069C31.4399 28.987 31.2456 29.6084 31.4127 30.186L36.0631 46.2544C36.1994 46.7254 35.6472 47.0905 35.2672 46.7808L23.3942 37.0962C22.8422 36.646 22.0496 36.646 21.4977 37.0962L9.62463 46.7808C9.24465 47.0905 8.69243 46.7254 8.82874 46.2544L13.4791 30.186C13.6463 29.6084 13.4519 28.987 12.986 28.6069L0.686157 18.5728C0.321853 18.2756 0.531575 17.6854 1.00159 17.6851H15.9694C16.6371 17.685 17.2242 17.2435 17.4098 16.6021L21.9655 0.86084Z" fill="white" stroke="#FEFCFC"></path>
</svg></div><!----></div><!----><!----><!----><div class="beae-nov21bz6 beae-block beae-core beae-unique-fz41hl7b beae-x-icon" data-id="beae-nov21bz6" data-loop-index="1" data-uniqueid="fz41hl7b"><!----><div class="beae-elm__ic"><svg width="45" height="48" viewBox="0 0 45 48" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path d="M21.9655 0.86084C22.1048 0.379692 22.787 0.379687 22.9264 0.86084L27.4821 16.6021C27.6677 17.2435 28.2547 17.685 28.9225 17.6851H43.8903C44.3603 17.6854 44.57 18.2756 44.2057 18.5728L31.9059 28.6069C31.4399 28.987 31.2456 29.6084 31.4127 30.186L36.0631 46.2544C36.1994 46.7254 35.6472 47.0905 35.2672 46.7808L23.3942 37.0962C22.8422 36.646 22.0496 36.646 21.4977 37.0962L9.62463 46.7808C9.24465 47.0905 8.69243 46.7254 8.82874 46.2544L13.4791 30.186C13.6463 29.6084 13.4519 28.987 12.986 28.6069L0.686157 18.5728C0.321853 18.2756 0.531575 17.6854 1.00159 17.6851H15.9694C16.6371 17.685 17.2242 17.2435 17.4098 16.6021L21.9655 0.86084Z" fill="white" stroke="#FEFCFC"></path>
</svg></div><!----></div><!----><!----><!----><div class="beae-mf3ey73w beae-block beae-core beae-unique-z100fy7h beae-x-icon" data-id="beae-mf3ey73w" data-loop-index="1" data-uniqueid="z100fy7h"><!----><div class="beae-elm__ic"><svg width="45" height="48" viewBox="0 0 45 48" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path d="M21.9655 0.86084C22.1048 0.379692 22.787 0.379687 22.9264 0.86084L27.4821 16.6021C27.6677 17.2435 28.2547 17.685 28.9225 17.6851H43.8903C44.3603 17.6854 44.57 18.2756 44.2057 18.5728L31.9059 28.6069C31.4399 28.987 31.2456 29.6084 31.4127 30.186L36.0631 46.2544C36.1994 46.7254 35.6472 47.0905 35.2672 46.7808L23.3942 37.0962C22.8422 36.646 22.0496 36.646 21.4977 37.0962L9.62463 46.7808C9.24465 47.0905 8.69243 46.7254 8.82874 46.2544L13.4791 30.186C13.6463 29.6084 13.4519 28.987 12.986 28.6069L0.686157 18.5728C0.321853 18.2756 0.531575 17.6854 1.00159 17.6851H15.9694C16.6371 17.685 17.2242 17.2435 17.4098 16.6021L21.9655 0.86084Z" fill="white" stroke="#FEFCFC"></path>
</svg></div><!----></div><!----><!----><!----><div class="beae-xgib0tqs beae-block beae-core beae-unique-eq2yc5gu beae-x-icon" data-id="beae-xgib0tqs" data-loop-index="1" data-uniqueid="eq2yc5gu"><!----><div class="beae-elm__ic"><svg width="45" height="48" viewBox="0 0 45 48" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path d="M21.9655 0.86084C22.1048 0.379692 22.787 0.379687 22.9264 0.86084L27.4821 16.6021C27.6677 17.2435 28.2547 17.685 28.9225 17.6851H43.8903C44.3603 17.6854 44.57 18.2756 44.2057 18.5728L31.9059 28.6069C31.4399 28.987 31.2456 29.6084 31.4127 30.186L36.0631 46.2544C36.1994 46.7254 35.6472 47.0905 35.2672 46.7808L23.3942 37.0962C22.8422 36.646 22.0496 36.646 21.4977 37.0962L9.62463 46.7808C9.24465 47.0905 8.69243 46.7254 8.82874 46.2544L13.4791 30.186C13.6463 29.6084 13.4519 28.987 12.986 28.6069L0.686157 18.5728C0.321853 18.2756 0.531575 17.6854 1.00159 17.6851H15.9694C16.6371 17.685 17.2242 17.2435 17.4098 16.6021L21.9655 0.86084Z" fill="white" stroke="#FEFCFC"></path>
</svg></div><!----></div><!----><!----><!----><div class="beae-209uaku3 beae-block beae-core beae-unique-cbcjqbwc beae-x-icon" data-id="beae-209uaku3" data-loop-index="1" data-uniqueid="cbcjqbwc"><!----><div class="beae-elm__ic"><svg width="45" height="48" viewBox="0 0 45 48" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path d="M21.9655 0.86084C22.1048 0.379692 22.787 0.379687 22.9264 0.86084L27.4821 16.6021C27.6677 17.2435 28.2547 17.685 28.9225 17.6851H43.8903C44.3603 17.6854 44.57 18.2756 44.2057 18.5728L31.9059 28.6069C31.4399 28.987 31.2456 29.6084 31.4127 30.186L36.0631 46.2544C36.1994 46.7254 35.6472 47.0905 35.2672 46.7808L23.3942 37.0962C22.8422 36.646 22.0496 36.646 21.4977 37.0962L9.62463 46.7808C9.24465 47.0905 8.69243 46.7254 8.82874 46.2544L13.4791 30.186C13.6463 29.6084 13.4519 28.987 12.986 28.6069L0.686157 18.5728C0.321853 18.2756 0.531575 17.6854 1.00159 17.6851H15.9694C16.6371 17.685 17.2242 17.2435 17.4098 16.6021L21.9655 0.86084Z" fill="white" stroke="#FEFCFC"></path>
</svg></div><!----></div><!----><!----><!----></div><!----><!----><!----><div class="beae-r5766cw5 beae-block beae-core beae-unique-pxchex9i" data-id="beae-r5766cw5" data-loop-index="1" data-uniqueid="pxchex9i"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-r5766cw5">{{ 'sections.beae-eid-sale-2026.be18852344_html' | t }}</div><!----><!----></div><!----><!----><!----><div class="beae-shea7866 beae-block beae-core beae-unique-a5i1n7yb" data-id="beae-shea7866" data-loop-index="1" data-uniqueid="a5i1n7yb"><!----><div class="beae-block beae-x-text beae-typo-h6" data-autolayout="beae-shea7866">{{ 'sections.beae-eid-sale-2026.be130754121225_html' | t }}</div><!----><!----></div><!----><!----><!----><!----><!----><div class="beae-5rfw9och beae-block beae-core beae-unique-6ilabpfg" data-id="beae-5rfw9och" data-loop-index="1" data-uniqueid="6ilabpfg"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-5rfw9och">{{ 'sections.beae-eid-sale-2026.be1779191006217_html' | t }}</div><!----><!----></div><!----><!----><!----><!----><!----><div class="beae-x8ie1xih beae-block beae-core beae-unique-sgfoyw81" data-id="beae-x8ie1xih" data-loop-index="1" data-uniqueid="sgfoyw81"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-x8ie1xih">{{ 'sections.beae-eid-sale-2026.be751826453_html' | t }}</div><!----><!----></div><!----><!----><!----><div class="beae-48oh8vfw beae-block beae-core beae-unique-kgtz13t1" data-id="beae-48oh8vfw" data-loop-index="1" data-uniqueid="kgtz13t1"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-48oh8vfw">{{ 'sections.beae-eid-sale-2026.be536099242_html' | t }}</div><!----><!----></div><!----><!----></div><div data-loop-index="2" class="beae-list-item beae-jmpooge2"><!----><!----><div class="beae-e3l5wbnu beae-block beae-core beae-unique-kj1bwpqz" data-id="beae-e3l5wbnu" data-loop-index="2" data-uniqueid="kj1bwpqz"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-e3l5wbnu">{{ 'sections.beae-eid-sale-2026.be18852344_html' | t }}</div><!----><!----></div><!----><!----><!----><!----><!----><div class="beae-7imt66ii beae-block beae-core beae-unique-eh9lzcnn beae-flex-wrapper" data-id="beae-7imt66ii" data-loop-index="2" data-uniqueid="eh9lzcnn"><!----><!----><!----><div class="beae-ztiqrh91 beae-block beae-core beae-unique-pq33fyrl beae-x-icon" data-id="beae-ztiqrh91" data-loop-index="2" data-uniqueid="pq33fyrl"><!----><div class="beae-elm__ic"><svg width="45" height="48" viewBox="0 0 45 48" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path d="M21.9655 0.86084C22.1048 0.379692 22.787 0.379687 22.9264 0.86084L27.4821 16.6021C27.6677 17.2435 28.2547 17.685 28.9225 17.6851H43.8903C44.3603 17.6854 44.57 18.2756 44.2057 18.5728L31.9059 28.6069C31.4399 28.987 31.2456 29.6084 31.4127 30.186L36.0631 46.2544C36.1994 46.7254 35.6472 47.0905 35.2672 46.7808L23.3942 37.0962C22.8422 36.646 22.0496 36.646 21.4977 37.0962L9.62463 46.7808C9.24465 47.0905 8.69243 46.7254 8.82874 46.2544L13.4791 30.186C13.6463 29.6084 13.4519 28.987 12.986 28.6069L0.686157 18.5728C0.321853 18.2756 0.531575 17.6854 1.00159 17.6851H15.9694C16.6371 17.685 17.2242 17.2435 17.4098 16.6021L21.9655 0.86084Z" fill="white" stroke="#FEFCFC"></path>
</svg></div><!----></div><!----><!----><!----><div class="beae-nov21bz6 beae-block beae-core beae-unique-xbezokod beae-x-icon" data-id="beae-nov21bz6" data-loop-index="2" data-uniqueid="xbezokod"><!----><div class="beae-elm__ic"><svg width="45" height="48" viewBox="0 0 45 48" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path d="M21.9655 0.86084C22.1048 0.379692 22.787 0.379687 22.9264 0.86084L27.4821 16.6021C27.6677 17.2435 28.2547 17.685 28.9225 17.6851H43.8903C44.3603 17.6854 44.57 18.2756 44.2057 18.5728L31.9059 28.6069C31.4399 28.987 31.2456 29.6084 31.4127 30.186L36.0631 46.2544C36.1994 46.7254 35.6472 47.0905 35.2672 46.7808L23.3942 37.0962C22.8422 36.646 22.0496 36.646 21.4977 37.0962L9.62463 46.7808C9.24465 47.0905 8.69243 46.7254 8.82874 46.2544L13.4791 30.186C13.6463 29.6084 13.4519 28.987 12.986 28.6069L0.686157 18.5728C0.321853 18.2756 0.531575 17.6854 1.00159 17.6851H15.9694C16.6371 17.685 17.2242 17.2435 17.4098 16.6021L21.9655 0.86084Z" fill="white" stroke="#FEFCFC"></path>
</svg></div><!----></div><!----><!----><!----><div class="beae-mf3ey73w beae-block beae-core beae-unique-3o3css2u beae-x-icon" data-id="beae-mf3ey73w" data-loop-index="2" data-uniqueid="3o3css2u"><!----><div class="beae-elm__ic"><svg width="45" height="48" viewBox="0 0 45 48" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path d="M21.9655 0.86084C22.1048 0.379692 22.787 0.379687 22.9264 0.86084L27.4821 16.6021C27.6677 17.2435 28.2547 17.685 28.9225 17.6851H43.8903C44.3603 17.6854 44.57 18.2756 44.2057 18.5728L31.9059 28.6069C31.4399 28.987 31.2456 29.6084 31.4127 30.186L36.0631 46.2544C36.1994 46.7254 35.6472 47.0905 35.2672 46.7808L23.3942 37.0962C22.8422 36.646 22.0496 36.646 21.4977 37.0962L9.62463 46.7808C9.24465 47.0905 8.69243 46.7254 8.82874 46.2544L13.4791 30.186C13.6463 29.6084 13.4519 28.987 12.986 28.6069L0.686157 18.5728C0.321853 18.2756 0.531575 17.6854 1.00159 17.6851H15.9694C16.6371 17.685 17.2242 17.2435 17.4098 16.6021L21.9655 0.86084Z" fill="white" stroke="#FEFCFC"></path>
</svg></div><!----></div><!----><!----><!----><div class="beae-xgib0tqs beae-block beae-core beae-unique-ry93qz5p beae-x-icon" data-id="beae-xgib0tqs" data-loop-index="2" data-uniqueid="ry93qz5p"><!----><div class="beae-elm__ic"><svg width="45" height="48" viewBox="0 0 45 48" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path d="M21.9655 0.86084C22.1048 0.379692 22.787 0.379687 22.9264 0.86084L27.4821 16.6021C27.6677 17.2435 28.2547 17.685 28.9225 17.6851H43.8903C44.3603 17.6854 44.57 18.2756 44.2057 18.5728L31.9059 28.6069C31.4399 28.987 31.2456 29.6084 31.4127 30.186L36.0631 46.2544C36.1994 46.7254 35.6472 47.0905 35.2672 46.7808L23.3942 37.0962C22.8422 36.646 22.0496 36.646 21.4977 37.0962L9.62463 46.7808C9.24465 47.0905 8.69243 46.7254 8.82874 46.2544L13.4791 30.186C13.6463 29.6084 13.4519 28.987 12.986 28.6069L0.686157 18.5728C0.321853 18.2756 0.531575 17.6854 1.00159 17.6851H15.9694C16.6371 17.685 17.2242 17.2435 17.4098 16.6021L21.9655 0.86084Z" fill="white" stroke="#FEFCFC"></path>
</svg></div><!----></div><!----><!----><!----><div class="beae-209uaku3 beae-block beae-core beae-unique-znltfmj7 beae-x-icon" data-id="beae-209uaku3" data-loop-index="2" data-uniqueid="znltfmj7"><!----><div class="beae-elm__ic"><svg width="45" height="48" viewBox="0 0 45 48" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path d="M21.9655 0.86084C22.1048 0.379692 22.787 0.379687 22.9264 0.86084L27.4821 16.6021C27.6677 17.2435 28.2547 17.685 28.9225 17.6851H43.8903C44.3603 17.6854 44.57 18.2756 44.2057 18.5728L31.9059 28.6069C31.4399 28.987 31.2456 29.6084 31.4127 30.186L36.0631 46.2544C36.1994 46.7254 35.6472 47.0905 35.2672 46.7808L23.3942 37.0962C22.8422 36.646 22.0496 36.646 21.4977 37.0962L9.62463 46.7808C9.24465 47.0905 8.69243 46.7254 8.82874 46.2544L13.4791 30.186C13.6463 29.6084 13.4519 28.987 12.986 28.6069L0.686157 18.5728C0.321853 18.2756 0.531575 17.6854 1.00159 17.6851H15.9694C16.6371 17.685 17.2242 17.2435 17.4098 16.6021L21.9655 0.86084Z" fill="white" stroke="#FEFCFC"></path>
</svg></div><!----></div><!----><!----><!----></div><!----><!----><!----><div class="beae-r5766cw5 beae-block beae-core beae-unique-lhylkuq5" data-id="beae-r5766cw5" data-loop-index="2" data-uniqueid="lhylkuq5"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-r5766cw5">{{ 'sections.beae-eid-sale-2026.be18852344_html' | t }}</div><!----><!----></div><!----><!----><!----><div class="beae-shea7866 beae-block beae-core beae-unique-zirpqwau" data-id="beae-shea7866" data-loop-index="2" data-uniqueid="zirpqwau"><!----><div class="beae-block beae-x-text beae-typo-h6" data-autolayout="beae-shea7866">{{ 'sections.beae-eid-sale-2026.be152215215930_html' | t }}</div><!----><!----></div><!----><!----><!----><!----><!----><div class="beae-5rfw9och beae-block beae-core beae-unique-1liferpb" data-id="beae-5rfw9och" data-loop-index="2" data-uniqueid="1liferpb"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-5rfw9och">{{ 'sections.beae-eid-sale-2026.be831942864_html' | t }}</div><!----><!----></div><!----><!----><!----><!----><!----><div class="beae-x8ie1xih beae-block beae-core beae-unique-3naxkx24" data-id="beae-x8ie1xih" data-loop-index="2" data-uniqueid="3naxkx24"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-x8ie1xih">{{ 'sections.beae-eid-sale-2026.be308072359_html' | t }}</div><!----><!----></div><!----><!----><!----><div class="beae-48oh8vfw beae-block beae-core beae-unique-6v2lm4u0" data-id="beae-48oh8vfw" data-loop-index="2" data-uniqueid="6v2lm4u0"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-48oh8vfw">{{ 'sections.beae-eid-sale-2026.be536099242_html' | t }}</div><!----><!----></div><!----><!----></div></div><div class="beae-slider-controls"><div class="beae-slider-controls-wrp"><!----><!----><div class="beae-slider-pagination-wrp"></div><!----></div></div></div><script type="text/javascript">window.BEAEARGS['beae-2w04u3agsection-slide-show'] = {
    "id": "beae-2w04u3ag",
    "mode": {"value": "live"},
    "layout":"slider","layoutMobile":"slider","effect":"slide","isLoop":true,"autoPlay":true,"autoPlayDelay":5,"itemsPerSlide":1,"itemsPerSlideMobile":1,"itemsGap":"20px","itemsGapMobile":"20px","paginationImage":false,"paginationImageMobile":false,"typeScroll":"specific","numItemsScroll":3,"showNavigation":false,"showPagination":true,"showProgress":false,"hookSliderInit":"","hookBeforeSlideChange":"","hookAfterSlideChange":"","noRunJs":false,"itemGap":0,"itemGapMobile":0
  };</script><!----></div><!----><!----></div></div></div><!----><picture image-mode="" class="beae-yzpdj beae-background-image"><!----><img src="https://cdn.shopify.com/s/files/1/0285/3732/3629/files/Mask_group.png?v=1770039705" alt="Mask_group" width="1728" height="805" fetchpriority="high" loading=""></picture><!----><!----><!----><!----><!----></section><!----><script type="text/javascript">window.BEAEARGS['beae-s02qr6iqsection-js'] = {
    "id": "beae-s02qr6iq",
    "mode": {"value": "live"},
    "optionsVideo":{},"optionsVideoMobile":false
  };</script><!----><section id="" data-sectionid="beae-cv0g7o2r" data-width="1467" data-margin="30px" data-margin-mobile="15px" data-type="flexContainer" class="beae-typo-p1 beae-cv0g7o2r section-beae-cv0g7o2r beae-section beae-core"><!----><!----><div class="beae-flexbox beae-typo-p1" style="padding: 0px;"><div class="beae__section--container beae-flexbox-container" style="max-width: var(--beae-page-width, 1470px);"><!----><div class="beae-flexbox-core beae-x-flex-section grid-container-width"><!----><div class="beae-pjhnpiwu beae-block beae-core beae-animation beae-unique-126vmsb3" data-id="beae-pjhnpiwu" data-uniqueid="126vmsb3"><!----><div class="beae-block beae-x-text beae-typo-h3" data-autolayout="beae-pjhnpiwu">{{ 'sections.beae-eid-sale-2026.be356680843_html' | t }}</div><!----><!----></div><!----><!----><!----><div class="beae-io92bc1y beae-block beae-core beae-animation beae-unique-xnccx7d6" data-id="beae-io92bc1y" data-uniqueid="xnccx7d6""><!----><!----><div class="beae-flexbox-core beae-x-collection-list"><style type="text/css"></style><div class="beae-slider-wrapper beae-slider slider-beae-io92bc1y items-per-3" data-draggable="true" data-desktop-layout="grid" data-mobile-layout="grid" data-effect="slide" data-pagination="true" data-navigation="true" style="--items-per: 3; --items-per-mobile: 1; --items-gap: 25px; --items-gap-mobile: 20px; --autoplay-delay: 5s;"><div class="beae-slider-content beae-slider-items">
        {% liquid
          assign tmp_collection = collection
          assign selected_collections = "eid-steaks-collection,eid-burgers-mishkak-and-chops-collection,eid-chicken-collection" | split: ","
          assign image_src = "https://cdn.shopify.com/s/files/1/0285/3732/3629/files/376260d318b31856e9891845a5c377d089dd4361.png?v=1772638952|https://cdn.shopify.com/s/files/1/0285/3732/3629/files/e9979c1135d2bbc77e11266a5485eef89659b448.png?v=1772639445|https://cdn.shopify.com/s/files/1/0285/3732/3629/files/eaa41ec3a7df24737476a041005c85ba5202d37e.png?v=1772639427" | split: "|"
          assign image_width = "963,963,963" | split: ","
          assign image_height = "963,963,963" | split: ","
          assign index_loop = 0
        %}

        {% for collection_handle in selected_collections %}
          
          {% liquid 
            assign collection = collections[collection_handle] 
          %}
       <div class="beae-slide-item"><div class="beae-collection-card beae-ws8scxxk"><!----><!----><div class="beae-q9iox4jd beae-block beae-core beae-unique-9ov28gj9" data-id="beae-q9iox4jd" data-loop-index="0" data-uniqueid="9ov28gj9""><!---->
        
        
        <!----><a class="beae-block beae-x-image beae-container-image beae-image-content-position beae-image-picture beae-image-product" hover-mode="false" href="{{ collection.url }}"><!----><!----><picture image-mode="" class="beae-er81j beae-image-primary">
  {% if image_src[index_loop] != blank %}
    <img
        src="{{ image_src[index_loop] }}"
        alt="{{ collection.title | escape | default: 'Collection Image'}}" 
        width="{{ image_width[index_loop] | default: 915 }}"
        height="{{ image_height[index_loop] | default: 915 }}"
        loading="lazy"
      />
  {% else %}
    {% if collection.featured_image %}
    <img
      src="{{ collection.featured_image | img_url: 'master' }}"
      alt="{{ collection.featured_image.alt | escape | default: 'Collection Image'}}"
      width="{{ collection.featured_image.width | default: 915 }}"
      height="{{ collection.featured_image.height | default: 915 }}"
      loading="lazy"
    />
    
    {% else %}
    <img
    src="undefined"
    alt="{{ collection.title | escape | default: 'Collection Image'}}" 
    width="undefined"
    height="undefined"
    loading="lazy"
  />
    {% endif %}
  {% endif %}
  </picture><!----></a><script type="text/javascript">window.BEAEARGS['beae-q9iox4jdblock-image'] = {
    "id": "beae-q9iox4jd",
    "mode": {"value": "live"},
    "autoHover":false
  };</script><!----></div><!----><!----><!----><div class="beae-ekm60xv4 beae-block beae-core beae-unique-lyo0d1vx beae-flex-wrapper" data-id="beae-ekm60xv4" data-loop-index="0" data-uniqueid="lyo0d1vx"><!----><!----><!----><div class="beae-lhbxgrvo beae-block beae-core beae-unique-751veq7e" data-id="beae-lhbxgrvo" data-loop-index="0" data-uniqueid="751veq7e"><!----><div class="beae-block beae-x-text beae-typo-h5" data-autolayout="beae-lhbxgrvo"><a class="beae-collection--title" href="{{ collection.url }}">{{ collection.title }}</a></div><!----><!----></div><!----><!----><!----><div class="beae-8zjims8b beae-block beae-core beae-unique-c6hqpzam beae-flex-wrapper" data-id="beae-8zjims8b" data-loop-index="0" data-uniqueid="c6hqpzam"><!----><!----><!----><div class="beae-t56wo1nl beae-block beae-core beae-unique-6az5jbdp beae-flex-wrapper" data-id="beae-t56wo1nl" data-loop-index="0" data-uniqueid="6az5jbdp"><!----><!----><!----><!----><!----><div class="beae-2em0oykh beae-block beae-core beae-unique-7b4s8ea9 beae-btn-wrp" data-id="beae-2em0oykh" data-loop-index="0" data-uniqueid="7b4s8ea9"><!----><a class="beae-btn-pr beae-flex-view-detail" href="{{ collection.url }}" name="button"><span>{{ 'sections.beae-eid-sale-2026.be747681529_html' | t }}</span><!----></a><!----></div><!----><!----><!----></div><!----><!----><!----></div><!----><!----><!----><div class="beae-3z6ie1vb beae-block beae-core beae-unique-hhj4fmpc beae-flex-wrapper" data-id="beae-3z6ie1vb" data-loop-index="0" data-uniqueid="hhj4fmpc"><!----><!----><!----><div class="beae-uwah30gx beae-block beae-core beae-unique-baclu8vn" data-id="beae-uwah30gx" data-loop-index="0" data-uniqueid="baclu8vn"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-uwah30gx">{{ 'sections.beae-eid-sale-2026.be18852344_html' | t }}</div><!----><!----></div><!----><!----><!----></div><!----><!----><!----></div><!----><!----><!----><!----><!----><!----></div></div> 
          {% liquid 
            assign index_loop = index_loop | plus: 1
            assign image_collection = ''
          %}
          
        {% endfor %}
        {%- assign collection = tmp_collection -%}   
      </div><div class="beae-slider-controls"><div class="beae-slider-controls-wrp"><div class="beae-slider-indicator"><div class="beae-slider-progress"></div></div><div class="beae-slider-nav-left"><button aria-label="button" type="button"><svg xmlns="http: //www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><polyline points="15 18 9 12 15 6"></polyline></svg></button></div><div class="beae-slider-pagination-wrp"></div><div class="beae-slider-nav-right"><button aria-label="button" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><polyline points="9 18 15 12 9 6"></polyline></svg></button></div></div></div></div><script type="text/javascript">window.BEAEARGS['beae-io92bc1ysection-slide-show'] = {
    "id": "beae-io92bc1y",
    "mode": {"value": "live"},
    "layout":"grid","layoutMobile":"grid","effect":"slide","isLoop":true,"autoPlay":false,"autoPlayDelay":5,"itemsPerSlide":3,"itemsPerSlideMobile":1.2,"itemsGap":"25px","itemsGapMobile":"20px","paginationImage":false,"paginationImageMobile":false,"typeScroll":"default","numItemsScroll":1,"showNavigation":true,"showPagination":true,"showProgress":true,"hookSliderInit":"","hookBeforeSlideChange":"","hookAfterSlideChange":"","noRunJs":false
  };</script><!----></div><script type="text/javascript">window.BEAEARGS['beae-io92bc1ysection-featured-collection'] = {
    "id": "beae-io92bc1y",
    "mode": {"value": "live"},
    "mobileMode":false
  };</script><!----></div><!----><!----><!----><div class="beae-62jy5ify beae-block beae-core beae-animation beae-unique-wo84w190" data-id="beae-62jy5ify" data-uniqueid="wo84w190"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-62jy5ify">{{ 'sections.beae-eid-sale-2026.be18852344_html' | t }}</div><!----><!----></div><!----><!----><!----><div class="beae-gz5i1vkh beae-block beae-core beae-animation beae-unique-j59pwula" data-id="beae-gz5i1vkh" data-uniqueid="j59pwula""><!----><!----><div class="beae-flexbox-core beae-x-collection-list"><style type="text/css"></style><div class="beae-slider-wrapper beae-slider slider-beae-gz5i1vkh items-per-3" data-draggable="true" data-desktop-layout="grid" data-mobile-layout="grid" data-effect="slide" data-pagination="true" data-navigation="true" style="--items-per: 3; --items-per-mobile: 1; --items-gap: 25px; --items-gap-mobile: 20px; --autoplay-delay: 5s;"><div class="beae-slider-content beae-slider-items">
        {% liquid
          assign tmp_collection = collection
          assign selected_collections = "eid-box-collection,eid-shuwa-collection,eid-whole-lamb-goat-collection" | split: ","
          assign image_src = "https://cdn.shopify.com/s/files/1/0285/3732/3629/files/89bdbd58b26d52fb11bd436ddfbe5d8341349b7b.png?v=1772639462|https://cdn.shopify.com/s/files/1/0285/3732/3629/files/d2ce3f72a1500c75f1962ce871061acd3d82e503.png?v=1772638314|https://cdn.shopify.com/s/files/1/0285/3732/3629/files/346705272ce3e76ea937e79098cc70277061d859.png?v=1772638783" | split: "|"
          assign image_width = "963,963,963" | split: ","
          assign image_height = "963,963,963" | split: ","
          assign index_loop = 0
        %}

        {% for collection_handle in selected_collections %}
          
          {% liquid 
            assign collection = collections[collection_handle] 
          %}
       <div class="beae-slide-item"><div class="beae-collection-card beae-cyt31iss"><!----><!----><div class="beae-6xytpujb beae-block beae-core beae-unique-0g2nz708" data-id="beae-6xytpujb" data-loop-index="0" data-uniqueid="0g2nz708""><!---->
        
        
        <!----><a class="beae-block beae-x-image beae-container-image beae-image-content-position beae-image-picture beae-image-product" hover-mode="false" href="{{ collection.url }}"><!----><!----><picture image-mode="" class="beae-0itxg beae-image-primary">
  {% if image_src[index_loop] != blank %}
    <img
        src="{{ image_src[index_loop] }}"
        alt="{{ collection.title | escape | default: 'Collection Image'}}" 
        width="{{ image_width[index_loop] | default: 915 }}"
        height="{{ image_height[index_loop] | default: 915 }}"
        loading="lazy"
      />
  {% else %}
    {% if collection.featured_image %}
    <img
      src="{{ collection.featured_image | img_url: 'master' }}"
      alt="{{ collection.featured_image.alt | escape | default: 'Collection Image'}}"
      width="{{ collection.featured_image.width | default: 915 }}"
      height="{{ collection.featured_image.height | default: 915 }}"
      loading="lazy"
    />
    
    {% else %}
    <img
    src="undefined"
    alt="{{ collection.title | escape | default: 'Collection Image'}}" 
    width="undefined"
    height="undefined"
    loading="lazy"
  />
    {% endif %}
  {% endif %}
  </picture><!----></a><script type="text/javascript">window.BEAEARGS['beae-6xytpujbblock-image'] = {
    "id": "beae-6xytpujb",
    "mode": {"value": "live"},
    "autoHover":false
  };</script><!----></div><!----><!----><!----><div class="beae-udbsqzes beae-block beae-core beae-unique-lap4cwfm beae-flex-wrapper" data-id="beae-udbsqzes" data-loop-index="0" data-uniqueid="lap4cwfm"><!----><!----><!----><div class="beae-s1lkwty3 beae-block beae-core beae-unique-lzk162u2" data-id="beae-s1lkwty3" data-loop-index="0" data-uniqueid="lzk162u2"><!----><div class="beae-block beae-x-text beae-typo-h5" data-autolayout="beae-s1lkwty3"><a class="beae-collection--title" href="{{ collection.url }}">{{ collection.title }}</a></div><!----><!----></div><!----><!----><!----><div class="beae-hkarz5zu beae-block beae-core beae-unique-1hfj9pf4 beae-flex-wrapper" data-id="beae-hkarz5zu" data-loop-index="0" data-uniqueid="1hfj9pf4"><!----><!----><!----><div class="beae-y5qpvaoh beae-block beae-core beae-unique-lqvugun1 beae-flex-wrapper" data-id="beae-y5qpvaoh" data-loop-index="0" data-uniqueid="lqvugun1"><!----><!----><!----><!----><!----><div class="beae-3uvbt9c7 beae-block beae-core beae-unique-nlo4csq7 beae-btn-wrp" data-id="beae-3uvbt9c7" data-loop-index="0" data-uniqueid="nlo4csq7"><!----><a class="beae-btn-pr beae-flex-view-detail" href="{{ collection.url }}" name="button"><span>{{ 'sections.beae-eid-sale-2026.be747681529_html' | t }}</span><!----></a><!----></div><!----><!----><!----></div><!----><!----><!----></div><!----><!----><!----><div class="beae-1ptnepn8 beae-block beae-core beae-unique-7gwn6dr1 beae-flex-wrapper" data-id="beae-1ptnepn8" data-loop-index="0" data-uniqueid="7gwn6dr1"><!----><!----><!----><div class="beae-73hqbg8k beae-block beae-core beae-unique-bjehk134" data-id="beae-73hqbg8k" data-loop-index="0" data-uniqueid="bjehk134"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-73hqbg8k">{{ 'sections.beae-eid-sale-2026.be18852344_html' | t }}</div><!----><!----></div><!----><!----><!----></div><!----><!----><!----></div><!----><!----><!----><!----><!----><!----></div></div> 
          {% liquid 
            assign index_loop = index_loop | plus: 1
            assign image_collection = ''
          %}
          
        {% endfor %}
        {%- assign collection = tmp_collection -%}   
      </div><div class="beae-slider-controls"><div class="beae-slider-controls-wrp"><div class="beae-slider-indicator"><div class="beae-slider-progress"></div></div><div class="beae-slider-nav-left"><button aria-label="button" type="button"><svg xmlns="http: //www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><polyline points="15 18 9 12 15 6"></polyline></svg></button></div><div class="beae-slider-pagination-wrp"></div><div class="beae-slider-nav-right"><button aria-label="button" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><polyline points="9 18 15 12 9 6"></polyline></svg></button></div></div></div></div><script type="text/javascript">window.BEAEARGS['beae-gz5i1vkhsection-slide-show'] = {
    "id": "beae-gz5i1vkh",
    "mode": {"value": "live"},
    "layout":"grid","layoutMobile":"grid","effect":"slide","isLoop":true,"autoPlay":false,"autoPlayDelay":5,"itemsPerSlide":3,"itemsPerSlideMobile":1.2,"itemsGap":"25px","itemsGapMobile":"20px","paginationImage":false,"paginationImageMobile":false,"typeScroll":"default","numItemsScroll":1,"showNavigation":true,"showPagination":true,"showProgress":true,"hookSliderInit":"","hookBeforeSlideChange":"","hookAfterSlideChange":"","noRunJs":false
  };</script><!----></div><script type="text/javascript">window.BEAEARGS['beae-gz5i1vkhsection-featured-collection'] = {
    "id": "beae-gz5i1vkh",
    "mode": {"value": "live"},
    "mobileMode":false
  };</script><!----></div><!----><!----><!----><div class="beae-euaqip4f beae-block beae-core beae-animation beae-unique-gvog3mvq beae-flex-wrapper" data-id="beae-euaqip4f" data-uniqueid="gvog3mvq"><!----><!----><!----><div class="beae-j7aw07ge beae-block beae-core beae-animation beae-unique-1o0atkix" data-id="beae-j7aw07ge" data-uniqueid="1o0atkix""><!----><div class="beae-block beae-x-line"><div class="beae-element"><div class="beae-line beae-line-style" style="display: block;"></div><!----></div></div><!----></div><!----><!----><!----></div><!----><!----></div></div></div><!----><!----><!----><!----><!----><!----></section><!----><script type="text/javascript">window.BEAEARGS['beae-cv0g7o2rsection-js'] = {
    "id": "beae-cv0g7o2r",
    "mode": {"value": "live"},
    "optionsVideo":false,"optionsVideoMobile":false
  };</script><!----><section id="" data-sectionid="beae-s736nx6y" data-width="1467" data-margin="30px" data-margin-mobile="15px" data-type="flexContainer" class="beae-typo-p1 beae-s736nx6y section-beae-s736nx6y beae-section beae-core"><!----><!----><div class="beae-flexbox beae-typo-p1" style="padding: 0px;"><div class="beae__section--container beae-flexbox-container" style="max-width: var(--beae-page-width, 1470px);"><!----><div class="beae-flexbox-core beae-x-flex-section grid-container-width"><!----><div id="ramadan-sale" class="beae-c0niewfk beae-block beae-core beae-animation beae-unique-wfqbm3hg" data-id="beae-c0niewfk" data-uniqueid="wfqbm3hg"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-c0niewfk">{{ 'sections.beae-eid-sale-2026.be1024840853_html' | t }}</div><!----><!----></div><!----><!----><!----><div class="beae-4trt6wiv beae-block beae-core beae-animation beae-unique-sw7ldbxs" data-id="beae-4trt6wiv" data-uniqueid="sw7ldbxs""><!----><div class="beae-featured-collection-header beae-animation"><!----><!----></div><div class="beae-money-format" style="display: none;">{% if settings.currency_code_enabled %}{{ shop.money_with_currency_format | escape }}{% else %}{{ shop.money_format | escape }}{% endif %}</div><div class="beae-flexbox-core beae-x-featured_collection grid-container-width"><div class="beae-featured_collection-wrp">
        {% liquid
          assign tmp_collection = collection
          assign tmp_product = product
          assign beae_maximum_items = 10
          assign beae_swatch_type = "color"
          assign beae_swatches_max_items = 4
          assign beae_price_badged = 'sale'
          assign beae_badged = 'percent'
          assign beae_tags_limit = '5'
          assign beae_show_when_hover = false
          assign beae_custom_badged_source = 'tags'
          assign beae_custom_badged_tag = 'AED|New|Sale|'
          assign beae_cart_variant_type = ''
          assign beae_quick_add_variant_selector = ''
          assign beae_quick_add_variant_type = ''
          assign beae_cart_variant_name = ''
          assign beae_cart_exclude = ''
          assign beae_variant_name_option = ''
          assign beae_variant_name_type = 'name'
          assign beae_option_values_swatch = ''
          assign beae_source_types_swatch = ''
          assign beae_option_values_quick_add = ''
          assign beae_source_types_quick_add = ''
        %}

        {%- capture beae_add_to_cart_text -%}{{ 'sections.beae-eid-sale-2026.be649020154_html' | t }}{%- endcapture -%}
        {%- capture beae_sold_out_text -%}{{ 'sections.beae-eid-sale-2026.be1538394658_html' | t }}{%- endcapture -%}
        {%- capture beae_swatches_name -%}{%- endcapture -%}
        {%- capture beae_choose_options_text -%}{{ 'sections.beae-eid-sale-2026.be719299147_html' | t }}{%- endcapture -%}
      
          {% assign selected_collections = "best-sellers-from-eid-sale" | split: "," %}
          {% for selected_collection in selected_collections %}
            <div class="beae-feature-collection-tab-content beae-featuted-collection-content{% if forloop.index == 1 %} content-active{% endif %}" {% if forloop.index == 1 %}data-active="true"{% endif %} data-handle="{{selected_collection}}">
            {% liquid assign collection = collections[selected_collection] %}
           <style type="text/css"></style><div class="beae-slider-wrapper beae-slider slider-beae-4trt6wiv items-per-4" data-draggable="true" data-desktop-layout="slider" data-mobile-layout="slider" data-effect="slide" data-pagination="false" data-navigation="false" style="--items-per: 4; --items-per-mobile: 2; --items-gap: 25px; --items-gap-mobile: 5px; --autoplay-delay: 5s;"><div class="beae-slider-content beae-slider-items">
          
              {%- if collection != blank -%}
                {%- for product in collection.products limit: beae_maximum_items -%}
                
          
      {% capture beae_custom_badged_metafield %}{{  }}{%- endcapture -%}
        {%- form 'product', product,class: "beae-product-form-next beae-product-form--single", data-product_id: product.id, data-handle: product.handle, data-variant-id: product.selected_or_first_available_variant.id, data-available: product.available -%}
       <div class="beae-product-card beae-5xjy3pmh"><!----><!----><div class="beae-cn4l084v beae-block beae-core beae-unique-340i67ei" data-id="beae-cn4l084v" data-loop-index="0" data-uniqueid="340i67ei""><!---->
        
        
        <!----><a class="beae-block beae-x-image beae-container-image beae-image-content-position beae-image-picture beae-image-product" hover-mode="false" href="{{ product.url }}"><!----><!----><picture image-mode="" class="beae-o6e6s beae-image-primary">
    {% assign beae_show_image = true %}
    {% if beae_check_product_video == true %} 
      {%- for media in product.media -%}
        {% if media.media_type == 'video' %}
          {% assign beae_show_image = false %}
          <div class="beae-video-product">
            <img
              preview
              style="display: none !important;"
              src="{{ media.preview_image | img_url: 'master' }}"
              alt="{{ media.preview_image.alt | escape | default: 'Product Image' }}"
              width="{{ media.preview_image.width | default: 915 }}"
              height="{{ media.preview_image.height | default: 915 }}"
              loading="lazy"
            />  
              {{ media | video_tag: image_size:'master', class: 'media-video', muted: true, autoPlay: true, loop: true }}
          </div>
          {% break %}
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if beae_show_image == true %}
      <img
        src="{{ product.featured_media | img_url: 'master' }}"
        alt="{{ product.featured_media.alt | escape | default: 'Product Image' }}"
        width="{{ product.featured_media.width | default: 915 }}"
        height="{{ product.featured_media.height | default: 915 }}"
        loading="lazy"
      />
    {% endif %}
  </picture><!----><picture image-mode="" class="beae-fpaj beae-image-secondary">
    {% if product.media.size > 1 %}
      <img
        src="{{ product.media[1] | img_url: 'master' }}"
        alt="{{ product.media[1].alt | escape | default: 'Product Image' }}"
        width="{{ product.media[1].width | default: 915 }}"
        height="{{ product.media[1].height | default: 915 }}"
        loading="lazy"
      />
    {% endif %}
  </picture></a><script type="text/javascript">window.BEAEARGS['beae-cn4l084vblock-image'] = {
    "id": "beae-cn4l084v",
    "mode": {"value": "live"},
    "autoHover":false
  };</script><!----></div><!----><!----><!----><div class="beae-s8336c4q beae-block beae-core beae-unique-s7axha2b beae-product-title" data-id="beae-s8336c4q" data-loop-index="0" data-uniqueid="s7axha2b"><!----><div class="beae-block beae-x-text beae-typo-h6" data-product-title="true" data-autolayout="beae-s8336c4q"><a href="{{ product.url }}">{{ product.title }}</a></div><!----><!----></div><script type="text/javascript">window.BEAEARGS['beae-s8336c4qblock-developer'] = {
    "id": "beae-s8336c4q",
    "mode": {"value": "live"},
    "title":"{{ product.title }}"
  };</script><!----><!----><div class="beae-3ov08bhd beae-block beae-core beae-unique-47ckczoh beae-flex-wrapper" data-id="beae-3ov08bhd" data-loop-index="0" data-uniqueid="47ckczoh"><!----><!----><!----><div class="beae-4nhmddoi beae-block beae-core beae-unique-vx34nhi5 beae-x-icon" data-id="beae-4nhmddoi" data-loop-index="0" data-uniqueid="vx34nhi5"><!----><div class="beae-elm__ic"><svg fill="currentColor" xmlns="http: //www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg></div><!----></div><!----><!----><!----><div class="beae-xfxgc0oj beae-block beae-core beae-unique-5s3b8rdk beae-x-icon" data-id="beae-xfxgc0oj" data-loop-index="0" data-uniqueid="5s3b8rdk"><!----><div class="beae-elm__ic"><svg fill="currentColor" xmlns="http: //www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg></div><!----></div><!----><!----><!----><div class="beae-gjl3tucp beae-block beae-core beae-unique-23xdjejj beae-x-icon" data-id="beae-gjl3tucp" data-loop-index="0" data-uniqueid="23xdjejj"><!----><div class="beae-elm__ic"><svg fill="currentColor" xmlns="http: //www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg></div><!----></div><!----><!----><!----><div class="beae-2gyhjkf7 beae-block beae-core beae-unique-uc7ywtgr beae-x-icon" data-id="beae-2gyhjkf7" data-loop-index="0" data-uniqueid="uc7ywtgr"><!----><div class="beae-elm__ic"><svg fill="currentColor" xmlns="http: //www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg></div><!----></div><!----><!----><!----><div class="beae-ah3spquv beae-block beae-core beae-unique-2l8l0v8b beae-x-icon" data-id="beae-ah3spquv" data-loop-index="0" data-uniqueid="2l8l0v8b"><!----><div class="beae-elm__ic"><svg fill="currentColor" xmlns="http: //www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg></div><!----></div><!----><!----><!----></div><!----><!----><!----><div class="beae-h447pbxj beae-block beae-core beae-unique-43bo1zs9" data-id="beae-h447pbxj" data-loop-index="0" data-uniqueid="43bo1zs9""><!----><!----><div class="beae-x-price" data-badged="none"><div class="beae-prd-single-price-wrapper"><span class="beae-product-single__price">
    
      {% if product.price_varies and product.compare_at_price %}
        {% assign cheapest_variant = product.variants | sort: 'price' | first %}
        {% capture price_normal %}
          {% if settings.currency_code_enabled %}
            {{ product.selected_or_first_available_variant.price | money_with_currency }}
          {% else %}
            {{ product.selected_or_first_available_variant.price | money }}
          {% endif %}
        {% endcapture %}
        {% capture price_min %}
          {% if settings.currency_code_enabled %}
            {{ cheapest_variant.price | money_with_currency }}
          {% else %}
            {{ cheapest_variant.price | money }}
          {% endif %}
        {% endcapture %}
        {% if cheapest_variant.price < cheapest_variant.compare_at_price %}
          <span class="beae-price-on-sale">
            <span class="beae-price-from">{{ 'sections.beae-eid-sale-2026.be978022322_html' | t: price_min:price_min }}</span>
            <span class="beae-price-normal">{{ 'sections.beae-eid-sale-2026.be1950827197_html' | t: price_normal:price_normal }}</span>
          </span>
        {% else %}
          <span class="beae-price-from">{{ 'sections.beae-eid-sale-2026.be978022322_html' | t: price_min:price_min }}</span>
          <span class="beae-price-normal">{{ 'sections.beae-eid-sale-2026.be1950827197_html' | t: price_normal:price_normal }}</span>
        {% endif %}
      {% elsif product.price < product.compare_at_price %}
        <span class="beae-price-on-sale">{% if settings.currency_code_enabled %}
          {{ product.price | money_with_currency }}
        {% else %}
          {{ product.price | money }}
        {% endif %}</span>
      {% elsif product.price_varies %}
        {% capture price_min %}
          {% if settings.currency_code_enabled %}
            {{ product.price_min | money_with_currency }}
          {% else %}
            {{ product.price_min | money }}
          {% endif %}
        {% endcapture %}
        {% capture price_max %}
          {% if settings.currency_code_enabled %}
            {{ product.price_max | money_with_currency }}
          {% else %}
            {{ product.price_max | money }}
          {% endif %}
        {% endcapture %}
        <span class="beae-price-from">{{ 'sections.beae-eid-sale-2026.be978022322_html' | t: price_min:price_min }}</span>
        <span class="beae-price-normal">{{ 'sections.beae-eid-sale-2026.be1950827197_html' | t: price_normal:price_normal }}</span>
      {% else %}
        {% if settings.currency_code_enabled %}
          {{ product.price | money_with_currency }}
        {% else %}
          {{ product.price | money }}
        {% endif %}
      {% endif %}
      
  </span><span class="beae-product-single__price--regular">{% liquid
    assign print_compare = ''
    if selected_variant != blank   
      if selected_variant.price < selected_variant.compare_at_price
        if settings.currency_code_enabled
          assign print_compare = selected_variant.compare_at_price | money_with_currency
        else
          assign print_compare = selected_variant.compare_at_price | money
        endif
      endif
    else                                                            
      if product.price_varies and product.compare_at_price
        assign cheapest_variant = product.variants | sort: 'price' | first
        if cheapest_variant.price < cheapest_variant.compare_at_price
          if settings.currency_code_enabled
            assign print_compare = cheapest_variant.compare_at_price | money_with_currency
          else
            assign print_compare = cheapest_variant.compare_at_price | money
          endif
        endif
      elsif product.price < product.compare_at_price
        if settings.currency_code_enabled
          assign print_compare = product.compare_at_price | money_with_currency
        else
          assign print_compare = product.compare_at_price | money
        endif
      endif
    endif
  %}{{ print_compare }}</span><span type="none" class="beae-typo-p3 {% liquid
    assign badge_class = ''
    if product.available
      assign checkHidden = true
      if selected_variant != blank
        if selected_variant.price < selected_variant.compare_at_price
          assign checkHidden = false
        endif
      else
        if product.price_varies and product.compare_at_price
          assign cheapest_variant = product.variants | sort: 'price' | first
          if cheapest_variant.price < cheapest_variant.compare_at_price
            assign checkHidden = false
          endif
        elsif product.price < product.compare_at_price
          assign checkHidden = false
        endif
      endif
      if checkHidden
        assign badge_class = 'beae-sale-hidden'
      else
        assign badge_class = 'beae-product-single__price--sale'
      endif
    else
      assign badge_class = 'beae-sale-sold-out'
    endif
  %}{{ badge_class }} beae-product-single__price--badged" data-sale="" data-sold-out="{{ 'sections.beae-eid-sale-2026.be1538363906_html' | t }}"></span></div><div class="beae-product-single__tax-shipping"></div></div><!----></div><!----><!----><!----><div class="beae-vj7jet9s beae-block beae-core beae-unique-52kcqw8p" data-id="beae-vj7jet9s" data-loop-index="0" data-uniqueid="52kcqw8p""><!----><button type="submit" class="beae-add-to-cart--submit beae-btn-cart beae-btn-pr" data-action="theme" data-add-to-cart-text="{{ 'sections.beae-eid-sale-2026.be649020154_html' | t }}" data-text-outstock="{{ 'sections.beae-eid-sale-2026.be28375103_html' | t }}" data-text-added-cart="{{ 'sections.beae-eid-sale-2026.be649020154_html' | t }}" data-sold-out-text="{{ 'sections.beae-eid-sale-2026.be1538394658_html' | t }}" data-add-success="{{ 'sections.beae-eid-sale-2026.be1427617666_html' | t }}" data-link="" data-choose-options-text="{{ 'sections.beae-eid-sale-2026.be649020154_html' | t }}" data-type="text" data-show-icon-mobile="false"><!----><span class="beae-add-to-cart-text-content">{{ 'sections.beae-eid-sale-2026.be649020154_html' | t }}</span><!----><div class="beae-add-to-cart-loader-wrp"><span class="beae-add-to-cart-loader"></span></div></button><script type="text/javascript">window.BEAEARGS['beae-vj7jet9sblock-add-to-cart'] = {
    "id": "beae-vj7jet9s",
    "mode": {"value": "live"},
    "loopIndex":0
  };</script><!----></div><!----><!----><!----><!----><script data-id="Product-json-{{ product.id }}" type="application/json" style="display: none;">
    {
      "id":  {{ product.id | json }},
      "title":  {{ product.title | json }},
      "handle":  {{ product.handle | json }},
      "price":  {{ product.price| json }},
      "price_min":  {{ product.price_min| json }},
      "price_max":  {{ product.price_max| json }},
      "price_normal":  {{ product.selected_or_first_available_variant.price| json }},
      "available":  {{ product.available | json }},
      "price_varies":  {{ product.price_varies| json }},
      "compare_at_price":  {{ product.compare_at_price| json }},
      "compare_at_price_min":  {{ product.compare_at_price_min| json }},
      "compare_at_price_max":  {{ product.compare_at_price_max| json }},
      "compare_at_price_varies":  {{ product.compare_at_price_varies| json }},
      "has_only_default_variant":  {{ product.has_only_default_variant | json }},
      "selected_or_first_available_variant":  {{ product.selected_or_first_available_variant | json }},
      "options":  {{ product.options_with_values | json }},
      "variants": [
        {%- for variant in product.variants -%}
          {
            "id":  {{ variant.id | json }},
            "title": " {{ variant.option1 | handleize }}{%- if product.options.size == 2 -%} / {%- endif -%} {{ variant.option2 | handleize }}{%- if product.options.size == 3 -%} / {%- endif -%} {{ variant.option3 | handleize }}",
            "option1":  {{ variant.option1  | json }},
            "option2": {%- if product.options.size == 1 -%}null{%-else-%} {{ variant.option2  | json }}{%-endif-%},
            "option3": {%- if product.options.size == 1 or product.options.size == 2 -%}null{%-else-%} {{ variant.option3  | json }}{%-endif-%},
            "sku":  {{ variant.sku | json }},
            "requires_shipping":  {{ variant.requires_shipping }},
            "taxable":  {{ variant.taxable | json }},
            "selling_plan_allocations":{{variant.selling_plan_allocations | json }},
            "featured_image": {%- if variant.image.id != blank -%}{
              "id":  {{ variant.image.id | json }},
              "product_id":  {{ product.id | json }},
              "width":  {{ variant.image.width | json }},
              "height":  {{ variant.image.height | json }},
              "src":  {{ variant.image.src | json }},
              "position": {{ variant.image.position }}
            }{%- else-%}null{%-endif-%},
            "featured_media": {{ variant.featured_media | json }},
            "available":  {{ variant.available }},
            "public_title": " {{ variant.option1 | handleize }}{%- if product.options.size == 2 -%} / {%- endif -%} {{ variant.option2 | handleize }}{%- if product.options.size == 3 -%} / {%- endif -%} {{ variant.option3 | handleize }}",
            "options":   {{ variant.options | json }},
            "price":  {{ variant.price | json }},
            "weight":  {{ variant.weight | json }},
            "compare_at_price":  {{ variant.compare_at_price | json }},
            "inventory_quantity":  {{ variant.inventory_quantity | json }},
            "inventory_management":  {{ variant.inventory_management | json }},
            "inventory_policy":  {{ variant.inventory_policy | json }},
            "next_incoming_date": {% if variant.next_incoming_date %}{{variant.next_incoming_date | date: "%Y-%m-%d %H:%M" | time_tag | json }}{% else%}null{% endif %},
            "barcode":  {{ variant.barcode | json }},
            "store_availabilities": [
              {%- for variantStore in variant.store_availabilities -%}
                {
                  "location": {
                    "name": {{ variantStore.location.name | json }},
                    "address": {{ variantStore.location.address | json }},
                    "id": {{ variantStore.location.id | json }}
                  },
                  "available": {{ variantStore.available | json }},
                  "pick_up_enabled": {{ variantStore.pick_up_enabled | json }},
                  "pick_up_time": {{ variantStore.pick_up_time | json }}
                }{%- if forloop.last == false -%},{%- endif -%}
              {%- endfor -%}
            ],
            "unit_price":  {{ variant.unit_price | json }},
            "unit_price_measurement":  {
              "measured_type": {{ variant.unit_price_measurement.measured_type | json }},
              "quantity_value": {{ variant.unit_price_measurement.quantity_value | json }},
              "quantity_unit": {{ variant.unit_price_measurement.quantity_unit | json }},
              "reference_value": {{ variant.unit_price_measurement.reference_value | json }},
              "reference_unit": {{ variant.unit_price_measurement.reference_unit | json }}
            }
          }{%- if forloop.last == false -%},{%- endif -%}
        {%- endfor -%}
      ],
      "featured_image":  {{ product.featured_image | json }},
      "size_available":[
        {%- for value in product.options_with_values[0].values -%}
        {%- assign available_ops = product.variants | where: "available" | where: "option1",value -%}
          {{available_ops.size}}{%- unless forloop.last %},{% endunless -%}
        {%- endfor -%}
      ],
      "shopColors": {{ shop.metafields.beae.colors }}
    }
  </script></div> 
                  <input type="hidden" name="sections" value="cart-notification-product,cart-notification-button,cart-icon-bubble">
                  <input type="hidden" name="section_url" value="{{product.handle}}">
            {%- endform -%}
                
      
              
              {%- endfor -%}
            {%- endif -%}
          
          </div><div class="beae-slider-controls"><div class="beae-slider-controls-wrp"><!----><!----><!----><!----></div></div></div><script type="text/javascript">window.BEAEARGS['beae-4trt6wivsection-slide-show'] = {
    "id": "beae-4trt6wiv",
    "mode": {"value": "live"},
    "layout":"slider","layoutMobile":"slider","effect":"slide","isLoop":false,"autoPlay":false,"autoPlayDelay":5,"itemsPerSlide":4,"itemsPerSlideMobile":2,"itemsGap":"25px","itemsGapMobile":"5px","paginationImage":false,"paginationImageMobile":false,"typeScroll":"default","numItemsScroll":1,"showNavigation":false,"showPagination":false,"showProgress":false,"hookSliderInit":"","hookBeforeSlideChange":"","hookAfterSlideChange":"","noRunJs":false
  };</script><!----> 
          </div>
          {%- endfor -%}
        {%- assign collection = tmp_collection -%}    
        {%- assign product = tmp_product -%}    
      <!----></div></div><script type="text/javascript">window.BEAEARGS['beae-4trt6wivsection-featured-collection'] = {
    "id": "beae-4trt6wiv",
    "mode": {"value": "live"},
    "mobileMode":false,"maximumItems":10,"promotionPosition":false
  };</script><!----></div><!----><!----></div></div></div><!----><!----><!----><!----><!----><!----></section><!----><script type="text/javascript">window.BEAEARGS['beae-s736nx6ysection-js'] = {
    "id": "beae-s736nx6y",
    "mode": {"value": "live"},
    "optionsVideo":false,"optionsVideoMobile":false
  };</script><!----><section id="" data-sectionid="beae-08lqpizh" data-width="1467" data-margin="30px" data-margin-mobile="15px" data-type="flexContainer" class="beae-typo-p1 beae-08lqpizh section-beae-08lqpizh beae-section beae-core"><!----><!----><div class="beae-flexbox beae-typo-p1" style="padding: 0px;"><div class="beae__section--container beae-flexbox-container" style="max-width: var(--beae-page-width, 1470px);"><!----><div class="beae-flexbox-core beae-x-flex-section grid-container-width"></div></div></div><!----><!----><!----><!----><!----><!----></section><!----><script type="text/javascript">window.BEAEARGS['beae-08lqpizhsection-js'] = {
    "id": "beae-08lqpizh",
    "mode": {"value": "live"},
    "optionsVideo":false,"optionsVideoMobile":false
  };</script>
<script type="text/javascript">
  (() => {
    let testText = document.createElement('div');
    testText.innerHTML = 'test';
    testText.style.fontSize = '100px';
    document.body.appendChild(testText);
    let realFontSize = parseFloat(window.getComputedStyle(testText).getPropertyValue('font-size').replace('px', ''));
    testText.style.zoom = '50%';
    let detectDesktopRequestMode = window.getComputedStyle(testText).getPropertyValue('font-size') !== '100px';
    document.body.removeChild(testText);
    
    document.body.style.setProperty('--font-size-ratio', (realFontSize / 100).toString());

    function getTextNodesIn(elem) {
      let textNodes = [];
      if (elem) {
        for (var nodes = elem.childNodes, i = nodes.length; i--;) {
          let node = nodes[i], nodeType = node.nodeType;
          if (nodeType == 1 || nodeType == 9 || nodeType == 11) {
            textNodes = textNodes.concat(getTextNodesIn(node));
          }
        }
      }
      return textNodes;
    }

    let scaleFitGridBlock = () => {

      document.querySelectorAll('.beae-section.beae-core').forEach((sec) => {
        let container = sec.querySelector(".beae__section--container");
        if (!container) { return; };
        let winWidth = document.documentElement.offsetWidth;
        if (winWidth >= 768) {
          sec.querySelectorAll('.beae__section--container').forEach(container => {
            container.parentNode.style.setProperty("--container-width", container.closest('.grid-container-width') ? container.closest('.grid-container-width').parentNode.offsetWidth+'px' : container.offsetWidth+'px');
          });
        }
      });

      document.querySelectorAll('.beae-grid-block').forEach(block => {
       let child = block.querySelector('.beae-block.beae-core > *'),
           zoom = 0,
           count = 0;
        child.style.zoom = '';
        child.style.lineHeight = '';
        while(child.offsetHeight > block.offsetHeight && count < 14 && (zoom === 0 || block.offsetHeight < (child.offsetHeight*zoom))) {
            zoom = (block.offsetHeight+block.offsetWidth)/(child.offsetHeight+child.offsetWidth);
            child.style.zoom = zoom < 1 ? Math.floor(zoom*100)+'%' : '';
            child.style.lineHeight = '2.4rem';
            count++;
        }
      });
    };

    scaleFitGridBlock();
    let timmer = 0;
    window.addEventListener('resize', () => {
      clearTimeout(timmer);
      timmer = setTimeout(scaleFitGridBlock, 150);
    });
    window.addEventListener('load', scaleFitGridBlock);
    
    if (document.getElementById('beae-exported-page-css')) {
      document.getElementById('beae-exported-page-css').addEventListener('load', scaleFitGridBlock);
    }

  })();
</script>
</div></div>{% if section_id == section.id %}{% endif%}
<script id="beae-exported-page-js" src="{{'beae-69a8463314ca27849300c0b2.js'  | asset_url }}" defer></script>

{% schema %}
{
    "name": "BEAE BUILDER APP",
    "locales": {
        "en": {
            "be76480_html": "N\/A",
            "be427520332_html": "Save { sale }",
            "be1538363906_html": "Sold Out",
            "be1066872809_html": "Save {{ sale }}%",
            "be2569319_html": "Sale",
            "be112332300045_html": "<ul><li>LOVED BY 50,000 MEAT LOVERS<\/li><\/ul>",
            "be111491936954_html": "<ul><li>OMAN\u2019S MOST TRUSTED MEAT BRAND&nbsp;<\/li><\/ul>",
            "be147664180146_html": "<ul><li>100% HALAL &amp; FRESH&nbsp;<\/li><\/ul>",
            "be431872540_html": "VIEW EID SALE COLLECTION",
            "be18852344_html": "<br>",
            "be80768938141_html": "MLS IS LOVED BY\r<div>50K+ CUSTOMERS<\/div>",
            "be1426578244_html": "Good quality",
            "be910471707_html": "\"Great selection of quality meats\"",
            "be1869745298_html": "Marwa AlZadjali&nbsp;",
            "be536099242_html": "verified Customer",
            "be130754121225_html": "<div>Almost Perfect<\/div>",
            "be1779191006217_html": "<div>\"This time was almost perfect starting with dealing with the order&nbsp;<\/div><div>to dilivery.. Thank you and keep it this way and&nbsp;<\/div><div>better. u made Eid even better\"<\/div><div><br><\/div><div>\n<\/div>",
            "be751826453_html": "Warda Al-Jabry",
            "be152215215930_html": "<div>Perfect as usual \ud83d\udc4c<\/div>",
            "be831942864_html": "\"Fresh Tender Well packed\"",
            "be308072359_html": "Walid BENBRAHIM&nbsp;",
            "be356680843_html": "MLS EID SALE COLLECTION",
            "be747681529_html": "View Collection",
            "be1024840853_html": "Best Sellers from Eid Sale",
            "be649020154_html": "Add to cart",
            "be1538394658_html": "Sold out",
            "be719299147_html": "Choose options",
            "be978022322_html": "From {{ price_min }}",
            "be1950827197_html": "{{ price_normal }}",
            "be28375103_html": "Out of stock",
            "be1427617666_html": "Added to cart successfully"
        }
    },
    "settings": [
        {
            "type": "header",
            "content": "The section was generated by BEAE BUILDER",
            "info": "\n                        Beae is a flexible page builder app on Shopify AppStore.\n                        It provides 100+ Shopify Elements and pre-built templates library, \n                        so you can build unlimited pages that you can imagine with it.\n                    "
        },
        {
            "type": "header",
            "content": "[EDIT WITH BEAE APP \u2192](https:\/\/muscat-livestock.myshopify.com\/admin\/apps\/beae-flexible-page-builder\/next\/editor-v3\/page\/69a8463314ca27849300c0b2)",
            "info": "(*You must install the app to start editing this section [Learn more](https:\/\/docs.beae.com\/en\/article\/quick-start-guide-dkoesy\/))"
        }
    ],
    "blocks": [
        {
            "type": "@app"
        }
    ]
}
{% endschema %}