
            {% assign beae_root_url = routes.root_url %}
            {% if beae_root_url != '/'%}
                {% assign beae_root_url = routes.root_url | append: '/' %}
            {% endif %}
        {%capture section_id %}beae-55th-national-day-25{% endcapture%}{% if section_id == section.id %}{% if shop.metafields.beae.global_css %}
            <!--BEAE-EMBED-->
            <link href="data:text/css;base64,{{-shop.metafields.beae.global_css-}}" rel="stylesheet" id="beae-global-css"/>
            <!--/BEAE-EMBED-->
        {% endif %}

{% render 'beae_header', BEAE_THEME: true %}{% endif %}<link rel="stylesheet" id="beae-exported-page-css" media="all" href="{{"beae-68fe1bb9ed25d00f630af643.css" | asset_url}}"><link rel="dns-prefetch" href="https://cdn.shopify.com">
                    <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
                    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
                    <link rel="preload" type="text/css" href="https://cdn.shopify.com/s/files/1/0285/3732/3629/files/Helvetica-Bold.ttf?v=1680468689" as="font" type="font/truetype" crossorigin="anonymous">
                    <style>
                    @font-face {font-family: 'Helvetica-Bold';font-weight: 700;src: url('https://cdn.shopify.com/s/files/1/0285/3732/3629/files/Helvetica-Bold.ttf?v=1680468689') format('truetype');font-display: swap;}
                    </style><div class="beae-builder-v2 beae-builder"><div class="beae-sections beae-content-wrapper"><script type="text/javascript">if (!window.BEAEARGS) {window.BEAEARGS = {};}</script>
<!----><!----><!----><section id="" data-sectionid="beae-hdqy9d2o" data-width="1920" data-margin="30px" data-margin-mobile="15px" data-type="flexContainer" class="beae-typo-p1 beae-hdqy9d2o section-beae-hdqy9d2o beae-section beae-core" data-template="Hero 3"><!----><!----><div class="beae-flexbox beae-typo-p1" style="padding: 0px;"><div class="beae__section--container beae-flexbox-container beae__section--full"><!----><div class="beae-flexbox-core beae-x-flex-section grid-container-width"><!----><div class="beae-ew6csa5y beae-block beae-core beae-animation beae-unique-rpib3xj7 beae-flex-wrapper" data-id="beae-ew6csa5y" data-uniqueid="rpib3xj7"><!----><!----><!----><div class="beae-pb8a2on4 beae-block beae-core beae-animation beae-unique-xysiabmx" data-id="beae-pb8a2on4" data-uniqueid="xysiabmx"><!----><div class="beae-block beae-x-text beae-typo-p2" data-autolayout="beae-pb8a2on4">{{ 'sections.beae-55th-national-day-25.be381488706_html' | t }}</div><!----><!----></div><!----><!----><!----><div class="beae-eh3xfu90 beae-block beae-core beae-animation beae-unique-ziyeb4ub" data-id="beae-eh3xfu90" data-uniqueid="ziyeb4ub"><!----><div class="beae-block beae-x-text beae-typo-h2" data-autolayout="beae-eh3xfu90">{{ 'sections.beae-55th-national-day-25.be54210947120_html' | t }}</div><!----><!----></div><!----><!----><!----><div class="beae-5econc96 beae-block beae-core beae-animation beae-unique-qxqyuvh4" data-id="beae-5econc96" data-uniqueid="qxqyuvh4""><!----><style type="text/css"></style><div class="beae-slider-wrapper beae-slider slider-beae-5econc96 items-per-1" data-draggable="true" data-desktop-layout="grid" data-mobile-layout="grid" data-effect="slide" data-pagination="true" data-navigation="true" style="--items-per: 1; --items-per-mobile: 1; --items-gap: 0.5vmax; --items-gap-mobile: 0.5vmax; --autoplay-delay: 5s;"><div class="beae-slider-content beae-slider-items"><div data-loop-index="0" class="beae-list-item beae-7ydpx411"><!----><!----><div class="beae-tx8g0xgz beae-block beae-core beae-unique-hdx61p3a" data-id="beae-tx8g0xgz" data-loop-index="0" data-uniqueid="hdx61p3a"><!----><div class="beae-block beae-x-text beae-typo-p2" data-autolayout="beae-tx8g0xgz">{{ 'sections.beae-55th-national-day-25.be1318174562189_html' | t }}</div><!----><!----></div><!----><!----></div></div><div class="beae-slider-controls"><div class="beae-slider-controls-wrp"><div class="beae-slider-indicator"><div class="beae-slider-progress"></div></div><div class="beae-slider-nav-left"><button aria-label="button" type="button"><svg xmlns="http: //www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><polyline points="15 18 9 12 15 6"></polyline></svg></button></div><div class="beae-slider-pagination-wrp"></div><div class="beae-slider-nav-right"><button aria-label="button" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><polyline points="9 18 15 12 9 6"></polyline></svg></button></div></div></div></div><script type="text/javascript">window.BEAEARGS['beae-5econc96section-slide-show'] = {
    "id": "beae-5econc96",
    "mode": {"value": "live"},
    "layout":"grid","layoutMobile":"grid","effect":"slide","isLoop":true,"autoPlay":false,"autoPlayDelay":5,"itemsPerSlide":1,"itemsPerSlideMobile":1,"itemsGap":"0.5vmax","itemsGapMobile":"0.5vmax","paginationImage":false,"paginationImageMobile":false,"typeScroll":"default","numItemsScroll":1,"showNavigation":true,"showPagination":true,"showProgress":true,"hookSliderInit":"","hookBeforeSlideChange":"","hookAfterSlideChange":"","noRunJs":false,"itemGap":0,"itemGapMobile":0
  };</script><!----></div><!----><!----><!----><div class="beae-j3125a1p beae-block beae-core beae-animation beae-unique-v9wp1cdh beae-flex-wrapper" data-id="beae-j3125a1p" data-uniqueid="v9wp1cdh"><!----><!----><!----><div class="beae-usg6lsgt beae-block beae-core beae-animation beae-unique-yycvavz3 beae-flexbox-core beae-x-button" data-id="beae-usg6lsgt" data-uniqueid="yycvavz3"><!----><a href="#beae-f5t313s0" class="beae-btn-pr beae-button-js"><span class="beae-btn-txt">{{ 'sections.beae-55th-national-day-25.be282226004_html' | t }} <!----></span></a><!----><script type="text/javascript">window.BEAEARGS['beae-usg6lsgtbutton-js'] = {
    "id": "beae-usg6lsgt",
    "mode": {"value": "live"},
    "id":"beae-usg6lsgt","pageContent":"","extendOptions":"{}","type":"target","url":"#beae-5zn1isai","handle":"19"
  };</script><!----></div><!----><!----><!----></div><!----><!----><!----></div><!----><!----></div></div></div><!----><picture image-mode="" class="beae-4nq34 beae-background-image"><source width="480" height="748" src="https://cdn.shopify.com/s/files/1/0285/3732/3629/files/a21a1bd4bcc684961eb67f864d2b4f228cb8c043.jpg?v=1761484093" srcset="https://cdn.shopify.com/s/files/1/0285/3732/3629/files/a21a1bd4bcc684961eb67f864d2b4f228cb8c043.jpg?v=1761484093" alt="a21a1bd4bcc684961eb67f864d2b4f228cb8c043" media="(max-width: 768px)"><img src="https://cdn.shopify.com/s/files/1/0285/3732/3629/files/e1582246494af23c7b19de7a2741e454b54275aa.png?v=1761484038" alt="e1582246494af23c7b19de7a2741e454b54275aa" width="4000" height="2250" fetchpriority="high" loading="lazy"></picture><!----><!----><!----><!----><!----></section><!----><script type="text/javascript">window.BEAEARGS['beae-hdqy9d2osection-js'] = {
    "id": "beae-hdqy9d2o",
    "mode": {"value": "live"},
    "optionsVideo":{},"optionsVideoMobile":{}
  };</script><!----><section id="" data-sectionid="beae-yxppnjj7" data-width="1718" data-margin="30px" data-margin-mobile="15px" data-type="flexContainer" class="beae-typo-p1 beae-yxppnjj7 section-beae-yxppnjj7 beae-section beae-core"><!----><!----><div class="beae-flexbox beae-typo-p1" style="padding: 0px;"><div class="beae__section--container beae-flexbox-container" style="max-width: var(--beae-page-width, 1470px);"><!----><div class="beae-flexbox-core beae-x-flex-section grid-container-width"><!----><div class="beae-fl441j1o beae-block beae-core beae-animation beae-unique-5l1n35fi beae-flex-wrapper" data-id="beae-fl441j1o" data-uniqueid="5l1n35fi"><!----><!----><!----><div class="beae-k9u3duqh beae-block beae-core beae-animation beae-unique-hapwz5g4 beae-scroll-text-container" data-id="beae-k9u3duqh" data-uniqueid="hapwz5g4"><!----><div class="beae-marquee-container beae-typo-p1"><div class="beae-marquee-content" data-direction="row"><div data-loop-index="0" class="beae-marquee-item beae-list-item beae-aqxeygoh"><!----><!----><!----><!----><div class="beae-rlqkciua beae-block beae-core beae-animation beae-unique-5k0fsvnk beae-marquee-text-prefix" data-id="beae-rlqkciua" data-loop-index="0" data-uniqueid="5k0fsvnk"><!----><div class="beae-block beae-x-text beae-typo-h5" data-autolayout="beae-rlqkciua">{{ 'sections.beae-55th-national-day-25.be112332300045_html' | t }}</div><!----><!----></div><!----><!----></div><div data-loop-index="1" class="beae-marquee-item beae-list-item beae-vsasx8eu"><!----><!----><!----><!----><div class="beae-rlqkciua beae-block beae-core beae-animation beae-unique-pgkc48oa beae-marquee-text-prefix" data-id="beae-rlqkciua" data-loop-index="1" data-uniqueid="pgkc48oa"><!----><div class="beae-block beae-x-text beae-typo-h5" data-autolayout="beae-rlqkciua">{{ 'sections.beae-55th-national-day-25.be111491936954_html' | t }}</div><!----><!----></div><!----><!----></div><div data-loop-index="2" class="beae-marquee-item beae-list-item beae-m7mqa8c3"><!----><!----><!----><!----><div class="beae-rlqkciua beae-block beae-core beae-animation beae-unique-8blnomu3 beae-marquee-text-prefix" data-id="beae-rlqkciua" data-loop-index="2" data-uniqueid="8blnomu3"><!----><div class="beae-block beae-x-text beae-typo-h5" data-autolayout="beae-rlqkciua">{{ 'sections.beae-55th-national-day-25.be147664180146_html' | t }}</div><!----><!----></div><!----><!----></div></div></div><script type="text/javascript">window.BEAEARGS['beae-k9u3duqh'] = {
    "id": "beae-k9u3duqh",
    "mode": {"value": "live"},
    "direction":"left-center","prefixTypo":"beae-typo-h6","speed":15,"disabled":false
  };</script><!----></div><!----><!----><!----></div><!----><!----><!----><!----></div></div></div><!----><!----><!----><!----><!----><!----></section><!----><script type="text/javascript">window.BEAEARGS['beae-yxppnjj7section-js'] = {
    "id": "beae-yxppnjj7",
    "mode": {"value": "live"},
    "optionsVideo":{"src":"https://www.youtube.com/watch?v=aq7Is03HuXw","loadingVideoType":"none"},"optionsVideoMobile":{}
  };</script><!----><!----><!----><section id="" data-sectionid="beae-br3c8w17" data-width="1920" data-margin="30px" data-margin-mobile="15px" data-type="slideShow" class="beae-typo-p1 beae-br3c8w17 section-beae-br3c8w17 beae-section beae-core"><!----><!----><div class="beae-flexbox beae-typo-p1" style="padding: 0px;"><div class="beae-x-slideshow beae__section--full" style="margin: 0px auto; max-width: 100%;"><!----><style type="text/css"></style><div class="beae-slider-wrapper beae-slider slider-beae-br3c8w17 items-per-1" data-draggable="true" data-desktop-layout="slider" data-mobile-layout="slider" data-effect="slide" data-pagination="true" data-navigation="false" style="--items-per: 1; --items-per-mobile: 1; --items-gap: 0px; --items-gap-mobile: 0px; --autoplay-delay: 5s;"><div class="beae-slider-content beae-slider-items"><div class="beae-slider-item active slide-beae-w9xp41rc" data-index="0"><!----><div class="beae-slide-wrap"><div class="beae-w9xp41rc beae-slide-content"><!----><!----><div class="beae-4ijspyj8 beae-block beae-core beae-unique-rlp0hxlb beae-x-video beae-prevent-system" data-id="beae-4ijspyj8" data-uniqueid="rlp0hxlb" source="youtube"><!----><div class="beae-x-video--wrapper"><!----><div class="beae-block_video-player beae-prevent-system"><iframe id="beae-4ijspyj8" target="do not remove" class="beae_iframe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" src="https://www.youtube.com/embed/qNlS5ZgoA30?version=3&amp;controls=0&amp;mute=1&amp;showinfo=0&amp;iv_load_policy=3&amp;playlist=qNlS5ZgoA30"></iframe></div><button class="beae-close-video" is="close-button" aria-label="Close"><svg role="presentation" stroke-width="2" focusable="false" width="24" height="24" viewBox="0 0 24 24"><path d="M17.658 6.343 6.344 17.657M17.658 17.657 6.344 6.343" stroke="currentColor"></path></svg></button><script type="text/javascript">window.BEAEARGS['beae-4ijspyj8block-video'] = {
    "id": "beae-4ijspyj8",
    "mode": {"value": "live"},
    "id":"beae-4ijspyj8","uniqueId":"","source":"youtube","mute":true,"loop":true,"autoplay":true,"srcYoutube":"https://www.youtube.com/embed/qNlS5ZgoA30?feature=share","lightbox":false,"player_controls":false,"extendOptions":"{}"
  };</script></div><!----></div><!----><!----><!----></div><!----></div></div><div class="beae-slider-item slide-beae-eucasooc" data-index="1"><!----><div class="beae-slide-wrap"><div class="beae-eucasooc beae-slide-content"><!----><!----><div class="beae-eag37s1n beae-block beae-core beae-unique-5ls1xlil beae-x-video beae-prevent-system" data-id="beae-eag37s1n" data-uniqueid="5ls1xlil" source="youtube"><!----><div class="beae-x-video--wrapper"><!----><div class="beae-block_video-player beae-prevent-system"><iframe id="beae-eag37s1n" target="do not remove" class="beae_iframe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" src="https://www.youtube.com/embed/6Ydnlp9BH6c?version=3&amp;controls=0&amp;mute=1&amp;showinfo=0&amp;iv_load_policy=3&amp;playlist=6Ydnlp9BH6c"></iframe></div><button class="beae-close-video" is="close-button" aria-label="Close"><svg role="presentation" stroke-width="2" focusable="false" width="24" height="24" viewBox="0 0 24 24"><path d="M17.658 6.343 6.344 17.657M17.658 17.657 6.344 6.343" stroke="currentColor"></path></svg></button><script type="text/javascript">window.BEAEARGS['beae-eag37s1nblock-video'] = {
    "id": "beae-eag37s1n",
    "mode": {"value": "live"},
    "id":"beae-eag37s1n","uniqueId":"","source":"youtube","mute":true,"loop":true,"autoplay":true,"srcYoutube":"https://www.youtube.com/embed/6Ydnlp9BH6c?feature=share","lightbox":false,"player_controls":false,"extendOptions":"{}"
  };</script></div><!----></div><!----><!----><!----></div><!----></div></div></div><div class="beae-slider-controls"><div class="beae-slider-controls-wrp"><!----><!----><div class="beae-slider-pagination-wrp"></div><!----></div></div></div><script type="text/javascript">window.BEAEARGS['beae-br3c8w17section-slide-show'] = {
    "id": "beae-br3c8w17",
    "mode": {"value": "live"},
    "layout":"slider","layoutMobile":"slider","effect":"slide","isLoop":true,"autoPlay":true,"autoPlayDelay":5,"itemsPerSlide":1,"itemsPerSlideMobile":1,"itemsGap":0,"itemsGapMobile":0,"paginationImage":false,"paginationImageMobile":false,"typeScroll":"default","numItemsScroll":1,"showNavigation":false,"showPagination":true,"showProgress":false,"hookSliderInit":"","hookBeforeSlideChange":"","hookAfterSlideChange":"\n  let device = window.innerWidth >= 768 ? 'desktop' : 'mobile';\n  let bgVideo = data.nextSlide ? data.nextSlide.querySelector('.beae-section-background-video[data-device=\"' + device + '\"] video') : null;\n  let bgIframe = data.nextSlide ? data.nextSlide.querySelector('.beae-section-background-video[data-device=\"' + device + '\"] iframe') : null;\n    if (bgVideo) {\n      const setupVideo = () => {\n        bgVideo.currentTime = 0;\n        bgVideo.play();\n        if (data.data.autoPlay) {\n          data.slider.setAttribute('data-video-duration', bgVideo.duration);\n          data.slider.setAttribute('data-video-background', 'true');\n          data.slider.setAttribute('data-stop-autoplay', 'true');\n          bgVideo.onended = () => {\n            data.nextSlider();\n          };\n        }\n      };\n\n      if (bgVideo.readyState >= 1) {\n        setupVideo();\n      } else {\n        bgVideo.onloadedmetadata = setupVideo;\n      }\n    } else if (bgIframe) {\n      const setupIframe = () => {\n        if (data.data.autoPlay) {\n          data.slider.setAttribute('data-video-background', 'true');\n          data.slider.setAttribute('data-stop-autoplay', 'true');\n          \n          let src = bgIframe.src;\n          if (!src.includes('autoplay=1')) {\n            bgIframe.src = src.includes('?') ? (src + '&autoplay=1') : (src + '?autoplay=1');\n          }else {\n            bgIframe.src = src;\n          }\n        }\n      };\n      setupIframe();\n    } else if (data.data.autoPlay) {\n      data.slider.removeAttribute('data-video-duration');\n      data.slider.removeAttribute('data-video-background');\n      data.slider.removeAttribute('data-stop-autoplay');\n    }\n  ","noRunJs":false,"itemGap":0,"itemGapMobile":0
  };</script></div></div><!----><!----><!----><!----><!----><!----></section><!----><script type="text/javascript">window.BEAEARGS['beae-br3c8w17section-js'] = {
    "id": "beae-br3c8w17",
    "mode": {"value": "live"},
    "optionsVideo":{},"optionsVideoMobile":false
  };</script><!----><!----><!----><section id="" data-sectionid="beae-6cr73apn" data-width="1467" data-margin="30px" data-margin-mobile="15px" data-type="flexContainer" class="beae-typo-p1 beae-6cr73apn section-beae-6cr73apn beae-section beae-core"><!----><!----><div class="beae-flexbox beae-typo-p1" style="padding: 0px;"><div class="beae__section--container beae-flexbox-container" style="max-width: var(--beae-page-width, 1470px);"><!----><div class="beae-flexbox-core beae-x-flex-section grid-container-width"><!----><div class="beae-02ooqdh3 beae-block beae-core beae-animation beae-unique-qv901xth beae-flex-wrapper" data-id="beae-02ooqdh3" data-uniqueid="qv901xth"><!----><!----><!----><div class="beae-x8hb12uz beae-block beae-core beae-animation beae-unique-dls4xytv beae-x-video beae-prevent-system" data-id="beae-x8hb12uz" data-uniqueid="dls4xytv" source="youtube"><!----><div class="beae-x-video--wrapper"><!----><div class="beae-block_video-player beae-prevent-system"><iframe id="beae-x8hb12uz" target="do not remove" class="beae_iframe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" src="https://www.youtube.com/embed/qNlS5ZgoA30?version=3&amp;controls=0&amp;mute=1&amp;showinfo=0&amp;iv_load_policy=3&amp;playlist=qNlS5ZgoA30"></iframe></div><button class="beae-close-video" is="close-button" aria-label="Close"><svg role="presentation" stroke-width="2" focusable="false" width="24" height="24" viewBox="0 0 24 24"><path d="M17.658 6.343 6.344 17.657M17.658 17.657 6.344 6.343" stroke="currentColor"></path></svg></button><script type="text/javascript">window.BEAEARGS['beae-x8hb12uzblock-video'] = {
    "id": "beae-x8hb12uz",
    "mode": {"value": "live"},
    "id":"beae-x8hb12uz","uniqueId":"","source":"youtube","mute":true,"loop":true,"autoplay":false,"srcYoutube":"https://www.youtube.com/embed/qNlS5ZgoA30?feature=share","lightbox":false,"player_controls":false,"extendOptions":"{}"
  };</script></div><!----></div><!----><!----><!----></div><!----><!----><!----><div class="beae-xsuyqore beae-block beae-core beae-animation beae-unique-3l04wfq2 beae-flex-wrapper" data-id="beae-xsuyqore" data-uniqueid="3l04wfq2"><!----><!----><!----><div class="beae-h68v6rj5 beae-block beae-core beae-animation beae-unique-pom9zeza beae-x-video beae-prevent-system" data-id="beae-h68v6rj5" data-uniqueid="pom9zeza" source="youtube"><!----><div class="beae-x-video--wrapper"><!----><div class="beae-block_video-player beae-prevent-system"><iframe id="beae-h68v6rj5" target="do not remove" class="beae_iframe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" src="https://www.youtube.com/embed/6Ydnlp9BH6c?version=3&amp;controls=1&amp;showinfo=0&amp;iv_load_policy=3&amp;playlist=6Ydnlp9BH6c"></iframe></div><button class="beae-close-video" is="close-button" aria-label="Close"><svg role="presentation" stroke-width="2" focusable="false" width="24" height="24" viewBox="0 0 24 24"><path d="M17.658 6.343 6.344 17.657M17.658 17.657 6.344 6.343" stroke="currentColor"></path></svg></button><script type="text/javascript">window.BEAEARGS['beae-h68v6rj5block-video'] = {
    "id": "beae-h68v6rj5",
    "mode": {"value": "live"},
    "id":"beae-h68v6rj5","uniqueId":"","source":"youtube","mute":false,"autoplay":true,"srcYoutube":"https://www.youtube.com/embed/6Ydnlp9BH6c?feature=share","lightbox":false,"player_controls":true,"extendOptions":"{}"
  };</script></div><!----></div><!----><!----><!----></div><!----><!----><!----><!----></div></div></div><!----><!----><!----><!----><!----><!----></section><!----><script type="text/javascript">window.BEAEARGS['beae-6cr73apnsection-js'] = {
    "id": "beae-6cr73apn",
    "mode": {"value": "live"},
    "optionsVideo":{},"optionsVideoMobile":false
  };</script><!----><section id="" data-sectionid="beae-rrfw4vuz" data-width="1692" data-margin="30px" data-margin-mobile="15px" data-type="flexContainer" class="beae-typo-p1 beae-rrfw4vuz section-beae-rrfw4vuz beae-section beae-core"><!----><!----><div class="beae-flexbox beae-typo-p1" style="padding: 0px;"><div class="beae__section--container beae-flexbox-container" style="max-width: var(--beae-page-width, 1470px);"><!----><div class="beae-flexbox-core beae-x-flex-section grid-container-width"><!----><div class="beae-j2zbub2y beae-block beae-core beae-animation beae-unique-46bs82tu beae-flex-wrapper" data-id="beae-j2zbub2y" data-uniqueid="46bs82tu"><!----><!----><!----><div class="beae-1y3xo10b beae-block beae-core beae-animation beae-unique-prx8eq6b" data-id="beae-1y3xo10b" data-uniqueid="prx8eq6b"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-1y3xo10b">{{ 'sections.beae-55th-national-day-25.be861781361104_html' | t }}</div><!----><!----></div><!----><!----><!----></div><!----><!----></div></div></div><!----><!----><!----><!----><!----><!----></section><!----><script type="text/javascript">window.BEAEARGS['beae-rrfw4vuzsection-js'] = {
    "id": "beae-rrfw4vuz",
    "mode": {"value": "live"},
    "optionsVideo":false,"optionsVideoMobile":false
  };</script><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><section id="" data-sectionid="beae-jmgj9kjn" data-width="1467" data-margin="30px" data-margin-mobile="15px" data-type="flexContainer" class="beae-typo-p1 beae-jmgj9kjn section-beae-jmgj9kjn beae-section beae-core" data-template="Hero 6"><!----><!----><div class="beae-flexbox beae-typo-p1" style="padding: 0px;"><div class="beae__section--container beae-flexbox-container" style="max-width: var(--beae-page-width, 1470px);"><!----><div class="beae-flexbox-core beae-x-flex-section grid-container-width"><!----><div class="beae-85o0py6q beae-block beae-core beae-animation beae-unique-xg17ymue beae-flex-wrapper" data-id="beae-85o0py6q" data-uniqueid="xg17ymue"><!----><!----><!----><div class="beae-piyqr5cc beae-block beae-core beae-animation beae-unique-4fsaf6g8 beae-flex-wrapper" data-id="beae-piyqr5cc" data-uniqueid="4fsaf6g8"><!----><!----><!----><div class="beae-rkyf0zm0 beae-block beae-core beae-animation beae-unique-870wjm9h" data-id="beae-rkyf0zm0" data-uniqueid="870wjm9h""><!---->{% assign beae_image_pr = images['Untitled_design.png'].alt %}
        {% assign beae_image_sec = images['undefined'].alt %}
        {% assign beae_image_mb_pr = images['undefined'].alt %}
        {% assign beae_image_mb_sec = images['undefined'].alt %}<!----><div class="beae-block beae-x-image beae-container-image beae-image-content-position beae-image-picture" hover-mode="false"><!----><!----><picture image-mode="" class="beae-v3h9j beae-image-primary"><!----><img src="https://cdn.shopify.com/s/files/1/0285/3732/3629/files/Untitled_design.png?v=1761493376" alt="Untitled_design" width="4096" height="2731" fetchpriority="high" loading="lazy"></picture><!----></div><script type="text/javascript">window.BEAEARGS['beae-rkyf0zm0block-image'] = {
    "id": "beae-rkyf0zm0",
    "mode": {"value": "live"},
    "autoHover":false,"secondaryAction":"hover"
  };</script><!----></div><!----><!----><!----></div><!----><!----><!----></div><!----><!----><!----><div class="beae-yznkofks beae-block beae-core beae-animation beae-unique-1myiwoe9 beae-flex-wrapper" data-id="beae-yznkofks" data-uniqueid="1myiwoe9"><!----><!----><!----><div class="beae-j57ihsvl beae-block beae-core beae-animation beae-unique-uq8n8pob" data-id="beae-j57ihsvl" data-uniqueid="uq8n8pob"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-j57ihsvl">{{ 'sections.beae-55th-national-day-25.be325292714124_html' | t }}</div><!----><!----></div><!----><!----><!----><div class="beae-p3h8e4lq beae-block beae-core beae-animation beae-unique-nsxk6h9w" data-id="beae-p3h8e4lq" data-uniqueid="nsxk6h9w"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-p3h8e4lq">{{ 'sections.beae-55th-national-day-25.be125673334339_html' | t }}</div><!----><!----></div><!----><!----><!----><div class="beae-n44igqal beae-block beae-core beae-animation beae-unique-2rgkal4m" data-id="beae-n44igqal" data-uniqueid="2rgkal4m"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-n44igqal">{{ 'sections.beae-55th-national-day-25.be173797890534_html' | t }}</div><!----><!----></div><!----><!----><!----><div class="beae-t78v7afb beae-block beae-core beae-animation beae-unique-dd3apx7b beae-flex-wrapper" data-id="beae-t78v7afb" data-uniqueid="dd3apx7b"><!----><!----><!----><div class="beae-6c57bxsh beae-block beae-core beae-animation beae-unique-e5k67e34 beae-flexbox-core beae-x-button" data-id="beae-6c57bxsh" data-uniqueid="e5k67e34"><!----><a href="#beae-x22ncgyd" class="beae-btn-pr beae-button-js"><span class="beae-btn-txt">{{ 'sections.beae-55th-national-day-25.be1857326792_html' | t }} <!----></span></a><!----><script type="text/javascript">window.BEAEARGS['beae-6c57bxshbutton-js'] = {
    "id": "beae-6c57bxsh",
    "mode": {"value": "live"},
    "id":"beae-6c57bxsh","pageContent":"","extendOptions":"{}","type":"target","url":"#beae-a3hvjzir","handle":"18"
  };</script><!----></div><!----><!----><!----></div><!----><!----><!----></div><!----><!----></div></div></div><!----><!----><!----><!----><!----><!----></section><!----><script type="text/javascript">window.BEAEARGS['beae-jmgj9kjnsection-js'] = {
    "id": "beae-jmgj9kjn",
    "mode": {"value": "live"},
    "optionsVideo":{},"optionsVideoMobile":false
  };</script><!----><!----><!----><section id="" data-sectionid="beae-t2qlsrjx" data-width="1467" data-margin="30px" data-margin-mobile="15px" data-type="flexContainer" class="beae-typo-p1 beae-t2qlsrjx section-beae-t2qlsrjx beae-section beae-core"><!----><!----><div class="beae-flexbox beae-typo-p1" style="padding: 0px;"><div class="beae__section--container beae-flexbox-container" style="max-width: var(--beae-page-width, 1470px);"><!----><div class="beae-flexbox-core beae-x-flex-section grid-container-width"><!----><div class="beae-rat253wf beae-block beae-core beae-animation beae-unique-xzgqkwxy" data-id="beae-rat253wf" data-uniqueid="xzgqkwxy"><!----><div class="beae-block beae-x-text beae-typo-h3" data-autolayout="beae-rat253wf">{{ 'sections.beae-55th-national-day-25.be1961376028_html' | t }}</div><!----><!----></div><!----><!----><!----><div class="beae-48mzh9xs beae-block beae-core beae-animation beae-unique-sowiswbx" data-id="beae-48mzh9xs" data-uniqueid="sowiswbx""><!----><!----><div class="beae-flexbox-core beae-x-collection-list"><style type="text/css"></style><div class="beae-slider-wrapper beae-slider slider-beae-48mzh9xs items-per-3" data-draggable="true" data-desktop-layout="grid" data-mobile-layout="grid" data-effect="slide" data-pagination="true" data-navigation="true" style="--items-per: 3; --items-per-mobile: 1; --items-gap: 20px; --items-gap-mobile: 20px; --autoplay-delay: 5s;"><div class="beae-slider-content beae-slider-items">
        {% liquid
          assign tmp_collection = collection
          assign selected_collections = "55th-national-day-steaks,55th-national-day-lamb-and-mutton,55th-national-day-mixed,55th-national-day-whole-carcass,55th-national-day-chicken,55th-national-day-value-boxes" | split: ","
          assign image_src = "|||||" | split: "|"
          assign image_width = ",,,,," | split: ","
          assign image_height = ",,,,," | split: ","
          assign index_loop = 0
        %}

        {% for collection_handle in selected_collections %}
          
          {% liquid 
            assign collection = collections[collection_handle] 
          %}
       <div class="beae-slide-item"><div class="beae-collection-card beae-3yiwg20j"><!----><!----><div class="beae-2f5705yr beae-block beae-core beae-unique-gj7yovm2" data-id="beae-2f5705yr" data-loop-index="0" data-uniqueid="gj7yovm2""><!---->{% assign beae_image_pr = images['undefined'].alt %}
        {% assign beae_image_sec = images['undefined'].alt %}
        {% assign beae_image_mb_pr = images['undefined'].alt %}
        {% assign beae_image_mb_sec = images['undefined'].alt %}<!----><a class="beae-block beae-x-image beae-container-image beae-image-content-position beae-image-picture beae-image-product" hover-mode="false" href="{{ collection.url }}"><!----><!----><picture image-mode="" class="beae-cyfke beae-image-primary">
  {% if image_src[index_loop] != blank %}
    <img
        src="{{ image_src[index_loop] }}"
        alt="{{ collection.title | escape | default: 'Collection Image'}}" 
        width="{{ image_width[index_loop] | default: 915 }}"
        height="{{ image_height[index_loop] | default: 915 }}"
        loading="lazy"
      />
  {% else %}
    {% if collection.featured_image %}
    <img
      src="{{ collection.featured_image | img_url: 'master' }}"
      alt="{{ collection.featured_image.alt | escape | default: 'Collection Image'}}"
      width="{{ collection.featured_image.width | default: 915 }}"
      height="{{ collection.featured_image.height | default: 915 }}"
      loading="lazy"
    />
    
    {% else %}
    <img
    src="undefined"
    alt="{{ collection.title | escape | default: 'Collection Image'}}" 
    width="undefined"
    height="undefined"
    loading="lazy"
  />
    {% endif %}
  {% endif %}
  </picture><!----></a><script type="text/javascript">window.BEAEARGS['beae-2f5705yrblock-image'] = {
    "id": "beae-2f5705yr",
    "mode": {"value": "live"},
    "autoHover":false
  };</script><!----></div><!----><!----><!----><div class="beae-k7xzrirr beae-block beae-core beae-unique-q6ua101i beae-flex-wrapper" data-id="beae-k7xzrirr" data-loop-index="0" data-uniqueid="q6ua101i"><!----><!----><!----><div class="beae-399yzamo beae-block beae-core beae-unique-9cfzn65y" data-id="beae-399yzamo" data-loop-index="0" data-uniqueid="9cfzn65y"><!----><div class="beae-block beae-x-text beae-typo-h5" data-autolayout="beae-399yzamo"><a class="beae-collection--title" href="{{ collection.url }}">{{ collection.title }}</a></div><!----><!----></div><!----><!----><!----></div><!----><!----><!----><!----><!----><div class="beae-ddoqc20a beae-block beae-core beae-unique-ir0bwa25 beae-flex-wrapper" data-id="beae-ddoqc20a" data-loop-index="0" data-uniqueid="ir0bwa25"><!----><!----><!----><!----><!----><div class="beae-nq025zbe beae-block beae-core beae-unique-32pvpzf3 beae-btn-wrp" data-id="beae-nq025zbe" data-loop-index="0" data-uniqueid="32pvpzf3"><!----><a class="beae-btn-pr beae-flex-view-detail" href="{{ collection.url }}" name="button"><span>{{ 'sections.beae-55th-national-day-25.be747681529_html' | t }}</span><!----></a><!----></div><!----><!----><!----></div><!----><!----><!----><!----></div></div> 
          {% liquid 
            assign index_loop = index_loop | plus: 1
            assign image_collection = ''
          %}
          
        {% endfor %}
        {%- assign collection = tmp_collection -%}   
      </div><div class="beae-slider-controls"><div class="beae-slider-controls-wrp"><div class="beae-slider-indicator"><div class="beae-slider-progress"></div></div><div class="beae-slider-nav-left"><button aria-label="button" type="button"><svg xmlns="http: //www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><polyline points="15 18 9 12 15 6"></polyline></svg></button></div><div class="beae-slider-pagination-wrp"></div><div class="beae-slider-nav-right"><button aria-label="button" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><polyline points="9 18 15 12 9 6"></polyline></svg></button></div></div></div></div><script type="text/javascript">window.BEAEARGS['beae-48mzh9xssection-slide-show'] = {
    "id": "beae-48mzh9xs",
    "mode": {"value": "live"},
    "layout":"grid","layoutMobile":"grid","effect":"slide","isLoop":true,"autoPlay":false,"autoPlayDelay":5,"itemsPerSlide":3,"itemsPerSlideMobile":1.2,"itemsGap":"20px","itemsGapMobile":"20px","paginationImage":false,"paginationImageMobile":false,"typeScroll":"default","numItemsScroll":1,"showNavigation":true,"showPagination":true,"showProgress":true,"hookSliderInit":"","hookBeforeSlideChange":"","hookAfterSlideChange":"","noRunJs":false
  };</script><!----></div><script type="text/javascript">window.BEAEARGS['beae-48mzh9xssection-featured-collection'] = {
    "id": "beae-48mzh9xs",
    "mode": {"value": "live"},
    "mobileMode":false
  };</script><!----></div><!----><!----></div></div></div><!----><!----><!----><!----><!----><!----></section><!----><script type="text/javascript">window.BEAEARGS['beae-t2qlsrjxsection-js'] = {
    "id": "beae-t2qlsrjx",
    "mode": {"value": "live"},
    "optionsVideo":false,"optionsVideoMobile":false
  };</script><!----><!----><!----><section id="" data-sectionid="beae-f5t313s0" data-width="1467" data-margin="30px" data-margin-mobile="15px" data-type="flexContainer" class="beae-typo-p1 beae-f5t313s0 section-beae-f5t313s0 beae-section beae-core"><!----><!----><div class="beae-flexbox beae-typo-p1" style="padding: 0px;"><div class="beae__section--container beae-flexbox-container" style="max-width: var(--beae-page-width, 1470px);"><!----><div class="beae-flexbox-core beae-x-flex-section grid-container-width"><!----><div class="beae-bubiqcob beae-block beae-core beae-animation beae-unique-5t144c2a" data-id="beae-bubiqcob" data-uniqueid="5t144c2a"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-bubiqcob">{{ 'sections.beae-55th-national-day-25.be2111903356_html' | t }}</div><!----><!----></div><!----><!----><!----><div class="beae-28q0qnkw beae-block beae-core beae-animation beae-unique-w27lbafe" data-id="beae-28q0qnkw" data-uniqueid="w27lbafe""><!----><div class="beae-featured-collection-header beae-animation"><!----><!----></div><div class="beae-money-format" style="display: none;">{% if settings.currency_code_enabled %}{{ shop.money_with_currency_format | escape }}{% else %}{{ shop.money_format | escape }}{% endif %}</div><div class="beae-flexbox-core beae-x-featured_collection grid-container-width"><div class="beae-featured_collection-wrp">
        {% liquid
          assign tmp_collection = collection
          assign tmp_product = product
          assign beae_maximum_items = 10
          assign beae_swatch_type = "color"
          assign beae_swatches_max_items = 4
          assign beae_price_badged = 'sale'
          assign beae_badged = 'percent'
          assign beae_tags_limit = '5'
          assign beae_show_when_hover = false
          assign beae_custom_badged_source = 'tags'
          assign beae_custom_badged_tag = 'AED|New|Sale|'
          assign beae_cart_variant_type = ''
          assign beae_quick_add_variant_selector = ''
          assign beae_quick_add_variant_type = ''
          assign beae_cart_variant_name = ''
          assign beae_cart_exclude = ''
          assign beae_variant_name_option = ''
          assign beae_variant_name_type = 'name'
          assign beae_option_values_swatch = ''
          assign beae_source_types_swatch = ''
          assign beae_option_values_quick_add = ''
          assign beae_source_types_quick_add = ''
        %}

        {%- capture beae_add_to_cart_text -%}{{ 'sections.beae-55th-national-day-25.be649020154_html' | t }}{%- endcapture -%}
        {%- capture beae_sold_out_text -%}{{ 'sections.beae-55th-national-day-25.be1538394658_html' | t }}{%- endcapture -%}
        {%- capture beae_swatches_name -%}{%- endcapture -%}
        {%- capture beae_choose_options_text -%}{{ 'sections.beae-55th-national-day-25.be719299147_html' | t }}{%- endcapture -%}
      
          {% assign selected_collections = "55th-national-day-steaks" | split: "," %}
          {% for selected_collection in selected_collections %}
            <div class="beae-feature-collection-tab-content beae-featuted-collection-content{% if forloop.index == 1 %} content-active{% endif %}" {% if forloop.index == 1 %}data-active="true"{% endif %} data-handle="{{selected_collection}}">
            {% liquid assign collection = collections[selected_collection] %}
           <style type="text/css"></style><div class="beae-slider-wrapper beae-slider slider-beae-28q0qnkw items-per-4" data-draggable="true" data-desktop-layout="slider" data-mobile-layout="slider" data-effect="slide" data-pagination="false" data-navigation="false" style="--items-per: 4; --items-per-mobile: 2; --items-gap: 25px; --items-gap-mobile: 5px; --autoplay-delay: 5s;"><div class="beae-slider-content beae-slider-items">
          
              {%- if collection != blank -%}
                {%- for product in collection.products limit: beae_maximum_items -%}
                
          
      {% capture beae_custom_badged_metafield %}{{  }}{%- endcapture -%}
        {%- form 'product', product,class: "beae-product-form-next beae-product-form--single", data-product_id: product.id, data-handle: product.handle, data-variant-id: product.selected_or_first_available_variant.id, data-available: product.available -%}
       <div class="beae-product-card beae-imy0piao"><!----><!----><div class="beae-3cxolttk beae-block beae-core beae-unique-d2hun7e4" data-id="beae-3cxolttk" data-loop-index="0" data-uniqueid="d2hun7e4""><!---->{% assign beae_image_pr = images['undefined'].alt %}
        {% assign beae_image_sec = images['undefined'].alt %}
        {% assign beae_image_mb_pr = images['undefined'].alt %}
        {% assign beae_image_mb_sec = images['undefined'].alt %}<!----><a class="beae-block beae-x-image beae-container-image beae-image-content-position beae-image-picture beae-image-product" hover-mode="false" href="{{ product.url }}"><!----><!----><picture image-mode="" class="beae-5pxbq beae-image-primary">
    {% assign beae_show_image = true %}
    {% if beae_check_product_video == true %} 
      {%- for media in product.media -%}
        {% if media.media_type == 'video' %}
          {% assign beae_show_image = false %}
          <div class="beae-video-product">
            <img
              preview
              style="display: none !important;"
              src="{{ media.preview_image | img_url: 'master' }}"
              alt="{{ media.preview_image.alt | escape | default: 'Product Image' }}"
              width="{{ media.preview_image.width | default: 915 }}"
              height="{{ media.preview_image.height | default: 915 }}"
              loading="lazy"
            />  
              {{ media | video_tag: image_size:'master', class: 'media-video', muted: true, autoPlay: true, loop: true }}
          </div>
          {% break %}
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if beae_show_image == true %}
      <img
        src="{{ product.featured_media | img_url: 'master' }}"
        alt="{{ product.featured_media.alt | escape | default: 'Product Image' }}"
        width="{{ product.featured_media.width | default: 915 }}"
        height="{{ product.featured_media.height | default: 915 }}"
        loading="lazy"
      />
    {% endif %}
  </picture><!----><picture image-mode="" class="beae-2mv3j beae-image-secondary">
    <img
      src="{{ product.media[1] | img_url: 'master' }}"
      alt="{{ product.media[1].alt | escape | default: 'Product Image' }}"
      width="{{ product.media[1].width | default: 915 }}"
      height="{{ product.media[1].height | default: 915 }}"
      loading="lazy"
    />
  </picture></a><script type="text/javascript">window.BEAEARGS['beae-3cxolttkblock-image'] = {
    "id": "beae-3cxolttk",
    "mode": {"value": "live"},
    "autoHover":false
  };</script><!----></div><!----><!----><!----><div class="beae-u4bjp6oy beae-block beae-core beae-unique-f9a72cfp beae-product-title" data-id="beae-u4bjp6oy" data-loop-index="0" data-uniqueid="f9a72cfp"><!----><div class="beae-block beae-x-text beae-typo-h6" data-product-title="true" data-autolayout="beae-u4bjp6oy"><a href="{{ product.url }}">{{ product.title }}</a></div><!----><!----></div><script type="text/javascript">window.BEAEARGS['beae-u4bjp6oyblock-developer'] = {
    "id": "beae-u4bjp6oy",
    "mode": {"value": "live"},
    "title":"{{ product.title }}"
  };</script><!----><!----><div class="beae-ziyn3phu beae-block beae-core beae-unique-nf5yjue6 beae-flex-wrapper" data-id="beae-ziyn3phu" data-loop-index="0" data-uniqueid="nf5yjue6"><!----><!----><!----><div class="beae-ql47jj1c beae-block beae-core beae-unique-inng2oqm beae-x-icon" data-id="beae-ql47jj1c" data-loop-index="0" data-uniqueid="inng2oqm"><!----><div class="beae-elm__ic"><svg fill="currentColor" xmlns="http: //www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg></div><!----></div><!----><!----><!----><div class="beae-j6yb5vod beae-block beae-core beae-unique-z6psw0w4 beae-x-icon" data-id="beae-j6yb5vod" data-loop-index="0" data-uniqueid="z6psw0w4"><!----><div class="beae-elm__ic"><svg fill="currentColor" xmlns="http: //www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg></div><!----></div><!----><!----><!----><div class="beae-pghzdgd7 beae-block beae-core beae-unique-jmu4st4m beae-x-icon" data-id="beae-pghzdgd7" data-loop-index="0" data-uniqueid="jmu4st4m"><!----><div class="beae-elm__ic"><svg fill="currentColor" xmlns="http: //www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg></div><!----></div><!----><!----><!----><div class="beae-yjd47ui0 beae-block beae-core beae-unique-mijch7k3 beae-x-icon" data-id="beae-yjd47ui0" data-loop-index="0" data-uniqueid="mijch7k3"><!----><div class="beae-elm__ic"><svg fill="currentColor" xmlns="http: //www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg></div><!----></div><!----><!----><!----><div class="beae-034ofb1l beae-block beae-core beae-unique-gbq5xcnh beae-x-icon" data-id="beae-034ofb1l" data-loop-index="0" data-uniqueid="gbq5xcnh"><!----><div class="beae-elm__ic"><svg fill="currentColor" xmlns="http: //www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg></div><!----></div><!----><!----><!----></div><!----><!----><!----><div class="beae-46umogkx beae-block beae-core beae-unique-v7topveu" data-id="beae-46umogkx" data-loop-index="0" data-uniqueid="v7topveu""><!----><!----><div class="beae-x-price" data-badged="none"><div class="beae-prd-single-price-wrapper"><span class="beae-product-single__price">
    
      {% if product.price_varies and product.compare_at_price %}
        {% assign cheapest_variant = product.variants | sort: 'price' | first %}
        {% capture price_normal %}
          {% if settings.currency_code_enabled %}
            {{ product.selected_or_first_available_variant.price | money_with_currency }}
          {% else %}
            {{ product.selected_or_first_available_variant.price | money }}
          {% endif %}
        {% endcapture %}
        {% capture price_min %}
          {% if settings.currency_code_enabled %}
            {{ cheapest_variant.price | money_with_currency }}
          {% else %}
            {{ cheapest_variant.price | money }}
          {% endif %}
        {% endcapture %}
        {% if cheapest_variant.price < cheapest_variant.compare_at_price %}
          <span class="beae-price-on-sale">
            <span class="beae-price-from">{{ 'sections.beae-55th-national-day-25.be978022322_html' | t: price_min:price_min }}</span>
            <span class="beae-price-normal">{{ 'sections.beae-55th-national-day-25.be1950827197_html' | t: price_normal:price_normal }}</span>
          </span>
        {% else %}
          <span class="beae-price-from">{{ 'sections.beae-55th-national-day-25.be978022322_html' | t: price_min:price_min }}</span>
          <span class="beae-price-normal">{{ 'sections.beae-55th-national-day-25.be1950827197_html' | t: price_normal:price_normal }}</span>
        {% endif %}
      {% elsif product.price < product.compare_at_price %}
        <span class="beae-price-on-sale">{% if settings.currency_code_enabled %}
          {{ product.price | money_with_currency }}
        {% else %}
          {{ product.price | money }}
        {% endif %}</span>
      {% elsif product.price_varies %}
        {% capture price_min %}
          {% if settings.currency_code_enabled %}
            {{ product.price_min | money_with_currency }}
          {% else %}
            {{ product.price_min | money }}
          {% endif %}
        {% endcapture %}
        {% capture price_max %}
          {% if settings.currency_code_enabled %}
            {{ product.price_max | money_with_currency }}
          {% else %}
            {{ product.price_max | money }}
          {% endif %}
        {% endcapture %}
        <span class="beae-price-from">{{ 'sections.beae-55th-national-day-25.be978022322_html' | t: price_min:price_min }}</span>
        <span class="beae-price-normal">{{ 'sections.beae-55th-national-day-25.be1950827197_html' | t: price_normal:price_normal }}</span>
      {% else %}
        {% if settings.currency_code_enabled %}
          {{ product.price | money_with_currency }}
        {% else %}
          {{ product.price | money }}
        {% endif %}
      {% endif %}
      
  </span><span class="beae-product-single__price--regular">{% liquid
    assign print_compare = ''
    if selected_variant != blank   
      if selected_variant.price < selected_variant.compare_at_price
        if settings.currency_code_enabled
          assign print_compare = selected_variant.compare_at_price | money_with_currency
        else
          assign print_compare = selected_variant.compare_at_price | money
        endif
      endif
    else                                                            
      if product.price_varies and product.compare_at_price
        assign cheapest_variant = product.variants | sort: 'price' | first
        if cheapest_variant.price < cheapest_variant.compare_at_price
          if settings.currency_code_enabled
            assign print_compare = cheapest_variant.compare_at_price | money_with_currency
          else
            assign print_compare = cheapest_variant.compare_at_price | money
          endif
        endif
      elsif product.price < product.compare_at_price
        if settings.currency_code_enabled
          assign print_compare = product.compare_at_price | money_with_currency
        else
          assign print_compare = product.compare_at_price | money
        endif
      endif
    endif
  %}{{ print_compare }}</span><span type="none" class="beae-typo-p3 {% liquid
    assign badge_class = ''
    if product.available
      assign checkHidden = true
      if selected_variant != blank
        if selected_variant.price < selected_variant.compare_at_price
          assign checkHidden = false
        endif
      else
        if product.price_varies and product.compare_at_price
          assign cheapest_variant = product.variants | sort: 'price' | first
          if cheapest_variant.price < cheapest_variant.compare_at_price
            assign checkHidden = false
          endif
        elsif product.price < product.compare_at_price
          assign checkHidden = false
        endif
      endif
      if checkHidden
        assign badge_class = 'beae-sale-hidden'
      else
        assign badge_class = 'beae-product-single__price--sale'
      endif
    else
      assign badge_class = 'beae-sale-sold-out'
    endif
  %}{{ badge_class }} beae-product-single__price--badged" data-sale="" data-sold-out="{{ 'sections.beae-55th-national-day-25.be1538363906_html' | t }}"></span></div><div class="beae-product-single__tax-shipping"></div></div><!----></div><!----><!----><!----><!----><!----><div class="beae-6wnlinni beae-block beae-core beae-unique-bkyrrz81" data-id="beae-6wnlinni" data-loop-index="0" data-uniqueid="bkyrrz81""><!----><div class="beae-block beae-x-quick-view"><div class="beae-quick-view-wrapper"><button aria-label="button" type="button" class="beae-quick-view-btn beae-btn-pr" data-template="quickview-default"><!----><span class="beae-quick-view-btn-text">{{ 'sections.beae-55th-national-day-25.be649020154_html' | t }}</span></button></div></div><!----></div><!----><!----><script data-id="Product-json-{{ product.id }}" type="application/json" style="display: none;">
    {
      "id":  {{ product.id | json }},
      "title":  {{ product.title | json }},
      "handle":  {{ product.handle | json }},
      "price":  {{ product.price| json }},
      "price_min":  {{ product.price_min| json }},
      "price_max":  {{ product.price_max| json }},
      "price_normal":  {{ product.selected_or_first_available_variant.price| json }},
      "available":  {{ product.available | json }},
      "price_varies":  {{ product.price_varies| json }},
      "compare_at_price":  {{ product.compare_at_price| json }},
      "compare_at_price_min":  {{ product.compare_at_price_min| json }},
      "compare_at_price_max":  {{ product.compare_at_price_max| json }},
      "compare_at_price_varies":  {{ product.compare_at_price_varies| json }},
      "has_only_default_variant":  {{ product.has_only_default_variant | json }},
      "selected_or_first_available_variant":  {{ product.selected_or_first_available_variant | json }},
      "options":  {{ product.options_with_values | json }},
      "variants": [
        {%- for variant in product.variants -%}
          {
            "id":  {{ variant.id | json }},
            "title": " {{ variant.option1 | handleize }}{%- if product.options.size == 2 -%} / {%- endif -%} {{ variant.option2 | handleize }}{%- if product.options.size == 3 -%} / {%- endif -%} {{ variant.option3 | handleize }}",
            "option1":  {{ variant.option1  | json }},
            "option2": {%- if product.options.size == 1 -%}null{%-else-%} {{ variant.option2  | json }}{%-endif-%},
            "option3": {%- if product.options.size == 1 or product.options.size == 2 -%}null{%-else-%} {{ variant.option3  | json }}{%-endif-%},
            "sku":  {{ variant.sku | json }},
            "requires_shipping":  {{ variant.requires_shipping }},
            "taxable":  {{ variant.taxable | json }},
            "selling_plan_allocations":{{variant.selling_plan_allocations | json }},
            "featured_image": {%- if variant.image.id != blank -%}{
              "id":  {{ variant.image.id | json }},
              "product_id":  {{ product.id | json }},
              "width":  {{ variant.image.width | json }},
              "height":  {{ variant.image.height | json }},
              "src":  {{ variant.image.src | json }},
              "position": {{ variant.image.position }}
            }{%- else-%}null{%-endif-%},
            "featured_media": {{ variant.featured_media | json }},
            "available":  {{ variant.available }},
            "public_title": " {{ variant.option1 | handleize }}{%- if product.options.size == 2 -%} / {%- endif -%} {{ variant.option2 | handleize }}{%- if product.options.size == 3 -%} / {%- endif -%} {{ variant.option3 | handleize }}",
            "options":   {{ variant.options | json }},
            "price":  {{ variant.price | json }},
            "weight":  {{ variant.weight | json }},
            "compare_at_price":  {{ variant.compare_at_price | json }},
            "inventory_quantity":  {{ variant.inventory_quantity | json }},
            "inventory_management":  {{ variant.inventory_management | json }},
            "inventory_policy":  {{ variant.inventory_policy | json }},
            "next_incoming_date": {% if variant.next_incoming_date %}{{variant.next_incoming_date | date: "%Y-%m-%d %H:%M" | time_tag | json }}{% else%}null{% endif %},
            "barcode":  {{ variant.barcode | json }},
            "store_availabilities": [
              {%- for variantStore in variant.store_availabilities -%}
                {
                  "location": {
                    "name": {{ variantStore.location.name | json }},
                    "address": {{ variantStore.location.address | json }},
                    "id": {{ variantStore.location.id | json }}
                  },
                  "available": {{ variantStore.available | json }},
                  "pick_up_enabled": {{ variantStore.pick_up_enabled | json }},
                  "pick_up_time": {{ variantStore.pick_up_time | json }}
                }{%- if forloop.last == false -%},{%- endif -%}
              {%- endfor -%}
            ],
            "unit_price":  {{ variant.unit_price | json }},
            "unit_price_measurement":  {
              "measured_type": {{ variant.unit_price_measurement.measured_type | json }},
              "quantity_value": {{ variant.unit_price_measurement.quantity_value | json }},
              "quantity_unit": {{ variant.unit_price_measurement.quantity_unit | json }},
              "reference_value": {{ variant.unit_price_measurement.reference_value | json }},
              "reference_unit": {{ variant.unit_price_measurement.reference_unit | json }}
            }
          }{%- if forloop.last == false -%},{%- endif -%}
        {%- endfor -%}
      ],
      "featured_image":  {{ product.featured_image | json }},
      "size_available":[
        {%- for value in product.options_with_values[0].values -%}
        {%- assign available_ops = product.variants | where: "available" | where: "option1",value -%}
          {{available_ops.size}}{%- unless forloop.last %},{% endunless -%}
        {%- endfor -%}
      ],
      "shopColors": {{ shop.metafields.beae.colors }}
    }
  </script></div> 
                  <input type="hidden" name="sections" value="cart-notification-product,cart-notification-button,cart-icon-bubble">
                  <input type="hidden" name="section_url" value="{{product.handle}}">
            {%- endform -%}
                
      
              
              {%- endfor -%}
            {%- endif -%}
          
          </div><div class="beae-slider-controls"><div class="beae-slider-controls-wrp"><!----><!----><!----><!----></div></div></div><script type="text/javascript">window.BEAEARGS['beae-28q0qnkwsection-slide-show'] = {
    "id": "beae-28q0qnkw",
    "mode": {"value": "live"},
    "layout":"slider","layoutMobile":"slider","effect":"slide","isLoop":false,"autoPlay":false,"autoPlayDelay":5,"itemsPerSlide":4,"itemsPerSlideMobile":2,"itemsGap":"25px","itemsGapMobile":"5px","paginationImage":false,"paginationImageMobile":false,"typeScroll":"default","numItemsScroll":1,"showNavigation":false,"showPagination":false,"showProgress":false,"hookSliderInit":"","hookBeforeSlideChange":"","hookAfterSlideChange":"","noRunJs":false
  };</script><!----> 
          </div>
          {%- endfor -%}
        {%- assign collection = tmp_collection -%}    
        {%- assign product = tmp_product -%}    
      <!----></div></div><script type="text/javascript">window.BEAEARGS['beae-28q0qnkwsection-featured-collection'] = {
    "id": "beae-28q0qnkw",
    "mode": {"value": "live"},
    "mobileMode":false,"maximumItems":10,"promotionPosition":false
  };</script><!----></div><!----><!----></div></div></div><!----><!----><!----><!----><!----><!----></section><!----><script type="text/javascript">window.BEAEARGS['beae-f5t313s0section-js'] = {
    "id": "beae-f5t313s0",
    "mode": {"value": "live"},
    "optionsVideo":false,"optionsVideoMobile":false
  };</script><!----><section id="" data-sectionid="beae-mfoyuf2r" data-width="1467" data-margin="30px" data-margin-mobile="15px" data-type="flexContainer" class="beae-typo-p1 beae-mfoyuf2r section-beae-mfoyuf2r beae-section beae-core"><!----><!----><div class="beae-flexbox beae-typo-p1" style="padding: 0px;"><div class="beae__section--container beae-flexbox-container" style="max-width: var(--beae-page-width, 1470px);"><!----><div class="beae-flexbox-core beae-x-flex-section grid-container-width"><!----><div class="beae-ukg00afg beae-block beae-core beae-animation beae-unique-i8ge7iob" data-id="beae-ukg00afg" data-uniqueid="i8ge7iob"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-ukg00afg">{{ 'sections.beae-55th-national-day-25.be205347279441_html' | t }}</div><!----><!----></div><!----><!----><!----><div class="beae-0y8i40i2 beae-block beae-core beae-animation beae-unique-52qczrud" data-id="beae-0y8i40i2" data-uniqueid="52qczrud""><!----><div class="beae-featured-collection-header beae-animation"><!----><!----></div><div class="beae-money-format" style="display: none;">{% if settings.currency_code_enabled %}{{ shop.money_with_currency_format | escape }}{% else %}{{ shop.money_format | escape }}{% endif %}</div><div class="beae-flexbox-core beae-x-featured_collection grid-container-width"><div class="beae-featured_collection-wrp">
        {% liquid
          assign tmp_collection = collection
          assign tmp_product = product
          assign beae_maximum_items = 10
          assign beae_swatch_type = "color"
          assign beae_swatches_max_items = 4
          assign beae_price_badged = 'sale'
          assign beae_badged = 'percent'
          assign beae_tags_limit = '5'
          assign beae_show_when_hover = false
          assign beae_custom_badged_source = 'tags'
          assign beae_custom_badged_tag = 'AED|New|Sale|'
          assign beae_cart_variant_type = ''
          assign beae_quick_add_variant_selector = ''
          assign beae_quick_add_variant_type = 'dropdown_with_color'
          assign beae_cart_variant_name = ''
          assign beae_cart_exclude = ''
          assign beae_variant_name_option = ''
          assign beae_variant_name_type = 'name'
          assign beae_option_values_swatch = ''
          assign beae_source_types_swatch = ''
          assign beae_option_values_quick_add = ''
          assign beae_source_types_quick_add = ''
        %}

        {%- capture beae_add_to_cart_text -%}{{ 'sections.beae-55th-national-day-25.be649020154_html' | t }}{%- endcapture -%}
        {%- capture beae_sold_out_text -%}{{ 'sections.beae-55th-national-day-25.be1538394658_html' | t }}{%- endcapture -%}
        {%- capture beae_swatches_name -%}{%- endcapture -%}
        {%- capture beae_choose_options_text -%}{{ 'sections.beae-55th-national-day-25.be719299147_html' | t }}{%- endcapture -%}
      
          {% assign selected_collections = "55th-national-day-steaks" | split: "," %}
          {% for selected_collection in selected_collections %}
            <div class="beae-feature-collection-tab-content beae-featuted-collection-content{% if forloop.index == 1 %} content-active{% endif %}" {% if forloop.index == 1 %}data-active="true"{% endif %} data-handle="{{selected_collection}}">
            {% liquid assign collection = collections[selected_collection] %}
           <style type="text/css"></style><div class="beae-slider-wrapper beae-slider slider-beae-0y8i40i2 items-per-4" data-draggable="true" data-desktop-layout="slider" data-mobile-layout="slider" data-effect="slide" data-pagination="false" data-navigation="false" style="--items-per: 4; --items-per-mobile: 2; --items-gap: 25px; --items-gap-mobile: 5px; --autoplay-delay: 5s;"><div class="beae-slider-content beae-slider-items">
          
              {%- if collection != blank -%}
                {%- for product in collection.products limit: beae_maximum_items -%}
                
          
      {% capture beae_custom_badged_metafield %}{{  }}{%- endcapture -%}
        {%- form 'product', product,class: "beae-product-form-next beae-product-form--single", data-product_id: product.id, data-handle: product.handle, data-variant-id: product.selected_or_first_available_variant.id, data-available: product.available -%}
       <div class="beae-product-card beae-lzzyya7e"><!----><!----><div class="beae-n89jkjci beae-block beae-core beae-unique-rc5eejzl" data-id="beae-n89jkjci" data-loop-index="0" data-uniqueid="rc5eejzl""><!---->{% assign beae_image_pr = images['undefined'].alt %}
        {% assign beae_image_sec = images['undefined'].alt %}
        {% assign beae_image_mb_pr = images['undefined'].alt %}
        {% assign beae_image_mb_sec = images['undefined'].alt %}<!----><a class="beae-block beae-x-image beae-container-image beae-image-content-position beae-image-picture beae-image-product" hover-mode="false" href="{{ product.url }}"><!----><!----><picture image-mode="" class="beae-u8t7l beae-image-primary">
    {% assign beae_show_image = true %}
    {% if beae_check_product_video == true %} 
      {%- for media in product.media -%}
        {% if media.media_type == 'video' %}
          {% assign beae_show_image = false %}
          <div class="beae-video-product">
            <img
              preview
              style="display: none !important;"
              src="{{ media.preview_image | img_url: 'master' }}"
              alt="{{ media.preview_image.alt | escape | default: 'Product Image' }}"
              width="{{ media.preview_image.width | default: 915 }}"
              height="{{ media.preview_image.height | default: 915 }}"
              loading="lazy"
            />  
              {{ media | video_tag: image_size:'master', class: 'media-video', muted: true, autoPlay: true, loop: true }}
          </div>
          {% break %}
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if beae_show_image == true %}
      <img
        src="{{ product.featured_media | img_url: 'master' }}"
        alt="{{ product.featured_media.alt | escape | default: 'Product Image' }}"
        width="{{ product.featured_media.width | default: 915 }}"
        height="{{ product.featured_media.height | default: 915 }}"
        loading="lazy"
      />
    {% endif %}
  </picture><!----><picture image-mode="" class="beae-2l4ah beae-image-secondary">
    <img
      src="{{ product.media[1] | img_url: 'master' }}"
      alt="{{ product.media[1].alt | escape | default: 'Product Image' }}"
      width="{{ product.media[1].width | default: 915 }}"
      height="{{ product.media[1].height | default: 915 }}"
      loading="lazy"
    />
  </picture></a><script type="text/javascript">window.BEAEARGS['beae-n89jkjciblock-image'] = {
    "id": "beae-n89jkjci",
    "mode": {"value": "live"},
    "autoHover":false
  };</script><!----></div><!----><!----><!----><div class="beae-yhzgjvbj beae-block beae-core beae-unique-3z3n5fza beae-product-title" data-id="beae-yhzgjvbj" data-loop-index="0" data-uniqueid="3z3n5fza"><!----><div class="beae-block beae-x-text beae-typo-h6" data-product-title="true" data-autolayout="beae-yhzgjvbj"><a href="{{ product.url }}">{{ product.title }}</a></div><!----><!----></div><script type="text/javascript">window.BEAEARGS['beae-yhzgjvbjblock-developer'] = {
    "id": "beae-yhzgjvbj",
    "mode": {"value": "live"},
    "title":"{{ product.title }}"
  };</script><!----><!----><div class="beae-1ae4a432 beae-block beae-core beae-unique-wi0ch2vv beae-flex-wrapper" data-id="beae-1ae4a432" data-loop-index="0" data-uniqueid="wi0ch2vv"><!----><!----><!----><div class="beae-e6e2hs4j beae-block beae-core beae-unique-qebqyjdg beae-x-icon" data-id="beae-e6e2hs4j" data-loop-index="0" data-uniqueid="qebqyjdg"><!----><div class="beae-elm__ic"><svg fill="currentColor" xmlns="http: //www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg></div><!----></div><!----><!----><!----><div class="beae-fbo6sj4c beae-block beae-core beae-unique-ayjppfq3 beae-x-icon" data-id="beae-fbo6sj4c" data-loop-index="0" data-uniqueid="ayjppfq3"><!----><div class="beae-elm__ic"><svg fill="currentColor" xmlns="http: //www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg></div><!----></div><!----><!----><!----><div class="beae-49mq4d0q beae-block beae-core beae-unique-nstanig3 beae-x-icon" data-id="beae-49mq4d0q" data-loop-index="0" data-uniqueid="nstanig3"><!----><div class="beae-elm__ic"><svg fill="currentColor" xmlns="http: //www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg></div><!----></div><!----><!----><!----><div class="beae-7j1dzl91 beae-block beae-core beae-unique-wst4uulw beae-x-icon" data-id="beae-7j1dzl91" data-loop-index="0" data-uniqueid="wst4uulw"><!----><div class="beae-elm__ic"><svg fill="currentColor" xmlns="http: //www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg></div><!----></div><!----><!----><!----><div class="beae-f4qeavs3 beae-block beae-core beae-unique-2mptq28i beae-x-icon" data-id="beae-f4qeavs3" data-loop-index="0" data-uniqueid="2mptq28i"><!----><div class="beae-elm__ic"><svg fill="currentColor" xmlns="http: //www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg></div><!----></div><!----><!----><!----></div><!----><!----><!----><div class="beae-tmt6xb7e beae-block beae-core beae-unique-qzrvljly" data-id="beae-tmt6xb7e" data-loop-index="0" data-uniqueid="qzrvljly""><!----><!----><div class="beae-x-price" data-badged="none"><div class="beae-prd-single-price-wrapper"><span class="beae-product-single__price">
    
      {% if product.price_varies and product.compare_at_price %}
        {% assign cheapest_variant = product.variants | sort: 'price' | first %}
        {% capture price_normal %}
          {% if settings.currency_code_enabled %}
            {{ product.selected_or_first_available_variant.price | money_with_currency }}
          {% else %}
            {{ product.selected_or_first_available_variant.price | money }}
          {% endif %}
        {% endcapture %}
        {% capture price_min %}
          {% if settings.currency_code_enabled %}
            {{ cheapest_variant.price | money_with_currency }}
          {% else %}
            {{ cheapest_variant.price | money }}
          {% endif %}
        {% endcapture %}
        {% if cheapest_variant.price < cheapest_variant.compare_at_price %}
          <span class="beae-price-on-sale">
            <span class="beae-price-from">{{ 'sections.beae-55th-national-day-25.be978022322_html' | t: price_min:price_min }}</span>
            <span class="beae-price-normal">{{ 'sections.beae-55th-national-day-25.be1950827197_html' | t: price_normal:price_normal }}</span>
          </span>
        {% else %}
          <span class="beae-price-from">{{ 'sections.beae-55th-national-day-25.be978022322_html' | t: price_min:price_min }}</span>
          <span class="beae-price-normal">{{ 'sections.beae-55th-national-day-25.be1950827197_html' | t: price_normal:price_normal }}</span>
        {% endif %}
      {% elsif product.price < product.compare_at_price %}
        <span class="beae-price-on-sale">{% if settings.currency_code_enabled %}
          {{ product.price | money_with_currency }}
        {% else %}
          {{ product.price | money }}
        {% endif %}</span>
      {% elsif product.price_varies %}
        {% capture price_min %}
          {% if settings.currency_code_enabled %}
            {{ product.price_min | money_with_currency }}
          {% else %}
            {{ product.price_min | money }}
          {% endif %}
        {% endcapture %}
        {% capture price_max %}
          {% if settings.currency_code_enabled %}
            {{ product.price_max | money_with_currency }}
          {% else %}
            {{ product.price_max | money }}
          {% endif %}
        {% endcapture %}
        <span class="beae-price-from">{{ 'sections.beae-55th-national-day-25.be978022322_html' | t: price_min:price_min }}</span>
        <span class="beae-price-normal">{{ 'sections.beae-55th-national-day-25.be1950827197_html' | t: price_normal:price_normal }}</span>
      {% else %}
        {% if settings.currency_code_enabled %}
          {{ product.price | money_with_currency }}
        {% else %}
          {{ product.price | money }}
        {% endif %}
      {% endif %}
      
  </span><span class="beae-product-single__price--regular">{% liquid
    assign print_compare = ''
    if selected_variant != blank   
      if selected_variant.price < selected_variant.compare_at_price
        if settings.currency_code_enabled
          assign print_compare = selected_variant.compare_at_price | money_with_currency
        else
          assign print_compare = selected_variant.compare_at_price | money
        endif
      endif
    else                                                            
      if product.price_varies and product.compare_at_price
        assign cheapest_variant = product.variants | sort: 'price' | first
        if cheapest_variant.price < cheapest_variant.compare_at_price
          if settings.currency_code_enabled
            assign print_compare = cheapest_variant.compare_at_price | money_with_currency
          else
            assign print_compare = cheapest_variant.compare_at_price | money
          endif
        endif
      elsif product.price < product.compare_at_price
        if settings.currency_code_enabled
          assign print_compare = product.compare_at_price | money_with_currency
        else
          assign print_compare = product.compare_at_price | money
        endif
      endif
    endif
  %}{{ print_compare }}</span><span type="none" class="beae-typo-p3 {% liquid
    assign badge_class = ''
    if product.available
      assign checkHidden = true
      if selected_variant != blank
        if selected_variant.price < selected_variant.compare_at_price
          assign checkHidden = false
        endif
      else
        if product.price_varies and product.compare_at_price
          assign cheapest_variant = product.variants | sort: 'price' | first
          if cheapest_variant.price < cheapest_variant.compare_at_price
            assign checkHidden = false
          endif
        elsif product.price < product.compare_at_price
          assign checkHidden = false
        endif
      endif
      if checkHidden
        assign badge_class = 'beae-sale-hidden'
      else
        assign badge_class = 'beae-product-single__price--sale'
      endif
    else
      assign badge_class = 'beae-sale-sold-out'
    endif
  %}{{ badge_class }} beae-product-single__price--badged" data-sale="" data-sold-out="{{ 'sections.beae-55th-national-day-25.be1538363906_html' | t }}"></span></div><div class="beae-product-single__tax-shipping"></div></div><!----></div><!----><!----><!----><!----><!----><div class="beae-stf1ug34 beae-block beae-core beae-unique-ray97006" data-id="beae-stf1ug34" data-loop-index="0" data-uniqueid="ray97006""><!----><div class="beae-block beae-x-quick-view"><div class="beae-quick-view-wrapper"><button aria-label="button" type="button" class="beae-quick-view-btn beae-btn-pr" data-template="quickview-default"><!----><span class="beae-quick-view-btn-text">{{ 'sections.beae-55th-national-day-25.be649020154_html' | t }}</span></button></div></div><!----></div><!----><!----><script data-id="Product-json-{{ product.id }}" type="application/json" style="display: none;">
    {
      "id":  {{ product.id | json }},
      "title":  {{ product.title | json }},
      "handle":  {{ product.handle | json }},
      "price":  {{ product.price| json }},
      "price_min":  {{ product.price_min| json }},
      "price_max":  {{ product.price_max| json }},
      "price_normal":  {{ product.selected_or_first_available_variant.price| json }},
      "available":  {{ product.available | json }},
      "price_varies":  {{ product.price_varies| json }},
      "compare_at_price":  {{ product.compare_at_price| json }},
      "compare_at_price_min":  {{ product.compare_at_price_min| json }},
      "compare_at_price_max":  {{ product.compare_at_price_max| json }},
      "compare_at_price_varies":  {{ product.compare_at_price_varies| json }},
      "has_only_default_variant":  {{ product.has_only_default_variant | json }},
      "selected_or_first_available_variant":  {{ product.selected_or_first_available_variant | json }},
      "options":  {{ product.options_with_values | json }},
      "variants": [
        {%- for variant in product.variants -%}
          {
            "id":  {{ variant.id | json }},
            "title": " {{ variant.option1 | handleize }}{%- if product.options.size == 2 -%} / {%- endif -%} {{ variant.option2 | handleize }}{%- if product.options.size == 3 -%} / {%- endif -%} {{ variant.option3 | handleize }}",
            "option1":  {{ variant.option1  | json }},
            "option2": {%- if product.options.size == 1 -%}null{%-else-%} {{ variant.option2  | json }}{%-endif-%},
            "option3": {%- if product.options.size == 1 or product.options.size == 2 -%}null{%-else-%} {{ variant.option3  | json }}{%-endif-%},
            "sku":  {{ variant.sku | json }},
            "requires_shipping":  {{ variant.requires_shipping }},
            "taxable":  {{ variant.taxable | json }},
            "selling_plan_allocations":{{variant.selling_plan_allocations | json }},
            "featured_image": {%- if variant.image.id != blank -%}{
              "id":  {{ variant.image.id | json }},
              "product_id":  {{ product.id | json }},
              "width":  {{ variant.image.width | json }},
              "height":  {{ variant.image.height | json }},
              "src":  {{ variant.image.src | json }},
              "position": {{ variant.image.position }}
            }{%- else-%}null{%-endif-%},
            "featured_media": {{ variant.featured_media | json }},
            "available":  {{ variant.available }},
            "public_title": " {{ variant.option1 | handleize }}{%- if product.options.size == 2 -%} / {%- endif -%} {{ variant.option2 | handleize }}{%- if product.options.size == 3 -%} / {%- endif -%} {{ variant.option3 | handleize }}",
            "options":   {{ variant.options | json }},
            "price":  {{ variant.price | json }},
            "weight":  {{ variant.weight | json }},
            "compare_at_price":  {{ variant.compare_at_price | json }},
            "inventory_quantity":  {{ variant.inventory_quantity | json }},
            "inventory_management":  {{ variant.inventory_management | json }},
            "inventory_policy":  {{ variant.inventory_policy | json }},
            "next_incoming_date": {% if variant.next_incoming_date %}{{variant.next_incoming_date | date: "%Y-%m-%d %H:%M" | time_tag | json }}{% else%}null{% endif %},
            "barcode":  {{ variant.barcode | json }},
            "store_availabilities": [
              {%- for variantStore in variant.store_availabilities -%}
                {
                  "location": {
                    "name": {{ variantStore.location.name | json }},
                    "address": {{ variantStore.location.address | json }},
                    "id": {{ variantStore.location.id | json }}
                  },
                  "available": {{ variantStore.available | json }},
                  "pick_up_enabled": {{ variantStore.pick_up_enabled | json }},
                  "pick_up_time": {{ variantStore.pick_up_time | json }}
                }{%- if forloop.last == false -%},{%- endif -%}
              {%- endfor -%}
            ],
            "unit_price":  {{ variant.unit_price | json }},
            "unit_price_measurement":  {
              "measured_type": {{ variant.unit_price_measurement.measured_type | json }},
              "quantity_value": {{ variant.unit_price_measurement.quantity_value | json }},
              "quantity_unit": {{ variant.unit_price_measurement.quantity_unit | json }},
              "reference_value": {{ variant.unit_price_measurement.reference_value | json }},
              "reference_unit": {{ variant.unit_price_measurement.reference_unit | json }}
            }
          }{%- if forloop.last == false -%},{%- endif -%}
        {%- endfor -%}
      ],
      "featured_image":  {{ product.featured_image | json }},
      "size_available":[
        {%- for value in product.options_with_values[0].values -%}
        {%- assign available_ops = product.variants | where: "available" | where: "option1",value -%}
          {{available_ops.size}}{%- unless forloop.last %},{% endunless -%}
        {%- endfor -%}
      ],
      "shopColors": {{ shop.metafields.beae.colors }}
    }
  </script></div> 
                  <input type="hidden" name="sections" value="cart-notification-product,cart-notification-button,cart-icon-bubble">
                  <input type="hidden" name="section_url" value="{{product.handle}}">
            {%- endform -%}
                
      
              
              {%- endfor -%}
            {%- endif -%}
          
          </div><div class="beae-slider-controls"><div class="beae-slider-controls-wrp"><!----><!----><!----><!----></div></div></div><script type="text/javascript">window.BEAEARGS['beae-0y8i40i2section-slide-show'] = {
    "id": "beae-0y8i40i2",
    "mode": {"value": "live"},
    "layout":"slider","layoutMobile":"slider","effect":"slide","isLoop":false,"autoPlay":false,"autoPlayDelay":5,"itemsPerSlide":4,"itemsPerSlideMobile":2,"itemsGap":"25px","itemsGapMobile":"5px","paginationImage":false,"paginationImageMobile":false,"typeScroll":"default","numItemsScroll":1,"showNavigation":false,"showPagination":false,"showProgress":false,"hookSliderInit":"","hookBeforeSlideChange":"","hookAfterSlideChange":"","noRunJs":false
  };</script><!----> 
          </div>
          {%- endfor -%}
        {%- assign collection = tmp_collection -%}    
        {%- assign product = tmp_product -%}    
      <!----></div></div><script type="text/javascript">window.BEAEARGS['beae-0y8i40i2section-featured-collection'] = {
    "id": "beae-0y8i40i2",
    "mode": {"value": "live"},
    "mobileMode":false,"maximumItems":10,"promotionPosition":false
  };</script><!----></div><!----><!----></div></div></div><!----><!----><!----><!----><!----><!----></section><!----><script type="text/javascript">window.BEAEARGS['beae-mfoyuf2rsection-js'] = {
    "id": "beae-mfoyuf2r",
    "mode": {"value": "live"},
    "optionsVideo":false,"optionsVideoMobile":false
  };</script><!----><!---->
<script type="text/javascript">
  (() => {
    let testText = document.createElement('div');
    testText.innerHTML = 'test';
    testText.style.fontSize = '100px';
    document.body.appendChild(testText);
    let realFontSize = parseFloat(window.getComputedStyle(testText).getPropertyValue('font-size').replace('px', ''));
    testText.style.zoom = '50%';
    let detectDesktopRequestMode = window.getComputedStyle(testText).getPropertyValue('font-size') !== '100px';
    document.body.removeChild(testText);
    
    document.body.style.setProperty('--font-size-ratio', (realFontSize / 100).toString());

    function getTextNodesIn(elem) {
      let textNodes = [];
      if (elem) {
        for (var nodes = elem.childNodes, i = nodes.length; i--;) {
          let node = nodes[i], nodeType = node.nodeType;
          if (nodeType == 1 || nodeType == 9 || nodeType == 11) {
            textNodes = textNodes.concat(getTextNodesIn(node));
          }
        }
      }
      return textNodes;
    }

    let scaleFitGridBlock = () => {

      document.querySelectorAll('.beae-section.beae-core').forEach((sec) => {
        let container = sec.querySelector(".beae__section--container");
        if (!container) { return; };
        let winWidth = document.documentElement.offsetWidth;
        if (winWidth >= 768) {
          sec.querySelectorAll('.beae__section--container').forEach(container => {
            container.parentNode.style.setProperty("--container-width", container.closest('.grid-container-width') ? container.closest('.grid-container-width').parentNode.offsetWidth+'px' : container.offsetWidth+'px');
          });
        }
      });

      document.querySelectorAll('.beae-grid-block').forEach(block => {
       let child = block.querySelector('.beae-block.beae-core > *'),
           zoom = 0,
           count = 0;
        child.style.zoom = '';
        child.style.lineHeight = '';
        while(child.offsetHeight > block.offsetHeight && count < 14 && (zoom === 0 || block.offsetHeight < (child.offsetHeight*zoom))) {
            zoom = (block.offsetHeight+block.offsetWidth)/(child.offsetHeight+child.offsetWidth);
            child.style.zoom = zoom < 1 ? Math.floor(zoom*100)+'%' : '';
            child.style.lineHeight = '2.4rem';
            count++;
        }
      });
    };

    scaleFitGridBlock();
    let timmer = 0;
    window.addEventListener('resize', () => {
      clearTimeout(timmer);
      timmer = setTimeout(scaleFitGridBlock, 150);
    });
    window.addEventListener('load', scaleFitGridBlock);
    
    if (document.getElementById('beae-exported-page-css')) {
      document.getElementById('beae-exported-page-css').addEventListener('load', scaleFitGridBlock);
    }

  })();
</script>
</div></div>{% if section_id == section.id %}{% endif%}
<script id="beae-exported-page-js" src="{{'beae-68fe1bb9ed25d00f630af643.js'  | asset_url }}" defer></script>

{% schema %}
{
    "name": "BEAE BUILDER APP",
    "locales": {
        "en": {
            "be76480_html": "N\/A",
            "be430210269_html": "Tax included. ",
            "be72458158275_html": "<a href=\"{{shop.shipping_policy.url}}\">Shipping<\/a> calculated at checkout.",
            "be427520332_html": "Save { sale }",
            "be1538363906_html": "Sold Out",
            "be1066872809_html": "Save {{ sale }}%",
            "be2569319_html": "Sale",
            "be381488706_html": "MLS NATIONAL",
            "be54210947120_html": "DAY SALE IS LIVE<br>",
            "be1318174562189_html": "Get&nbsp;<b>2 FREE Angus Burgers<\/b>&nbsp;with your first<br>order during national day sale + a&nbsp;<b>FREE 5kg<\/b>&nbsp;<br><b>Al Aqsa Rice Bag<\/b>&nbsp;on orders over&nbsp;<b>30 OMR!<\/b>",
            "be282226004_html": "Shop Now",
            "be112332300045_html": "<ul><li>LOVED BY 50,000 MEAT LOVERS<\/li><\/ul>",
            "be111491936954_html": "<ul><li>OMAN\u2019S MOST TRUSTED MEAT BRAND&nbsp;<\/li><\/ul>",
            "be147664180146_html": "<ul><li>100% HALAL &amp; FRESH&nbsp;<\/li><\/ul>",
            "be861781361104_html": "<a href=\"#beae-5zn1isai\" type=\"target\" url=\"#beae-5zn1isai\" handle=\"19\">VIEW NATIONAL DAY COLLECTION<\/a>",
            "be325292714124_html": "National day <b><u>-<\/u><\/b>&nbsp;<a href=\"#beae-a3hvjzir\" type=\"target\" url=\"#beae-a3hvjzir\" handle=\"18\">S<\/a>pecial Offers",
            "be125673334339_html": "FREE 5kg&nbsp;<br>Al&nbsp;Aqsa Rice Bag",
            "be173797890534_html": "on orders over&nbsp;<b>30 OMR!<\/b>",
            "be1857326792_html": "Claim Offer",
            "be1961376028_html": "55TH NATIONAL DAY COLLECTION",
            "be747681529_html": "View Collection",
            "be2111903356_html": "MLS NATIONAL DAY SPECIAL BUNDLES",
            "be649020154_html": "Add to cart",
            "be1538394658_html": "Sold out",
            "be719299147_html": "Choose options",
            "be978022322_html": "From {{ price_min }}",
            "be1950827197_html": "{{ price_normal }}",
            "be205347279441_html": "TOP SELLERS FROM OUR<br>NATIONAL DAY SALE"
        }
    },
    "settings": [
        {
            "type": "header",
            "content": "The section was generated by BEAE BUILDER",
            "info": "\n                        Beae is a flexible page builder app on Shopify AppStore.\n                        It provides 100+ Shopify Elements and pre-built templates library, \n                        so you can build unlimited pages that you can imagine with it.\n                    "
        },
        {
            "type": "header",
            "content": "[EDIT WITH BEAE APP \u2192](https:\/\/muscat-livestock.myshopify.com\/admin\/apps\/beae-flexible-page-builder\/next\/editor-v3\/page\/68fe1bb9ed25d00f630af643)",
            "info": "(*You must install the app to start editing this section [Learn more](https:\/\/docs.beae.com\/en\/article\/quick-start-guide-dkoesy\/))"
        }
    ],
    "blocks": [
        {
            "type": "@app"
        }
    ]
}
{% endschema %}