
            {% assign beae_root_url = routes.root_url %}
            {% if beae_root_url != '/'%}
                {% assign beae_root_url = routes.root_url | append: '/' %}
            {% endif %}
        {%capture section_id %}beae-68fe1bb9ed25d00f630af643{% endcapture%}{% if section_id == section.id %}{% if shop.metafields.beae.global_css %}
            <!--BEAE-EMBED-->
            <link href="data:text/css;base64,{{-shop.metafields.beae.global_css-}}" rel="stylesheet" id="beae-global-css"/>
            <!--/BEAE-EMBED-->
        {% endif %}

{% render 'beae_header', BEAE_THEME: true %}{% endif %}<link rel="stylesheet" id="beae-exported-page-css" media="all" href="{{"beae-68fe1bb9ed25d00f630af643.css" | asset_url}}"><link rel="dns-prefetch" href="https://cdn.shopify.com">
                    <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
                    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
                    <link rel="preload" type="text/css" href="https://cdn.shopify.com/s/files/1/0285/3732/3629/files/Helvetica-Bold.ttf?v=1680468689" as="font" type="font/truetype" crossorigin="anonymous">
                    <style>
                    @font-face {font-family: 'Helvetica-Bold';font-weight: 700;src: url('https://cdn.shopify.com/s/files/1/0285/3732/3629/files/Helvetica-Bold.ttf?v=1680468689') format('truetype');font-display: swap;}
                    </style><div class="beae-builder-v2 beae-builder"><div class="beae-sections beae-content-wrapper"><script type="text/javascript">if (!window.BEAEARGS) {window.BEAEARGS = {};}</script>
<!----><!----><!----><section id="" data-sectionid="beae-eg8x62ji" data-width="1920" data-margin="30px" data-margin-mobile="15px" data-type="flexContainer" class="beae-typo-p1 beae-eg8x62ji section-beae-eg8x62ji beae-section beae-core" data-template="Hero 3"><!----><!----><div class="beae-flexbox beae-typo-p1" style="padding: 0px;"><div class="beae__section--container beae-flexbox-container beae__section--full"><!----><div class="beae-flexbox-core beae-x-flex-section grid-container-width"><!----><div class="beae-ljtj1emy beae-block beae-core beae-animation beae-unique-a6dtgpam beae-flex-wrapper" data-id="beae-ljtj1emy" data-uniqueid="a6dtgpam"><!----><!----><!----><div class="beae-9cjmlpzq beae-block beae-core beae-animation beae-unique-0ftq669d" data-id="beae-9cjmlpzq" data-uniqueid="0ftq669d"><!----><div class="beae-block beae-x-text beae-typo-p2" data-autolayout="beae-9cjmlpzq">{{ 'sections.beae-68fe1bb9ed25d00f630af643.be381488706_html' | t }}</div><!----><!----></div><!----><!----><!----><div class="beae-tx23jo70 beae-block beae-core beae-animation beae-unique-bycxruog" data-id="beae-tx23jo70" data-uniqueid="bycxruog"><!----><div class="beae-block beae-x-text beae-typo-h2" data-autolayout="beae-tx23jo70">{{ 'sections.beae-68fe1bb9ed25d00f630af643.be54210947120_html' | t }}</div><!----><!----></div><!----><!----><!----><div class="beae-d5jd51ag beae-block beae-core beae-animation beae-unique-38v8wmcd" data-id="beae-d5jd51ag" data-uniqueid="38v8wmcd""><!----><style type="text/css"></style><div class="beae-slider-wrapper beae-slider slider-beae-d5jd51ag items-per-1" data-draggable="true" data-desktop-layout="grid" data-mobile-layout="grid" data-effect="slide" data-pagination="true" data-navigation="true" style="--items-per: 1; --items-per-mobile: 1; --items-gap: 0.5vmax; --items-gap-mobile: 0.5vmax; --autoplay-delay: 5s;"><div class="beae-slider-content beae-slider-items"><div data-loop-index="0" class="beae-list-item beae-zilp8bvf"><!----><!----><div class="beae-egp1pbtt beae-block beae-core beae-unique-ejmej2he" data-id="beae-egp1pbtt" data-loop-index="0" data-uniqueid="ejmej2he"><!----><div class="beae-block beae-x-text beae-typo-p2" data-autolayout="beae-egp1pbtt">{{ 'sections.beae-68fe1bb9ed25d00f630af643.be1318174562189_html' | t }}</div><!----><!----></div><!----><!----></div></div><div class="beae-slider-controls"><div class="beae-slider-controls-wrp"><div class="beae-slider-indicator"><div class="beae-slider-progress"></div></div><div class="beae-slider-nav-left"><button aria-label="button" type="button"><svg xmlns="http: //www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><polyline points="15 18 9 12 15 6"></polyline></svg></button></div><div class="beae-slider-pagination-wrp"></div><div class="beae-slider-nav-right"><button aria-label="button" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><polyline points="9 18 15 12 9 6"></polyline></svg></button></div></div></div></div><script type="text/javascript">window.BEAEARGS['beae-d5jd51agsection-slide-show'] = {
    "id": "beae-d5jd51ag",
    "mode": {"value": "live"},
    "layout":"grid","layoutMobile":"grid","effect":"slide","isLoop":true,"autoPlay":false,"autoPlayDelay":5,"itemsPerSlide":1,"itemsPerSlideMobile":1,"itemsGap":"0.5vmax","itemsGapMobile":"0.5vmax","paginationImage":false,"paginationImageMobile":false,"typeScroll":"default","numItemsScroll":1,"showNavigation":true,"showPagination":true,"showProgress":true,"hookSliderInit":"","hookBeforeSlideChange":"","hookAfterSlideChange":"","noRunJs":false,"itemGap":0,"itemGapMobile":0
  };</script><!----></div><!----><!----><!----><div class="beae-vihwoi2g beae-block beae-core beae-animation beae-unique-hupg031j beae-flex-wrapper" data-id="beae-vihwoi2g" data-uniqueid="hupg031j"><!----><!----><!----><div class="beae-h5410pag beae-block beae-core beae-animation beae-unique-01y7tavo beae-flexbox-core beae-x-button" data-id="beae-h5410pag" data-uniqueid="01y7tavo"><!----><a href="#beae-5zn1isai" class="beae-btn-pr beae-button-js"><span class="beae-btn-txt">{{ 'sections.beae-68fe1bb9ed25d00f630af643.be282226004_html' | t }} <!----></span></a><!----><script type="text/javascript">window.BEAEARGS['beae-h5410pagbutton-js'] = {
    "id": "beae-h5410pag",
    "mode": {"value": "live"},
    "id":"beae-h5410pag","pageContent":"","extendOptions":"{}","type":"target","url":"#beae-5zn1isai","handle":"19"
  };</script><!----></div><!----><!----><!----></div><!----><!----><!----></div><!----><!----></div></div></div><!----><picture image-mode="" class="beae-lrvn beae-background-image"><source width="480" height="748" src="https://cdn.shopify.com/s/files/1/0285/3732/3629/files/a21a1bd4bcc684961eb67f864d2b4f228cb8c043.jpg?v=1761484093" srcset="https://cdn.shopify.com/s/files/1/0285/3732/3629/files/a21a1bd4bcc684961eb67f864d2b4f228cb8c043.jpg?v=1761484093" alt="a21a1bd4bcc684961eb67f864d2b4f228cb8c043" media="(max-width: 768px)"><img src="https://cdn.shopify.com/s/files/1/0285/3732/3629/files/e1582246494af23c7b19de7a2741e454b54275aa.png?v=1761484038" alt="e1582246494af23c7b19de7a2741e454b54275aa" width="4000" height="2250" fetchpriority="high" loading="lazy"></picture><!----><!----><!----><!----><!----></section><!----><script type="text/javascript">window.BEAEARGS['beae-eg8x62jisection-js'] = {
    "id": "beae-eg8x62ji",
    "mode": {"value": "live"},
    "optionsVideo":{},"optionsVideoMobile":{}
  };</script><!----><section id="" data-sectionid="beae-hcz9jvpb" data-width="1718" data-margin="30px" data-margin-mobile="15px" data-type="flexContainer" class="beae-typo-p1 beae-hcz9jvpb section-beae-hcz9jvpb beae-section beae-core"><!----><!----><div class="beae-flexbox beae-typo-p1" style="padding: 0px;"><div class="beae__section--container beae-flexbox-container" style="max-width: var(--beae-page-width, 1470px);"><!----><div class="beae-flexbox-core beae-x-flex-section grid-container-width"><!----><div class="beae-nj03wgfd beae-block beae-core beae-animation beae-unique-ybcl7skd beae-flex-wrapper" data-id="beae-nj03wgfd" data-uniqueid="ybcl7skd"><!----><!----><!----><div class="beae-q5fbxglr beae-block beae-core beae-animation beae-unique-sdmrc2e2 beae-scroll-text-container" data-id="beae-q5fbxglr" data-uniqueid="sdmrc2e2"><!----><div class="beae-marquee-container beae-typo-p1"><div class="beae-marquee-content" data-direction="row"><div data-loop-index="0" class="beae-marquee-item beae-list-item beae-mqxpiju4"><!----><!----><!----><!----><div class="beae-20ipzckt beae-block beae-core beae-animation beae-unique-r3k0hi11 beae-marquee-text-prefix" data-id="beae-20ipzckt" data-loop-index="0" data-uniqueid="r3k0hi11"><!----><div class="beae-block beae-x-text beae-typo-h5" data-autolayout="beae-20ipzckt">{{ 'sections.beae-68fe1bb9ed25d00f630af643.be112332300045_html' | t }}</div><!----><!----></div><!----><!----></div><div data-loop-index="1" class="beae-marquee-item beae-list-item beae-bvyb28iw"><!----><!----><!----><!----><div class="beae-20ipzckt beae-block beae-core beae-animation beae-unique-vmf17c6k beae-marquee-text-prefix" data-id="beae-20ipzckt" data-loop-index="1" data-uniqueid="vmf17c6k"><!----><div class="beae-block beae-x-text beae-typo-h5" data-autolayout="beae-20ipzckt">{{ 'sections.beae-68fe1bb9ed25d00f630af643.be111491936954_html' | t }}</div><!----><!----></div><!----><!----></div><div data-loop-index="2" class="beae-marquee-item beae-list-item beae-96l9kojc"><!----><!----><!----><!----><div class="beae-20ipzckt beae-block beae-core beae-animation beae-unique-g43jldtd beae-marquee-text-prefix" data-id="beae-20ipzckt" data-loop-index="2" data-uniqueid="g43jldtd"><!----><div class="beae-block beae-x-text beae-typo-h5" data-autolayout="beae-20ipzckt">{{ 'sections.beae-68fe1bb9ed25d00f630af643.be147664180146_html' | t }}</div><!----><!----></div><!----><!----></div></div></div><script type="text/javascript">window.BEAEARGS['beae-q5fbxglr'] = {
    "id": "beae-q5fbxglr",
    "mode": {"value": "live"},
    "direction":"left-center","prefixTypo":"beae-typo-h6","speed":15,"disabled":false
  };</script><!----></div><!----><!----><!----></div><!----><!----><!----><!----></div></div></div><!----><!----><!----><!----><!----><!----></section><!----><script type="text/javascript">window.BEAEARGS['beae-hcz9jvpbsection-js'] = {
    "id": "beae-hcz9jvpb",
    "mode": {"value": "live"},
    "optionsVideo":{"src":"https://www.youtube.com/watch?v=aq7Is03HuXw","loadingVideoType":"none"},"optionsVideoMobile":{}
  };</script><!----><!----><!----><section id="" data-sectionid="beae-ng2aox8h" data-width="1920" data-margin="30px" data-margin-mobile="15px" data-type="slideShow" class="beae-typo-p1 beae-ng2aox8h section-beae-ng2aox8h beae-section beae-core"><!----><!----><div class="beae-flexbox beae-typo-p1" style="padding: 0px;"><div class="beae-x-slideshow beae__section--full" style="margin: 0px auto; max-width: 100%;"><!----><style type="text/css"></style><div class="beae-slider-wrapper beae-slider slider-beae-ng2aox8h items-per-1" data-draggable="true" data-desktop-layout="slider" data-mobile-layout="slider" data-effect="slide" data-pagination="true" data-navigation="false" style="--items-per: 1; --items-per-mobile: 1; --items-gap: 0px; --items-gap-mobile: 0px; --autoplay-delay: 5s;"><div class="beae-slider-content beae-slider-items"><div class="beae-slider-item active slide-beae-m7jdqhhe" data-index="0"><!----><div class="beae-slide-wrap"><div class="beae-m7jdqhhe beae-slide-content"><!----><!----><div class="beae-oxufbafk beae-block beae-core beae-unique-rw0jo0t5 beae-x-video beae-prevent-system" data-id="beae-oxufbafk" data-uniqueid="rw0jo0t5" source="youtube"><!----><div class="beae-x-video--wrapper"><!----><div class="beae-block_video-player beae-prevent-system"><iframe id="beae-oxufbafk" target="do not remove" class="beae_iframe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" src="https://www.youtube.com/embed/qNlS5ZgoA30?version=3&amp;controls=0&amp;mute=1&amp;showinfo=0&amp;iv_load_policy=3&amp;playlist=qNlS5ZgoA30"></iframe></div><button class="beae-close-video" is="close-button" aria-label="Close"><svg role="presentation" stroke-width="2" focusable="false" width="24" height="24" viewBox="0 0 24 24"><path d="M17.658 6.343 6.344 17.657M17.658 17.657 6.344 6.343" stroke="currentColor"></path></svg></button><script type="text/javascript">window.BEAEARGS['beae-oxufbafkblock-video'] = {
    "id": "beae-oxufbafk",
    "mode": {"value": "live"},
    "id":"beae-oxufbafk","uniqueId":"","source":"youtube","mute":true,"loop":true,"autoplay":true,"srcYoutube":"https://www.youtube.com/embed/qNlS5ZgoA30?feature=share","lightbox":false,"player_controls":false,"extendOptions":"{}"
  };</script></div><!----></div><!----><!----><!----></div><!----></div></div><div class="beae-slider-item slide-beae-ng90df53" data-index="1"><!----><div class="beae-slide-wrap"><div class="beae-ng90df53 beae-slide-content"><!----><!----><div class="beae-u4xv1frn beae-block beae-core beae-unique-151er4vt beae-x-video beae-prevent-system" data-id="beae-u4xv1frn" data-uniqueid="151er4vt" source="youtube"><!----><div class="beae-x-video--wrapper"><!----><div class="beae-block_video-player beae-prevent-system"><iframe id="beae-u4xv1frn" target="do not remove" class="beae_iframe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" src="https://www.youtube.com/embed/6Ydnlp9BH6c?version=3&amp;controls=0&amp;mute=1&amp;showinfo=0&amp;iv_load_policy=3&amp;playlist=6Ydnlp9BH6c"></iframe></div><button class="beae-close-video" is="close-button" aria-label="Close"><svg role="presentation" stroke-width="2" focusable="false" width="24" height="24" viewBox="0 0 24 24"><path d="M17.658 6.343 6.344 17.657M17.658 17.657 6.344 6.343" stroke="currentColor"></path></svg></button><script type="text/javascript">window.BEAEARGS['beae-u4xv1frnblock-video'] = {
    "id": "beae-u4xv1frn",
    "mode": {"value": "live"},
    "id":"beae-u4xv1frn","uniqueId":"","source":"youtube","mute":true,"loop":true,"autoplay":true,"srcYoutube":"https://www.youtube.com/embed/6Ydnlp9BH6c?feature=share","lightbox":false,"player_controls":false,"extendOptions":"{}"
  };</script></div><!----></div><!----><!----><!----></div><!----></div></div></div><div class="beae-slider-controls"><div class="beae-slider-controls-wrp"><!----><!----><div class="beae-slider-pagination-wrp"></div><!----></div></div></div><script type="text/javascript">window.BEAEARGS['beae-ng2aox8hsection-slide-show'] = {
    "id": "beae-ng2aox8h",
    "mode": {"value": "live"},
    "layout":"slider","layoutMobile":"slider","effect":"slide","isLoop":true,"autoPlay":true,"autoPlayDelay":5,"itemsPerSlide":1,"itemsPerSlideMobile":1,"itemsGap":0,"itemsGapMobile":0,"paginationImage":false,"paginationImageMobile":false,"typeScroll":"default","numItemsScroll":1,"showNavigation":false,"showPagination":true,"showProgress":false,"hookSliderInit":"","hookBeforeSlideChange":"","hookAfterSlideChange":"\n  let device = window.innerWidth >= 768 ? 'desktop' : 'mobile';\n  let bgVideo = data.nextSlide ? data.nextSlide.querySelector('.beae-section-background-video[data-device=\"' + device + '\"] video') : null;\n  let bgIframe = data.nextSlide ? data.nextSlide.querySelector('.beae-section-background-video[data-device=\"' + device + '\"] iframe') : null;\n    if (bgVideo) {\n      const setupVideo = () => {\n        bgVideo.currentTime = 0;\n        bgVideo.play();\n        if (data.data.autoPlay) {\n          data.slider.setAttribute('data-video-duration', bgVideo.duration);\n          data.slider.setAttribute('data-video-background', 'true');\n          data.slider.setAttribute('data-stop-autoplay', 'true');\n          bgVideo.onended = () => {\n            data.nextSlider();\n          };\n        }\n      };\n\n      if (bgVideo.readyState >= 1) {\n        setupVideo();\n      } else {\n        bgVideo.onloadedmetadata = setupVideo;\n      }\n    } else if (bgIframe) {\n      const setupIframe = () => {\n        if (data.data.autoPlay) {\n          data.slider.setAttribute('data-video-background', 'true');\n          data.slider.setAttribute('data-stop-autoplay', 'true');\n          \n          let src = bgIframe.src;\n          if (!src.includes('autoplay=1')) {\n            bgIframe.src = src.includes('?') ? (src + '&autoplay=1') : (src + '?autoplay=1');\n          }else {\n            bgIframe.src = src;\n          }\n        }\n      };\n      setupIframe();\n    } else if (data.data.autoPlay) {\n      data.slider.removeAttribute('data-video-duration');\n      data.slider.removeAttribute('data-video-background');\n      data.slider.removeAttribute('data-stop-autoplay');\n    }\n  ","noRunJs":false,"itemGap":0,"itemGapMobile":0
  };</script></div></div><!----><!----><!----><!----><!----><!----></section><!----><script type="text/javascript">window.BEAEARGS['beae-ng2aox8hsection-js'] = {
    "id": "beae-ng2aox8h",
    "mode": {"value": "live"},
    "optionsVideo":{},"optionsVideoMobile":false
  };</script><!----><!----><!----><section id="" data-sectionid="beae-xke8dnck" data-width="1467" data-margin="30px" data-margin-mobile="15px" data-type="flexContainer" class="beae-typo-p1 beae-xke8dnck section-beae-xke8dnck beae-section beae-core"><!----><!----><div class="beae-flexbox beae-typo-p1" style="padding: 0px;"><div class="beae__section--container beae-flexbox-container" style="max-width: var(--beae-page-width, 1470px);"><!----><div class="beae-flexbox-core beae-x-flex-section grid-container-width"><!----><div class="beae-0jcqfu3b beae-block beae-core beae-animation beae-unique-540z30c3 beae-flex-wrapper" data-id="beae-0jcqfu3b" data-uniqueid="540z30c3"><!----><!----><!----><div class="beae-y00ohbzp beae-block beae-core beae-animation beae-unique-jpzpb945 beae-x-video beae-prevent-system" data-id="beae-y00ohbzp" data-uniqueid="jpzpb945" source="youtube"><!----><div class="beae-x-video--wrapper"><!----><div class="beae-block_video-player beae-prevent-system"><iframe id="beae-y00ohbzp" target="do not remove" class="beae_iframe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" src="https://www.youtube.com/embed/qNlS5ZgoA30?version=3&amp;controls=0&amp;mute=1&amp;showinfo=0&amp;iv_load_policy=3&amp;playlist=qNlS5ZgoA30"></iframe></div><button class="beae-close-video" is="close-button" aria-label="Close"><svg role="presentation" stroke-width="2" focusable="false" width="24" height="24" viewBox="0 0 24 24"><path d="M17.658 6.343 6.344 17.657M17.658 17.657 6.344 6.343" stroke="currentColor"></path></svg></button><script type="text/javascript">window.BEAEARGS['beae-y00ohbzpblock-video'] = {
    "id": "beae-y00ohbzp",
    "mode": {"value": "live"},
    "id":"beae-y00ohbzp","uniqueId":"","source":"youtube","mute":true,"loop":true,"autoplay":false,"srcYoutube":"https://www.youtube.com/embed/qNlS5ZgoA30?feature=share","lightbox":false,"player_controls":false,"extendOptions":"{}"
  };</script></div><!----></div><!----><!----><!----></div><!----><!----><!----><div class="beae-9g21jca9 beae-block beae-core beae-animation beae-unique-0uuvcbk6 beae-flex-wrapper" data-id="beae-9g21jca9" data-uniqueid="0uuvcbk6"><!----><!----><!----><div class="beae-fs32qlje beae-block beae-core beae-animation beae-unique-0iym7rjp beae-x-video beae-prevent-system" data-id="beae-fs32qlje" data-uniqueid="0iym7rjp" source="youtube"><!----><div class="beae-x-video--wrapper"><!----><div class="beae-block_video-player beae-prevent-system"><iframe id="beae-fs32qlje" target="do not remove" class="beae_iframe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" src="https://www.youtube.com/embed/6Ydnlp9BH6c?version=3&amp;controls=1&amp;showinfo=0&amp;iv_load_policy=3&amp;playlist=6Ydnlp9BH6c"></iframe></div><button class="beae-close-video" is="close-button" aria-label="Close"><svg role="presentation" stroke-width="2" focusable="false" width="24" height="24" viewBox="0 0 24 24"><path d="M17.658 6.343 6.344 17.657M17.658 17.657 6.344 6.343" stroke="currentColor"></path></svg></button><script type="text/javascript">window.BEAEARGS['beae-fs32qljeblock-video'] = {
    "id": "beae-fs32qlje",
    "mode": {"value": "live"},
    "id":"beae-fs32qlje","uniqueId":"","source":"youtube","mute":false,"autoplay":true,"srcYoutube":"https://www.youtube.com/embed/6Ydnlp9BH6c?feature=share","lightbox":false,"player_controls":true,"extendOptions":"{}"
  };</script></div><!----></div><!----><!----><!----></div><!----><!----><!----><!----></div></div></div><!----><!----><!----><!----><!----><!----></section><!----><script type="text/javascript">window.BEAEARGS['beae-xke8dncksection-js'] = {
    "id": "beae-xke8dnck",
    "mode": {"value": "live"},
    "optionsVideo":{},"optionsVideoMobile":false
  };</script><!----><section id="" data-sectionid="beae-gqyxc4c9" data-width="1692" data-margin="30px" data-margin-mobile="15px" data-type="flexContainer" class="beae-typo-p1 beae-gqyxc4c9 section-beae-gqyxc4c9 beae-section beae-core"><!----><!----><div class="beae-flexbox beae-typo-p1" style="padding: 0px;"><div class="beae__section--container beae-flexbox-container" style="max-width: var(--beae-page-width, 1470px);"><!----><div class="beae-flexbox-core beae-x-flex-section grid-container-width"><!----><div class="beae-3cqh8mqf beae-block beae-core beae-animation beae-unique-qi4an9ob beae-flex-wrapper" data-id="beae-3cqh8mqf" data-uniqueid="qi4an9ob"><!----><!----><!----><div class="beae-nwlf59rm beae-block beae-core beae-animation beae-unique-7h48256j" data-id="beae-nwlf59rm" data-uniqueid="7h48256j"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-nwlf59rm">{{ 'sections.beae-68fe1bb9ed25d00f630af643.be861781361104_html' | t }}</div><!----><!----></div><!----><!----><!----></div><!----><!----></div></div></div><!----><!----><!----><!----><!----><!----></section><!----><script type="text/javascript">window.BEAEARGS['beae-gqyxc4c9section-js'] = {
    "id": "beae-gqyxc4c9",
    "mode": {"value": "live"},
    "optionsVideo":false,"optionsVideoMobile":false
  };</script><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><section id="" data-sectionid="beae-olou74m8" data-width="1467" data-margin="30px" data-margin-mobile="15px" data-type="flexContainer" class="beae-typo-p1 beae-olou74m8 section-beae-olou74m8 beae-section beae-core" data-template="Hero 6"><!----><!----><div class="beae-flexbox beae-typo-p1" style="padding: 0px;"><div class="beae__section--container beae-flexbox-container" style="max-width: var(--beae-page-width, 1470px);"><!----><div class="beae-flexbox-core beae-x-flex-section grid-container-width"><!----><div class="beae-zalbvjyh beae-block beae-core beae-animation beae-unique-et2ka04a beae-flex-wrapper" data-id="beae-zalbvjyh" data-uniqueid="et2ka04a"><!----><!----><!----><div class="beae-ettt29ab beae-block beae-core beae-animation beae-unique-w0o9dwh8 beae-flex-wrapper" data-id="beae-ettt29ab" data-uniqueid="w0o9dwh8"><!----><!----><!----><div class="beae-i0rerojb beae-block beae-core beae-animation beae-unique-gzvqhm1d" data-id="beae-i0rerojb" data-uniqueid="gzvqhm1d""><!---->{% assign beae_image_pr = images['Untitled_design.png'].alt %}
        {% assign beae_image_sec = images['undefined'].alt %}
        {% assign beae_image_mb_pr = images['undefined'].alt %}
        {% assign beae_image_mb_sec = images['undefined'].alt %}<!----><div class="beae-block beae-x-image beae-container-image beae-image-content-position beae-image-picture" hover-mode="false"><!----><!----><picture image-mode="" class="beae-syf4 beae-image-primary"><!----><img src="https://cdn.shopify.com/s/files/1/0285/3732/3629/files/Untitled_design.png?v=1761493376" alt="Untitled_design" width="4096" height="2731" fetchpriority="high" loading="lazy"></picture><!----></div><script type="text/javascript">window.BEAEARGS['beae-i0rerojbblock-image'] = {
    "id": "beae-i0rerojb",
    "mode": {"value": "live"},
    "autoHover":false,"secondaryAction":"hover"
  };</script><!----></div><!----><!----><!----></div><!----><!----><!----></div><!----><!----><!----><div class="beae-vbshgaox beae-block beae-core beae-animation beae-unique-1acmxh91 beae-flex-wrapper" data-id="beae-vbshgaox" data-uniqueid="1acmxh91"><!----><!----><!----><div class="beae-bms015h0 beae-block beae-core beae-animation beae-unique-0uowic3i" data-id="beae-bms015h0" data-uniqueid="0uowic3i"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-bms015h0">{{ 'sections.beae-68fe1bb9ed25d00f630af643.be2109979675129_html' | t }}</div><!----><!----></div><!----><!----><!----><div class="beae-gj4rbeok beae-block beae-core beae-animation beae-unique-zbu2ynek" data-id="beae-gj4rbeok" data-uniqueid="zbu2ynek"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-gj4rbeok">{{ 'sections.beae-68fe1bb9ed25d00f630af643.be155962668734_html' | t }}</div><!----><!----></div><!----><!----><!----><div class="beae-svtb3x4w beae-block beae-core beae-animation beae-unique-wwk7yc8e" data-id="beae-svtb3x4w" data-uniqueid="wwk7yc8e"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-svtb3x4w">{{ 'sections.beae-68fe1bb9ed25d00f630af643.be173797890534_html' | t }}</div><!----><!----></div><!----><!----><!----><div class="beae-y97vbfgr beae-block beae-core beae-animation beae-unique-9ptvaloy beae-flex-wrapper" data-id="beae-y97vbfgr" data-uniqueid="9ptvaloy"><!----><!----><!----><div class="beae-bici1mrc beae-block beae-core beae-animation beae-unique-rty9efq9 beae-flexbox-core beae-x-button" data-id="beae-bici1mrc" data-uniqueid="rty9efq9"><!----><a href="#beae-7yhxnp8v" class="beae-btn-pr beae-button-js"><span class="beae-btn-txt">{{ 'sections.beae-68fe1bb9ed25d00f630af643.be1857326792_html' | t }} <!----></span></a><!----><script type="text/javascript">window.BEAEARGS['beae-bici1mrcbutton-js'] = {
    "id": "beae-bici1mrc",
    "mode": {"value": "live"},
    "id":"beae-bici1mrc","pageContent":"","extendOptions":"{}","type":"target","url":"#beae-a3hvjzir","handle":"18"
  };</script><!----></div><!----><!----><!----></div><!----><!----><!----></div><!----><!----></div></div></div><!----><!----><!----><!----><!----><!----></section><!----><script type="text/javascript">window.BEAEARGS['beae-olou74m8section-js'] = {
    "id": "beae-olou74m8",
    "mode": {"value": "live"},
    "optionsVideo":{},"optionsVideoMobile":false
  };</script><!----><!----><!----><section id="" data-sectionid="beae-jk3ezege" data-width="1467" data-margin="30px" data-margin-mobile="15px" data-type="flexContainer" class="beae-typo-p1 beae-jk3ezege section-beae-jk3ezege beae-section beae-core"><!----><!----><div class="beae-flexbox beae-typo-p1" style="padding: 0px;"><div class="beae__section--container beae-flexbox-container" style="max-width: var(--beae-page-width, 1470px);"><!----><div class="beae-flexbox-core beae-x-flex-section grid-container-width"><!----><div class="beae-eav1clcg beae-block beae-core beae-animation beae-unique-eg241x0s" data-id="beae-eav1clcg" data-uniqueid="eg241x0s"><!----><div class="beae-block beae-x-text beae-typo-h3" data-autolayout="beae-eav1clcg">{{ 'sections.beae-68fe1bb9ed25d00f630af643.be1961376028_html' | t }}</div><!----><!----></div><!----><!----><!----><div class="beae-gpqld49n beae-block beae-core beae-animation beae-unique-wyovplre" data-id="beae-gpqld49n" data-uniqueid="wyovplre""><!----><!----><div class="beae-flexbox-core beae-x-collection-list"><style type="text/css"></style><div class="beae-slider-wrapper beae-slider slider-beae-gpqld49n items-per-3" data-draggable="true" data-desktop-layout="grid" data-mobile-layout="grid" data-effect="slide" data-pagination="true" data-navigation="true" style="--items-per: 3; --items-per-mobile: 1; --items-gap: 20px; --items-gap-mobile: 20px; --autoplay-delay: 5s;"><div class="beae-slider-content beae-slider-items">
        {% liquid
          assign tmp_collection = collection
          assign selected_collections = "55th-national-day-steaks,55th-national-day-lamb-and-mutton,55th-national-day-mixed,55th-national-day-whole-carcass,55th-national-day-chicken,55th-national-day-value-boxes" | split: ","
          assign image_src = "|||||" | split: "|"
          assign image_width = ",,,,," | split: ","
          assign image_height = ",,,,," | split: ","
          assign index_loop = 0
        %}

        {% for collection_handle in selected_collections %}
          
          {% liquid 
            assign collection = collections[collection_handle] 
          %}
       <div class="beae-slide-item"><div class="beae-collection-card beae-s51wos6o"><!----><!----><div class="beae-fjwz8ygc beae-block beae-core beae-unique-uxiksw4j" data-id="beae-fjwz8ygc" data-loop-index="0" data-uniqueid="uxiksw4j""><!---->{% assign beae_image_pr = images['undefined'].alt %}
        {% assign beae_image_sec = images['undefined'].alt %}
        {% assign beae_image_mb_pr = images['undefined'].alt %}
        {% assign beae_image_mb_sec = images['undefined'].alt %}<!----><a class="beae-block beae-x-image beae-container-image beae-image-content-position beae-image-picture beae-image-product" hover-mode="false" href="{{ collection.url }}"><!----><!----><picture image-mode="" class="beae-xzg2 beae-image-primary">
  {% if image_src[index_loop] != blank %}
    <img
        src="{{ image_src[index_loop] }}"
        alt="{{ collection.title | escape | default: 'Collection Image'}}" 
        width="{{ image_width[index_loop] | default: 915 }}"
        height="{{ image_height[index_loop] | default: 915 }}"
        loading="lazy"
      />
  {% else %}
    {% if collection.featured_image %}
    <img
      src="{{ collection.featured_image | img_url: 'master' }}"
      alt="{{ collection.featured_image.alt | escape | default: 'Collection Image'}}"
      width="{{ collection.featured_image.width | default: 915 }}"
      height="{{ collection.featured_image.height | default: 915 }}"
      loading="lazy"
    />
    
    {% else %}
    <img
    src="undefined"
    alt="{{ collection.title | escape | default: 'Collection Image'}}" 
    width="undefined"
    height="undefined"
    loading="lazy"
  />
    {% endif %}
  {% endif %}
  </picture><!----></a><script type="text/javascript">window.BEAEARGS['beae-fjwz8ygcblock-image'] = {
    "id": "beae-fjwz8ygc",
    "mode": {"value": "live"},
    "autoHover":false
  };</script><!----></div><!----><!----><!----><div class="beae-bzocubqw beae-block beae-core beae-unique-u7sqxtym beae-flex-wrapper" data-id="beae-bzocubqw" data-loop-index="0" data-uniqueid="u7sqxtym"><!----><!----><!----><div class="beae-t1hznu4f beae-block beae-core beae-unique-315ud8zr" data-id="beae-t1hznu4f" data-loop-index="0" data-uniqueid="315ud8zr"><!----><div class="beae-block beae-x-text beae-typo-h5" data-autolayout="beae-t1hznu4f"><a class="beae-collection--title" href="{{ collection.url }}">{{ collection.title }}</a></div><!----><!----></div><!----><!----><!----></div><!----><!----><!----><!----><!----><div class="beae-mczbv5tu beae-block beae-core beae-unique-ehbdkya3 beae-flex-wrapper" data-id="beae-mczbv5tu" data-loop-index="0" data-uniqueid="ehbdkya3"><!----><!----><!----><!----><!----><div class="beae-qvb0pygb beae-block beae-core beae-unique-xb5pau53 beae-btn-wrp" data-id="beae-qvb0pygb" data-loop-index="0" data-uniqueid="xb5pau53"><!----><a class="beae-btn-pr beae-flex-view-detail" href="{{ collection.url }}" name="button"><span>{{ 'sections.beae-68fe1bb9ed25d00f630af643.be747681529_html' | t }}</span><!----></a><!----></div><!----><!----><!----></div><!----><!----><!----><!----></div></div> 
          {% liquid 
            assign index_loop = index_loop | plus: 1
            assign image_collection = ''
          %}
          
        {% endfor %}
        {%- assign collection = tmp_collection -%}   
      </div><div class="beae-slider-controls"><div class="beae-slider-controls-wrp"><div class="beae-slider-indicator"><div class="beae-slider-progress"></div></div><div class="beae-slider-nav-left"><button aria-label="button" type="button"><svg xmlns="http: //www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><polyline points="15 18 9 12 15 6"></polyline></svg></button></div><div class="beae-slider-pagination-wrp"></div><div class="beae-slider-nav-right"><button aria-label="button" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><polyline points="9 18 15 12 9 6"></polyline></svg></button></div></div></div></div><script type="text/javascript">window.BEAEARGS['beae-gpqld49nsection-slide-show'] = {
    "id": "beae-gpqld49n",
    "mode": {"value": "live"},
    "layout":"grid","layoutMobile":"grid","effect":"slide","isLoop":true,"autoPlay":false,"autoPlayDelay":5,"itemsPerSlide":3,"itemsPerSlideMobile":1.2,"itemsGap":"20px","itemsGapMobile":"20px","paginationImage":false,"paginationImageMobile":false,"typeScroll":"default","numItemsScroll":1,"showNavigation":true,"showPagination":true,"showProgress":true,"hookSliderInit":"","hookBeforeSlideChange":"","hookAfterSlideChange":"","noRunJs":false
  };</script><!----></div><script type="text/javascript">window.BEAEARGS['beae-gpqld49nsection-featured-collection'] = {
    "id": "beae-gpqld49n",
    "mode": {"value": "live"},
    "mobileMode":false
  };</script><!----></div><!----><!----></div></div></div><!----><!----><!----><!----><!----><!----></section><!----><script type="text/javascript">window.BEAEARGS['beae-jk3ezegesection-js'] = {
    "id": "beae-jk3ezege",
    "mode": {"value": "live"},
    "optionsVideo":false,"optionsVideoMobile":false
  };</script><!----><!----><!----><section id="" data-sectionid="beae-5zn1isai" data-width="1467" data-margin="30px" data-margin-mobile="15px" data-type="flexContainer" class="beae-typo-p1 beae-5zn1isai section-beae-5zn1isai beae-section beae-core"><!----><!----><div class="beae-flexbox beae-typo-p1" style="padding: 0px;"><div class="beae__section--container beae-flexbox-container" style="max-width: var(--beae-page-width, 1470px);"><!----><div class="beae-flexbox-core beae-x-flex-section grid-container-width"><!----><div class="beae-xzkuv94l beae-block beae-core beae-animation beae-unique-sdb4wrpr" data-id="beae-xzkuv94l" data-uniqueid="sdb4wrpr"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-xzkuv94l">{{ 'sections.beae-68fe1bb9ed25d00f630af643.be2111903356_html' | t }}</div><!----><!----></div><!----><!----><!----><div class="beae-o713f5y3 beae-block beae-core beae-animation beae-unique-wt51qf38" data-id="beae-o713f5y3" data-uniqueid="wt51qf38""><!----><div class="beae-featured-collection-header beae-animation"><!----><!----></div><div class="beae-money-format" style="display: none;">{% if settings.currency_code_enabled %}{{ shop.money_with_currency_format | escape }}{% else %}{{ shop.money_format | escape }}{% endif %}</div><div class="beae-flexbox-core beae-x-featured_collection grid-container-width"><div class="beae-featured_collection-wrp">
        {% liquid
          assign tmp_collection = collection
          assign tmp_product = product
          assign beae_maximum_items = 10
          assign beae_swatch_type = "color"
          assign beae_swatches_max_items = 4
          assign beae_price_badged = 'sale'
          assign beae_badged = 'percent'
          assign beae_tags_limit = '5'
          assign beae_show_when_hover = false
          assign beae_custom_badged_source = 'tags'
          assign beae_custom_badged_tag = 'AED|New|Sale|'
          assign beae_cart_variant_type = ''
          assign beae_quick_add_variant_selector = ''
          assign beae_quick_add_variant_type = ''
          assign beae_cart_variant_name = ''
          assign beae_cart_exclude = ''
          assign beae_variant_name_option = ''
          assign beae_variant_name_type = 'name'
          assign beae_option_values_swatch = ''
          assign beae_source_types_swatch = ''
          assign beae_option_values_quick_add = ''
          assign beae_source_types_quick_add = ''
        %}

        {%- capture beae_add_to_cart_text -%}{{ 'sections.beae-68fe1bb9ed25d00f630af643.be649020154_html' | t }}{%- endcapture -%}
        {%- capture beae_sold_out_text -%}{{ 'sections.beae-68fe1bb9ed25d00f630af643.be1538394658_html' | t }}{%- endcapture -%}
        {%- capture beae_swatches_name -%}{%- endcapture -%}
        {%- capture beae_choose_options_text -%}{{ 'sections.beae-68fe1bb9ed25d00f630af643.be719299147_html' | t }}{%- endcapture -%}
      
          {% assign selected_collections = "55th-national-day-steaks" | split: "," %}
          {% for selected_collection in selected_collections %}
            <div class="beae-feature-collection-tab-content beae-featuted-collection-content{% if forloop.index == 1 %} content-active{% endif %}" {% if forloop.index == 1 %}data-active="true"{% endif %} data-handle="{{selected_collection}}">
            {% liquid assign collection = collections[selected_collection] %}
           <style type="text/css"></style><div class="beae-slider-wrapper beae-slider slider-beae-o713f5y3 items-per-4" data-draggable="true" data-desktop-layout="slider" data-mobile-layout="slider" data-effect="slide" data-pagination="false" data-navigation="false" style="--items-per: 4; --items-per-mobile: 2; --items-gap: 25px; --items-gap-mobile: 5px; --autoplay-delay: 5s;"><div class="beae-slider-content beae-slider-items">
          
              {%- if collection != blank -%}
                {%- for product in collection.products limit: beae_maximum_items -%}
                
          
      {% capture beae_custom_badged_metafield %}{{  }}{%- endcapture -%}
        {%- form 'product', product,class: "beae-product-form-next beae-product-form--single", data-product_id: product.id, data-handle: product.handle, data-variant-id: product.selected_or_first_available_variant.id, data-available: product.available -%}
       <div class="beae-product-card beae-v5i0f43n"><!----><!----><div class="beae-2jb7891w beae-block beae-core beae-unique-hoz0760r" data-id="beae-2jb7891w" data-loop-index="0" data-uniqueid="hoz0760r""><!---->{% assign beae_image_pr = images['undefined'].alt %}
        {% assign beae_image_sec = images['undefined'].alt %}
        {% assign beae_image_mb_pr = images['undefined'].alt %}
        {% assign beae_image_mb_sec = images['undefined'].alt %}<!----><a class="beae-block beae-x-image beae-container-image beae-image-content-position beae-image-picture beae-image-product" hover-mode="false" href="{{ product.url }}"><!----><!----><picture image-mode="" class="beae-k6u3 beae-image-primary">
    {% assign beae_show_image = true %}
    {% if beae_check_product_video == true %} 
      {%- for media in product.media -%}
        {% if media.media_type == 'video' %}
          {% assign beae_show_image = false %}
          <div class="beae-video-product">
            <img
              preview
              style="display: none !important;"
              src="{{ media.preview_image | img_url: 'master' }}"
              alt="{{ media.preview_image.alt | escape | default: 'Product Image' }}"
              width="{{ media.preview_image.width | default: 915 }}"
              height="{{ media.preview_image.height | default: 915 }}"
              loading="lazy"
            />  
              {{ media | video_tag: image_size:'master', class: 'media-video', muted: true, autoPlay: true, loop: true }}
          </div>
          {% break %}
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if beae_show_image == true %}
      <img
        src="{{ product.featured_media | img_url: 'master' }}"
        alt="{{ product.featured_media.alt | escape | default: 'Product Image' }}"
        width="{{ product.featured_media.width | default: 915 }}"
        height="{{ product.featured_media.height | default: 915 }}"
        loading="lazy"
      />
    {% endif %}
  </picture><!----><picture image-mode="" class="beae-gp34n beae-image-secondary">
    <img
      src="{{ product.media[1] | img_url: 'master' }}"
      alt="{{ product.media[1].alt | escape | default: 'Product Image' }}"
      width="{{ product.media[1].width | default: 915 }}"
      height="{{ product.media[1].height | default: 915 }}"
      loading="lazy"
    />
  </picture></a><script type="text/javascript">window.BEAEARGS['beae-2jb7891wblock-image'] = {
    "id": "beae-2jb7891w",
    "mode": {"value": "live"},
    "autoHover":false
  };</script><!----></div><!----><!----><!----><div class="beae-w3enaorm beae-block beae-core beae-unique-8ug9phpl beae-product-title" data-id="beae-w3enaorm" data-loop-index="0" data-uniqueid="8ug9phpl"><!----><div class="beae-block beae-x-text beae-typo-h6" data-product-title="true" data-autolayout="beae-w3enaorm"><a href="{{ product.url }}">{{ product.title }}</a></div><!----><!----></div><script type="text/javascript">window.BEAEARGS['beae-w3enaormblock-developer'] = {
    "id": "beae-w3enaorm",
    "mode": {"value": "live"},
    "title":"{{ product.title }}"
  };</script><!----><!----><div class="beae-9utmfl8o beae-block beae-core beae-unique-u7nma42c beae-flex-wrapper" data-id="beae-9utmfl8o" data-loop-index="0" data-uniqueid="u7nma42c"><!----><!----><!----><div class="beae-phshewsl beae-block beae-core beae-unique-wo3ztxra beae-x-icon" data-id="beae-phshewsl" data-loop-index="0" data-uniqueid="wo3ztxra"><!----><div class="beae-elm__ic"><svg fill="currentColor" xmlns="http: //www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg></div><!----></div><!----><!----><!----><div class="beae-825i07no beae-block beae-core beae-unique-5iqobuv0 beae-x-icon" data-id="beae-825i07no" data-loop-index="0" data-uniqueid="5iqobuv0"><!----><div class="beae-elm__ic"><svg fill="currentColor" xmlns="http: //www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg></div><!----></div><!----><!----><!----><div class="beae-rcfj8dno beae-block beae-core beae-unique-al9bej7t beae-x-icon" data-id="beae-rcfj8dno" data-loop-index="0" data-uniqueid="al9bej7t"><!----><div class="beae-elm__ic"><svg fill="currentColor" xmlns="http: //www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg></div><!----></div><!----><!----><!----><div class="beae-x8p09dwk beae-block beae-core beae-unique-qkldtipy beae-x-icon" data-id="beae-x8p09dwk" data-loop-index="0" data-uniqueid="qkldtipy"><!----><div class="beae-elm__ic"><svg fill="currentColor" xmlns="http: //www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg></div><!----></div><!----><!----><!----><div class="beae-azsp81bb beae-block beae-core beae-unique-i115gxpt beae-x-icon" data-id="beae-azsp81bb" data-loop-index="0" data-uniqueid="i115gxpt"><!----><div class="beae-elm__ic"><svg fill="currentColor" xmlns="http: //www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg></div><!----></div><!----><!----><!----></div><!----><!----><!----><div class="beae-u80by4o6 beae-block beae-core beae-unique-rumzaqwh" data-id="beae-u80by4o6" data-loop-index="0" data-uniqueid="rumzaqwh""><!----><!----><div class="beae-x-price" data-badged="none"><div class="beae-prd-single-price-wrapper"><span class="beae-product-single__price">
    
      {% if product.price_varies and product.compare_at_price %}
        {% assign cheapest_variant = product.variants | sort: 'price' | first %}
        {% capture price_normal %}
          {% if settings.currency_code_enabled %}
            {{ product.selected_or_first_available_variant.price | money_with_currency }}
          {% else %}
            {{ product.selected_or_first_available_variant.price | money }}
          {% endif %}
        {% endcapture %}
        {% capture price_min %}
          {% if settings.currency_code_enabled %}
            {{ cheapest_variant.price | money_with_currency }}
          {% else %}
            {{ cheapest_variant.price | money }}
          {% endif %}
        {% endcapture %}
        {% if cheapest_variant.price < cheapest_variant.compare_at_price %}
          <span class="beae-price-on-sale">
            <span class="beae-price-from">{{ 'sections.beae-68fe1bb9ed25d00f630af643.be978022322_html' | t: price_min:price_min }}</span>
            <span class="beae-price-normal">{{ 'sections.beae-68fe1bb9ed25d00f630af643.be1950827197_html' | t: price_normal:price_normal }}</span>
          </span>
        {% else %}
          <span class="beae-price-from">{{ 'sections.beae-68fe1bb9ed25d00f630af643.be978022322_html' | t: price_min:price_min }}</span>
          <span class="beae-price-normal">{{ 'sections.beae-68fe1bb9ed25d00f630af643.be1950827197_html' | t: price_normal:price_normal }}</span>
        {% endif %}
      {% elsif product.price < product.compare_at_price %}
        <span class="beae-price-on-sale">{% if settings.currency_code_enabled %}
          {{ product.price | money_with_currency }}
        {% else %}
          {{ product.price | money }}
        {% endif %}</span>
      {% elsif product.price_varies %}
        {% capture price_min %}
          {% if settings.currency_code_enabled %}
            {{ product.price_min | money_with_currency }}
          {% else %}
            {{ product.price_min | money }}
          {% endif %}
        {% endcapture %}
        {% capture price_max %}
          {% if settings.currency_code_enabled %}
            {{ product.price_max | money_with_currency }}
          {% else %}
            {{ product.price_max | money }}
          {% endif %}
        {% endcapture %}
        <span class="beae-price-from">{{ 'sections.beae-68fe1bb9ed25d00f630af643.be978022322_html' | t: price_min:price_min }}</span>
        <span class="beae-price-normal">{{ 'sections.beae-68fe1bb9ed25d00f630af643.be1950827197_html' | t: price_normal:price_normal }}</span>
      {% else %}
        {% if settings.currency_code_enabled %}
          {{ product.price | money_with_currency }}
        {% else %}
          {{ product.price | money }}
        {% endif %}
      {% endif %}
      
  </span><span class="beae-product-single__price--regular">{% liquid
    assign print_compare = ''
    if selected_variant != blank   
      if selected_variant.price < selected_variant.compare_at_price
        if settings.currency_code_enabled
          assign print_compare = selected_variant.compare_at_price | money_with_currency
        else
          assign print_compare = selected_variant.compare_at_price | money
        endif
      endif
    else                                                            
      if product.price_varies and product.compare_at_price
        assign cheapest_variant = product.variants | sort: 'price' | first
        if cheapest_variant.price < cheapest_variant.compare_at_price
          if settings.currency_code_enabled
            assign print_compare = cheapest_variant.compare_at_price | money_with_currency
          else
            assign print_compare = cheapest_variant.compare_at_price | money
          endif
        endif
      elsif product.price < product.compare_at_price
        if settings.currency_code_enabled
          assign print_compare = product.compare_at_price | money_with_currency
        else
          assign print_compare = product.compare_at_price | money
        endif
      endif
    endif
  %}{{ print_compare }}</span><span type="none" class="beae-typo-p3 {% liquid
    assign badge_class = ''
    if product.available
      assign checkHidden = true
      if selected_variant != blank
        if selected_variant.price < selected_variant.compare_at_price
          assign checkHidden = false
        endif
      else
        if product.price_varies and product.compare_at_price
          assign cheapest_variant = product.variants | sort: 'price' | first
          if cheapest_variant.price < cheapest_variant.compare_at_price
            assign checkHidden = false
          endif
        elsif product.price < product.compare_at_price
          assign checkHidden = false
        endif
      endif
      if checkHidden
        assign badge_class = 'beae-sale-hidden'
      else
        assign badge_class = 'beae-product-single__price--sale'
      endif
    else
      assign badge_class = 'beae-sale-sold-out'
    endif
  %}{{ badge_class }} beae-product-single__price--badged" data-sale="" data-sold-out="{{ 'sections.beae-68fe1bb9ed25d00f630af643.be1538363906_html' | t }}"></span></div><div class="beae-product-single__tax-shipping"></div></div><!----></div><!----><!----><!----><div class="beae-hv00a1t1 beae-block beae-core beae-unique-pxpke83f" data-id="beae-hv00a1t1" data-loop-index="0" data-uniqueid="pxpke83f""><!----><button type="submit" class="beae-add-to-cart--submit beae-btn-cart beae-btn-pr" data-action="cart" data-add-to-cart-text="{{ 'sections.beae-68fe1bb9ed25d00f630af643.be649020154_html' | t }}" data-text-outstock="{{ 'sections.beae-68fe1bb9ed25d00f630af643.be28375103_html' | t }}" data-text-added-cart="{{ 'sections.beae-68fe1bb9ed25d00f630af643.be649020154_html' | t }}" data-sold-out-text="{{ 'sections.beae-68fe1bb9ed25d00f630af643.be1538394658_html' | t }}" data-add-success="{{ 'sections.beae-68fe1bb9ed25d00f630af643.be1427617666_html' | t }}" data-link="" data-choose-options-text="{{ 'sections.beae-68fe1bb9ed25d00f630af643.be649020154_html' | t }}" data-type="text" data-show-icon-mobile="false"><!----><span class="beae-add-to-cart-text-content">{{ 'sections.beae-68fe1bb9ed25d00f630af643.be649020154_html' | t }}</span><!----><div class="beae-add-to-cart-loader-wrp"><span class="beae-add-to-cart-loader"></span></div></button><script type="text/javascript">window.BEAEARGS['beae-hv00a1t1block-add-to-cart'] = {
    "id": "beae-hv00a1t1",
    "mode": {"value": "live"},
    "loopIndex":0
  };</script><!----></div><!----><!----><script data-id="Product-json-{{ product.id }}" type="application/json" style="display: none;">
    {
      "id":  {{ product.id | json }},
      "title":  {{ product.title | json }},
      "handle":  {{ product.handle | json }},
      "price":  {{ product.price| json }},
      "price_min":  {{ product.price_min| json }},
      "price_max":  {{ product.price_max| json }},
      "price_normal":  {{ product.selected_or_first_available_variant.price| json }},
      "available":  {{ product.available | json }},
      "price_varies":  {{ product.price_varies| json }},
      "compare_at_price":  {{ product.compare_at_price| json }},
      "compare_at_price_min":  {{ product.compare_at_price_min| json }},
      "compare_at_price_max":  {{ product.compare_at_price_max| json }},
      "compare_at_price_varies":  {{ product.compare_at_price_varies| json }},
      "has_only_default_variant":  {{ product.has_only_default_variant | json }},
      "selected_or_first_available_variant":  {{ product.selected_or_first_available_variant | json }},
      "options":  {{ product.options_with_values | json }},
      "variants": [
        {%- for variant in product.variants -%}
          {
            "id":  {{ variant.id | json }},
            "title": " {{ variant.option1 | handleize }}{%- if product.options.size == 2 -%} / {%- endif -%} {{ variant.option2 | handleize }}{%- if product.options.size == 3 -%} / {%- endif -%} {{ variant.option3 | handleize }}",
            "option1":  {{ variant.option1  | json }},
            "option2": {%- if product.options.size == 1 -%}null{%-else-%} {{ variant.option2  | json }}{%-endif-%},
            "option3": {%- if product.options.size == 1 or product.options.size == 2 -%}null{%-else-%} {{ variant.option3  | json }}{%-endif-%},
            "sku":  {{ variant.sku | json }},
            "requires_shipping":  {{ variant.requires_shipping }},
            "taxable":  {{ variant.taxable | json }},
            "selling_plan_allocations":{{variant.selling_plan_allocations | json }},
            "featured_image": {%- if variant.image.id != blank -%}{
              "id":  {{ variant.image.id | json }},
              "product_id":  {{ product.id | json }},
              "width":  {{ variant.image.width | json }},
              "height":  {{ variant.image.height | json }},
              "src":  {{ variant.image.src | json }},
              "position": {{ variant.image.position }}
            }{%- else-%}null{%-endif-%},
            "featured_media": {{ variant.featured_media | json }},
            "available":  {{ variant.available }},
            "public_title": " {{ variant.option1 | handleize }}{%- if product.options.size == 2 -%} / {%- endif -%} {{ variant.option2 | handleize }}{%- if product.options.size == 3 -%} / {%- endif -%} {{ variant.option3 | handleize }}",
            "options":   {{ variant.options | json }},
            "price":  {{ variant.price | json }},
            "weight":  {{ variant.weight | json }},
            "compare_at_price":  {{ variant.compare_at_price | json }},
            "inventory_quantity":  {{ variant.inventory_quantity | json }},
            "inventory_management":  {{ variant.inventory_management | json }},
            "inventory_policy":  {{ variant.inventory_policy | json }},
            "next_incoming_date": {% if variant.next_incoming_date %}{{variant.next_incoming_date | date: "%Y-%m-%d %H:%M" | time_tag | json }}{% else%}null{% endif %},
            "barcode":  {{ variant.barcode | json }},
            "store_availabilities": [
              {%- for variantStore in variant.store_availabilities -%}
                {
                  "location": {
                    "name": {{ variantStore.location.name | json }},
                    "address": {{ variantStore.location.address | json }},
                    "id": {{ variantStore.location.id | json }}
                  },
                  "available": {{ variantStore.available | json }},
                  "pick_up_enabled": {{ variantStore.pick_up_enabled | json }},
                  "pick_up_time": {{ variantStore.pick_up_time | json }}
                }{%- if forloop.last == false -%},{%- endif -%}
              {%- endfor -%}
            ],
            "unit_price":  {{ variant.unit_price | json }},
            "unit_price_measurement":  {
              "measured_type": {{ variant.unit_price_measurement.measured_type | json }},
              "quantity_value": {{ variant.unit_price_measurement.quantity_value | json }},
              "quantity_unit": {{ variant.unit_price_measurement.quantity_unit | json }},
              "reference_value": {{ variant.unit_price_measurement.reference_value | json }},
              "reference_unit": {{ variant.unit_price_measurement.reference_unit | json }}
            }
          }{%- if forloop.last == false -%},{%- endif -%}
        {%- endfor -%}
      ],
      "featured_image":  {{ product.featured_image | json }},
      "size_available":[
        {%- for value in product.options_with_values[0].values -%}
        {%- assign available_ops = product.variants | where: "available" | where: "option1",value -%}
          {{available_ops.size}}{%- unless forloop.last %},{% endunless -%}
        {%- endfor -%}
      ],
      "shopColors": {{ shop.metafields.beae.colors }}
    }
  </script></div> 
                  <input type="hidden" name="sections" value="cart-notification-product,cart-notification-button,cart-icon-bubble">
                  <input type="hidden" name="section_url" value="{{product.handle}}">
            {%- endform -%}
                
      
              
              {%- endfor -%}
            {%- endif -%}
          
          </div><div class="beae-slider-controls"><div class="beae-slider-controls-wrp"><!----><!----><!----><!----></div></div></div><script type="text/javascript">window.BEAEARGS['beae-o713f5y3section-slide-show'] = {
    "id": "beae-o713f5y3",
    "mode": {"value": "live"},
    "layout":"slider","layoutMobile":"slider","effect":"slide","isLoop":false,"autoPlay":false,"autoPlayDelay":5,"itemsPerSlide":4,"itemsPerSlideMobile":2,"itemsGap":"25px","itemsGapMobile":"5px","paginationImage":false,"paginationImageMobile":false,"typeScroll":"default","numItemsScroll":1,"showNavigation":false,"showPagination":false,"showProgress":false,"hookSliderInit":"","hookBeforeSlideChange":"","hookAfterSlideChange":"","noRunJs":false
  };</script><!----> 
          </div>
          {%- endfor -%}
        {%- assign collection = tmp_collection -%}    
        {%- assign product = tmp_product -%}    
      <!----></div></div><script type="text/javascript">window.BEAEARGS['beae-o713f5y3section-featured-collection'] = {
    "id": "beae-o713f5y3",
    "mode": {"value": "live"},
    "mobileMode":false,"maximumItems":10,"promotionPosition":false
  };</script><!----></div><!----><!----></div></div></div><!----><!----><!----><!----><!----><!----></section><!----><script type="text/javascript">window.BEAEARGS['beae-5zn1isaisection-js'] = {
    "id": "beae-5zn1isai",
    "mode": {"value": "live"},
    "optionsVideo":false,"optionsVideoMobile":false
  };</script><!----><section id="" data-sectionid="beae-rn0bko6v" data-width="1467" data-margin="30px" data-margin-mobile="15px" data-type="flexContainer" class="beae-typo-p1 beae-rn0bko6v section-beae-rn0bko6v beae-section beae-core"><!----><!----><div class="beae-flexbox beae-typo-p1" style="padding: 0px;"><div class="beae__section--container beae-flexbox-container" style="max-width: var(--beae-page-width, 1470px);"><!----><div class="beae-flexbox-core beae-x-flex-section grid-container-width"><!----><div class="beae-tu8j6uhp beae-block beae-core beae-animation beae-unique-m29w2syz" data-id="beae-tu8j6uhp" data-uniqueid="m29w2syz"><!----><div class="beae-block beae-x-text beae-typo-p1" data-autolayout="beae-tu8j6uhp">{{ 'sections.beae-68fe1bb9ed25d00f630af643.be205347279441_html' | t }}</div><!----><!----></div><!----><!----><!----><div class="beae-og8ij5a6 beae-block beae-core beae-animation beae-unique-y231djah" data-id="beae-og8ij5a6" data-uniqueid="y231djah""><!----><div class="beae-featured-collection-header beae-animation"><!----><!----></div><div class="beae-money-format" style="display: none;">{% if settings.currency_code_enabled %}{{ shop.money_with_currency_format | escape }}{% else %}{{ shop.money_format | escape }}{% endif %}</div><div class="beae-flexbox-core beae-x-featured_collection grid-container-width"><div class="beae-featured_collection-wrp">
        {% liquid
          assign tmp_collection = collection
          assign tmp_product = product
          assign beae_maximum_items = 10
          assign beae_swatch_type = "color"
          assign beae_swatches_max_items = 4
          assign beae_price_badged = 'sale'
          assign beae_badged = 'percent'
          assign beae_tags_limit = '5'
          assign beae_show_when_hover = false
          assign beae_custom_badged_source = 'tags'
          assign beae_custom_badged_tag = 'AED|New|Sale|'
          assign beae_cart_variant_type = ''
          assign beae_quick_add_variant_selector = ''
          assign beae_quick_add_variant_type = ''
          assign beae_cart_variant_name = ''
          assign beae_cart_exclude = ''
          assign beae_variant_name_option = ''
          assign beae_variant_name_type = 'name'
          assign beae_option_values_swatch = ''
          assign beae_source_types_swatch = ''
          assign beae_option_values_quick_add = ''
          assign beae_source_types_quick_add = ''
        %}

        {%- capture beae_add_to_cart_text -%}{{ 'sections.beae-68fe1bb9ed25d00f630af643.be649020154_html' | t }}{%- endcapture -%}
        {%- capture beae_sold_out_text -%}{{ 'sections.beae-68fe1bb9ed25d00f630af643.be1538394658_html' | t }}{%- endcapture -%}
        {%- capture beae_swatches_name -%}{%- endcapture -%}
        {%- capture beae_choose_options_text -%}{{ 'sections.beae-68fe1bb9ed25d00f630af643.be719299147_html' | t }}{%- endcapture -%}
      
          {% assign selected_collections = "55th-national-day-steaks" | split: "," %}
          {% for selected_collection in selected_collections %}
            <div class="beae-feature-collection-tab-content beae-featuted-collection-content{% if forloop.index == 1 %} content-active{% endif %}" {% if forloop.index == 1 %}data-active="true"{% endif %} data-handle="{{selected_collection}}">
            {% liquid assign collection = collections[selected_collection] %}
           <style type="text/css"></style><div class="beae-slider-wrapper beae-slider slider-beae-og8ij5a6 items-per-4" data-draggable="true" data-desktop-layout="slider" data-mobile-layout="slider" data-effect="slide" data-pagination="false" data-navigation="false" style="--items-per: 4; --items-per-mobile: 2; --items-gap: 25px; --items-gap-mobile: 5px; --autoplay-delay: 5s;"><div class="beae-slider-content beae-slider-items">
          
              {%- if collection != blank -%}
                {%- for product in collection.products limit: beae_maximum_items -%}
                
          
      {% capture beae_custom_badged_metafield %}{{  }}{%- endcapture -%}
        {%- form 'product', product,class: "beae-product-form-next beae-product-form--single", data-product_id: product.id, data-handle: product.handle, data-variant-id: product.selected_or_first_available_variant.id, data-available: product.available -%}
       <div class="beae-product-card beae-4rrgwrh0"><!----><!----><div class="beae-c5ttfvxt beae-block beae-core beae-unique-crg1h8mk" data-id="beae-c5ttfvxt" data-loop-index="0" data-uniqueid="crg1h8mk""><!---->{% assign beae_image_pr = images['undefined'].alt %}
        {% assign beae_image_sec = images['undefined'].alt %}
        {% assign beae_image_mb_pr = images['undefined'].alt %}
        {% assign beae_image_mb_sec = images['undefined'].alt %}<!----><a class="beae-block beae-x-image beae-container-image beae-image-content-position beae-image-picture beae-image-product" hover-mode="false" href="{{ product.url }}"><!----><!----><picture image-mode="" class="beae-ev9xv beae-image-primary">
    {% assign beae_show_image = true %}
    {% if beae_check_product_video == true %} 
      {%- for media in product.media -%}
        {% if media.media_type == 'video' %}
          {% assign beae_show_image = false %}
          <div class="beae-video-product">
            <img
              preview
              style="display: none !important;"
              src="{{ media.preview_image | img_url: 'master' }}"
              alt="{{ media.preview_image.alt | escape | default: 'Product Image' }}"
              width="{{ media.preview_image.width | default: 915 }}"
              height="{{ media.preview_image.height | default: 915 }}"
              loading="lazy"
            />  
              {{ media | video_tag: image_size:'master', class: 'media-video', muted: true, autoPlay: true, loop: true }}
          </div>
          {% break %}
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if beae_show_image == true %}
      <img
        src="{{ product.featured_media | img_url: 'master' }}"
        alt="{{ product.featured_media.alt | escape | default: 'Product Image' }}"
        width="{{ product.featured_media.width | default: 915 }}"
        height="{{ product.featured_media.height | default: 915 }}"
        loading="lazy"
      />
    {% endif %}
  </picture><!----><picture image-mode="" class="beae-xfg9o beae-image-secondary">
    <img
      src="{{ product.media[1] | img_url: 'master' }}"
      alt="{{ product.media[1].alt | escape | default: 'Product Image' }}"
      width="{{ product.media[1].width | default: 915 }}"
      height="{{ product.media[1].height | default: 915 }}"
      loading="lazy"
    />
  </picture></a><script type="text/javascript">window.BEAEARGS['beae-c5ttfvxtblock-image'] = {
    "id": "beae-c5ttfvxt",
    "mode": {"value": "live"},
    "autoHover":false
  };</script><!----></div><!----><!----><!----><div class="beae-q5afctul beae-block beae-core beae-unique-fu8fkyn3 beae-product-title" data-id="beae-q5afctul" data-loop-index="0" data-uniqueid="fu8fkyn3"><!----><div class="beae-block beae-x-text beae-typo-h6" data-product-title="true" data-autolayout="beae-q5afctul"><a href="{{ product.url }}">{{ product.title }}</a></div><!----><!----></div><script type="text/javascript">window.BEAEARGS['beae-q5afctulblock-developer'] = {
    "id": "beae-q5afctul",
    "mode": {"value": "live"},
    "title":"{{ product.title }}"
  };</script><!----><!----><div class="beae-ufvn0lzs beae-block beae-core beae-unique-5f8fagj1 beae-flex-wrapper" data-id="beae-ufvn0lzs" data-loop-index="0" data-uniqueid="5f8fagj1"><!----><!----><!----><div class="beae-9kb70u0o beae-block beae-core beae-unique-vw36jzyh beae-x-icon" data-id="beae-9kb70u0o" data-loop-index="0" data-uniqueid="vw36jzyh"><!----><div class="beae-elm__ic"><svg fill="currentColor" xmlns="http: //www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg></div><!----></div><!----><!----><!----><div class="beae-v27vcvnp beae-block beae-core beae-unique-udd2mluh beae-x-icon" data-id="beae-v27vcvnp" data-loop-index="0" data-uniqueid="udd2mluh"><!----><div class="beae-elm__ic"><svg fill="currentColor" xmlns="http: //www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg></div><!----></div><!----><!----><!----><div class="beae-7z8vlny7 beae-block beae-core beae-unique-f22yix6d beae-x-icon" data-id="beae-7z8vlny7" data-loop-index="0" data-uniqueid="f22yix6d"><!----><div class="beae-elm__ic"><svg fill="currentColor" xmlns="http: //www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg></div><!----></div><!----><!----><!----><div class="beae-pg4pzxd3 beae-block beae-core beae-unique-oggavzt5 beae-x-icon" data-id="beae-pg4pzxd3" data-loop-index="0" data-uniqueid="oggavzt5"><!----><div class="beae-elm__ic"><svg fill="currentColor" xmlns="http: //www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg></div><!----></div><!----><!----><!----><div class="beae-v9qedp3z beae-block beae-core beae-unique-4tedznio beae-x-icon" data-id="beae-v9qedp3z" data-loop-index="0" data-uniqueid="4tedznio"><!----><div class="beae-elm__ic"><svg fill="currentColor" xmlns="http: //www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg></div><!----></div><!----><!----><!----></div><!----><!----><!----><div class="beae-srxasrrq beae-block beae-core beae-unique-qqmyq98n" data-id="beae-srxasrrq" data-loop-index="0" data-uniqueid="qqmyq98n""><!----><!----><div class="beae-x-price" data-badged="none"><div class="beae-prd-single-price-wrapper"><span class="beae-product-single__price">
    
      {% if product.price_varies and product.compare_at_price %}
        {% assign cheapest_variant = product.variants | sort: 'price' | first %}
        {% capture price_normal %}
          {% if settings.currency_code_enabled %}
            {{ product.selected_or_first_available_variant.price | money_with_currency }}
          {% else %}
            {{ product.selected_or_first_available_variant.price | money }}
          {% endif %}
        {% endcapture %}
        {% capture price_min %}
          {% if settings.currency_code_enabled %}
            {{ cheapest_variant.price | money_with_currency }}
          {% else %}
            {{ cheapest_variant.price | money }}
          {% endif %}
        {% endcapture %}
        {% if cheapest_variant.price < cheapest_variant.compare_at_price %}
          <span class="beae-price-on-sale">
            <span class="beae-price-from">{{ 'sections.beae-68fe1bb9ed25d00f630af643.be978022322_html' | t: price_min:price_min }}</span>
            <span class="beae-price-normal">{{ 'sections.beae-68fe1bb9ed25d00f630af643.be1950827197_html' | t: price_normal:price_normal }}</span>
          </span>
        {% else %}
          <span class="beae-price-from">{{ 'sections.beae-68fe1bb9ed25d00f630af643.be978022322_html' | t: price_min:price_min }}</span>
          <span class="beae-price-normal">{{ 'sections.beae-68fe1bb9ed25d00f630af643.be1950827197_html' | t: price_normal:price_normal }}</span>
        {% endif %}
      {% elsif product.price < product.compare_at_price %}
        <span class="beae-price-on-sale">{% if settings.currency_code_enabled %}
          {{ product.price | money_with_currency }}
        {% else %}
          {{ product.price | money }}
        {% endif %}</span>
      {% elsif product.price_varies %}
        {% capture price_min %}
          {% if settings.currency_code_enabled %}
            {{ product.price_min | money_with_currency }}
          {% else %}
            {{ product.price_min | money }}
          {% endif %}
        {% endcapture %}
        {% capture price_max %}
          {% if settings.currency_code_enabled %}
            {{ product.price_max | money_with_currency }}
          {% else %}
            {{ product.price_max | money }}
          {% endif %}
        {% endcapture %}
        <span class="beae-price-from">{{ 'sections.beae-68fe1bb9ed25d00f630af643.be978022322_html' | t: price_min:price_min }}</span>
        <span class="beae-price-normal">{{ 'sections.beae-68fe1bb9ed25d00f630af643.be1950827197_html' | t: price_normal:price_normal }}</span>
      {% else %}
        {% if settings.currency_code_enabled %}
          {{ product.price | money_with_currency }}
        {% else %}
          {{ product.price | money }}
        {% endif %}
      {% endif %}
      
  </span><span class="beae-product-single__price--regular">{% liquid
    assign print_compare = ''
    if selected_variant != blank   
      if selected_variant.price < selected_variant.compare_at_price
        if settings.currency_code_enabled
          assign print_compare = selected_variant.compare_at_price | money_with_currency
        else
          assign print_compare = selected_variant.compare_at_price | money
        endif
      endif
    else                                                            
      if product.price_varies and product.compare_at_price
        assign cheapest_variant = product.variants | sort: 'price' | first
        if cheapest_variant.price < cheapest_variant.compare_at_price
          if settings.currency_code_enabled
            assign print_compare = cheapest_variant.compare_at_price | money_with_currency
          else
            assign print_compare = cheapest_variant.compare_at_price | money
          endif
        endif
      elsif product.price < product.compare_at_price
        if settings.currency_code_enabled
          assign print_compare = product.compare_at_price | money_with_currency
        else
          assign print_compare = product.compare_at_price | money
        endif
      endif
    endif
  %}{{ print_compare }}</span><span type="none" class="beae-typo-p3 {% liquid
    assign badge_class = ''
    if product.available
      assign checkHidden = true
      if selected_variant != blank
        if selected_variant.price < selected_variant.compare_at_price
          assign checkHidden = false
        endif
      else
        if product.price_varies and product.compare_at_price
          assign cheapest_variant = product.variants | sort: 'price' | first
          if cheapest_variant.price < cheapest_variant.compare_at_price
            assign checkHidden = false
          endif
        elsif product.price < product.compare_at_price
          assign checkHidden = false
        endif
      endif
      if checkHidden
        assign badge_class = 'beae-sale-hidden'
      else
        assign badge_class = 'beae-product-single__price--sale'
      endif
    else
      assign badge_class = 'beae-sale-sold-out'
    endif
  %}{{ badge_class }} beae-product-single__price--badged" data-sale="" data-sold-out="{{ 'sections.beae-68fe1bb9ed25d00f630af643.be1538363906_html' | t }}"></span></div><div class="beae-product-single__tax-shipping"></div></div><!----></div><!----><!----><!----><div class="beae-vf3rxdqr beae-block beae-core beae-unique-ihz0k7zg" data-id="beae-vf3rxdqr" data-loop-index="0" data-uniqueid="ihz0k7zg""><!----><button type="submit" class="beae-add-to-cart--submit beae-btn-cart beae-btn-pr" data-action="cart" data-add-to-cart-text="{{ 'sections.beae-68fe1bb9ed25d00f630af643.be649020154_html' | t }}" data-text-outstock="{{ 'sections.beae-68fe1bb9ed25d00f630af643.be28375103_html' | t }}" data-text-added-cart="{{ 'sections.beae-68fe1bb9ed25d00f630af643.be649020154_html' | t }}" data-sold-out-text="{{ 'sections.beae-68fe1bb9ed25d00f630af643.be1538394658_html' | t }}" data-add-success="{{ 'sections.beae-68fe1bb9ed25d00f630af643.be1427617666_html' | t }}" data-link="" data-choose-options-text="{{ 'sections.beae-68fe1bb9ed25d00f630af643.be649020154_html' | t }}" data-type="text" data-show-icon-mobile="false"><!----><span class="beae-add-to-cart-text-content">{{ 'sections.beae-68fe1bb9ed25d00f630af643.be649020154_html' | t }}</span><!----><div class="beae-add-to-cart-loader-wrp"><span class="beae-add-to-cart-loader"></span></div></button><script type="text/javascript">window.BEAEARGS['beae-vf3rxdqrblock-add-to-cart'] = {
    "id": "beae-vf3rxdqr",
    "mode": {"value": "live"},
    "loopIndex":0
  };</script><!----></div><!----><!----><script data-id="Product-json-{{ product.id }}" type="application/json" style="display: none;">
    {
      "id":  {{ product.id | json }},
      "title":  {{ product.title | json }},
      "handle":  {{ product.handle | json }},
      "price":  {{ product.price| json }},
      "price_min":  {{ product.price_min| json }},
      "price_max":  {{ product.price_max| json }},
      "price_normal":  {{ product.selected_or_first_available_variant.price| json }},
      "available":  {{ product.available | json }},
      "price_varies":  {{ product.price_varies| json }},
      "compare_at_price":  {{ product.compare_at_price| json }},
      "compare_at_price_min":  {{ product.compare_at_price_min| json }},
      "compare_at_price_max":  {{ product.compare_at_price_max| json }},
      "compare_at_price_varies":  {{ product.compare_at_price_varies| json }},
      "has_only_default_variant":  {{ product.has_only_default_variant | json }},
      "selected_or_first_available_variant":  {{ product.selected_or_first_available_variant | json }},
      "options":  {{ product.options_with_values | json }},
      "variants": [
        {%- for variant in product.variants -%}
          {
            "id":  {{ variant.id | json }},
            "title": " {{ variant.option1 | handleize }}{%- if product.options.size == 2 -%} / {%- endif -%} {{ variant.option2 | handleize }}{%- if product.options.size == 3 -%} / {%- endif -%} {{ variant.option3 | handleize }}",
            "option1":  {{ variant.option1  | json }},
            "option2": {%- if product.options.size == 1 -%}null{%-else-%} {{ variant.option2  | json }}{%-endif-%},
            "option3": {%- if product.options.size == 1 or product.options.size == 2 -%}null{%-else-%} {{ variant.option3  | json }}{%-endif-%},
            "sku":  {{ variant.sku | json }},
            "requires_shipping":  {{ variant.requires_shipping }},
            "taxable":  {{ variant.taxable | json }},
            "selling_plan_allocations":{{variant.selling_plan_allocations | json }},
            "featured_image": {%- if variant.image.id != blank -%}{
              "id":  {{ variant.image.id | json }},
              "product_id":  {{ product.id | json }},
              "width":  {{ variant.image.width | json }},
              "height":  {{ variant.image.height | json }},
              "src":  {{ variant.image.src | json }},
              "position": {{ variant.image.position }}
            }{%- else-%}null{%-endif-%},
            "featured_media": {{ variant.featured_media | json }},
            "available":  {{ variant.available }},
            "public_title": " {{ variant.option1 | handleize }}{%- if product.options.size == 2 -%} / {%- endif -%} {{ variant.option2 | handleize }}{%- if product.options.size == 3 -%} / {%- endif -%} {{ variant.option3 | handleize }}",
            "options":   {{ variant.options | json }},
            "price":  {{ variant.price | json }},
            "weight":  {{ variant.weight | json }},
            "compare_at_price":  {{ variant.compare_at_price | json }},
            "inventory_quantity":  {{ variant.inventory_quantity | json }},
            "inventory_management":  {{ variant.inventory_management | json }},
            "inventory_policy":  {{ variant.inventory_policy | json }},
            "next_incoming_date": {% if variant.next_incoming_date %}{{variant.next_incoming_date | date: "%Y-%m-%d %H:%M" | time_tag | json }}{% else%}null{% endif %},
            "barcode":  {{ variant.barcode | json }},
            "store_availabilities": [
              {%- for variantStore in variant.store_availabilities -%}
                {
                  "location": {
                    "name": {{ variantStore.location.name | json }},
                    "address": {{ variantStore.location.address | json }},
                    "id": {{ variantStore.location.id | json }}
                  },
                  "available": {{ variantStore.available | json }},
                  "pick_up_enabled": {{ variantStore.pick_up_enabled | json }},
                  "pick_up_time": {{ variantStore.pick_up_time | json }}
                }{%- if forloop.last == false -%},{%- endif -%}
              {%- endfor -%}
            ],
            "unit_price":  {{ variant.unit_price | json }},
            "unit_price_measurement":  {
              "measured_type": {{ variant.unit_price_measurement.measured_type | json }},
              "quantity_value": {{ variant.unit_price_measurement.quantity_value | json }},
              "quantity_unit": {{ variant.unit_price_measurement.quantity_unit | json }},
              "reference_value": {{ variant.unit_price_measurement.reference_value | json }},
              "reference_unit": {{ variant.unit_price_measurement.reference_unit | json }}
            }
          }{%- if forloop.last == false -%},{%- endif -%}
        {%- endfor -%}
      ],
      "featured_image":  {{ product.featured_image | json }},
      "size_available":[
        {%- for value in product.options_with_values[0].values -%}
        {%- assign available_ops = product.variants | where: "available" | where: "option1",value -%}
          {{available_ops.size}}{%- unless forloop.last %},{% endunless -%}
        {%- endfor -%}
      ],
      "shopColors": {{ shop.metafields.beae.colors }}
    }
  </script></div> 
                  <input type="hidden" name="sections" value="cart-notification-product,cart-notification-button,cart-icon-bubble">
                  <input type="hidden" name="section_url" value="{{product.handle}}">
            {%- endform -%}
                
      
              
              {%- endfor -%}
            {%- endif -%}
          
          </div><div class="beae-slider-controls"><div class="beae-slider-controls-wrp"><!----><!----><!----><!----></div></div></div><script type="text/javascript">window.BEAEARGS['beae-og8ij5a6section-slide-show'] = {
    "id": "beae-og8ij5a6",
    "mode": {"value": "live"},
    "layout":"slider","layoutMobile":"slider","effect":"slide","isLoop":false,"autoPlay":false,"autoPlayDelay":5,"itemsPerSlide":4,"itemsPerSlideMobile":2,"itemsGap":"25px","itemsGapMobile":"5px","paginationImage":false,"paginationImageMobile":false,"typeScroll":"default","numItemsScroll":1,"showNavigation":false,"showPagination":false,"showProgress":false,"hookSliderInit":"","hookBeforeSlideChange":"","hookAfterSlideChange":"","noRunJs":false
  };</script><!----> 
          </div>
          {%- endfor -%}
        {%- assign collection = tmp_collection -%}    
        {%- assign product = tmp_product -%}    
      <!----></div></div><script type="text/javascript">window.BEAEARGS['beae-og8ij5a6section-featured-collection'] = {
    "id": "beae-og8ij5a6",
    "mode": {"value": "live"},
    "mobileMode":false,"maximumItems":10,"promotionPosition":false
  };</script><!----></div><!----><!----></div></div></div><!----><!----><!----><!----><!----><!----></section><!----><script type="text/javascript">window.BEAEARGS['beae-rn0bko6vsection-js'] = {
    "id": "beae-rn0bko6v",
    "mode": {"value": "live"},
    "optionsVideo":false,"optionsVideoMobile":false
  };</script><!----><!---->
<script type="text/javascript">
  (() => {
    let testText = document.createElement('div');
    testText.innerHTML = 'test';
    testText.style.fontSize = '100px';
    document.body.appendChild(testText);
    let realFontSize = parseFloat(window.getComputedStyle(testText).getPropertyValue('font-size').replace('px', ''));
    testText.style.zoom = '50%';
    let detectDesktopRequestMode = window.getComputedStyle(testText).getPropertyValue('font-size') !== '100px';
    document.body.removeChild(testText);
    
    document.body.style.setProperty('--font-size-ratio', (realFontSize / 100).toString());

    function getTextNodesIn(elem) {
      let textNodes = [];
      if (elem) {
        for (var nodes = elem.childNodes, i = nodes.length; i--;) {
          let node = nodes[i], nodeType = node.nodeType;
          if (nodeType == 1 || nodeType == 9 || nodeType == 11) {
            textNodes = textNodes.concat(getTextNodesIn(node));
          }
        }
      }
      return textNodes;
    }

    let scaleFitGridBlock = () => {

      document.querySelectorAll('.beae-section.beae-core').forEach((sec) => {
        let container = sec.querySelector(".beae__section--container");
        if (!container) { return; };
        let winWidth = document.documentElement.offsetWidth;
        if (winWidth >= 768) {
          sec.querySelectorAll('.beae__section--container').forEach(container => {
            container.parentNode.style.setProperty("--container-width", container.closest('.grid-container-width') ? container.closest('.grid-container-width').parentNode.offsetWidth+'px' : container.offsetWidth+'px');
          });
        }
      });

      document.querySelectorAll('.beae-grid-block').forEach(block => {
       let child = block.querySelector('.beae-block.beae-core > *'),
           zoom = 0,
           count = 0;
        child.style.zoom = '';
        child.style.lineHeight = '';
        while(child.offsetHeight > block.offsetHeight && count < 14 && (zoom === 0 || block.offsetHeight < (child.offsetHeight*zoom))) {
            zoom = (block.offsetHeight+block.offsetWidth)/(child.offsetHeight+child.offsetWidth);
            child.style.zoom = zoom < 1 ? Math.floor(zoom*100)+'%' : '';
            child.style.lineHeight = '2.4rem';
            count++;
        }
      });
    };

    scaleFitGridBlock();
    let timmer = 0;
    window.addEventListener('resize', () => {
      clearTimeout(timmer);
      timmer = setTimeout(scaleFitGridBlock, 150);
    });
    window.addEventListener('load', scaleFitGridBlock);
    
    if (document.getElementById('beae-exported-page-css')) {
      document.getElementById('beae-exported-page-css').addEventListener('load', scaleFitGridBlock);
    }

  })();
</script>
</div></div>{% if section_id == section.id %}{% endif%}
<script id="beae-exported-page-js" src="{{'beae-68fe1bb9ed25d00f630af643.js'  | asset_url }}" defer></script>

{% schema %}
{
    "name": "BEAE BUILDER APP",
    "locales": {
        "en": {
            "be76480_html": "N\/A",
            "be430210269_html": "Tax included. ",
            "be72458158275_html": "<a href=\"{{shop.shipping_policy.url}}\">Shipping<\/a> calculated at checkout.",
            "be427520332_html": "Save { sale }",
            "be1538363906_html": "Sold Out",
            "be1066872809_html": "Save {{ sale }}%",
            "be2569319_html": "Sale",
            "be381488706_html": "MLS NATIONAL",
            "be54210947120_html": "DAY SALE IS LIVE<br>",
            "be1318174562189_html": "Get&nbsp;<b>2 FREE Angus Burgers<\/b>&nbsp;with your first<br>order during national day sale + a&nbsp;<b>FREE 5kg<\/b>&nbsp;<br><b>Al Aqsa Rice Bag<\/b>&nbsp;on orders over&nbsp;<b>30 OMR!<\/b>",
            "be282226004_html": "Shop Now",
            "be112332300045_html": "<ul><li>LOVED BY 50,000 MEAT LOVERS<\/li><\/ul>",
            "be111491936954_html": "<ul><li>OMAN\u2019S MOST TRUSTED MEAT BRAND&nbsp;<\/li><\/ul>",
            "be147664180146_html": "<ul><li>100% HALAL &amp; FRESH&nbsp;<\/li><\/ul>",
            "be62900777776_html": "<a href=\"#\" type=\"target\" url=\"#\" handle=\"\">VIEW NATIONAL DAY COLLECTION<\/a>",
            "be2109979675129_html": "National day&nbsp;<u><b>&nbsp;<\/b><\/u> <a href=\"#beae-a3hvjzir\" type=\"target\" url=\"#beae-a3hvjzir\" handle=\"18\">SPECIAL OFFERS<\/a>",
            "be155962668734_html": "FREE 5kg Al&nbsp;<br>Aqsa Rice Bag",
            "be173797890534_html": "on orders over&nbsp;<b>30 OMR!<\/b>",
            "be1857326792_html": "Claim Offer",
            "be1961376028_html": "55TH NATIONAL DAY COLLECTION",
            "be747681529_html": "View Collection",
            "be2111903356_html": "MLS NATIONAL DAY SPECIAL BUNDLES",
            "be649020154_html": "Add to cart",
            "be1538394658_html": "Sold out",
            "be719299147_html": "Choose options",
            "be978022322_html": "From {{ price_min }}",
            "be1950827197_html": "{{ price_normal }}",
            "be28375103_html": "Out of stock",
            "be1427617666_html": "Added to cart successfully",
            "be205347279441_html": "TOP SELLERS FROM OUR<br>NATIONAL DAY SALE",
            "be861781361104_html": "<a href=\"#beae-5zn1isai\" type=\"target\" url=\"#beae-5zn1isai\" handle=\"19\">VIEW NATIONAL DAY COLLECTION<\/a>"
        }
    },
    "settings": [
        {
            "type": "header",
            "content": "The section was generated by BEAE BUILDER",
            "info": "\n                        Beae is a flexible page builder app on Shopify AppStore.\n                        It provides 100+ Shopify Elements and pre-built templates library, \n                        so you can build unlimited pages that you can imagine with it.\n                    "
        },
        {
            "type": "header",
            "content": "[EDIT WITH BEAE APP \u2192](https:\/\/muscat-livestock.myshopify.com\/admin\/apps\/beae-flexible-page-builder\/next\/editor-v3\/page\/68fe1bb9ed25d00f630af643)",
            "info": "(*You must install the app to start editing this section [Learn more](https:\/\/docs.beae.com\/en\/article\/quick-start-guide-dkoesy\/))"
        }
    ],
    "blocks": [
        {
            "type": "@app"
        }
    ]
}
{% endschema %}